// template(name='icon')    
//     i.icon(class=n)
//     // img.ui.image(src="https://img.icons8.com/color/48/000000/#{name}.png" class=cl)
//     // img.ui.image(src="https://img.icons8.com/plasticine/48/000000/#{name}.png" class=cl)
//     // img.ui.image(src="https://img.icons8.com/ios/48/000000/#{name}.png" class=cl)
//     // img.ui.image(src="https://img.icons8.com/color/48/000000/#{name}.png" class=cl)
//     // img.ui.invert.image(src="https://img.icons8.com/fluent/48/000000/#{name}.png" class=cl)
//     // img.ui.image(src="https://img.icons8.com/cotton/48/000000/#{name}.png" class=cl)
//     //- img.ui.image(src="https://img.icons8.com/office/48/000000/#{name}.png" class=cl)

// template(name='user_button')
//     a.ui.button(href="/u/#{username}")
//         img.ui.avatar.compact.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
//         |#{name}

// template(name='new')
//     .ui.header
        
template(name='say')
    if skv_is 'talking' true
        i.volume.up.green.link.circular.loading.large.icon.quiet
    else
        i.volume.off.link.circular.icon.say_this

// // template(name='viewed')
// //     .ui.header viewed by
// //     each viewed_by


// template(name='smart_tagger')
//     .ui.inline.header
//         i.tag.icon
//         |tags
//     .ui.input
//         input.new_tag(type='text' placeholder='+' autocomplete="off")
//         //- +clear_v                
//     each terms 
//         a.ui.large.basic.button.select_term(href='#')
//             if image
//                 img.ui.mini.rounded.inline.image(src="{{c.url image height=200 width=200 gravity='face' crop='fill'}}" class='invert')
//             |#{title}
//     each tags
//         .ui.large.basic.label
//             i.delete.icon.remove_element
//             |#{this}
//     if suggestions.count
//         div
//         .ui.small.inline.header suggestions
//     each suggestions
//         a.ui.large.basic.button.select_term(href='#')
//             // if image
//             //     img.ui.mini.rounded.inline.image(src="{{c.url image height=200 width=200 gravity='face' crop='fill'}}" class='invert')
//             |#{title}

template(name='loading')
    .ui.basic.center.aligned.segment
        i.massive.grey.yin.yang.loading.icon

// template(name='print_this')
//     i.link.code.inline.icon.print_this(title='print to console')

template(name='comments_view_small')            
    if doc_comments.count
        .meta
            each doc_comments 
                i.grey.chat.outline.icon
                img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=user_class)
                |#{body}
                div

// template(name='viewing')
//     if currentUser
//         unless viewed_by
//             .ui.icon.button.mark_read(title='mark read')
//                 i.eye.icon
//         else 
//             //- if is_dev
//             .ui.icon.button.mark_unread(title='mark unread')
//                 i.eye.slash.icon
//     else 
//         i.eye.icon
//     .ui.grey.inline.header 
//         |viewers
//     each read_ids
//         +user_info




// template(name='vote')
//     a.ui.icon.button.upvote(title='upvote')
//         i.thumbs.up.outline.big.icon
//     if points
//         strong #{points}
//     a.ui.icon.button.downvote(title='downvote')
//         i.thumbs.down.outline.big.icon


// template(name='sbt')
//     .ui.compact.large.button.toggle_session_key(class=calculated_class)
//         +icolor name=icon cl='ui avatar image'
//         // i.icon(class=i)
//         |#{l}
//         //- if icon_view 
//         // - else 
//         if l
//             |#{l}
//         else 
//             |#{v}
                
                
template(name='skve')
    // a.ui.image.big.link.label.set_session_v(class=calculated_class)
    .ui.button.set_session_v.say(class=calculated_class title=t)
        // if i
        if selected 
            // +i n=i cl='ui mini inline image'
            i.large.icon(class=i)
        else
            // +iios n=i cl='ui mini inline image'
            i.grey.icon(class=i)
        unless ionly
            if l
                span #{l}
            else 
                span #{v}

                        


// template(name='session_toggle_button')
//     .ui.compact.icon.button.toggle(class=session_toggle_button_class title=title)
//         i.large.icon(class=icon)
//         |#{label}





// template(name='toggle_edit')
//     .ui.basic.button.toggle_edit
//         i.pencil.icon

// template(name='user_list_info')
//     a.ui.basic.button.item(href="/u/#{user.username}/view")
//         img.ui.avatar.image(src=user.profile.profilePic title=name)
//         |#{user.username}
//         +user_status user




// template(name='user_list_toggle')
//     if currentUser
//         if in_list
//             .ui.icon.compact.button.toggle(class=user_list_toggle_class title=label)
//                 i.large.icon(class=remove_icon)
//                 // |#{label}
//         else
//             .ui.icon.compact.button.toggle(class=user_list_toggle_class title=label)
//                 i.large.icon(class=add_icon)
//         each list_users
//             +user_info


// template(name='doc_array_togggle')
//     if currentUser
//         .ui.button.toggle(class=doc_array_toggle_class title=label)
//             if in_list
//                 if remove_icon
//                     i.large.icon(class=remove_icon)
//                 |#{remove_label}
//             else
//                 if add_icon
//                     i.large.icon(class=add_icon)
//                 |#{add_label}
//             |#{label}
//         //- each list_users
//         //-     +user_info




// template(name='remove_button')
//     .ui.icon.button.remove_doc(title='delete')
//         i.remove.icon
//         // |delete

// template(name='remove_icon')
//     i.remove.link.icon.remove_doc(title='delete')


// //- template(name='edit_button')
// //-     a.ui.basic.button.icon.edit(title='Edit' href="/#{model}/#{_id}/edit")
// //-         i.blue.pencil.icon
// //-         |Edit


// template(name='toggle_button')
//     .ui.icon.toggle.basic.button(title=label)
//         i.icon(class=icon)
//     each selected
//         |#{username}


// template(name='view_user_button')
//     .view_user.view(title="view #{username}")
//         i.play.icon
//         |View





// template(name='kve')
//     a.ui.compact.large.button.set_key_v.select_term(class=set_kv_class title=v href='#')
//         if i
//             // +icon n=icon cl='ui avatar image'
//             i.icon(class=i)
//         unless icon_only
//             if l
//                 |#{l}
//             else 
//                 |#{v}
        

// template(name='session_key_v')
//     .ui.button.set_session_v(class=button_class) 
//         if icon 
//             i.icon(class=icon)
//         if l
//             |#{l}
//         else 
//             |#{v}
            