template(name='skve')
    // a.ui.image.big.link.label.set_session_v(class=calculated_class)
    .ui.button.set_session_v.say(class=calculated_class title=t)
        // if i
        if selected 
            // +i n=i cl='ui mini inline image'
            i.large.icon(class=i)
        else
            // +iios n=i cl='ui mini inline image'
            i.grey.icon(class=i)
        unless ionly
            if l
                span #{l}
            else 
                span #{v}

template(name='comments_view_small')            
    if doc_comments.count
        .meta
            each doc_comments 
                i.grey.chat.outline.icon
                img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=user_class)
                |#{body}
                div





template(name='ismall')
    img(src="https://img.icons8.com/color/24/000000/#{name}.png" class=classes title=title)
    //- img(src="https://img.icons8.com/cotton/24/000000/#{name}.png" class=classes title=title)
    //- img(src="https://img.icons8.com/ultraviolet/24/000000/#{name}.png" class=classes title=title)


template(name='ibig')    
    //- img.ui.image(src="https://img.icons8.com/dusk/256/000000/#{name}.png" class=cl)
    //- img.ui.image(src="https://img.icons8.com/cotton/256/000000/#{name}.png" class=cl)
    //- img.ui.image(src="https://img.icons8.com/office/256/000000/#{name}.png" class=cl)
    //- img.ui.image(src="https://img.icons8.com/plasticine/256/000000/#{name}.png" class=cl)
    //- img.ui.image(src="https://img.icons8.com/color/256/000000/#{name}.png" class=cl)
    //- img.ui.image(src="https://img.icons8.com/ios/256/000000/#{name}.png" class=cl)
template(name='icon')    
    i.icon(class=name)
    // img.ui.image(src="https://img.icons8.com/color/48/000000/#{name}.png" class=cl)
    // img.ui.image(src="https://img.icons8.com/plasticine/48/000000/#{name}.png" class=cl)
    // img.ui.image(src="https://img.icons8.com/ios/48/000000/#{name}.png" class=cl)
    // img.ui.image(src="https://img.icons8.com/color/48/000000/#{name}.png" class=cl)
    //- img.ui.image(src="https://img.icons8.com/fluent/48/000000/#{name}.png" class=cl)
    // img.ui.image(src="https://img.icons8.com/cotton/48/000000/#{name}.png" class=cl)
    //- img.ui.image(src="https://img.icons8.com/office/48/000000/#{name}.png" class=cl)


template(name='print_this')
    i.circular.code.link.icon.print_this


template(name='comments')
    .spacer
    .ui.inline.grey.header
        i.chat.outline.icon
        |comments
    div
    .ui.fluid.icon.large.input
        i.plus.icon
        input.add_comment(model='text' placeholder='add')
    .ui.comments
        each doc_comments
            .comment
                .content
                    .metadata
                        span.date #{when}
                    .text
                        | !{body}
                    span.actions



template(name='remove_button')
    .ui.icon.basic.circular.button.remove_doc(title='delete')
        i.remove.icon
        // |delete

template(name='remove_icon')
    i.remove.link.icon.remove_doc(title='delete')

template(name='add_button')
    a.ui.large.basic.button.add(title="add #{model}")
        //- |#{model.icon}
        i.plus.icon
        if label
            |#{label}
        //- |#{model}



//- template(name='edit_button')
//-     a.ui.basic.button.icon.edit(title='Edit' href="/m/#{model}/#{_id}/edit")
//-         i.blue.pencil.icon
//-         |Edit


template(name='save_button')
    a.ui.basic.button.large.icon.save(title='Save' href="/m/#{model}/#{_id}/view")
        i.checkmark.icon
        |Save

template(name='toggle_button')
    .ui.icon.toggle.basic.button(title=label)
        i.icon(class=icon)
    each selected
        |#{username}


template(name='view_user_button')
    .view_user.view(title="view #{username}")
        i.play.icon
        |View