head
    title dao
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="black")
    link(href="https://fonts.googleapis.com/css?family=Ubuntu:300&display=swap" rel="stylesheet")
    // link(href="https://fonts.googleapis.com/css?family=Lato:300&display=swap" rel="stylesheet")
    //- script(src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js")

    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')

    // link(href="https://cdn.jsdelivr.net/npm/suneditor@latest/dist/css/suneditor.min.css" rel="stylesheet")
    // script(src="https://cdn.jsdelivr.net/npm/suneditor@latest/dist/suneditor.min.js")
    // script(src="https://cdn.jsdelivr.net/npm/suneditor@latest/src/lang/en.js")

    // script(src="https://cdn.jsdelivr.net/npm/sweetalert2@9")

    link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.css")
    script(src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.js")
    // script(async src="https://www.googletagmanager.com/gtag/js?id=G-GLYPPRGJFQ")
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        
        gtag('config', 'G-GLYPPRGJFQ');


template(name='layout')
    +yield

            

template(name='not_found')
    .ui.center.aligned.basic.segment
        a(href="/")
            i.massive.yin.yang.grey.link.icon.pulse

template(name='post_view')
    with current_doc
        .ui.stackable.grid
            .row 
                .twelve.wide.column.scrolling
                    .ui.center.aligned.header #{title}
                    if url
                        a.ui.center.aligned.small.header(href=url target='_window') #{url}
                        
                    if embed
                        span.f11.full
                            |!{embed}
                    else if is_image
                        a.view_post(href="/" class=post_header_class)
                            img.ui.fluid.rounded.image.toggle_view(src=data.url)
                    else if data.is_reddit_media_domain
                        img.ui.centered.rounded.image.pointer.call_visual(src=data.url)
                    // else if watson.metadata.image
                    //     img.ui.rounded.image.pointer.call_meta(src=watson.metadata.image)
                    if is_youtube
                        div
                        // .ui.fluid.embed
                        //     iframe(id="ytplayer" type="text/html" width="100%" height="500" src="https://www.youtube.com/embed/#{youtube_parse}" frameborder="0" allowfullscreen)
                        iframe(width="100%" height="600" src="https://www.youtube.com/embed/#{youtube_parse}?autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                    if data.link_url
                        img.ui.image.pointer.call_visual(src=data.link_url)
                    // if data.selftext
                    //     .f12
                    //         |!{data.selftext}
                    div 
                    if data.selftext_html
                        .f12
                            |!{data.selftext_html}
                    div 
                    .spacer
                    .spacer
                    div
                .four.wide.column.scrolling
                    a.ui.large.icon.basic.fluid.button(href="/")
                        i.chevron.left.large.icon
                        i.large.home.icon
                    if has_thumbnail
                        img.ui.fluid.rounded.image.pointer.call_thumbnail(src=data.thumbnail)
                    i.large.eye.icon
                    | #{views} views
                    if comment_count
                        i.large.chat.outline.icon
                        | #{comment_count} comments
                    .ui.large.label
                        i.globe.icon
                        |#{domain}
                    a.ui.fluid.button(href="https://www.reddit.com/r/#{subreddit}" target="_window")
                        i.reddit.icon
                        |#{subreddit}
                    a.ui.fluid.button(href="https://www.reddit.com/u/#{data.author}" target="_window")
                        i.users.icon
                        |#{data.author}
                    // a.ui.fluid.button(href="https://www.reddit.com#{permalink}" target="_window")
                    //     i.external.icon
                    //     |#{permalink}
                    +print_this
                    
   
                    
                    
                        
template(name='home')
    .ui.padded.stackable.grid
        .sixteen.wide.center.aligned.column
            // i.plus.link.icon.add
            if picked_tags
                .ui.icon.large.input
                    if is_loading
                        i.yin.yang.loading.large.icon
                    else
                        i.search.icon
                    input.search_tag(type='text' value=query autofocus='')
                    // .ui.label #{this}
            else
                .ui.center.aligned.basic.segment
                    .ui.icon.massive.input
                        i.yin.yang.large.icon
                        input.search_tag(type='text' value=query autofocus='')
                        // .ui.label #{this}
            if picked_tags
                // if many_tags
                //     a#clear_tags.ui.red.invert.icon.button.pick_term
                //         i.remove.icon
                each picked_tags
                    +unpick_tag
            each result_tags
                // .ui.label #{this}
                +tag_picker
            // .ui.disabled.button shared with me
            // if skv_is 'view_sidebar' false
            //     .ui.icon.basic.button.enable_sidebar
            //         i.ellipsis.vertical.icon
            // else
            //     .ui.icon.compact.active.button.disable_sidebar
            //         i.ellipsis.vertical.icon
            if picked_tags
                if skv_is 'sort_direction' 1
                    .ui.icon.compact.basic.button.sort_down
                        i.caret.down.icon
                else
                    .ui.icon.compact.basic.button.sort_up
                        i.caret.up.icon
                .ui.large.icon.button.sort_timestamp(class=sort_timestamp_class)
                    i.clock.icon
                .ui.large.icon.button.sort_points(class=sort_points_class)
                    i.thumbs.up.icon
                .ui.inline.header 
                    |#{post_counter}
        // if skv_is 'view_sidebar' true
        //     .four.wide.column.scrolling       
        //         if location_results.count
        //             i.big.marker.icon
        //         each picked_locations
        //             a.unpick_location.ui.large.button(href='#')
        //                 strong #{this}
        //         each location_results
        //             if name
        //                 .ui.tiny.basic.button.pick_location #{name}
        //         div
        //         i.big.user.icon
        //         each picked_authors
        //             a.unpick_author.ui.large.button(href='#')
        //                 strong #{this}
        //         each author_results
        //             if name
        //                 .ui.tiny.basic.button.pick_author #{name}
        //         div
        //         i.clock.big.icon
        //         each picked_times
        //             a.unpick_time.ui.large.large.button(href='#')
        //                 strong #{this}
        //         each time_results
        //             .ui.tiny.basic.button.pick_time #{name}
        //         // +alpha
        //         each picked_locations
        //             a.unpick_location_tag.ui.black.large.button(href='#')
        //                 | #{this}
        //         if location_tags
        //             i.big.marker.grey.icon
        //             each location_tags
        //                 .ui.small.button.zoomer.pick_location_tag(title="#{count} results" class="#{picker_class} #{thinking_class}")
        //                     | #{name}
                                
        div(class=main_column_class)
            // if skv_is 'view_detail' true
            //     .ui.black.large.icon.basic.button.toggle_detail
            //         i.list.icon
            // else
            //     .ui.large.icon.basic.button.toggle_detail
            //         i.minus.icon
            //     // i.line.chart.icon
            // if skv_is 'view_layout' 'grid'
            //     .ui.large.icon.black.button.set_grid(class=grid_class) 
            //         i.th.icon
            // else
            //     .ui.large.icon.basic.button.set_grid(class=grid_class) 
            //         i.th.icon
            // if skv_is 'view_layout' 'list'
            //     .ui.black.icon.large.button.set_list(class=list_class)
            //         i.list.icon
            // else
            //     .ui.large.icon.basic.button.set_list(class=list_class)
            //         i.list.icon
            // .ui.icon.basic.button.skip_left
            //     i.chevron.left.icon
            // .ui.icon.basic.button.skip_right
            //     i.chevron.right.icon
            // .ui.icon.button.view_videos(class=video_class)
            //     i.film.icon
            // .ui.icon.button.view_images(class=image_class)
            //     i.picture.icon
            // .ui.icon.button.view_commented
            //     i.chat.icon            
            // if skv_is 'view_layout' 'grid'
            .ui.stackable.four.column.centered.grid.scrolling
                each posts
                    +post_card
            // else 
            //     .ui.divided.link.items
            //         each posts
            //             +post_item

template(name='post_card')
    .column.smallscroll(class=card_class)
        if embed
            // span.f11.full
            a.view_post(href="/p/#{_id}" class=post_header_class)
                |!{embed}
        if is_image
            a.view_post(href="/p/#{_id}" class=post_header_class)
                img.ui.fluid.zoomer.rounded.image.toggle_view(src=data.url)
        else if data.is_reddit_media_domain
            a.view_post(href="/p/#{_id}" class=post_header_class)
                img.ui.centered.rounded.image.pointer.call_visual(src=data.url)
        else if has_thumbnail
            a.view_post(href="/p/#{_id}" class=post_header_class)
                img.ui.fluid.rounded.image.pointer.call_thumbnail.zoomer(src=data.thumbnail)
            // else if watson.metadata.image
            //     img.ui.rounded.image.pointer.call_meta(src=watson.metadata.image)
        else if is_youtube
            div
            // .ui.fluid.embed
            //     iframe(id="ytplayer" type="text/html" width="100%" height="500" src="https://www.youtube.com/embed/#{youtube_parse}" frameborder="0" allowfullscreen)
            iframe(width="100%" height="600" src="https://www.youtube.com/embed/#{youtube_parse}?autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        if data.link_url
            img.ui.image.pointer.call_visual(src=data.link_url)

        // if image_link
        //     a(href="/p/#{_id}")
        //         img.ui.zoomer.image(src=image_link)
        // if image_id
        //     a(href="/p/#{_id}")
        //         img.ui.zoomer.image(src="{{c.url image_id }}" )
        // if youtube_id
        //     +youtube_view key='youtube_id' label='youtube id'

        .content
            a.ui.small.header(href="/p/#{_id}") #{title}
            div
            if data.selftext_html
                a.f12(href="/p/#{_id}")
                    |!{data.selftext_html}
            else if data.selftext
                a.f12.zoomer(href="/p/#{_id}")
                    |!{data.selftext}
                    
            //     |!{description}
            //     |!{body}
            // .ui.tiny.icon.input
            //     i.grey.tag.icon
            //     input.add_tag(type='text' placeholder='+')
            each seven_tags
                +flat_tag_picker
                // .ui.small.button.pick_flat_tag #{this}
            // each timestamp_tags
            //     .ui.small.button.pick_flat_time #{this}
            // if location
            //     i.grey.marker.icon
            //     |#{location}
            if in_dev
                +print_this
        .content
            |#{when}
            // +voting
            // if in_dev
            //     i.large.lock.link.grey.icon.make_private
            a.ui.icon.large.basic.button(href="/p/#{_id}")
                |#{views}
                i.chevron.right.large.icon
        //   +comments
           
                                
                                
template(name='tag_picker')
    // a.ui.big.image.rounded.label.zoomer.pointer.pick_tag.pick_term(href='#' title="#{count} results" class="#{picker_class} #{thinking_class}")
    .ui.tertiary.large.button.zoomer.pick_tag(title="#{count} results" class="#{picker_class} #{thinking_class}")
        if term
            if term.watson.metadata.image
                img.ui.avatar.image.superzoom(src=term.watson.metadata.image )    
        strong #{name}
        // if in_dev
        //     small #{count}
        
template(name='unpick_tag')
    a.unpick_tag.ui.black.image.big.label.no_blink(href='#')
        if term
            if term.watson.metadata.image
                img.ui.avatar.image.superzoom(src=term.watson.metadata.image)    
        strong #{this}

        
        
template(name='flat_tag_picker')
    // a.ui.big.image.rounded.label.zoomer.pointer.pick_tag.pick_term(href='#' title="#{count} results" class="#{picker_class} #{thinking_class}")
    .ui.basic.small.compact.button.zoomer.pick_flat_tag(title="#{count} results" class="#{picker_class} #{thinking_class}")
        // if term
        //     if term.watson.metadata.image
        //         img.ui.mini.rounded.inline.image.superzoom(src=term.watson.metadata.image )    
        | #{this}
        // if in_dev
        //     small #{count}
                        
                        
                        

template(name='print_this')
    i.code.link.icon.print_this


template(name='loading')
    i.massive.yin.yang.loading.grey.icon
