head
    title what is
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="black")
    link(href="https://fonts.googleapis.com/css?family=Ubuntu:300&display=swap" rel="stylesheet")
    // link(href="https://fonts.googleapis.com/css?family=Lato:300&display=swap" rel="stylesheet")
    //- script(src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js")

    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')

    link(href="https://cdn.jsdelivr.net/npm/suneditor@latest/dist/css/suneditor.min.css" rel="stylesheet")
    script(src="https://cdn.jsdelivr.net/npm/suneditor@latest/dist/suneditor.min.js")
    script(src="https://cdn.jsdelivr.net/npm/suneditor@latest/src/lang/en.js")

    // script(src="https://cdn.jsdelivr.net/npm/sweetalert2@9")



    link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.css")
    script(src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.js")
    script(async src="https://www.googletagmanager.com/gtag/js?id=G-GLYPPRGJFQ")
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        
        gtag('config', 'G-GLYPPRGJFQ');


template(name='front')
    +love
    .ui.basic.center.aligned.segment
        a(href="/r/love")
            i.big.grey.yin.yang.icon

template(name='layout')
    // +status
    +nav
    .ui.bottom.attached.pushable.segment
        // +top_sidebar
        +left_sidebar
        +right_sidebar
                
        #main_area.global_container.pusher
            +yield
    
    // .ui.bottom.attached.pushable.segment
    //     #main_area.pusher(class=currentUser.invert_class)

template(name='nav')
    .ui.fluid.attached.large.borderless.ten.item.menu.hscroll
        a.icon.item.toggle_sidebar
            i.large.bars.icon
        a.icon.item(href="/") 
            i.heart.large.icon
            // |home
        a.icon.item(href="/r/tarot") 
            i.star.large.icon
            // |tarot
        a.icon.item(href="/r/recipes") 
            i.food.large.icon
            // |food
        a.icon.item(href="/r/love") 
            i.university.large.icon
            // |bank
        .icon.item 
            i.shop.large.icon
            // |shop
        // .right.menu
        if unread_count
            a.item.alerts.select_term(href="#" class=alert_toggle_class)
                i.large.bell.icon
                if unread_count
                    |#{unread_count}
        else
            a.icon.item(href="/inbox" class="{{isActiveRoute 'inbox'}}")
                i.large.outline.bell.icon
        a.icon.item(href="/chat" title='chat') 
            i.chat.large.outline.icon
        // a.icon.item(href="/u/#{currentUser.username}/messages" class="{{isActivePath 'user_messages'}}" title="#{user.username} messages")
        //     i.chat.large.icon
        if is_dev 
            .icon.item
                i.large.code.icon
        // if currentUser
        // a.large.item.toggle_rightbar(class="{{isActiveRoute 'user_dashboard'}}")
        a.large.item(href="/u/#{currentUser.username}" class="{{isActiveRoute 'user_dashboard'}}")
            //- i.large.user.large.icon
            if currentUser.profile_image_id
                if is_admin
                    i.large.shield.icon(title='admin mode on')
                else
                    img.ui.avatar.compact.image(src="{{c.url currentUser.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            else 
                i.large.user.large.icon
            strong.mobile.hidden #{currentUser.name}
        // a.mobile.hidden.item(href="/u/#{currentUser.username}" class="{{isActiveRoute 'user_credits'}}")
        //     |#{currentUser.points}p
        a.icon.large.item.toggle_rightbar.select_term
            i.ellipsis.vertical.large.icon
        // else
        //     // a.item(href="/register" title='register')
        //     //     // |login
        //     //     +icon name='plus'
        //     //     // i.large.chevron.right.icon
        //     a.item(href="/login" title='login')
        //         // |login
        //         +icon name='login-rounded-right'
        //         // i.large.chevron.right.icon
    if session_is 'viewing_alerts'
        +topbar



template(name='topbar')
    .ui.fluid.large.attached.segment
        .ui.middle.aligned.divided.list
            each recent_alerts
                +recent_alert
        a.ui.icon.attached.basic.button.item.close_topbar(href="/inbox")
            i.inbox.large.icon
            |inbox
        
template(name='recent_alert')        
    .item.alert
        .right.floated.content
            i.circular.eye.link.large.icon.mark_read(title='mark read')
        img.ui.avatar.image(src="{{c.url author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
        .content
            .header
                |#{description} 
            .description #{author.name} #{made_when}
            
            
            
            
template(name='right_sidebar')
    .ui.right.sidebar.vertical.borderless.menu
        // a.item.toggle_rightbar(href="/u/#{currentUser.username}" class="{{isActiveRoute 'user_layout'}}")
        //     img.ui.avatar.compact.image(src="{{c.url 'one_logo' height=200 width=200 gravity='face' crop='fill'}}")
        //     |#{currentUser.name}
        a.item.toggle_rightbar(href="/u/#{currentUser.username}/" class="{{isActiveRoute 'user_dashboard'}}")
            | dashboard (#{currentUser.points}p)
            i.large.dashboard.icon
        
        a.item.toggle_rightbar(href="/u/#{currentUser.username}/about" class="{{isActiveRoute 'user_about'}}")
            | about
            i.large.info.icon
        a.item.toggle_rightbar(href="/u/#{currentUser.username}/credits" class="{{isActiveRoute 'user_credits'}}")
            | #{currentUser.total_credit_amount}p received
            i.large.chevron.down.icon
        a.item.toggle_rightbar(href="/u/#{currentUser.username}/debits" class="{{isActiveRoute 'user_sent'}}")
            | #{currentUser.total_debit_amount}p sent
            i.large.chevron.up.icon
        a.item.toggle_rightbar(href="/u/#{currentUser.username}/events" class="{{isActiveRoute 'user_events'}}")
            | events
            i.large.calendar.icon
        a.item.toggle_rightbar(href="/u/#{currentUser.username}/requests" class="{{isActiveRoute 'user_requests'}}")
            | requests
            i.large.concierge.bell.icon
        a.item.toggle_rightbar(href="/u/#{currentUser.username}/orders" class="{{isActiveRoute 'user_orders'}}")
            | orders
            i.large.cart.icon
        a.item.toggle_rightbar(href="/u/#{currentUser.username}/offers" class="{{isActiveRoute 'user_offers'}}")
            | offers
            i.large.hand.holding.heart.icon
        // a.item.toggle_rightbar(href="/u/#{currentUser.username}/messages" class="{{isActiveRoute 'user_messages'}}")
        //     | chat
        //     i.chat.icon
        .ui.divider
        a.item.toggle_rightbar(href="/u/#{currentUser.username}/edit" title='edit your account')
            i.cog.large.icon
            |settings
        // a.item.toggle_nightmode.toggle_rightbar(href="#")
        //     i.lightbulb.large.icon
        //     |dark mode
        a.item.logout(href="/u/#{currentUser.username}/messages" class="{{isActiveRoute 'user_messages'}}" )
            |logout
            if is_logging_out
                i.refresh.loading.icon
            else
                i.sign.out.icon



template(name='left_sidebar')
    .ui.left.sidebar.vertical.borderless.menu
        // a.item.toggle_sidebar(href="/" class="{{isActiveRoute '/'}}")
        //     img.ui.avatar.compact.image(src="{{c.url 'one_logo' height=200 width=200 gravity='face' crop='fill'}}")
        //     |One
        a.item.set_member.toggle_sidebar(href="/m/member" class="{{isActivePath 'm/member'}}" title='players')
            i.large.users.icon
            | directory
        a.item.toggle_sidebar(href="/events" class="{{isActivePath '/events'}}")
            i.large.calendar.icon
            |events
        a.item.toggle_sidebar(href="/m/request" class="{{isActivePath '/m/request'}}")
            i.large.concierge.bell.icon
            |requests
        a.item.toggle_sidebar(href="/m/offer" class="{{isActivePath '/m/offer'}}")
            i.large.hand.holding.heart.icon
            |offers
        a.item.toggle_sidebar.set_post(href="/m/post" class="{{isActivePath '/m/post'}}")
            i.large.newspaper.icon
            |news
        // a.item.toggle_sidebar(href="/m/collective" class="{{isActivePath 'requests'}}")
        //     i.users.icon
        //     |collectives
        a.item.toggle_sidebar.set_bug(href="/m/bug" class="{{isActivePath '/m/bug'}}")
            i.large.bug.icon
            |bugs
        a.icon.item.toggle_sidebar.set_photo(href="/m/photo" class="{{isActivePath '/m/photo'}}" title='photos')
            i.large.large.picture.icon
            |photos  
        a.icon.item.toggle_sidebar.set_expense(href="/m/expense" class="{{isActivePath '/m/expense'}}" title='expenses')
            i.large.dollar.icon
            |expenses            
        // a.item.toggle_sidebar.set_rental(href="/m/rental" class="{{isActivePath regex='rentals'}}")
        //     i.clock.icon
        //     |rentals
        // if has_badge 'facilitator'
        // a.item.toggle_sidebar(href="/chat" class="{{isActivePath '/chat'}}" title='chat') 
        //     |chat
        //     i.large.chat.icon
        // if is_eric
        //     a.icon.item.toggle_dev.toggle_sidebar
        //         |toggle dev
        //         if is_dev
        //             i.code.blue.large.icon
        //         else
        //             i.code.large.icon
        if is_in_admin
            a.icon.item.toggle_admin.toggle_sidebar
                |toggle admin
                if is_admin
                    i.shield.blue.large.icon
                else
                    i.shield.large.icon
            
        if is_admin
            // a.item.toggle_sidebar.set_badge(href="/m/badge" class="{{isActivePath 'badges'}}")
            //     i.certificate.blue.icon
            //     | badges
            // a.item.toggle_sidebar.set_debit(href="/m/debit" class="{{isActivePath regex='rentals'}}")
            //     i.gift.blue.icon
            //     |gifts
            .divider
            // a.item.toggle_sidebar.set_project(href="/m/project" class="{{isActivePath regex='projects'}}")
            //     i.tasks.blue.icon
            //     | projects
            // a.item.toggle_sidebar(href="/m/room" class="{{isActiveRoute 'requests'}}")
            //     i.building.blue.icon
            //     |rooms
            a.blue.item.set_model.toggle_sidebar(href="/m/model" class="{{isActivePath '/m/model'}}")
                |admin
                i.database.blue.icon
            a.item.set_user.toggle_sidebar(href="/m/user" class="{{isActiveRoute '/m/user'}}")
                i.blue.users.icon
                | all users

template(name='not_found')
    .ui.basic.center.aligned.segment
        a(href="/discrete")
            i.massive.yin.yang.link.icon