template(name='family')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.header family
            .ui.header photos
            .ui.header posts
            .ui.input
                input.add_fam_post(type='text' placeholder='add')
            .ui.header polls
            .ui.input
                input(type='text' placeholder='add')
            each selected_result_tags
                .ui.button #{this}
            .ui.segment
                a.ui.header(href="/r/news")
                    i.globe.icon
                    |world news
        .twelve.wide.column
            .ui.cards.scrolling
                each tribe_posts
                    .ui.card
                        a(href="/post/#{_id}/view") #{title}
                            img.ui.rounded.image(src="{{c.url image_id }}" class=currentUser.invert_class)
                        .content
                            a.ui.header(href="/post/#{_id}/view") #{title}
                            each tags
                                .ui.label #{this}
                            +print_this
                
                