template(name='youtube_edit')
    .ui.labeled.fluid.icon.input
        .ui.label 
            // if icon
            //     i.icon(class=icon)
            |youtube id
        input.youtube_id(type='text' value=field_value placeholder=placeholder autocomplete="off")
    if field_value
        iframe(width='100%' height='500px' src="https://www.youtube.com/embed/#{field_value}" frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')

template(name='youtube_view')
    if field_value
        if icon
            +i name=icon
            //- i.icon(class=icon)
        .ui.embed(data-source="youtube" data-id=field_value)

        //- // iframe(width='560' height='315' src="https://www.youtube.com/embed/#{field_value}" frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        //- iframe(src="https://www.youtube.com/embed/#{field_value}" frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
template(name='color_edit')
    .ui.large.form
        .field
            label 
                if icon
                    +i name=icon
                    //- i.grey.icon(class=icon)
                if title
                    |#{title}
                else if key
                    |#{key}
                else
                    |#{this}
            input.edit_color(type='color' value=field_value placeholder='color' autocomplete="off")



template(name='color_view')
    .ui.form
        .field
            label 
                if icon
                    //- +i name=icon
                    i.grey.icon(class=icon)
                if title
                    |#{title}
                else if key
                    |#{key}
                else
                    |#{this}
            .ui.large.label(style="background:#{field_value}")
            |#{field_value}

template(name='html_view')
    if field_value
        .spacer
        // .ui.small.inline.header
        //     if icon
        //         i.icon(class=icon)
        //     if title
        //         |#{title}
        //     else if label
        //         |#{label}
        //     else if key
        //         |#{key}
        //     else
        //         |#{this}
        .f10
            |!{field_value}



template(name='html_edit')
    .ui.form
        .field
            label 
                if icon
                    i.icon(class=icon)
                if title
                    |#{title}
                else if label
                    |#{label}
                else if key
                    |#{key}
                else
                    |#{this}
    .ui.fluid.form
        .field.testsun
            textarea#sample.sun-editor-editable
                |#{field_value}
    +call_watson mode='html' key='content'
    //- div
    //- //- +tone mode='html'
    if watson
        +watson_view




template(name='color_icon_edit')
    div
    .ui.inline.header
        if title
            |#{title}
        else if key
            |#{key}
        else
            |#{this}
    .ui.input
        input.color_icon(type='url' value=field_value placeholder='icons8 class' autocomplete="off")
    if field_value
        //- i.large.icon(class=field_value)
        //- img.ui.inline.image(src="https://img.icons8.com/fluent/48/000000/#{field_value}.png")
        //- img.ui.inline.image(src="https://img.icons8.com/dusk/48/000000/#{field_value}.png")
        img.ui.inline.image(src="https://img.icons8.com/color/48/000000/#{field_value}.png")
        //- img.ui.inline.image(src="https://img.icons8.com/office/48/000000/#{field_value}.png")
template(name='icon_edit')
    div
    if icon
        //- i.grey.icon(class=icon)
        +icon name=icon cl='ui avatar image'
    .ui.inline.header
        if title
            |#{title}
        else if key
            |#{key}
        else
            |#{this}    
    if field_value
        i.large.icon(class=field_value)
    .ui.right.icon.input
        input.icon_val(type='text' value=field_value placeholder='fa class' autocomplete="off")
    a(href="https://fomantic-ui.com/elements/icon.html" target='_window')
        i.external.icon
        |icons


template(name='color_icon_view')
    if field_value
        //- img(src="https://img.icons8.com/color/48/000000/#{field_value}.png")
        img(src="https://img.icons8.com/office/48/000000/#{field_value}.png")
        //- img(src="https://img.icons8.com/dusk/48/000000/#{field_value}.png")
        //- img(src="https://img.icons8.com/office/48/000000/#{field_value}.png")
        //- img(src="https://img.icons8.com/ios/48/000000/#{field_value}.png")
template(name='icon_view')
    if field_value
        span.inline.spaced
            +icon name=field_value
        //- i.icon(class=field_value)
        //- img(src="https://img.icons8.com/office/48/000000/#{field_value}.png")
        //- img(src="https://img.icons8.com/fluent/48/000000/#{field_value}.png")
        //- img(src="https://img.icons8.com/ios/48/000000/#{field_value}.png")
template(name='i')
    //- i.icon(class=name)
    img(src="https://img.icons8.com/cotton/48/000000/#{name}.png" class=cl title=title)
    //- img(src="https://img.icons8.com/fluent/48/000000/#{name}.png" class=cl title=title)
    //- img.icon8(src="https://img.icons8.com/ios/50/000000/#{name}.png" class=cl title=title)
    //- img(src="https://img.icons8.com/ultraviolet/48/000000/#{name}.png" class=cl title=title)
    //- img(src="https://img.icons8.com/office/48/000000/#{name}.png" class=cl title=title)
    //- if classes.length
    //-     img(src="https://img.icons8.com/#{gs.icon_theme}/48/000000/#{name}.png" class=cl title=title)
    //- else 
    //-     img.ui.mini.inline.image(src="https://img.icons8.com/#{gs.icon_theme}/48/000000/#{name}.png" class=cl title=title)
    //- img(src="https://img.icons8.com/plasticine/48/000000/#{name}.png" class=cl title=title)
template(name='ioffice')
    img(src="https://img.icons8.com/office/48/000000/#{name}.png" class=cl title=title)
template(name='icolor')
    // i.icon(name=name)
    img(src="https://img.icons8.com/color/48/000000/#{name}.png" class=cl title=title)
    // img(src="https://img.icons8.com/dusk/48/000000/#{name}.png" class=cl title=title)
template(name='icolorlg')
    // i.icon(name=name)
    img(src="https://img.icons8.com/color/96/000000/#{name}.png" class=cl title=title)
template(name='iios')
    img(src="https://img.icons8.com/ios/48/000000/#{name}.png" class=cl title=title)
    //- img(src="https://img.icons8.com/ultraviolet/48/000000/#{name}.png" class=cl title=title)
//- template(name='icon')
//-     i.icon(class=name)
//-     //- img.ui.middle.aligned.image(src="https://img.icons8.com/cotton/24/000000/#{name}.png" class=cl title=title)
//-     //- img(src="https://img.icons8.com/office/24/000000/#{name}.png" class=cl title=title)
//-     //- img.ui.middle.aligned.image(src="https://img.icons8.com/plasticine/24/000000/#{name}.png" class=cl title=title)
//-     //- img(src="https://img.icons8.com/plasticine/24/000000/#{name}.png" class=cl title=title)
//-     //- img.ui.inline.image(src="https://img.icons8.com/#{gs.icon_theme}/24/000000/#{name}.png" class=cl title=title)
//-     //- img(src="https://img.icons8.com/ultraviolet/24/000000/#{name}.png" class=cl title=title)
//-     //- img(src="https://img.icons8.com/ios/24/000000/#{name}.png" class=cl title=title) 
//-     //- |&nbsp;
template(name='iblue')
    img(src="https://img.icons8.com/ultraviolet/40/000000/#{name}.png" class=cl)

template(name='iflat')
    img.ui.mini.image(src="https://img.icons8.com/flat_round/64/000000/#{name}.png")

//- template(name='ioffice')
//-     img.ui.image(src="https://img.icons8.com/office/30/000000/#{name}.png" class=cl)
template(name='link_edit')
    div
    if icon
        i.icon(class=icon)
    .ui.inline.header
        |#{title} #{label}
    .ui.fluid.input
        input.edit_url(type='url' value=field_value placeholder='url' autocomplete="off")


template(name='link_view')
    if field_value
        div
        if icon
            +icon name=icon cl='ui avatar image'
        //- .ui.inline.header 
        //-     |#{title} #{label}
        a.ui.header(href=field_value target='_window')
            if label 
                |#{label}
        a(href="www.#{field_value}" target='_window')
            |#{field_value}
        //- img.ui.fluid.image(src=field_value)
        
        
template(name='image_view')
    if field_value
        //- .ui.inline.header
        //-     if icon
        //-         +icon name=icon
                //- i.grey.icon(class=icon)
        //-     if title
        //-         |#{title}
        //- else if key
        //-     |#{key}
        //- else
        //-     |#{this}
        //- if classes
        //-     img(src="{{c.url field_value gravity='face' crop='fit'}}" class=cl)
        //- else 
        a(href="{{c.url field_value }}" target='_window')
            img.ui.centered.rounded.image(src="{{c.url field_value gravity='face' crop='fit'}}" class=currentUser.invert_class)
        //- a(href="{{c.url field_value gravity='face' crop='fit'}}")
        //-     |download
    //- +call_visual
    
template(name='image_edit')
    .ui.form
        if icon
            i.icon(class=icon)
        .ui.inline.header
            if title
                |#{title}
            else if label
                |#{label}
            else if key
                |#{key}
            else
                |#{this}            
        .field
            if field_value
                //- label Image
                a(href="{{c.url field_value }}" target='_window')
                    img.ui.centered.fluid.rounded.image(src="{{c.url field_value height=500 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                a#remove_photo.ui.right.corner.link.label
                    i.remove.link.icon
                // .ui.button.call_cloud_visual
                //     i.dna.icon
                //     |autotag
            else
                input(type='file' name='upload_image' accept='image/*' )
            

template(name='image_link_edit')
    .ui.fluid.input
        .ui.label image link
        i.image.icon
        input.image_link_val(type='link' value=field_value placeholder='image link'  autocomplete="off")
    if field_value
        img.ui.fluid.image(src=field_value)
    // +call_visual
template(name='image_link_view')
    img.ui.rounded.zoomer.image(src=field_value)



template(name='textarea_view')
    if field_value
        div
        //- if icon
        //-     i.icon(class=field_value)
            //- +i name=icon cl='ui inline image'
        .ui.inline.small.grey.header
            if title
                |#{title}
            else if label
                |#{label}
            //- else if key
            //-     |#{key}
            //- else
            //-     |#{this}     
        //- .spacer       
        .f11 {{nl2br field_value}}

template(name='raw_edit')
    .ui.large.form
        // .ui.small.inline.header raw
        .field
            label 
                if icon
                    // i.icon(class=field_value)
                    +icon name=icon cl='ui avatar image'
                if title
                    |#{title}
                else if label
                    |#{label}
                //- else if key
                //-     |#{key}
                //- else
                //-     |#{this}
            textarea.edit_textarea(rows='7') #{field_value}
            
            
template(name='raw_view')
    .ui.large.form
        .ui.small.inline.header raw
        .field
            label 
                if icon
                    // i.icon(class=field_value)
                    +icon name=icon cl='ui avatar image'
                if title
                    |#{title}
                else if label
                    |#{label}
                //- else if key
                //-     |#{key}
                //- else
                //-     |#{this}
            textarea.edit_textarea(rows='7') !{field_value}

        
template(name='textarea_edit')
    .ui.large.form
        .field
            label 
                if icon
                    // i.icon(class=field_value)
                    +icon name=icon cl='ui avatar image'
                if title
                    |#{title}
                else if label
                    |#{label}
                //- else if key
                //-     |#{key}
                //- else
                //-     |#{this}
            textarea.edit_textarea(rows='7') #{field_value}

        
template(name='text_edit')
    div
    if icon
        //- i.grey.icon(class=icon)
        +icon name=icon cl='ui avatar image'
    .ui.inline.small.header
        if title
            |#{title}
        else if label
            |#{label}
        else if key
            |#{key}
            //- +clear_value
    .ui.icon.large.fluid.input
        input.edit_text(type='text' value=field_value placeholder=placeholder autocomplete="off")
        







template(name='clear_value')
    if field_value
        i.remove.link.large.icon.clear_value

template(name='text_view')
    if field_value
        //- unless header
        //-     div
        //-     if icon
        //-         +icon name=icon                
        .ui.inline.grey.small.header
            if title
                |#{title}
            else if label
                |#{label}
            else if key
                |#{key}
            else
                |#{this}
        .ui.inline.header #{field_value}






template(name='date_edit')
    div
    if icon
        +icon name=icon cl='ui inline mini image'   
    //-     |&nbsp;
    .ui.inline.header
        if title
            |#{title}
        else if label
            |#{label}
            //- else if key
            //-     |#{key}
            //- else
            //-     |#{this}
            //- +clear_value                
    .ui.fluid.input
        input.edit_date(type='date' value=field_value placeholder=placeholder autocomplete="off")


template(name='date_view')
    if field_value
        div
        if icon
            +icon name=icon cl='ui avatar image'
        .ui.grey.inline.small.header
            if title
                |#{title}
            else if label
                |#{label}
            else if key
                |#{key}
            else
                |#{this}
        .ui.inline.header 
            |&nbsp; {{medium_date field_value}}



template(name='datetime_edit')
    .ui.form
        .field
            label 
                if icon
                    i.grey.icon(class=icon)
                    //- +i name=icon                
                if title
                    |#{title}
                else if label
                    |#{label}
                else
                    |#{key}
            //- +clear_value                
            input.edit_datetime(type='datetime-local' value=field_value placeholder=placeholder autocomplete="off")

template(name='datetime_view')
    div
    //- if icon
    //-     +i name=icon cl='ui mini inline image'
    if title
        |#{title}
    else if label
        |#{label}        
    else if key
        |#{key}
    else
        |#{this}
    strong &nbsp; #{field_value}

template(name='array_edit')
    .spacer
    if i
        i.grey.icon(class=i)
        // +icon name=icon cl='ui avatar image'
    // .ui.inline.small.grey.header
    //     |#{field_value.length}
    //     if title
    //         |#{title}
    //     else if label
    //         |#{label}
    //     else if key
    //         |#{key}
    .ui.icon.input
        i.icon(class=i)
        input.new_element(type='text' placeholder="#{field_value.length} #{label}" autocomplete="off")
        //- +clear_value                
    if field_value
        each field_value
            if in_dev
                .ui.large.circular.label.touch_element
                    i.delete.icon.remove_element
                    |#{this}
                // .ui.compact.circular.button.pick_tag
                //     |#{this}
            else
                .ui.compact.circular.button.pick_tag
                    |#{this}

// template(name='array_edit')
//     .spacer
//     if i
//         i.grey.icon(class=i)
//         // +icon name=icon cl='ui avatar image'
//     .ui.inline.header
//         if title
//             |#{title}
//         else if label
//             |#{label}
//         else if key
//             |#{key}
//     .ui.input
//         input.new_element(type='text' placeholder='+' autocomplete="off")
//         //- +clear_value                
//     if field_value
//         each field_value
//             if in_dev
//                 .ui.large.circular.label
//                     i.delete.icon.remove_element
//                     |#{this}
//                 .ui.compact.circular.button.pick_tag
//                     |#{this}
//             else
//                 .ui.compact.circular.button.pick_tag
//                     |#{this}
            
                
template(name='array_view')
    if field_value
        div
        if icon
            i.icon(class=icon)
        if label
            .ui.inline.small.grey.header.say_body(title=title)
                |#{label}
        else
            .ui.inline.small.grey.header(title=title)
                |#{key}
        each field_value
            .ui.label.say_body #{this}


template(name='boolean_edit')
    //- div
    .ui.button.toggle_boolean(class="#{boolean_toggle_class} #{classes}" title=tooltip)
        if field_value
            i.green.checkmark.icon
        else
            i.circle.outline.icon
        //- .ui.compact.button.toggle_boolean(class=boolean_toggle_class)
        if icon
            +icon name=icon cl='ui avatar image'
        .inline.f12
            //- if field_value
            //-     i.checkmark.icon
            if label
                |#{label}
            else if key
                |#{key}
            else
                |#{this}
        div
        //- 
        //- if field_value
        //-     if true_icon
        //-         i.large.green.icon(class=true_icon)
        //-     else
        //-         |yes
        //- else
        //-     if false_icon
        //-         i.large.icon(class=false_icon)
        //-     else
        //-         |no
template(name='boolean_view')
    div(title=title)
        .ui.inline.grey.small.header
            if icon
                //- i.grey.icon(class=icon)
                +icon name=icon cl='ui inline mini image'
            if title
                |#{title}
            else if label
                |#{label}
            else if key
                |#{key}
            else
                |#{this}
        if field_value
            i.large.green.checkmark.icon
        else
            i.cancel.grey.icon


template(name='number_edit')
    div
        //- i.grey.icon(class=icon)
    .ui.inline.small.header(title=tip)
        if icon
            i.icon(class=icon)
            // +icon name=icon cl='ui avatar image'
        if title
            |#{title}
        else if label
            |#{label}
        else
            |#{key}
    if tooltip
        .ui.tiny.grey.inline.header #{tooltip}
        div
    //- +clear_value  
    .ui.input            
        input.edit_number(type='number' min=min max=max class=cl value=field_value placeholder=placeholder autocomplete="off")
            
            
template(name='number_view')
    if field_value
        div
        if icon
            //- i.grey.icon(class=icon)
            +icon name=icon cl='ui inline mini image'
        .ui.inline.small.header
            if title
                |#{title}
            else if label
                |#{label}
            //- else if key
            //-     |#{key}
            //- else
            //-     |#{this}
        .ui.inline.header &nbsp;
            if unit
                span #{prefix}
            |#{field_value}

