template(name='group_card')
    a.ui.card(href="/group/#{_id}/view")
        img.ui.image(src="{{c.url image height=400 width=400 gravity='face' crop='fill'}}")
        .content
            .header #{title} $#{price}
            each tags
                .ui.small.label #{this}
            each ingredient_tags
                .ui.small.label #{this}
            |#{points}
                
            
template(name='group_home')
    if group_doc
        with group_doc
            .ui.header #{slug}
    else 
        .ui.header no #{current_slug} group found
        .ui.big.button.create_group
            |create #{current_slug}
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .sixteen.wide.center.aligned.column
                    .ui.center.aligned.inline.header
                        if image
                            img.ui.avatar.image(src="{{c.url image width=400 height=400 crop='fill'}}")
                        |#{title}
                    if can_edit
                        a.edit_group(href="/group/#{_id}/edit")
                            i.big.blue.pencil.circular.link.icon
                    .ui.inline.header(href='professor')
                        |#{professor}
                    .ui.inline.header(title='section')
                        |#{section}
                    // a.ui.header(href=link title='link')
                    //     i.link.icon
                    //     |link
                    if in_dev
                        +print_this
                    // +voting_full
                    // +array_view key='tags' label='tags' icon='tags' direct=true
                    // +comments
                    // .f11 #{description}
                    // +image_view key='image' label='image' direct=true
                    .ui.inline.header
                        |#{counter} posts
                    .ui.circular.basic.icon.button.add_post
                        i.plus.icon
                    if selected_group_tags
                        // if many_tags
                        //     a#clear_tags.ui.black.invert.icon.compact.button.select_term
                        //         i.remove.icon
                        each selected_group_tags
                            +group_unselect_tag
                    .ui.icon.input
                        i.search.icon
                        input.search_group_tag(type='text' value=group_query)
                    each group_result_tags
                        // .ui.label #{this}
                        +group_tag_selector
                    i.big.clock.icon
                    if selected_time_tags
                        each selected_time_tags
                            a.unselect_time_tag.ui.active.large.compact.button(href='#')
                                strong #{this}
                    each group_time_tags
                        .ui.basic.compact.small.button.zoomer.select_time_tag(title="#{count} results" class="#{selector_class} #{thinking_class}")
                            strong #{name}
                    i.big.marker.icon
                    if selected_location_tags
                        each selected_location_tags
                            a.unselect_location_tag.ui.active.large.compact.button(href='#')
                                strong #{this}
                    each group_location_tags
                        .ui.basic.compact.small.button.zoomer.select_location_tag(title="#{count} results" class="#{selector_class} #{thinking_class}")
                            strong #{name}
                    .ui.hidden.divider
                .sixteen.wide.column
                    .ui.stackable.three.column.dividing.grid
                        each group_posts
                            .column.zoomer
                                .content.medscroll
                                    a.header(href="/group/#{course_id}/post/#{_id}") #{title}
                                    if youtube_id
                                        +youtube_view key='youtube_id' label='youtube id' direct=true
        
                                    a(href="/group/#{course_id}/post/#{_id}")
                                        |!{content}
                                        if raw
                                            |!{raw}
                                    each tags
                                        +flat_group_tag_selector
                                        // .ui.small.basic.label #{this}
                                .ui.divider

template(name='group_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .five.wide.column
                    a.ui.green.circular.icon.button(href="/group/#{_id}" title='save')
                        i.checkmark.big.icon
                    .ui.inline.header 
                        i.pencil.icon
                        small edit group
                        |#{title}
                    i.link.big.remove.icon.delete_item(title='delete menu item')
                    +text_edit key='title' icon='header' direct=true
                    +text_edit key='professor' icon='user' direct=true
                    +text_edit key='section' icon='clone' direct=true
                    +link_edit key='link' icon='link' direct=true
                    // +image_edit key='image' label='image' direct=true
                    // +text_edit key='location' label='location' icon='marker' direct=true
                    // +icon_edit key='icon' label='icon' direct=true
                    div 
                .six.wide.column
                    +textarea_edit key='description' label='description' direct=true
                    +array_edit key='tags' label='tags' direct=true
                    +array_edit key='ingredient_tags' label='ingredients' direct=true
                .five.wide.column
                    +boolean_edit key='published' direct=true
                
                
                
template(name='group_tag_selector')
    // a.ui.big.image.basic.rounded.label.zoomer.pointer.select_tag.select_term(href='#' title="#{count} results" class="#{selector_class} #{thinking_class}")
    .ui.large.tertiary.button.zoomer.select_tag(title="#{count} results" class="#{selector_class} #{thinking_class}")
        if term
            if term.watson.metadata.image
                img.ui.mini.inline.image.superzoom(src=term.watson.metadata.image )    
        strong #{name}
        // if in_dev
        //     small #{count}
        
template(name='group_unselect_tag')
    a.unselect_group_tag.ui.large.active.compact.button(href='#')
        if term
            if term.watson.metadata.image
                img.ui.avatar.compact.image.superzoom(src=term.watson.metadata.image)    
        strong #{this}

        
        
template(name='flat_group_tag_selector')
    // a.ui.big.image.basic.rounded.label.zoomer.pointer.select_tag.select_term(href='#' title="#{count} results" class="#{selector_class} #{thinking_class}")
    .ui.basic.compact.tiny.button.zoomer.select_flat_tag(title="#{count} results" class="#{selector_class} #{thinking_class}")
        if term
            if term.watson.metadata.image
                img.ui.mini.rounded.inline.image.superzoom(src=term.watson.metadata.image )    
        | #{this}
        // if in_dev
        //     small #{count}

                