template(name='home')
    .ui.padded.grid
        .four.wide.column.scrolling             
            if location_results.count
                i.big.marker.icon
            each picked_locations
                a.unpick_location.ui.red.large.compact.basic.button(href='#')
                    strong #{this}
            each location_results
                if name
                    .ui.tiny.compact.basic.button.pick_location #{name}
            div
            i.big.user.icon
            each picked_authors
                a.unpick_author.ui.red.large.compact.basic.button(href='#')
                    strong #{this}
            each author_results
                if name
                    .ui.tiny.compact.basic.button.pick_author #{name}
            div
            i.clock.big.icon
            each picked_times
                a.unpick_time.ui.large.large.compact.basic.button(href='#')
                    strong #{this}
            each time_results
                .ui.tiny.compact.basic.button.pick_time #{name}
            .ui.inline.header 
                |#{post_counter}
            // i.large.clock.icon
            // i.large.thumbs.up.icon
            if picked_tags
                // if many_tags
                //     a#clear_tags.ui.red.invert.icon.compact.basic.button.pick_term
                //         i.remove.icon
                each picked_tags
                    +unpick_tag
            // .ui.icon.input
            //     i.search.icon
            //     input.search_group_tag(type='text' value=group_query)
            each result_tags
                // .ui.label #{this}
                +tag_picker
        .eight.wide.column
            .ui.stackable.three.centered.cards.scrolling
                each posts
                    .card
                        if image_link
                            a(href="/p/#{_id}/view")
                                img.ui.zoomer.image(src=image_link)
                        if image_id
                            a(href="/p/#{_id}/view")
                                img.ui.image(src="{{c.url image_id }}" class=currentUser.invert_class)
                        if youtube_id
                            +youtube_view key='youtube_id' label='youtube id' direct=true

                        .content 
                            div
                            i.thumbs.up.link.outline.icon.upvote
                            |#{points}
                            i.thumbs.down.link.outline.icon.downvote
                            |#{made_when}
                            +voting_full
                            // .ui.tiny.icon.input
                            //     i.grey.tag.icon
                            //     input.add_tag(type='text' placeholder='+')
                            // each tags
                            //     +flat_tag_picker
                                // .ui.small.compact.basic.button.pick_flat_tag #{this}
                            // each timestamp_tags
                            //     .ui.small.compact.basic.button.pick_flat_time #{this}
                            if location
                                i.grey.marker.icon
                                |#{location}
                            if author
                                i.grey.user.outline.icon
                                |#{author}
                            a.ui.icon.large.basic.button(href="/p/#{_id}/view")
                                |#{views}
                                i.chevron.right.large.icon
        .four.wide.left.aligned.column.scrollng.seg
            // +alpha
            .ui.fluid.basic.button.add_post
                i.plus.green.icon
                |add
            each group_picked_locations
                a.unpick_location_tag.ui.black.large.compact.button(href='#')
                    | #{this}
            if location_tags
                i.big.marker.grey.icon
                each location_tags
                    .ui.compact.small.basic.button.zoomer.pick_location_tag(title="#{count} results" class="#{picker_class} #{thinking_class}")
                        | #{name}
            if Locations
                div
                .ui.small.grey.inline.header
                    i.marker.grey.icon
                    |locations
                each locations
                    +group_tag_picker
                    // .ui.link.label.pick_Location #{name}
            if HealthConditions
                div
                .ui.small.grey.inline.header
                    i.doctor.icon
                    |health conditions
                each HealthConditions
                    +group_tag_picker
                    // .ui.link.label.pick_healthcondition #{name}
            if Persons
                .spacer
                .ui.small.grey.inline.header
                    i.user.icon
                    |people
                each Persons
                    +group_tag_picker
                    // .ui.label.pick_person #{name}
            if Organizations
                .spacer
                .ui.small.grey.inline.header
                    i.building.icon
                    |organizations
                each Organizations
                    +group_tag_picker
                    // .ui.label.pick_organization #{name}
            if Companies
                .ui.small.grey.inline.header
                    i.building.icon
                    |companies
                each companies
                    .ui.label.pick_company #{name}                        
                                
                                
                                
template(name='tag_picker')
    // a.ui.big.image.rounded.label.zoomer.pointer.pick_tag.pick_term(href='#' title="#{count} results" class="#{picker_class} #{thinking_class}")
    .ui.compact.tertiary.basic.button.zoomer.pick_tag(title="#{count} results" class="#{picker_class} #{thinking_class}")
        if term
            if term.watson.metadata.image
                img.ui.avatar.image.superzoom(src=term.watson.metadata.image )    
        strong #{name}
        // if in_dev
        //     small #{count}
        
template(name='unpick_tag')
    a.unpick_tag.ui.large.red.compact.basic.button(href='#')
        if term
            if term.watson.metadata.image
                img.ui.avatar.compact.image.superzoom(src=term.watson.metadata.image)    
        strong #{this}

        
        
template(name='flat_tag_picker')
    // a.ui.big.image.rounded.label.zoomer.pointer.pick_tag.pick_term(href='#' title="#{count} results" class="#{picker_class} #{thinking_class}")
    .ui.compact.tiny.basic.button.zoomer.pick_flat_tag(title="#{count} results" class="#{picker_class} #{thinking_class}")
        // if term
        //     if term.watson.metadata.image
        //         img.ui.mini.rounded.inline.image.superzoom(src=term.watson.metadata.image )    
        | #{this}
        // if in_dev
        //     small #{count}
