template(name='home')
    .ui.stackable.padded.grid
        .twelve.wide.column.scrolling
            if picked_tags
                // if skv_is 'nightmode' true
                //     i.moon.circular.link.icon.toggle_nightmode
                // else
                //     i.lightbulb.circular.link.icon.toggle_nightmode
                .ui.icon.large.input
                    if is_loading
                        i.yin.yang.loading.large.icon
                    else
                        i.search.icon
                    input.search_tag(type='text' value=query autofocus='' placeholder="#{post_counter} results")
                    // .ui.label #{this}
            if picked_tags
                // if many_tags
                //     a#clear_tags.ui.red.invert.icon.button.pick_term
                //         i.remove.icon
                each picked_tags
                    +unpick_tag
                each result_tags
                    // .ui.label #{this}
                    +tag_picker
            else
                .ui.center.aligned.basic.segment
                    .ui.icon.massive.input
                        i.search.large.icon
                        input.search_tag(type='text' placeholder='search' autofocus='')
                        // .ui.label #{this}
                    +search_shortcut tag='math' icon='calculator'
                    +search_shortcut tag='camping' icon='campground'
                    +search_shortcut tag='business' icon='briefcase'
                    +search_shortcut tag='environment' icon='leaf'
                    +search_shortcut tag='money' icon='coins'
                    +search_shortcut tag='cat' icon='cat'
                    +search_shortcut tag='science' icon='flask'
                    +search_shortcut tag='video' icon='video'
                    +search_shortcut tag='gaming' icon='gamepad'
                    +search_shortcut tag='pics' icon='images'
                    +search_shortcut tag='medicine' icon='pills'
                    +search_shortcut tag='chess' icon='chess'
                    +search_shortcut tag='food' icon='food'
                    +search_shortcut tag='beer' icon='beer'
                    +search_shortcut tag='hotel' icon='bed'
                    +search_shortcut tag='winter' icon='snowflake'
                    +search_shortcut tag='photography' icon='camera'
                    +search_shortcut tag='dog' icon='dog'
                    +search_shortcut tag='covid' icon='radiation'
                    +search_shortcut tag='cheese' icon='cheese'
                    +search_shortcut tag='solar' icon='sun'
                    +search_shortcut tag='women' icon='venus'
                    +search_shortcut tag='men' icon='mars'
                    +search_shortcut tag='dungeons & dragons' icon='dice d20'
                    +search_shortcut tag='physics' icon='atom'
                    +search_shortcut tag='law' icon='balance scale'
                    +search_shortcut tag='books' icon='book'
                    +search_shortcut tag='biking' icon='biking'
                    +search_shortcut tag='news' icon='newspaper'
                    +search_shortcut tag='music' icon='music'
                    +search_shortcut tag='skiing' icon='skiing'
                    +search_shortcut tag='pizza' icon='pizza slice'
                    +search_shortcut tag='fish' icon='fish'
                    +search_shortcut tag='gardening' icon='seedling'
                    +search_shortcut tag='bible' icon='bible'
                    +search_shortcut tag='daoism' icon='yin yang'
                    +search_shortcut tag='car' icon='car'
                    +search_shortcut tag='tarot' icon='moon'
            .scrolling
                if skv_is 'view_layout' 'grid'
                    // if one_post
                    //     .ui.stackable.one.column.grid
                    //         each posts
                    //             +post_card
                            
                    // // else if two_posts
                    // //     .ui.stackable.two.centered.column.grid
                    // //         each posts
                    // //             +post_card
                    // else
                        // else if three_posts
                    .ui.stackable.two.column.grid.scrolling
                        each posts
                            +post_card
            
        .four.wide.column
            if skv_is 'view_sidebar' false
                .ui.icon.button.enable_sidebar
                    i.ellipsis.vertical.icon
            else
                .ui.icon.active.button.disable_sidebar
                    i.ellipsis.vertical.icon
            // div
            if skv_is 'sort_direction' 1
                .ui.icon.button.sort_down
                    i.caret.down.icon
            else
                .ui.icon.button.sort_up
                    i.caret.up.icon
            .ui.large.icon.button.sort_created(class=sort_created_class)
                i.clock.icon
            .ui.large.icon.button.sort_points(class=sort_points_class)
                i.thumbs.up.icon
            if skv_is 'view_layout' 'grid'
                .ui.large.icon.black.button.set_grid(class=grid_class) 
                    i.th.icon
            else
                .ui.large.icon.button.set_grid(class=grid_class) 
                    i.th.icon
            if skv_is 'view_layout' 'list'
                .ui.black.icon.large.button.set_list(class=list_class)
                    i.list.icon
            else
                .ui.large.icon.button.set_list(class=list_class)
                    i.list.icon
            // if skv_is 'view_detail' true
            //     .ui.black.large.icon.button.toggle_detail
            //         i.list.icon
            // else
            //     .ui.large.icon.button.toggle_detail
            //         i.minus.icon
            //     // i.line.chart.icon
            .ui.icon.button.skip_left
                i.chevron.left.icon
            .ui.icon.button.skip_right
                i.chevron.right.icon
            .ui.icon.button.view_videos(class=video_class)
                i.film.icon
            .ui.icon.button.view_images(class=image_class)
                i.picture.icon
            .ui.icon.button.view_adult(class=adult_class)
                i.fire.icon
            .ui.icon.compact.button.view_joy(class=joy_class)
                i.smile.green.large.outline.icon
            .ui.icon.compact.button.view_anger(class=anger_class)
                i.frown.red.large.outline.icon
            .ui.icon.compact.button.view_fear(class=fear_class)
                i.black.frown.large.outline.icon
            .ui.icon.compact.button.view_disgust(class=disgust_class)
                i.orange.frown.large.outline.icon
            .ui.icon.compact.button.view_sadness(class=sadness_class)
                i.blue.frown.large.outline.icon
            .ui.icon.compact.button.limit_1(class=sadness_class)
                |1
            .ui.icon.compact.button.limit_5(class=sadness_class)
                |5
            .ui.icon.compact.button.limit_10(class=sadness_class)
                |10
            .ui.icon.compact.button.limit_20(class=sadness_class)
                |20
            .ui.icon.button.view_commented
                i.chat.icon            
                .ui.hidden.divider
            if location_results.count
                i.big.marker.icon
            each picked_locations
                a.unpick_location.ui.large.button(href='#')
                    strong #{this}
            each location_results
                if name
                    .ui.tiny.button.pick_location #{name}
            div
            i.big.user.icon
            each picked_authors
                a.unpick_author.ui.large.button(href='#')
                    strong #{this}
            each author_results
                if name
                    .ui.tiny.button.pick_author #{name}
            div
            i.clock.big.icon
            each picked_times
                a.unpick_time.ui.large.large.button(href='#')
                    strong #{this}
            each time_results
                .ui.tiny.button.pick_time #{name}
            // +alpha
            each picked_locations
                a.unpick_location_tag.ui.black.large.button(href='#')
                    | #{this}
            if location_tags
                i.big.marker.grey.icon
                each location_tags
                    .ui.small.button.zoomer.pick_location_tag(title="#{count} results" class="#{picker_class} #{thinking_class}")
                        | #{name}