template(name='love')
    .ui.padded.grid
        .sixteen.wide.center.aligned.column
            // .ui.header 
            //     i.heart.icon
            //     |love
            .ui.labeled.large.input
                .ui.big.label l
                input.add_l(type='text' placeholder='...')
            .ui.labeled.large.input
                .ui.big.label o
                input.add_o(type='text' placeholder='...')
            .ui.labeled.large.input
                .ui.big.label v
                input.add_v(type='text' placeholder='...')
            .ui.labeled.large.input
                .ui.big.label e
                input.add_e(type='text' placeholder='...')
            .ui.labeled.input
                .ui.large.label 
                    i.marker.grey.icon
                    |location
                input.add_location(type='text' placeholder='...')
            .ui.labeled.input
                .ui.large.label 
                    i.outline.user.grey.icon
                    |author
                input.add_author(type='text' placeholder='...')
            
            if can_submit
                .ui.button.submit
                    |submit
            else
                .ui.button.submit
                    i.send.icon
                    |submit
        .sixteen.wide.center.aligned.column
            .ui.inline.header 
                |#{expressions.count}
            // i.large.clock.icon
            // i.large.thumbs.up.icon
            if picked_tags
                // if many_tags
                //     a#clear_tags.ui.black.invert.icon.compact.button.pick_term
                //         i.remove.icon
                each picked_tags
                    +love_unpick_tag
            // .ui.icon.input
            //     i.search.icon
            //     input.search_group_tag(type='text' value=group_query)
            each result_tags
                // .ui.label #{this}
                +love_tag_picker
            .ui.stackable.four.column.centered.grid
                .center.aligned.column
                    if l_results.count
                        .ui.inline.big.header l
                    each picked_l
                        a.unpick_l.ui.black.large.compact.button(href='#')
                            strong #{this}
                    each l_results
                        if name
                            .ui.tiny.compact.button.pick_l #{name}
                .center.aligned.column
                    if o_results.count
                        .ui.inline.big.header o
                    each picked_o
                        a.unpick_o.ui.black.large.compact.button(href='#')
                            strong #{this}
                    each o_results
                        if name
                            .ui.tiny.compact.button.pick_o #{name}
                .center.aligned.column
                    if v_results.count
                        .ui.inline.big.header v
                    each picked_v
                        a.unpick_v.ui.black.large.compact.button(href='#')
                            strong #{this}
                    each v_results
                        if name
                            .ui.tiny.compact.button.pick_v #{name}
                .center.aligned.column
                    if e_results.count
                        .ui.inline.big.header e
                    each picked_e
                        a.unpick_e.ui.black.large.compact.button(href='#')
                            strong #{this}
                    each e_results
                        if name
                            .ui.tiny.compact.button.pick_e #{name}
                .center.aligned.column
                    if location_results.count
                        i.big.marker.icon
                    each picked_locations
                        a.unpick_location.ui.black.large.compact.button(href='#')
                            strong #{this}
                    each location_results
                        if name
                            .ui.tiny.compact.button.pick_location #{name}
                .center.aligned.column
                    if author_results.count
                        i.big.user.icon
                    each picked_authors
                        a.unpick_author.ui.black.large.compact.button(href='#')
                            strong #{this}
                    each author_results
                        if name
                            .ui.tiny.compact.button.pick_author #{name}
                .center.aligned.column
                    if time_results.count
                        i.clock.big.icon
                    each picked_times
                        a.unpick_time.ui.large.large.compact.button(href='#')
                            strong #{this}
                    each time_results
                        .ui.tiny.compact.button.pick_time #{name}
            .ui.divider
            .ui.stackable.four.column.centered.grid.scrolling
                each expressions
                    .center.aligned.column
                        .content 
                            .ui.tertiary.large.button.pick_l #{l_value}
                            .ui.tertiary.large.button.pick_o #{o_value}
                            .ui.tertiary.large.button.pick_v #{v_value}
                            .ui.tertiary.large.button.pick_e #{e_value}
                            div
                            i.thumbs.up.link.outline.icon.upvote
                            |#{points}
                            i.thumbs.down.link.outline.icon.downvote
                            |#{when}
                            // .ui.tiny.icon.input
                            //     i.grey.tag.icon
                            //     input.add_tag(type='text' placeholder='+')
                            // each tags
                            //     +flat_love_tag_picker
                                // .ui.small.compact.button.pick_flat_tag #{this}
                            // each timestamp_tags
                            //     .ui.small.compact.button.pick_flat_time #{this}
                            if location
                                i.grey.marker.icon
                                |#{location}
                            if author
                                i.grey.user.outline.icon
                                |#{author}
                            a.ui.icon.compact.button(href="/love/#{_id}/view")
                                i.chevron.right.icon
                                
                                
                                
                                
template(name='love_tag_picker')
    // a.ui.big.image.rounded.label.zoomer.pointer.pick_tag.pick_term(href='#' title="#{count} results" class="#{picker_class} #{thinking_class}")
    .ui.compact.tertiary.button.zoomer.pick_tag(title="#{count} results" class="#{picker_class} #{thinking_class}")
        if term
            if term.watson.metadata.image
                img.ui.avatar.image.superzoom(src=term.watson.metadata.image )    
        strong #{name}
        // if in_dev
        //     small #{count}
        
template(name='love_unpick_tag')
    a.love_unpick_tag.ui.large.black.compact.button(href='#')
        if term
            if term.watson.metadata.image
                img.ui.avatar.compact.image.superzoom(src=term.watson.metadata.image)    
        strong #{this}

        
        
template(name='flat_love_tag_picker')
    // a.ui.big.image.rounded.label.zoomer.pointer.pick_tag.pick_term(href='#' title="#{count} results" class="#{picker_class} #{thinking_class}")
    .ui.compact.tiny.button.zoomer.pick_flat_tag(title="#{count} results" class="#{picker_class} #{thinking_class}")
        // if term
        //     if term.watson.metadata.image
        //         img.ui.mini.rounded.inline.image.superzoom(src=term.watson.metadata.image )    
        | #{this}
        // if in_dev
        //     small #{count}


template(name='love_view')
    with doc_by_id
        .ui.stackable.grid
            .row 
                .four.wide.column
                    .ui.segmen
                        a.ui.large.icon.button(href="/")
                            i.chevron.left.icon
                        .ui.large.inline.header
                            each tags
                                .ui.label #{this}
                        .ui.header #{l_value}
                        .ui.header #{o_value}
                        .ui.header #{v_value}
                        .ui.header #{e_value}
                        // div
                        // .ui.inline.grey.header {{from_now start_datetime}}
                        
                        if can_edit
                            a.edit_group_post(href="/#{group}/p/#{_id}/edit" title='edit')
                                i.large.link.pencil.icon
                        | #{views} views
                        +array_edit key='tags' label='tags' direct=true
                        // +voting_full
                        +link_view key='link' label='link' direct=true
    
                        +array_edit key='time_tags' label='time tags' icon='clock' direct=true
                        +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                .twelve.wide.column.scrolling
                    if image_link
                        a(href="/#{group}")
                            +image_link_view key='image_link' direct=true
                    if image_id
                        a(href="/#{group}")
                            img.ui.fluid.rounded.image(src="{{c.url image_id }}" class=currentUser.invert_class)
                    if youtube_id
                        +youtube_view key='youtube_id' label='youtube id' direct=true
                    if raw 
                        |!{raw}
                    .say_this.say_body
                        |!{content}
                    div 
                    .spacer
                    .spacer
                    +comments
                    if watson
                        +watson_view