template(name='love')
    .ui.padded.grid
        .sixteen.wide.center.aligned.column
            // .ui.header 
            //     i.heart.icon
            //     |love
            .ui.labeled.large.input
                .ui.big.basic.label l
                input.add_l(type='text' placeholder='...')
            .ui.labeled.large.input
                .ui.big.basic.label o
                input.add_o(type='text' placeholder='...')
            .ui.labeled.large.input
                .ui.big.basic.label v
                input.add_v(type='text' placeholder='...')
            .ui.labeled.large.input
                .ui.big.basic.label e
                input.add_e(type='text' placeholder='...')
            .ui.labeled.input
                .ui.large.basic.label 
                    i.marker.grey.icon
                    |location
                input.add_location(type='text' placeholder='...')
            .ui.labeled.input
                .ui.large.basic.label 
                    i.outline.user.grey.icon
                    |author
                input.add_author(type='text' placeholder='...')
            
            if can_submit
                .ui.button.submit
                    |submit
            else
                .ui.basic.button.submit
                    i.send.icon
                    |submit
        .sixteen.wide.center.aligned.column
            .ui.inline.header 
                |#{expressions.count}
            // i.large.clock.icon
            // i.large.thumbs.up.icon
            if picked_tags
                // if many_tags
                //     a#clear_tags.ui.white.inverted.invert.icon.compact.button.pick_term
                //         i.remove.icon
                each picked_tags
                    +unpick_tag
            // .ui.icon.input
            //     i.search.icon
            //     input.search_group_tag(type='text' value=group_query)
            each result_tags
                // .ui.label #{this}
                +tag_picker
            .ui.stackable.four.column.centered.grid
                .center.aligned.column
                    if l_results.count
                        .ui.inline.big.header l
                    each picked_l
                        a.unpick_l.ui.white.inverted.circular.large.compact.button(href='#')
                            strong #{this}
                    each l_results
                        if name
                            .ui.basic.circular.tiny.compact.button.pick_l #{name}
                .center.aligned.column
                    if o_results.count
                        .ui.inline.big.header o
                    each picked_o
                        a.unpick_o.ui.white.inverted.circular.large.compact.button(href='#')
                            strong #{this}
                    each o_results
                        if name
                            .ui.basic.circular.tiny.compact.button.pick_o #{name}
                .center.aligned.column
                    if v_results.count
                        .ui.inline.big.header v
                    each picked_v
                        a.unpick_v.ui.white.inverted.circular.large.compact.button(href='#')
                            strong #{this}
                    each v_results
                        if name
                            .ui.basic.circular.tiny.compact.button.pick_v #{name}
                .center.aligned.column
                    if e_results.count
                        .ui.inline.big.header e
                    each picked_e
                        a.unpick_e.ui.white.inverted.circular.large.compact.button(href='#')
                            strong #{this}
                    each e_results
                        if name
                            .ui.basic.circular.tiny.compact.button.pick_e #{name}
                .center.aligned.column
                    if location_results.count
                        i.big.marker.icon
                    each picked_locations
                        a.unpick_location.ui.white.inverted.circular.large.compact.button(href='#')
                            strong #{this}
                    each location_results
                        if name
                            .ui.basic.circular.tiny.compact.button.pick_location #{name}
                .center.aligned.column
                    if author_results.count
                        i.big.user.icon
                    each picked_authors
                        a.unpick_author.ui.white.inverted.circular.large.compact.button(href='#')
                            strong #{this}
                    each author_results
                        if name
                            .ui.basic.circular.tiny.compact.button.pick_author #{name}
                .center.aligned.column
                    if time_results.count
                        i.clock.big.icon
                    each picked_times
                        a.unpick_time.ui.large.white.circular.large.compact.button(href='#')
                            strong #{this}
                    each time_results
                        .ui.basic.circular.tiny.compact.button.pick_time #{name}
            .ui.divider
            .ui.stackable.four.column.centered.grid.scrolling
                each expressions
                    .center.aligned.column
                        .content 
                            .ui.tertiary.large.button #{l_value}
                            .ui.tertiary.large.button #{o_value}
                            .ui.tertiary.large.button #{v_value}
                            .ui.tertiary.large.button #{e_value}
                            div
                            i.thumbs.up.link.outline.icon.upvote
                            |#{points}
                            i.thumbs.down.link.outline.icon.downvote
                            |#{when}
                            .ui.tiny.icon.input
                                i.grey.tag.icon
                                input.add_tag(type='text' placeholder='+')
                            each tags
                                +flat_tag_picker
                                // .ui.small.basic.circular.compact.button.pick_flat_tag #{this}
                            each timestamp_tags
                                .ui.small.basic.circular.compact.button.pick_flat_time #{this}
                            |#{location}
                            |#{author}
                                
                                
                                
                                
template(name='tag_picker')
    // a.ui.big.image.rounded.label.zoomer.pointer.pick_tag.pick_term(href='#' title="#{count} results" class="#{picker_class} #{thinking_class}")
    .ui.compact.basic.circular.tertiary.button.zoomer.pick_tag(title="#{count} results" class="#{picker_class} #{thinking_class}")
        if term
            if term.watson.metadata.image
                img.ui.avatar.image.superzoom(src=term.watson.metadata.image )    
        strong #{name}
        // if in_dev
        //     small #{count}
        
template(name='unpick_tag')
    a.unpick_tag.ui.large.white.inverted.circular.compact.button(href='#')
        if term
            if term.watson.metadata.image
                img.ui.avatar.compact.image.superzoom(src=term.watson.metadata.image)    
        strong #{this}

        
        
template(name='flat_tag_picker')
    // a.ui.big.image.rounded.label.zoomer.pointer.pick_tag.pick_term(href='#' title="#{count} results" class="#{picker_class} #{thinking_class}")
    .ui.compact.tiny.basic.circular.button.zoomer.pick_flat_tag(title="#{count} results" class="#{picker_class} #{thinking_class}")
        // if term
        //     if term.watson.metadata.image
        //         img.ui.mini.rounded.inline.image.superzoom(src=term.watson.metadata.image )    
        | #{this}
        // if in_dev
        //     small #{count}
