template(name='love')
    .ui.padded.grid
        .sixteen.wide.center.aligned.column
            .ui.header 
                i.heart.icon
                |love
            .ui.input
                input.add_l(type='text' placeholder='fill in L')
            .ui.input
                input.add_o(type='text' placeholder='fill in O')
            .ui.input
                input.add_v(type='text' placeholder='fill in V')
            .ui.input
                input.add_e(type='text' placeholder='fill in E')
            if can_submit
                .ui.button.submit
                    |submit
            else
                .ui.green.basic.button.submit
                    i.send.icon
                    |submit
        .sixteen.wide.center.aligned.column
            .ui.small.header 
                |#{expressions.count}
                |expressions
            .ui.large.list
                each expressions
                    .item
                        .content 
                            .header #{l_value} #{o_value} #{v_value} #{e_value}
                            i.thumbs.up.circular.link.outline.icon
                            i.thumbs.down.circular.link.outline.icon
                            |#{points}
                            each tags
                                .ui.small.basic.circular.label #{this}