template(name='nav')
    .ui.fluid.attached.borderless.three.item.menu.hscroll
        // a.icon.item.toggle_sidebar
        //     i.bars.icon
        // a.icon.item.set_tarot(href="/s/tarot" class="{{isActiveRoute '/s/tarot'}}")
        //     i.moon.icon
            // |tarot
        a.icon.item(href="/" class="{{isActiveRoute '/'}}")
            i.yin.yang.big.icon
            // i.heart.icon
            // |home
        a.icon.item(href="/love" class="{{isActiveRoute '/love'}}")
            i.heart.outline.big.icon
        if currentUser
            // if unread_count
            //     a.item.alerts.select_term(href="#" class=alert_toggle_class)
            //         i.bell.icon
            //         if unread_count
            //             |#{unread_count}
            // else
            //     a.icon.item(href="/inbox" class="{{isActiveRoute 'inbox'}}")
            //         i.outline.bell.icon
            // a.icon.item(href="/chat" title='chat') 
            //     i.chat.outline.icon
            // a.icon.item(href="/u/#{currentUser.username}/messages" class="{{isActivePath 'user_messages'}}" title="#{user.username} messages")
            //     i.chat.icon
            if is_dev 
                .icon.item
                    i.code.icon
            // a.item.toggle_rightbar(class="{{isActiveRoute 'user_dashboard'}}")
            a.item(href="/u/#{currentUser.username}" class="{{isActiveRoute 'user_dashboard'}}")
                //- i.user.icon
                if currentUser.profile_image_id
                    if is_admin
                        i.shield.icon(title='admin mode on')
                    else
                        img.ui.avatar.compact.image(src="{{c.url currentUser.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                else 
                    i.user.icon
                strong.mobile.hidden #{currentUser.name}
                |#{currentUser.points}p
        else
            // a.item(href="/register" title='register')
            //     i.plus.icon
            //     |register
            //     // +icon name='plus'
            //     // i.chevron.right.icon
            a.icon.item(href="/login" title='login')
                // |login
                // +icon name='login-rounded-right'
                i.chevron.right.large.icon



            

template(name='not_found')
    .ui.center.aligned.segment
        a(href="/discrete")
            i.massive.yin.yang.link.icon
