template(name='one')
    .ui.big.compact.circular.tertiary.button.debit
        i.gift.red.icon
        |send points
    .ui.big.compact.circular.tertiary.button.request
        i.concierge.bell.teal.icon
        |+ request
    .ui.big.compact.circular.tertiary.button.offer
        i.hand.holding.heart.olive.icon
        |+ offer
    .ui.big.compact.circular.tertiary.button.add_message
        i.chat.blue.icon
        |+ message
    .ui.big.compact.circular.tertiary.button.add_event
        i.calendar.purple.icon
        |+ event
    .ui.big.compact.circular.tertiary.button.add_expense
        i.dollar.purple.icon
        |+ expense
    .ui.big.compact.circular.tertiary.button.add_bug
        i.bug.red.icon
        |+ bug
    a.ui.big.circular.tertiary.button(href='/register')
        i.user.plus.green.icon
        |member

    .ui.stackable.grid
        .row 
            // if is_admin
            //     .ui.big.tertiary.button.check_notifications
            //         |check
            //     .ui.big.tertiary.button.send_notification
            //         |send
            if template_subs_ready
                +finance_bar
                    
        .centered.row
            .sixteen.wide.center.aligned.column
                each members 
                    if profile_image_id
                        a(href="/u/#{username}" title="{{name}} {{points}}")
                            img.ui.tiny.pointer.inline.circular.spaced_image.zoom.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=user_class)
                        // if avatar_image_id
                        // .ui.move.reveal.tiny.circular.spaced_image.image
                        //     .visible.content
                        //         img(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}") 
                        //     .hidden.content
                        //         img(src="{{c.url avatar_image_id height=500 width=500 gravity='face' crop='fill'}}") 
                        // else
        // .centered.row
            // .sixteen.wide.center.aligned.column
    
        // .centered.row
        //     .four.wide.column
                // if can_debit
            // .four.wide.column
            //     // if can_debit
            //     .ui.fluid.teal.tertiary.button.request
            //         // i.hand.holding.heart.icon
            //         +icolor name='compass' cl='ui mini inline image'
            //         |add explorer
                // else
                //     .ui.fluid.teal.disabled.tertiary.button
                //         // i.hand.holding.heart.icon
                //         +icolor name='request-service' cl='ui mini inline image'
                //         |request
            // .two.wide.column
            //     // .ui.center.aligned.grey.header.refresh_stats
            //     //     i.line.chart.icon
            //     //     |stats
            //     with stats_doc
            //         .ui.list
            //             .item #{total_points} system points
                        
        .row
            // .four.wide.column
            //     .ui.center.aligned.header
            //         // i.shop.icon
            //         +icolor name='shop' cl='ui image'
            //         |featured products
            //     // if is_admin 
            //     //     i.plus.icon.add_shift
            //     .medscroll
            //         each featured_products
            //             a.ui.fluid.card(href="/product/#{_id}/view")
            //                 .image
            //                     img.ui.image(src="{{c.url image_id height=200 width=500 crop='fill'}}")
            //                 .content
            //                     .header
            //                         |#{title}
            //                     .description
            //                         // if _author.profile_image_id
            //                         //     img.ui.avatar.image(src="{{c.url _author.profile_image_id height=500 width=500 gravity='face' crop='fill'}}" class=user_class)
            //                         // | #{_author_username}
            //                         // div
            //                         .ui.inline.header $#{usd_price}
            //                         .ui.inline.header #{point_price}
            //                     // .meta #{when}
            //                     // .description 
            //                     //     |#{description}
            //                     // each tags 
            //                     //     .ui.tiny.label #{this}
            // .four.wide.column
            //     .ui.center.aligned.header
            //         // i.clock.icon
            //         +icolor name='clock' cl='ui image'
            //         |next shifts
            //     // if is_admin 
            //     //     i.plus.icon.add_shift
            //     .medscroll
            //         each next_shifts
                            +one_shift_card
            .four.wide.column
                // .ui.center.aligned.header
                a.ui.center.aligned.header(href="/m/debit")
                    i.gift.red.icon
                    |gifts
                .medscroll
                    each latest_debits
                        +debit_card
            .four.wide.column
                // .ui.center.aligned.header
                a.ui.center.aligned.header(href="/events")
                    i.calendar.orange.icon
                    |events
                // if is_admin 
                //     i.plus.icon.add_event
                    
                .medscroll
                    each next_events
                        +one_event_card
            .four.wide.column
                // .ui.center.aligned.header
                a.ui.center.aligned.header(href="/m/request")
                    i.concierge.bell.teal.icon
                    |requests
                .medscroll
                    each latest_requests
                        +one_request_card
                                            
            .four.wide.column
                a.ui.center.aligned.header(href="/m/offer")
                    i.hand.holding.heart.icon
                    |offers
                .ui.large.link.selection.list.medscroll
                    each latest_offers
                        +one_offer_card
            .four.wide.column
                a.ui.center.aligned.header(href="/m/post")
                    i.newspaper.icon
                    |news
                .ui.large.link.selection.list.medscroll
                    each latest_posts
                        a.item(href="/m/post/#{_id}/view")
                            .header #{title}
                
                // .medscroll
                    // each latest_debits
                    //     a.ui.card(href="/debit/#{_id}/view")
                    //         .content
                    //             .description 
                    //                 if _author.profile_image_id
                    //                     img.ui.avatar.image(src="{{c.url _author.profile_image_id height=500 width=500 gravity='face' crop='fill'}}" class=user_class)
                    //                 | #{_author_username}
                    //                 .ui.inline.header >
                    //                 if recipient.profile_image_id
                    //                     img.ui.avatar.image(src="{{c.url recipient.profile_image_id height=500 width=500 gravity='face' crop='fill'}}" class=user_class)
                    //                 |#{recipient.username}
                    //                 .ui.inline.header #{amount}p
                    //             .meta #{when}
                    //             .description 
                    //                 |#{description}
                    //             each tags 
                    //                 .ui.tiny.label #{this}
                    
                    
                    
template(name='finance_bar')
    .sixteen.wide.column.toggle_finance_details
        .ui.green.small.progress.bar.pointer
            .bar
                .progress
            .label
                |monthly budget progress / 20k
        if viewing_finance_details
            .ui.stackable.grid
                .two.column.row
                    .column
                        .ui.header #{finance_stat.membership_count} memberships totaling $#{finance_stat.total_membership_sum}
                        // .ui.header income from events
                    .column
                        // .ui.header most generative event
                        // .ui.header most generative member
                            
                                    
template(name='one_request_card')
    .ui.segment.view_request.pointer
        .content
            if youtube_id
                +youtube_view key='youtube_id' direct=true
            else if image_id
                img.ui.raw.image(src="{{c.url image_id width=400 height=300 crop='fill'}}")    

            .header
                .ui.inline.header #{point_bounty}p: #{title}
                if _author.profile_image_id
                    with _author
                        img.ui.avatar.image(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}" class=user_class title=shortname)
                | #{_author.name}
            |!{description}
            .meta #{when}
            // each tags 
            //     .ui.tiny.label #{this}
            if doc_comments.count
                .meta
                    each doc_comments 
                        i.grey.chat.outline.icon
                        img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=user_class)
                        |#{body}
                        div


                                    
template(name='one_offer_card')
    .ui.segment.view_offer.pointer
        .content
            if youtube_id
                +youtube_view key='youtube_id' direct=true
            else if image_id
                img.ui.raw.image(src="{{c.url image_id width=400 height=300 crop='fill'}}")    
            .header
                .ui.inline.header #{title}
                if _author.profile_image_id
                    with _author
                        img.ui.avatar.image(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}" class=user_class title=shortname)
                | #{_author.name}
            // |!{description}
            .meta #{when}
            if point_price
                |#{point_price}p
            if dollar_price
                |$#{dollar_price}
            // each tags 
            //     .ui.tiny.label #{this}
            +comments_view_small
            
            
template(name='comments_view_small')            
    if doc_comments.count
        .meta
            each doc_comments 
                i.grey.chat.outline.icon
                img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=user_class)
                |#{body}
                div


                                    
                                    
template(name='one_event_card')
    a.ui.fluid.card(href="/event/#{_id}/view")
        img.ui.image(src="{{c.url image_id height=200 width=500 crop='fill'}}")
        .content
            .header
                | #{title} 
            .meta    
                |{{medium_date date}}
                |#{time}
                // |{{one_long_date start_datetime}}
                // .ui.small.grey.inline.header {{from_now start_datetime}}
            .meta    
                .ui.inline.small.header $#{usd_price} / #{point_price}p
            .meta
                if fac
                    |led by
                    if fac.profile_image_id
                        with fac
                            img.ui.avatar.spaced.image(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}" class=user_class title=shortname)
                    | #{fac.name}
            // .meta #{when}
            .description 
            if location
                i.marker.icon 
                |#{location}
            div 
        .content
            |#{going.count}
            i.checkmark.green.large.icon
            each going
                img.ui.avatar.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=user_class title=shortname)
            // i.question.orange.large.icon
            // | #{maybe_user_ids.length}
            // each maybe_going
            //     img.ui.avatar.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=user_class title=shortname)
            // | #{not_user_ids.length}
            // i.remove.red.large.icon
            // each not_going
            //     img.ui.avatar.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=user_class title=shortname)
            +comments_view_small
                               
                               
                               
                                    
template(name='debit_card')
    .ui.card.pointer.view_debit
        if image_id
            img.ui.image(src="{{c.url image_id height=200 width=500 crop='fill'}}")
        .content
            .description 
                if _author.profile_image_id
                    with _author
                        img.ui.avatar.image(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}" class=user_class)
                | #{_author.shortname}
                a.ui.inline.header(href="/debit/#{_id}/view") #{amount}p
                .ui.inline.header >
                if recipient.profile_image_id
                    with recipient
                        img.ui.avatar.image(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}" class=user_class)
                |#{recipient.shortname}
            .meta #{when}
            .description.f11
                |#{description}
            .spacer
            each tags 
                .ui.small.label #{this}
            if upvoter_ids
                +voting_tiny
            +comments_view_small
                                    
template(name='join_button')
    .ui.fluid.green.tertiary.button.join
        i.checkmark.icon
        |join




template(name='one_shift_card')
    a.ui.card(href="/shift/#{_id}/view")
        .content
            .header
                .ui.inline.header
                // if _author.profile_image_id
                //     img.ui.avatar.image(src="{{c.url _author.profile_image_id height=500 width=500 gravity='face' crop='fill'}}" class=user_class)
                // | #{_author_username}
                .item from {{from_now start_datetime}} > {{from_now end_datetime}}
                if shift_contributors 
                    each shift_contributors
                        img.ui.avatar.image(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}" class=user_class)
                        |#{username}
            .meta #{when}
            .description 
                |#{description}
            each tags 
                .ui.tiny.label #{this}