template(name='people')
    .ui.stackable.padded.grid
        .four.wide.column.scrolling
            // i.big.user.outline.icon
            // #cloud.ui.center.aligned.fluid.segment
                // if currentUser
                //     .ui.icon.input
                //         i.plus.icon
                //         input#quick_add(type='text')
                //     // #add.ui.circular.button
                //     //     i.plus.icon
                //     //     | Full Add
                // .ui.hidden.divider
            .ui.inline.grey.header
                i.tag.large.icon
                |tags
            if selected_tags
                #clear_tags.ui.primary.icon.compact.circular.button
                    i.remove.icon
                each selected_tags
                    .unselect_tag.ui.primary.compact.circular.button
                        strong !{this}
            each all_tags
                .ui.compact.circular.basic.button.select_tag(class=cloud_tag_class title=count) !{this.name}
                    // small #{this.count}
            unless all_tags.count
                .ui.basic.center.aligned.segment
                    .ui.placeholder 
                        .paragraph
                            .line
                            .line
                            .line
                            .line

            .ui.grey.inline.header
                i.stack.exchange.icon
                |site
            if selected_user_site
                .unselect_site.ui.primary.compact.circular.button
                    strong !{selected_user_site}
            each all_sites
                .ui.compact.basic.circular.button.select_site(class=cloud_site_class) 
                    |!{this.name}
                    // small #{count}
            unless all_sites.count
                .ui.basic.center.aligned.segment
                    .ui.placeholder 
                        .paragraph
                            .line
                            .line
                            .line
                            .line
                    // i.massive.loading.grey.yin.yang.icon
            .spacer
            .ui.grey.inline.header 
                i.marker.icon
                |location
            if selected_user_location
                .unselect_location.ui.primary.compact.circular.button
                    strong !{selected_user_location}
            unless all_locations.count
                .ui.basic.center.aligned.segment
                    .ui.placeholder 
                        .paragraph
                            .line
                            .line
                            .line
                            .line
            each all_locations
                +tag_selector
                // .ui.compact.basic.circular.button.select_location(class=cloud_location_class) !{this.name}
                //     small #{this.count}
        .twelve.wide.column.scrolling
            .ui.left.icon.input(class="{{#if current_username_query}} focus {{/if}}")
                if current_username_query
                    i.remove.link.icon.clear_username
                else    
                    i.user.icon
                input.search_username(type='text' placeholder='username')
            .ui.left.icon.input(class="{{#if current_location_query}} focus {{/if}}")
                if current_location_query
                    i.remove.link.icon.clear_location
                else
                    i.marker.link.icon.clear_location
                input.search_location(type='text' placeholder='location' value=current_location_query)
            .spacer
            .ui.four.stackable.centered.cards.scrolling
                unless users.count
                    .ui.basic.center.aligned.segment
                        // i.massive.loading.grey.yin.yang.icon
                        .ui.placeholder 
                            .image
                            .paragraph
                                .line
                                .line
                                .line
                                .line
                each users
                    .ui.card
                        a.zoomer.select_user(href="/site/#{site}/user/#{user_id}")
                            img.ui.fluid.image(src=profile_image class=currentUser.invert_class)
                        .content
                            a.ui.zoomer.header.select_user(href="/site/#{site}/user/#{user_id}")
                                |!{display_name}
                                .ui.basic.circular.label #{reputation}
                            .description
                                if site_rank
                                    strong(title="#{site} rank") ##{site_rank} 
                                if global_rank
                                    strong(title='global rank') ##{global_rank}
                                span(title='accessed')
                                    i.grey.clock.icon
                                    | {{ufrom last_access_date}}
                                .ui.label(title='accept rate') #{accept_rate}%
                                .ui.circular.compact.basic.button.set_site
                                    |#{site}
                                .ui.circular.compact.basic.button.set_location
                                    i.grey.marker.icon
                                    |!{location}
                                each five_tags
                                    .ui.small.tertiary.disabled.button #{this}
                                // +doc_emotion_small
                                |#{main_emotion}
                                
                                
                                
