template(name='post_card')
    .ui.stackable.grid
        .four.wide.column
            a.ui.fluid.rounded.image.pointer(href="/m/post/#{_id}/view")
                if watson.metadata.image
                    img(src=watson.metadata.image class='invert')    
                else if is_youtube
                    .ui.embed(data-source="youtube" data-id=youtube_parse class='invert')
                else if is_image
                    if url
                        img(src=url class='invert')    
            if youtube_id
                +youtube_view key='youtube_id' direct=true
            if image_id
                a.image(href="/m/post/#{_id}/view")
                    img.ui.rounded.image(src="{{c.url image_id }}" class='invert')
            if thumbnail
                a.image(href="/m/post/#{_id}/view")
                    img.ui.rounded.image(src=thumbnail class='invert')
        .twelve.wide.column
            .content
                a.ui.header.pointer(href="/m/post/#{_id}/view" class=post_header_class)
                    if key_value_is 'model' 'wikipedia'
                        i.wikipedia.grey.icon
                    else if key_value_is 'model' 'reddit'
                        i.reddit.grey.icon
                    if is_youtube
                        i.video.grey.icon
                    |#{title}
                .description.f11.smallscroll
                    if tone
                        +tone
                    else if body
                        |{{nl2br body}}
                    else if description
                        |!{description}
                if domain
                    .ui.label(title='domain') #{domain}
                    // if tone
                    //     +tone
                    // |!{body}
                if rd.ups
                    .ui.label #{rd.ups} ups
                +autotag
                +vote
                // a(href="/m/post/#{_id}/view")
                //     i.right.chevron.circular.link.big.icon
                if is_admin
                    +print_this
                +array_edit key='tags' direct=true
                each tags
                    a.ui.large.image.label.add_tag
                        if tag_term
                            img.ui.invert.image(src=tag_term.watson.metadata.image)    
                    
                        // i.minus.link.grey.icon.minus_tag(title='pay a point to lessen tag')
                        | #{this}
                        // i.plus.link.grey.icon.plus_tag(title='pay a point to promote tag')
                |#{when}
                if can_edit 
                    a.ui.circular.icon.button(href="/m/post/#{_id}/edit")
                        i.pencil.icon
                a.ui.icon.button(href="/m/post/#{_id}/view")
                    i.chevron.right.icon
                // +call_watson mode='url' key='url'
                // if watson
                //     +call_tone mode='url' key='url'
            
        // .ui.divider
    

template(name='post_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .eight.wide.column
                    a.ui.icon.circular.large.button(href="/m/post/#{_id}/view" title='save' class='invert')
                        i.checkmark.big.icon
                    .ui.inline.large.header 
                        small edit post
                        // |#{title}
                    div
                    +image_edit key='image_id' label='image' direct=true
                    div
                    +boolean_edit key='nsfw' label='nsfw' direct=true
                    +boolean_edit key='original' label='original content' direct=true
                    div
                    +link_edit key='link' label='link' direct=true
                    +date_edit key='date' label='date' direct=true
                    div
                    +boolean_edit key='has_recipient' label='has recipient' direct=true
                    if has_recipient
                        +single_user_edit key='recipient_id' key2='recipient_username' label='recipient' direct=true
                        +number_edit key='point_amount' label='point amount' direct=true
                .eight.wide.column
                    |tag = -1p
                    +smart_tagger
                    +textarea_edit key='body' label='body' direct=true
                    if description
                        +html_edit key='description' label='description' direct=true
                    +youtube_edit key='youtube_id' label='youtube id' direct=true
                    i.remove.link.circular.big.icon.delete_post(title='delete post')
                    
                    
template(name='post_view')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .ten.wide.column
                    // a.ui.circular.icon.button(href='/')
                    //     i.big.yin.yang.icon
                    if title 
                        .ui.header(class=post_header_class) #{title}
                    .scrolling
                        if url 
                            a(href=url target='_window') #{url}
                            img.ui.image(src=url class='invert')    
                            
                        if image_id
                            a(href="{{c.url image_id }}" target='_window')
                                img.ui.rounded.image(src="{{c.url image_id gravity='face' crop='fit'}}" class='invert')
                        if youtube_id
                            +youtube_view key='youtube_id' direct=true
                        .f12
                            if tone
                                +tone
                            else if key_value_is 'model' 'reddit'
                                |{{nl2br body}}
                                // |!{body}
                            else
                                |!{description}
                        // +watson_view
                        // if is_admin
                        //     +viewing
                .six.wide.column.scrolling
                    if watson.metadata.image
                        img.ui.rounded.image(src=watson.metadata.image class='invert')    
                    if can_edit
                        a.ui.circular.icon.button.edit_post(href="/m/post/#{_id}/edit")
                            i.large.pencil.icon
                    +vote
                    .ui.inline.small.grey.header #{when}
                    // .ui.label #{points}p
                    +call_watson key='url' mode='url'
                    if watson
                        +call_tone mode='url' key='url'
                    
                    // .ui.label #{views} views
                    |#{tags.length}
                    +array_edit key='tags' direct=true
                    .ui.label #{rd.ups} ups
                    each tags 
                        +post_tag
                    if dev
                        +print_this
                        
                        
template(name='post_tag')
    a.ui.image.link.large.label.add_tag 
        if tag_term
            img.ui.avatar.invert.image(src=tag_term.watson.metadata.image)    
        |#{this}