template(name='post_edit')
    with current_doc
        .ui.stackable.padded.grid
            .four.wide.column
                
                .ui.header edit post
                a.ui.fluid.button(href="/m/post/#{_id}/view")
                    |save
            .twelve.wide.column
                +text_edit k='title' d=true
                +html_edit k='body' d=true
                +array_edit k='tags' d=true
                
                
template(name='post_view')
    with current_doc
        .ui.stackable.padded.grid
            .four.wide.column
                
                .ui.header view post
                a.ui.fluid.button(href="/m/post/#{_id}/edit")
                    |edit
            .twelve.wide.column
                +text_view k='title' d=true
                +html_view k='body' d=true
                +array_view k='tags' d=true
                
                
                