template(name='reddit')
    .ui.stackable.padded.grid
        .row
            // .four.wide.column
            .sixteen.wide.column
                .ui.inline.header
                    i.reddit.icon
                    |reddit
                +cloud filter='subreddit'
                .ui.inline.header.search_subs
                    |#{subreddit_docs.count} subs
                .ui.inline.header #{sub_count}
                .ui.icon.input
                    i.search.icon
                    input.search_subreddits(type='text')
                .scrolling.ui.items
                    unless subreddit_docs.count
                        .ui.center.aligned.basic.segment
                            i.massive.yin.yang.grey.loading.icon
                    each subreddit_docs
                        .ui.item  
                            // a.ui.tiny.image.goto_sub(href="/r/#{data.display_name}")
                            .ui.tiny.image.goto_sub
                                img.ui.rounded.zoomer.image(src=data.icon_img)
                            .content.say
                                a.ui.header.goto_sub(href="/r/#{data.display_name}")
                                    | !{data.display_name} #{name}
                                a.ui.small.grey.header.goto_sub(href="/r/#{data.display_name}")
                                    | !{data.header_title}
                                // span.description !{data.public_description_html}
                                span.description !{data.public_description}
                                span.say
                                    // i.money.icon
                                    |#{data.advertiser_category}
                                each tags
                                    .ui.label #{this}
                                if in_dev
                                    +print_this

