template(name="reddit_doc")
    .ui.card(class=card_class)
        if skv_is 'thinking' true
            .ui.placeholder
                .rectangular.image
            .content
                .ui.fluid.placeholder
                    .header
                        .line
                    .line
                    .line
                    .line
                    .line
        else
            if embed
                .rounded.full
                    |!{embed}
            else
                if is_image
                    img.ui.centered.image.pointer.zoomer.toggle_view(src=url)
                else if watson.metadata.image
                    img.ui.rounded.pointer.zoomer.image.toggle_view(src=watson.metadata.image)    
    
            .content
                span.ui.pointer.text.f13.zoomer.toggle_view.say(class=post_header_class) !{title}
                    // small #{max_emotion_name}
                // |#{points}
                    // unless one_post
                    //     i.chevron.right.big.grey.link.icon.forward
                if viewing_doc
                    // .ui.icon.basic.button.vote_down
                    //     i.thumbs.down.big.grey.icon
                    // .ui.icon.basic.button.vote_up
                    //     i.thumbs.up.big.grey.icon
                    // .ui.big.basic.button.read 
                    //     i.rss.icon
                    //     |read
                    // .ui.icon.button.bookmark
                    //     i.bookmark.icon
                    
                    // if is_image
                    //     img.ui.centered.image(src=url)
                    span
                        |!{embed}
                    if is_twitter
                        blockquote.twitter-tweet(data-dnt='true' data-theme='dark')
                            p(lang='en' dir='ltr')
                                | Twitter Support you must have the patience of 1000 camels waiting for a drink of water while the baby camels get the first drinks...does that make sense? Thank you for your dedication and time you selfishly give to each of us. You are always appreciated.
                            | — KayeMc76 (@KayeMc76) 
                            a(href=url) October 3, 2020
                        // else if is_youtube
                        //     div
                        //     // .ui.fluid.embed
                        //     //     iframe(id="ytplayer" type="text/html" width="100%" height="500" src="https://www.youtube.com/embed/#{youtube_parse}" frameborder="0" allowfullscreen)
                        //     iframe(width="100%" height="600" src="https://www.youtube.com/embed/#{youtube_parse}?autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                    else if is_video
                        div
                        // iframe(width="100%" height="600" src="https://v.redd.it/9vk3khyb08e51/DASH_360.mp4?source=fallback" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                        iframe(width="100%" height="600" src=url frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                    // else
                    +skve k='doc_section' v='preview' l='preview' i='content'
                    if skv_is 'doc_section' 'preview'
                        iframe(width="100%" height="500" src=url frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)        
                    // .medscroll
                    // 
                    a.ui.label(href="https://www.reddit.com#{permalink}" target="_window") r/#{subreddit}
                    // .ui.big.label 
                    //     i.user.outline.icon
                    //     |#{author}
                    .ui.big.label.say
                        i.thumbs.up.outline.icon
                        |#{ups}
                    a.ui.small.header(href=url target='_window')
                        | #{url}
                    .ui.label
                        | #{domain}
                    // .spacer
                    // .nl2br
                    |!{html}
                    // .spacer
                    // pre
                    // .nl2br
                    // if viewing
                    // .spacer
                    +skve k='doc_section' v='main' l='main' i='content'
                    if skv_is 'doc_section' 'main'
                        unless watson
                            +call_watson
                        if watson    
                            unless tone
                                +call_tone    
                        if parsed_selftext_html
                            .ui.segment
                                |!{parsed_selftext_html}
                        else if selftext
                            .ui.segment
                                |{{nl2br selftext}}
                        else if body
                            div
                            .ui.segment
                                |{{nl2br body}}
                        // div(style='position:relative; padding-bottom:calc(125.00% + 44px)')
                        //     iframe(src='https://gfycat.com/ifr/MeanFatAmurratsnake' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen)
                        // |{{selftext}}
                        // +convert
                    // .spacer
                    a.ui.icon.big.basic.button(href=url target='_window' title=domain)
                        i.external.icon
                        |view site 
                        |#{domain}
                    // a.ui.center.aligned.header(href=url target='_window' class=post_header_class title=url) #{title}
    
                    // .spacer
                    // div
                    if tone
                        +tone
                        // +skve k='doc_section' v='money' l='money' i='money'
                        // if skv_is 'doc_section'
                    each tags
                        +doc_tag
                    // |#{tags.length}
                    .ui.icon.input
                        i.plus.grey.icon
                        input.tag_post(type='text')
                    if in_dev
                        +print_this