template(name='reddit_page')
    with current_doc
        .ui.stackable.padded.grid
            .twelve.wide.column
                a.ui.compact.circular.basic.button.say(href="/r/#{data.subreddit}")
                    i.chevron.left.icon
                    |#{data.subreddit}
                span.ui.pointer.text.f13.zoomer(class=post_header_class) !{data.title} #{data.link_title}
                // .ui.basic.circular.button.get_post permalink #{permalink}
                span.rounded.full
                    |!{embed}
                if is_image
                    img.ui.centered.rounded.image(src=data.url)
                else if watson.metadata.image
                    img.ui.rounded.image(src=watson.metadata.image)
                // small #{max_emotion_name}
                if is_video
                    div
                    // iframe(width="100%" height="600" src="https://v.redd.it/9vk3khyb08e51/DASH_360.mp4?source=fallback" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                    iframe(width="100%" height="600" src=url frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                +skve k='doc_section' v='main' l='main' i='content'
                +skve k='doc_section' v='watson' l='watson' i='dna'
                +skve k='doc_section' v='preview' l='preview' i='content'
                .scrollin
                    if skv_is 'doc_section' 'watson'
                        +watson_view
                    if skv_is 'doc_section' 'preview'
                        iframe(width="100%" height="800" src=data.url frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)        
                    .spacer
                    // img(src=url)
                    span.say !{data.html}
                    .spacer
                    if parsed_selftext_html
                        .ui.segment
                            |!{parsed_selftext_html}
                    if data.selftext
                        // .ui.segment
                        .ui.basic.segment.say
                            |{{#markdown}} {{data.selftext}} {{/markdown}}
                    else if data.body
                        div
                        .ui.segment.say
                            |{{nl2br data.body}}
                    else if data.body_html
                        div
                        .ui.segment.say
                            |!{data.body_html}
                    if data.link_url
                        img.ui.image(src=data.link_url)
                    img.ui.image(src=data.url)
                    // div(style='position:relative; padding-bottom:calc(125.00% + 44px)')
                    //     iframe(src='https://gfycat.com/ifr/MeanFatAmurratsnake' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen)
                    |{{selftext}}
                    .rounded
                        |!{embed}
                    // +convert
                    .spacer
                    // a.ui.icon.big.basic.button(href=url target='_window' title=domain)
                    //     i.external.icon
                    //     |view site 
                    //     |#{data.domain}
                    // a.ui.center.aligned.header(href=url target='_window' class=post_header_class title=url) #{title}
    
                    // .spacer
                    // div
                    if tone
                        +tone
                        // +skve k='doc_section' v='money' l='money' i='money'
                        // if skv_is 'doc_section'
                    |#{tags.length}
                    each tags
                        +flat_sub_tag_selector
            .four.wide.column
                if in_dev
                    +print_this
                a.ui.basic.circular.button(href=data.url target="_window" title=data.url) 
                    i.external.icon
                    |url
                .ui.label
                    | #{data.domain}
                if data.thumbnail
                    img.ui.fluid.rounded.image(src=data.thumbnail)
                .ui.header #{data.domain}
                a.ui.basic.fluid.button(href="https://www.reddit.com#{data.permalink}" target="_window") 
                    i.external.grey.icon
                    |r/#{data.subreddit}
                .spacer
                // a.ui.fluid.basic.button(href="https://www.reddit.com/u/#{author}" target='_window')
                a.ui.fluid.basic.button(href="/user/#{data.author}")
                    i.user.outline.icon
                    |#{data.author}
                +call_watson id=_id key='data.url' durl=data.url mode='url'
                if watson
                    +doc_emotion
                    unless tone
                        +call_tone    
                a.ui.small.header(href=data.url target='_window')
                    | #{data.url}
                if in_dev
                    .ui.small.header reddit_id #{data.reddit_id}
                .ui.basic.label
                    i.comment.outline.icon
                    |#{data.comment_count}
                .ui.basic.label
                    i.thumbs.up.outline.icon
                    |#{data.ups}
                |{{to_percent data.upvote_ratio}}%
                .ui.small.inline.header #{data.num_crossposts} crossposts
        //   "_author_id": "vwCi2GTJgvBJN5F6c",
        //   "_author_username": "dev",
        //   "_timestamp": 1605655369365,
        //   "_timestamp_long": "Tuesday, November 17th 2020, 11:22:49 pm",
        //   "app": "dao",
        //   "points": 0,
        //   "_timestamp_tags": [
        //     "pm",
        //     "tuesday",
        //     "november",
        //     "17th",
        //     "2020"
        //   ],
        //   "rd": {
        //     "approved_at_utc": null,
        //     "subreddit": "todayilearned",
        //     "selftext": "",
        //     "author_fullname": "t2_kj4ny",
        //     "saved": false,
        //     "mod_reason_title": null,
        //     "gilded": 0,
        //     "clicked": false,
        //     "title": "TIL Unobtainium, a metal featured in films like \"Avatar\" and \"The Core\", was an engineering term coined in the 50's to describe any highly desirable material that is hypothetical, scientifically impossible, extremely rare, costly, or fictional",
        //     "link_flair_richtext": [],
        //     "subreddit_name_prefixed": "r/todayilearned",
        //     "hidden": false,
        //     "pwls": 6,
        //     "link_flair_css_class": null,
        //     "downs": 0,
        //     "thumbnail_height": 104,
        //     "top_awarded_type": null,
        //     "hide_score": false,
        //     "name": "t3_jvvb4j",
        //     "quarantine": false,
        //     "link_flair_text_color": "dark",
        //     "upvote_ratio": 0.91,
        //     "author_flair_background_color": null,
        //     "subreddit_type": "public",
        //     "ups": 40514,
        //     "total_awards_received": 10,
        //     "media_embed": {},
        //     "thumbnail_width": 140,
        //     "author_flair_template_id": null,
        //     "is_original_content": false,
        //     "user_reports": [],
        //     "secure_media": null,
        //     "is_reddit_media_domain": false,
        //     "is_meta": false,
        //     "category": null,
        //     "secure_media_embed": {},
        //     "link_flair_text": null,
        //     "can_mod_post": false,
        //     "score": 40514,
        //     "approved_by": null,
        //     "author_premium": false,
        //     "thumbnail": "https://a.thumbs.redditmedia.com/jm34rmRwqouXF-MQcAIHMwj5Zv5sMWA4IPETCuQ7K08.jpg",
        //     "edited": false,
        //     "author_flair_css_class": null,
        //     "author_flair_richtext": [],
        //     "gildings": {
        //       "gid_1": 2
        //     },
        //     "post_hint": "link",
        //     "content_categories": null,
        //     "is_self": false,
        //     "mod_note": null,
        //     "created": 1605657013,
        //     "link_flair_type": "text",
        //     "wls": 6,
        //     "removed_by_category": null,
        //     "banned_by": null,
        //     "author_flair_type": "text",
        //     "domain": "en.wikipedia.org",
        //     "allow_live_comments": true,
        //     "selftext_html": null,
        //     "likes": null,
        //     "suggested_sort": null,
        //     "banned_at_utc": null,
        //     "url_overridden_by_dest": "https://en.wikipedia.org/wiki/Unobtainium",
        //     "view_count": null,
        //     "archived": false,
        //     "no_follow": false,
        //     "is_crosspostable": false,
        //     "pinned": false,
        //     "over_18": false,
        //     "preview": {
        //       "images": [
        //         {
        //           "source": {
        //             "url": "https://external-preview.redd.it/tixCC98_x8ZDwJADFtMLxdSYqmWdHYzEMDGu1yzZbL8.jpg?auto=webp&amp;s=0546c81ef2995a5e2fe87cb5baa3145df1553e8e",
        //             "width": 219,
        //             "height": 163
        //           },
        //           "resolutions": [
        //             {
        //               "url": "https://external-preview.redd.it/tixCC98_x8ZDwJADFtMLxdSYqmWdHYzEMDGu1yzZbL8.jpg?width=108&amp;crop=smart&amp;auto=webp&amp;s=55ea457cdbdd24533464de868e64f12a3258050a",
        //               "width": 108,
        //               "height": 80
        //             },
        //             {
        //               "url": "https://external-preview.redd.it/tixCC98_x8ZDwJADFtMLxdSYqmWdHYzEMDGu1yzZbL8.jpg?width=216&amp;crop=smart&amp;auto=webp&amp;s=45ce9d06271f6f71cde5b0f8da1fe657e66d843d",
        //               "width": 216,
        //               "height": 160
        //             }
        //           ],
        //           "variants": {},
        //           "id": "AFxftUCiMXPhg-JRVAaYxw5itGjbAQL99OQBEvg-ihk"
        //         }
        //       ],
        //       "enabled": false
        //     },
        //     ],
        //     "awarders": [],
        //     "media_only": false,
        //     "can_gild": false,
        //     "spoiler": false,
        //     "locked": false,
        //     "author_flair_text": null,
        //     "treatment_tags": [],
        //     "visited": false,
        //     "removed_by": null,
        //     "num_reports": null,
        //     "distinguished": null,
        //     "subreddit_id": "t5_2qqjc",
        //     "mod_reason_by": null,
        //     "removal_reason": null,
        //     "link_flair_background_color": "",
        //     "id": "jvvb4j",
        //     "is_robot_indexable": true,
        //     "report_reasons": null,
        //     "author": "Afrostoyevsky",
        //     "discussion_type": null,
        //     "num_comments": 1316,
        //     "send_replies": true,
        //     "whitelist_status": "all_ads",
        //     "contest_mode": false,
        //     "mod_reports": [],
        //     "author_patreon_flair": false,
        //     "author_flair_text_color": null,
        //     "permalink": "/r/todayilearned/comments/jvvb4j/til_unobtainium_a_metal_featured_in_films_like/",
        //     "parent_whitelist_status": "all_ads",
        //     "stickied": false,
        //     "url": "https://en.wikipedia.org/wiki/Unobtainium",
        //     "subreddit_subscribers": 24205147,
        //     "created_utc": 1605628213,
        //     "num_crossposts": 2,
        //     "media": null,
        //     "is_video": false
        //   },
        //   "author": "Afrostoyevsky",
        //   "is_video": false,
        //   "over_18": false,
        //   "subreddit": "todayilearned",
        //   "thumbnail": "https://a.thumbs.redditmedia.com/jm34rmRwqouXF-MQcAIHMwj5Zv5sMWA4IPETCuQ7K08.jpg"
        // }