template(name='rusers')
    .ui.stackable.padded.grid
        .four.wide.column.scrolling
            .ui.header 
                i.reddit.icon
                |reddit users
            i.tag.large.icon(title='tags')
            if selected_tags
                #clear_tags.ui.grey.icon.compact.circular.button
                    i.remove.icon
                each selected_tags
                    .unselect_tag.ui.grey.compact.circular.button
                        strong !{this}
            each all_tags
                .ui.compact.circular.basic.button.select_tag(class=cloud_tag_class title=count) !{this.name}
                    // small #{this.count}
            // unless all_tags.count
            //     .ui.basic.center.aligned.segment
            //         .ui.placeholder 
            //             .paragraph
            //                 .line
            //                 .line
            //                 .line
            //                 .line
        .twelve.wide.column.scrolling
            .ui.left.icon.input(class="{{#if current_username_query}} focus {{/if}}")
                if current_username_query
                    i.remove.link.icon.clear_username
                else    
                    i.user.icon
                input.search_username(type='text' placeholder='username' value=current_username_query)
            .ui.left.icon.input(class="{{#if current_location_query}} focus {{/if}}")
                if current_location_query
                    i.remove.link.icon.clear_location
                else
                    i.marker.link.icon.clear_location
                input.search_location(type='text' placeholder='location' value=current_location_query)
            .spacer
            .ui.stackable.centered.equal.width.grid.row.scrolling
                unless users.count
                    .ui.basic.center.aligned.segment
                        // i.massive.loading.grey.yin.yang.icon
                        .ui.placeholder 
                            .image
                            .paragraph
                                .line
                                .line
                                .line
                                .line
                each users
                    .three.wide.column
                        a.select_user(href="/user/#{username}")
                            img.ui.circular.image.zoomer(src=data.snoovatar_img)
                        .content
                            a.ui.zoomer.header.select_user(href="/user/#{username}" class=post_header_class)
                                |!{username}
                                .ui.basic.circular.label(title='total karma')
                                    i.grey.yin.yang.icon
                                    |{{ commafy data.total_karma }}
                                .ui.basic.circular.label(title='post karma')
                                    i.grey.edit.icon
                                    |{{ commafy data.post_karma }}
                                .ui.basic.circular.label(title='comment karma')
                                    i.grey.chat.outline.icon
                                    |{{ commafy data.comment_karma }}
                                // .ui.basic.label(class=sentiment_class) {{to_percent sentiment_avg}}% #{doc_sentiment_label}
                            .description
                                if global_rank
                                    strong(title='global rank') ##{global_rank}
                                span(title='accessed')
                                    i.grey.clock.icon
                                    | {{ufrom last_access_date}}
                                .ui.label(title='accept rate') #{accept_rate}%
                                .ui.circular.compact.basic.button.set_location
                                    i.grey.marker.icon
                                    |!{location}
                                each five_tags
                                    .ui.small.tertiary.disabled.button #{this}
                                if user_top_emotion
                                    .ui.inline.header #{user_top_emotion}
                                +suser_top_emotions
                                // if user_top_emotions
                                // each user_top_emotions
                                //     .ui.basic.label #{title}
                                //         small #{count}
                            
                                
                                
