template(name='ruser')
    +nav
    unless ruser_doc
        // .ui.header no user found
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.center.aligned.basic.segment.search
            i.massive.grey.download.link.icon.get_user_info
        // .ui.massive.fluid.circular.button.f17.zoomer.pointer.search 
        //     i.download.icon
            // |download user info
    with ruser_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    .ui.large.inline.header.get_user_posts(class=post_header_class)
                        |!{username} 
                        small(title='reputation') {{ commafy karma }}
                        strong(title="#{site} rank") ##{site_rank} 
                        strong(title='global rank') ##{global_rank}
                    i.circular.info.icon.get_user_info
                    img.ui.rounded.inline.image.pointer.zoomer(src=profile_image)
                    a.ui.large.compact.circular.basic.button(href="http://www.reddit.com/user/#{username}" target='_window' title="#{site} profile")
                        i.reddit.icon
                        i.external.icon
                    +print_this
                    with data
                        .ui.list
                            .item uid #{account_id}
                            .item modified {{ufrom last_modified_date}}
                            .item accessed  {{ufrom last_access_date}}
                            .item created {{ufrom creation_date}}
                            .item #{user_type}
                            .item awardee_karma #{awardee_karma}
                            .item awarder_karma #{awarder_karma}
                            .item comment_karma #{comment_karma}
                            .item created #{created}
                            .item created_utc #{created_utc}
                            .item has_subscribed #{has_subscribed}
                            .item has_verified_email #{has_verified_email}
                            .item hide_from_robots #{hide_from_robots}
                            .item icon_img #{icon_img}
                            .item id #{id}
                            .item is_employee #{is_employee}
                            .item is_friend #{is_friend}
                            .item is_gold #{is_gold}
                            .item is_mod #{is_mod}
                            .item link_karma #{link_karma}
                            .item name #{name}
                            .item pref_show_snoovatar #{pref_show_snoovatar}
                            .item snoovatar_img #{snoovatar_img}
                            .item snoovatar_size #{snoovatar_size}
                            .item subreddit #{subreddit}
                            .item total_karma #{total_karma}
                            .item verified #{verified}
                    a.ui.external.icon.button(href=link target='_window') 
                        i.linkify.icon
                        // |#{link}
                .twelve.wide.column
                    a.ui.button(href="/user/#{username}")
                        i.dashboard.icon
                        |overview
                    a.ui.button(href="/user/#{username}/comments")
                        i.reply.icon
                        |submitted
                    a.ui.button(href="/user/#{username}/comments")
                        i.chat.icon
                        |comments
                    a.ui.button(href="/user/#{username}/upvoted")
                        i.thumbs.up.outline.icon
                        |upvoted
                    a.ui.button(href="/user/#{username}/downvoted")
                        i.thumbs.down.outline.icon
                        |downvoted
                    a.ui.button(href="/user/#{username}/hidden")
                        i.eye.slash.icon
                        |hidden
                    a.ui.button(href="/user/#{username}/saved")
                        i.save.icon
                        |saved
                    div
                    if skv_is 'view_post_detail' true
                        .ui.black.tertiary.large.button.toggle_post_detail.agg
                            i.post.icon
                            |#{user_posts.count} posts
                    if skv_is 'view_detail' true
                        .ui.black.circular.compact.icon.button.toggle_detail
                            i.list.large.icon
                            // |detail
                    else
                        .ui.compact.circular.basic.icon.button.toggle_detail
                            i.minus.large.icon
                            // |simple
        
                    div
                    +yield
                    
template(name='ruser_posts')
    .scrolling
        each user_posts
            +ruser_doc_item
                            
                            
template(name='ruser_doc_item')
    .ui.item
        if is_image
            a.view_post(href="/r/#{subreddit}/post/#{_id}" class=post_header_class)
                img.ui.centered.rounded.zoomer.inline.medium.image.toggle_view(src=data.url)
        else if watson.metadata.image
            a.view_post(href="/r/#{subreddit}/post/#{_id}" class=post_header_class)
                img.ui.rounded.inline.medium.image.zoomer.toggle_view(src=watson.metadata.image)
        else if data.thumbnail
            a.view_post(href="/r/#{subreddit}/post/#{_id}" class=post_header_class)
                img.ui.rounded.inline.medium.image.zoomer(src=data.thumbnail)    
        a.ui.header.zoomer.say_title(href="/r/#{subreddit}/post/#{_id}" class=post_header_class)
            strong #{data.score}:
            |!{data.link_title} #{data.title}
        .description
            if skv_is 'view_detail' true
                each tags 
                    .ui.tiny.basic.circular.tertiary.button #{this}
            +doc_emotion_small    
            span(title="#{view_count} views")
                i.grey.eye.icon
                |#{view_count}
            if creation_date
                span(title="created {{ufrom creation_date}}")
                    i.grey.clock.icon
                    |{{ufrom creation_date}}
            if last_modified_date
                i.pencil.icon
                |{{ufrom last_modified_date}}
            .ui.basic.label #{data.domain}
            .ui.basic.label #{data.num_comments}
            .ui.basic.label #{data.subreddit}
            // .ui.large.label #{owner.display_name}
    .spacer
    
    
    
template(name='ruser_comments')
    a.ui.icon.button(href="www.reddit.com/user/#{ruser_doc.username}/comments" target='_window')
        i.external.icon
    .scrolling
        each user_comments
            +ruser_comment
                            
                            
template(name='ruser_comment')
    .ui.item
        .ui.header #{body}    
    