template(name='ruser')
    unless ruser_doc
        // .ui.header no user found
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.center.aligned.basic.segment.search
            i.massive.grey.download.link.icon.get_user_info
        // .ui.massive.fluid.circular.button.f17.zoomer.pointer.search 
        //     i.download.icon
            // |download user info
    with ruser_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    .ui.large.inline.header.get_user_posts(class=post_header_class)
                        |!{username} 
                        small(title='reputation') {{ commafy karma }}
                        strong(title="#{site} rank") ##{site_rank} 
                        strong(title='global rank') ##{global_rank}
                    div
                    img.ui.rounded.inline.image.pointer.zoomer(src=profile_image)
                    a.ui.large.compact.circular.basic.button(href="http://www.reddit.com/user/#{username}" target='_window' title="#{site} profile")
                        i.reddit.icon
                        i.external.icon
                    +print_this
                    .ui.horizontal.list
                        .item uid #{account_id}
                        .item modified {{ufrom last_modified_date}}
                        .item accessed  {{ufrom last_access_date}}
                        .item created {{ufrom creation_date}}
                        .item #{user_type}
                    a.ui.external.icon.button(href=link target='_window') 
                        i.linkify.icon
                        // |#{link}
                .twelve.wide.column
                    .ui.grey.tiny.statistic
                        .value #{down_vote_count}
                        .label 
                            i.thumbs.down.outline.icon
                            |down votes
                    .ui.grey.tiny.statistic
                        .value #{up_vote_count}
                        .label 
                            i.thumbs.up.outline.icon
                            |up votes
                    .ui.grey.tiny.statistic
                        .value #{view_count}
                        .label 
                            i.eye.icon
                            |views
                    div
                    if skv_is 'view_post_detail' true
                        .ui.black.tertiary.large.button.toggle_post_detail.agg
                            i.post.icon
                            |#{user_posts.count} posts
                    if skv_is 'view_detail' true
                        .ui.black.circular.compact.icon.button.toggle_detail
                            i.list.large.icon
                            // |detail
                    else
                        .ui.compact.circular.basic.icon.button.toggle_detail
                            i.minus.large.icon
                            // |simple
        
                    div
                    .scrolling
                        each user_posts
                            +ruser_doc_item
                            
                            
template(name='ruser_doc_item')
    .ui.item
        if is_image
            a.view_post(href="/r/#{subreddit}/post/#{_id}" class=post_header_class)
                img.ui.centered.rounded.zoomer.inline.image.toggle_view(src=data.url)
        else if watson.metadata.image
            a.view_post(href="/r/#{subreddit}/post/#{_id}" class=post_header_class)
                img.ui.rounded.inline.image.zoomer.toggle_view(src=watson.metadata.image)
        else if data.thumbnail
            a.view_post(href="/r/#{subreddit}/post/#{_id}" class=post_header_class)
                img.ui.rounded.inline.image.zoomer(src=data.thumbnail)    
        a.ui.header.zoomer.say_title(href="/r/#{subreddit}/post/#{_id}" class=post_header_class)
            strong #{data.score}:
            |!{data.link_title} #{data.title}
        .description
            if skv_is 'view_detail' true
                each tags 
                    .ui.tiny.basic.circular.tertiary.button #{this}
            +doc_emotion_small    
            span(title="#{view_count} views")
                i.grey.eye.icon
                |#{view_count}
            if creation_date
                span(title="created {{ufrom creation_date}}")
                    i.grey.clock.icon
                    |{{ufrom creation_date}}
            if last_modified_date
                i.pencil.icon
                |{{ufrom last_modified_date}}
            .ui.basic.label #{data.domain}
            .ui.basic.label #{data.num_comments}
            // .ui.large.label #{owner.display_name}
    .spacer