template(name='ruser')
    unless stackuser_doc
        // .ui.header no user found
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.center.aligned.basic.segment.search
            i.massive.grey.loading.yin.yang.link.icon
        // .ui.massive.fluid.circular.button.f17.zoomer.pointer.search 
        //     i.download.icon
            // |download user info
    with stackuser_doc
        .ui.stackable.padded.grid
            .row
                .five.wide.right.aligned.column
                    .ui.right.header      
                        |#{site}
                    .ui.two.item.fluid.large.menu
                        a.ui.basic.item.say_users(href="/s/#{site}/users")
                            i.users.icon
                            |users
                        a.ui.basic.item.say_questions(href="/s/#{site}")
                            i.question.icon
                            |questions
                    .spacer
                    .ui.big.inline.right.aligned.header(class=post_header_class)
                        |!{display_name} 
                        small(title='reputation') {{ commafy reputation }}
                        strong(title="#{site} rank") ##{site_rank} 
                        strong(title='global rank') ##{global_rank}
                    div
                    with location
                        +flat_tag_selector
                    .ui.inline.tertiary.button.set_location.zoomer
                        |!{location}
                    if website_url
                        a.ui.circular.basic.large.button(href=website_url target="_window")
                            i.globe.icon
                            |#{website_url}
                    img.ui.rounded.inline.image.pointer.zoomer.boop(src=profile_image)
                    a.ui.large.compact.circular.basic.button(href=link target='_window' title="#{site} profile")
                        i.stack.exchange.icon
                        i.external.icon
                    .ui.grey.small.header
                        i.tag.icon
                        |dao tags
                    .smallscroll
                        each tags
                            +flat_tag_selector
                            // .ui.tertiary.button #{this}
                    +print_this
                    .ui.horizontal.list
                        .item account id #{account_id}
                        .item employee #{is_employee}
                        .item modified {{ufrom last_modified_date}}
                        .item accessed  {{ufrom last_access_date}}
                        .item created {{ufrom creation_date}}
                        .item #{user_type}
                        .item account id #{account_id}
                        .item user id #{user_id}
                        .item accepts #{accept_rate}%                        
                        // .item badge_counts: #{badge_counts}
                        // .item view_count: #{view_count}
                        // .item down_vote_count: #{down_vote_count}
                        // .item up_vote_count: #{up_vote_count}
                        // .item answer_count: #{answer_count}
                        // .item question_count: #{question_count}
                        // .item profile_image: #{profile_image}
                        // .item display_name: #{display_name}
                    a.ui.external.icon.button(href=link target='_window') 
                        i.linkify.icon
                        // |#{link}
                .eleven.wide.column
                    .f12
                        |!{about_me}
                    .ui.inline.small.header rep change
                    .ui.grey.small.horizontal.statistic
                        .value #{reputation_change_day}
                        .label day
                    .ui.grey.small.horizontal.statistic
                        .value #{reputation_change_week}
                        .label week
                    .ui.grey.small.horizontal.statistic
                        .value #{reputation_change_month}
                        .label month
                    .ui.grey.tiny.horizontal.statistic
                        .value #{reputation_change_quarter}
                        .label quarter
                    .ui.grey.tiny.horizontal.statistic
                        .value #{reputation_change_year}
                        .label year
                    .ui.grey.tiny.statistic
                        .value #{down_vote_count}
                        .label 
                            i.thumbs.down.outline.icon
                            |down votes
                    .ui.grey.tiny.statistic
                        .value #{up_vote_count}
                        .label 
                            i.thumbs.up.outline.icon
                            |up votes
                    .ui.grey.tiny.statistic
                        .value #{answer_count}
                        .label 
                            i.reply.icon
                            |answers
                    .ui.grey.tiny.statistic
                        .value #{question_count}
                        .label 
                            i.question.icon
                            |questions
                    .ui.grey.tiny.statistic
                        .value #{view_count}
                        .label 
                            i.eye.icon
                            |views
                    .ui.grey.header 
                        i.rss.icon
                        |feed
                    each user_events
                        .ui.header #{title}
                    .ui.inline.header 
                        |#{max_emotion_name} #{max_emotion_percent}
                    div
                    if skv_is 'view_question_detail' true
                        .ui.black.tertiary.large.button.toggle_question_detail.agg
                            i.question.icon
                            |#{user_questions.count} questions
                    unless skv_is 'view_question_detail' true
                        .ui.tertiary.large.button.toggle_question_detail.agg
                            i.question.icon
                            |#{user_questions.count} questions
                    if skv_is 'view_question_detail' true
                        each user_tag_agg
                            .ui.tertiary.button #{title}
                                small #{count}
                    if skv_is 'view_detail' true
                        .ui.black.circular.compact.icon.button.toggle_detail
                            i.list.large.icon
                            // |detail
                    else
                        .ui.compact.circular.basic.icon.button.toggle_detail
                            i.minus.large.icon
                            // |simple
        
                    div
                    .scrolling
                        each user_docs
                            +user_doc_item
                    .ui.header.get_answers
                        i.exclamation.icon
                        |#{user_answers.count} answers
                    .ui.list.scrolling
                        each user_answers
                            +answer_item
                .three.wide.column
                    .ui.grey.small.header 
                        i.fork.icon
                        |related accounts
                    each related_accounts
                        .ui.small.header !{title}
                    with site_doc
                        .ui.segment
                            a.ui.grey.header(href="/s/#{name}") #{name}
                                
                    .ui.grey.header.get_badges
                        i.certificate.icon
                        |#{user_badges.count} badges
                    .ui.horizontal.list
                        .item 
                            +i n='medal2--v1' cl="#{currentUser.invert_class} ui avatar image"
                            |gold #{badge_counts.gold}
                        .item 
                            +i n='medal-second-place--v1' cl="#{currentUser.invert_class} ui avatar image"
                            |silver #{badge_counts.silver}
                        .item
                            +i n='medal2-third-place--v1' cl="#{currentUser.invert_class} ui avatar image"
                            |bronze #{badge_counts.bronze}
                    // .ui.list.smallscroll
                    each user_badges
                        .ui.basic.label 
                            span.header #{name}
                            // span.description
                            //     |#{rank}
                            //     .ui.label #{badge_id}
                            //     a(href=link target="_window")
                            //         i.external.grey.icon

                .four.wide.column
                    .ui.header emotion
                    .ui.large.list 
                        .item joy avg
                        .item sad avg
                        .item disgust avg
                        .item anger avg
                        .item fear avg
                .four.wide.column
                    .ui.header.get_tags
                        i.tag.icon
                        |tags
                    .ui.list
                        each user_tags
                            .item #{name}: #{count}
                .four.wide.column
                    .ui.header.get_comments
                        i.chat.outline.icon
                        |comments
                    .ui.list
                        each user_comments
                            .item #{title}
                    +comments        
                            
                            
template(name='user_doc_item')
    .ui.item
        a.ui.header.zoomer.say_title(href="/s/#{site}/psot/#{_id}" class=post_header_class)
            strong #{score}:
            |!{title}
        |!{about_me}
        .description
            if skv_is 'view_detail' true
                each tags 
                    .ui.tiny.basic.circular.tertiary.button #{this}
            +doc_emotion_small    
            span(title="#{view_count} views")
                i.grey.eye.icon
                |#{view_count}
            span(title="#{answer_count} answers")
                i.grey.exclamation.icon
                |#{answer_count}
            if creation_date
                span(title="created {{ufrom creation_date}}")
                    i.grey.clock.icon
                    |{{ufrom creation_date}}
            if last_modified_date
                i.pencil.icon
                |{{ufrom last_modified_date}}
            // .ui.large.label #{site}
            // .ui.large.label #{owner.display_name}
    .spacer