template(name='sq')
    unless current_site
        +loading
    with current_site
        .ui.stackable.grid
            .row
                .ui.twelve.wide.column
                    img.ui.get_info.shadowed.ui.inline.image(src=logo_url )
                    .smallscroll                    
                        if selected_tags
                            // if many_tags
                            //     a#clear_tags.ui.black.invert.icon.compact.button.select_term
                            //         i.remove.icon
                            each selected_tags
                                +unselect_tag
                        .ui.left.icon.input
                            i.search.icon
                            input.search_site(type='text')
                        each site_tags
                            +stack_tag_selector
                    +skve k='view_emotions' v=true l="emotions" i='smile' ionly=false
                    if skv_is 'view_emotions' true
                        i.grey.remove.link.icon.clear_emotions(title='emotions')
                        each selected_emotions
                            +unselect_tag
                        each site_emotions
                            // +stack_tag_selector
                            .ui.large.label(title=count) #{name}
                        // .ui.large.label(title=count) #{name}
                    +skve k='view_people' v=true l="people" i='users' ionly=false
                    if skv_is 'view_people' true
                        each site_persons
                            +stack_tag_selector
                
                    +skve k='view_orgs' v=true l="organisations" i='building' ionly=false
                    if skv_is 'view_orgs' true
                        each site_organizations
                            +stack_tag_selector
                    +skve k='view_locations' v=true l="locations" i='marker' ionly=false
                    if skv_is 'view_locations' true
                        each site_locations
                            +stack_tag_selector
                    +skve k='view_companies' v=true l="companies" i='briefcase' ionly=false
                    if skv_is 'view_companies' true
                        each site_companys
                            +stack_tag_selector
                    div
                    .ui.inline.header #{q_count}
                    if skv_is 'sort_direction' 1
                        .ui.icon.compact.circular.basic.tertiary.button.sort_down
                            i.caret.down.icon
                    else
                        .ui.icon.compact.circular.basic.tertiary.button.sort_up
                            i.caret.up.icon
                    if skv_is 'view_bounties' 1
                        .ui.compact.circular.black.button.unview_bounties
                            i.hand.holding.heart.icon
                            | bounties
                    else
                        .ui.compact.circular.basic.tertiary.button.view_bounties
                            i.hand.holding.heart.icon
                            | bounties
                    if skv_is 'view_unanswered' 1
                        .ui.compact.circular.black.button.unview_unanswered
                            i.checkmark.icon
                            | unanswered
                    else
                        .ui.compact.circular.basic.tertiary.button.view_unanswered
                            i.question.icon
                            | unanswered
                    i.big.fire.link.icon
                    .ui.compact.circular.basic.small.tertiary.button.limit_1
                        |1
                    .ui.compact.circular.basic.small.tertiary.button.limit_10
                        |10
                    .ui.icon.compact.large.circular.basic.small.tertiary.button.sort_timestamp
                        i.clock.icon
                    .ui.icon.compact.large.circular.basic.small.tertiary.button.set_points
                        i.line.chart.icon
                    if skv_is 'view_detail' true
                        .ui.black.circular.compact.icon.button.toggle_detail
                            i.list.large.icon
                            // |detail
                    else
                        .ui.compact.circular.basic.large.icon.tertiary.button.toggle_detail
                            i.minus.large.icon
                            // |simple
                        // i.line.chart.icon
                    // .ui.icon.compact.large.button 
                    //     i.th.icon
                    // .ui.icon.compact.large.button 
                    //     i.list.icon
                    .medscroll
                        each site_questions
                            +s_q_item
                .four.wide.column.scrollin
                    a.ui.circular.compact.basic.large.button.say(href="/s/#{api_site_parameter}/users")
                        i.large.users.icon
                        |users
                    |#{current_sentiment} sent
                    +alpha
                    +duck
                    // a.ui.circular.icon.button(href='/')
                    //     i.large.home.icon
                    // img.get_info.mobile.hidden.shadowed(src=high_resolution_icon_url )
                    // img(src=icon_url)
                    // .ui.segment(style="background-color:#{styling.tag_background_color}")
                    .ui.small.list.mobile.hidden
                        .item.say 
                            strong #{audience}
                        a.item.say(href=site_url target="_window")
                            |#{site_url}
                            i.external.icon
                        .item.say open beta {{ufrom open_beta_date}}
                        .item.say closed beta {{ufrom closed_beta_date}}
                        if launch_date
                            .item.say launched {{ufrom launch_date}}
                        // .item.say state: #{site_state}
                        // .item.say #{high_resolution_icon_url} high_resolution_icon_url
                        // .item.say #{favicon_url} favicon_url
                        // .item.say #{api_site_parameter} api
                        // .item.say #{site_type} 
                        .item.say main emotion: #{main_emotion}
                        .item.say 
                            i.grey.lightning.icon
                            |{{commafy new_active_users}}
                            |active users
                        .item.say 
                            i.grey.users.icon
                            |{{commafy total_users}} total users
                        .item.say 
                            i.grey.certificate.icon
                            |{{commafy badges_per_minute}} badges/min
                        .item.say
                            i.grey.certificate.icon
                            |{{commafy total_badges}} badges
                        .item.say 
                            i.grey.grey.thumbs.up.outline.icon
                            |{{commafy total_votes}} votes
                        .item.say 
                            i.grey.chat.outline.icon
                            |{{commafy total_comments}} comments
                        .item.say 
                            i.grey.reply.icon
                            |{{commafy total_answers}} answers
                        .item.say
                            i.grey.reply.icon
                            |#{answers_per_minute} answers/min
                        .item.say
                            i.grey.question.icon
                            |{{commafy total_questions}} questions
                        .item.say
                            i.grey.question.icon
                            |{{commafy questions_per_minute}} questions/min
                        .item.say 
                            i.grey.checkmark.icon
                            |{{commafy total_accepted}} accepted
                        .item.say 
                            i.grey.exclamation.icon
                            |{{commafy total_unanswered}} unanswered
                        // .item api_revision: #{api_revision}
                    // if in_dev
                    //     +array_edit k='tags' d=true
   
   
template(name='s_q_item')                  
    .ui.item
        // if watson.metadata.image
        //     img.ui.avatar.invert.image(src=watson.metadata.image)    
        .content
            a.ui.inline.header.view_question.zoomer(href="/s/#{site}/q/#{question_id}" class=post_header_class)
                strong #{score}
                if is_answered
                    i.green.checkmark.icon
                // span
                //     i.tag.grey.icon
                //     |#{tags.length}
                |!{title} 
            .spacer
            // if skv_is 'view_detail' true
            // i.tag.grey.icon
            unless skv_is 'view_detail' true
                if watson.analyzed_text
                    span.pointer.view_question {{trunc watson.analyzed_text}}...
            if skv_is 'view_detail' true
                .say.pointer.goto_q !{body}
                .ui.horizontal.list
                    each tags
                        +flat_tag_selector
            .ui.horizontal.list
                with owner
                    a.ui.small.header.item(href="/s/#{../site}/u/#{user_id}")
                        img.ui.avatar.image(src=profile_image)
                        |!{display_name}
                        small {{ commafy reputation }}
                        small !{location}
                // |#{_when}
                if last_edit_date
                    .item updated {{ufrom last_edit_date}}
                if creation_date
                    .item created {{ufrom creation_date}}
            +doc_emotion_small
                // .ui.label user_id #{user_id}
            // .ui.divider



template(name='stack_tag_selector')
    // a.ui.big.image.basic.rounded.label.zoomer.pointer.select_tag.select_term(href='#' title="#{count} results" class="#{selector_class} #{thinking_class}")
    a.ui.basic.small.tertiary.compact.button.zoomer.select_tag(href='#' title="#{count} results" class="#{selector_class} #{thinking_class}")
        if term
            if term.watson.metadata.image
                img.ui.mini.rounded.inline.image.superzoom(src=term.watson.metadata.image )    
        strong !{name}
        // if in_dev
        //     small #{count}
template(name='flat_tag_selector')
    // a.ui.big.image.basic.rounded.label.zoomer.pointer.select_tag.select_term(href='#' title="#{count} results" class="#{selector_class} #{thinking_class}")
    .ui.basic.small.tertiary.compact.button.zoomer.select_flat_tag(title="#{count} results" class="#{selector_class} #{thinking_class}")
        if term
            if term.watson.metadata.image
                img.ui.mini.rounded.inline.image.superzoom(src=term.watson.metadata.image )    
        strong #{this}
        // if in_dev
        //     small #{count}


