template(name='stackuser_page')
    unless stackuser_doc
        // .ui.header no user found
        .ui.button.search 
            |download user info
    with stackuser_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    img.ui.rounded.image(src=profile_image class=currentUser.invert_class)
                    .ui.header !{display_name}
                    .ui.list
                        .item account id #{account_id}
                        .item employee #{is_employee}
                        .item last modified {{ufrom last_modified_date}}
                        .item last accessed  {{ufrom last_access_date}}
                        // .item reputation_change_year #{reputation_change_year}
                        // .item quarterly #{reputation_change_quarter}
                        // .item monthly  #{reputation_change_month}
                        // .item weekly rep change #{reputation_change_week}
                        // .item daily #{reputation_change_day}
                        .item reputation #{reputation}
                        .item created  {{ufrom creation_date}}
                        .item type #{user_type}
                        .item user id #{user_id}
                        .item accept rate #{accept_rate}
                        .item 
                            i.marker.icon
                            |location #{location}
                        if website_url
                            a.item(href="website_url")
                                i.globe.icon
                                |#{website_url}
                    a.ui.external.icon.button(href=link target='_window') 
                        i.linkify.icon
                        // |#{link}
                .four.wide.column
                    .ui.grey.header.get_badges
                        i.certificate.icon
                        |badges
                    .ui.list
                        .item 
                            +i n='medal2--v1' cl="#{currentUser.invert_class} ui avatar image"
                            |gold #{badge_counts.gold}
                        .item 
                            +i n='medal-second-place--v1' cl="#{currentUser.invert_class} ui avatar image"
                            |silver #{badge_counts.silver}
                        .item
                            +i n='medal2-third-place--v1' cl="#{currentUser.invert_class} ui avatar image"
                            |bronze #{badge_counts.bronze}
                    .ui.list
                        each user_badges
                            .item 
                                .content 
                                    .header #{name}
                                    .description
                                        |#{rank}
                                        .ui.label #{badge_id}
                                        a.ui.circular.icon.compact.button(href=link target="_window")
                                            i.external.icon
                .four.wide.column

                .four.wide.column
                    .ui.header emotion
                    .ui.large.list 
                        .item joy avg
                        .item sad avg
                        .item disgust avg
                        .item anger avg
                        .item fear avg
                .four.wide.column
                .four.wide.column
                    .ui.header.get_tags
                        i.tag.icon
                        |tags
                    .ui.list
                        each user_tags
                            .item #{name}: #{count}
                .four.wide.column
                    .ui.header.get_answers
                        i.exclamation.icon
                        |answers
                    .ui.list
                        each user_answers
                            .item #{question_id}
                            // .item hi !{body}
                .four.wide.column
                    .ui.header.get_questions
                        i.question.icon
                        |questions
                    .ui.list
                        each user_questions
                            a.item(href="/site/#{site}/doc/#{_id}") #{title}
                .four.wide.column
                    .ui.header.get_comments
                        i.chat.outline.icon
                        |comments
                    .ui.list
                        each user_comments
                            .item #{title}