template(name='users')
    .ui.stackable.padded.grid
        .four.wide.column.scrolling
            .ui.header
                i.users.icon
                |stack users
            // #cloud.ui.center.aligned.fluid.segment
                // if currentUser
                //     .ui.icon.input
                //         i.plus.icon
                //         input#quick_add(type='text')
                //     // #add.ui.circular.button
                //     //     i.plus.icon
                //     //     | Full Add
                // .ui.hidden.divider
            if selected_tags
                #clear_tags.ui.primary.icon.compact.circular.button
                    i.remove.icon
                each selected_tags
                    .unselect_tag.ui.primary.compact.circular.button
                        strong !{this}
            each all_tags
                .ui.compact.circular.button.select_tag(class=cloud_tag_class) !{this.name}
                    small #{this.count}
            .ui.grey.inline.header
                i.globe.icon
                |site
            if selected_user_site
                .unselect_site.ui.primary.compact.circular.button
                    strong !{selected_user_site}
            each all_sites
                .ui.compact.basic.circular.button.select_site(class=cloud_site_class) 
                    |!{this.name}
                    small #{count}
            .spacer
            .ui.grey.inline.header 
                i.marker.icon
                |location
            if selected_user_location
                .unselect_location.ui.primary.compact.circular.button
                    strong !{selected_user_location}
            each all_locations
                .ui.compact.basic.circular.button.select_location(class=cloud_location_class) !{this.name}
                    small #{this.count}
        .twelve.wide.column
            .ui.left.icon.input
                i.user.icon
                input.search_username(type='text' placeholder='username')
            .ui.icon.input
                if current_location_query
                    i.remove.link.icon.clear_location
                else
                    i.marker.link.icon.clear_location
                input.search_location(type='text' placeholder='location' value=current_location_query)
            .ui.five.stackable.centered.cards.scrolling
                each users
                    a.ui.card.select_user(href="/site/#{site}/user/#{user_id}")
                        img.ui.image(src=profile_image class=currentUser.invert_class)
                        .content
                            a.ui.header #{display_name}
                                .ui.basic.circular.label #{reputation}
                            .description
                                |#{site}
                                i.grey.marker.icon
                                |#{location}
                                each five_tags
                                    .ui.basic.small.label #{this}
                                
                                
                                
