template(name='subreddits')
    .ui.stackable.padded.grid
        .row
            // .four.wide.column
            .sixteen.wide.column
                a.ui.large.circular.basic.button(href="/reddit") 
                    i.reddit.icon
                    |reddit
                +cloud filter='subreddit'
                .ui.inline.header.search_subs
                    |#{subreddit_docs.count} subs
                .ui.icon.input
                    i.search.icon
                    input.search_subreddits(type='text')
                .scrolling.ui.cards
                    each subreddit_docs
                        .ui.card  
                            a.image(href="/subreddit/#{data.display_name}")
                                img.ui.rounded.image(src=data.icon_img)
                            .content
                                a.header(href="/subreddit/#{data.display_name}")
                                    | #{data.display_name}
                                .description #{data.public_description}
                                    +print_this

