template(name='subreddits')
    .ui.stackable.padded.grid
        .row
            // .four.wide.column
            .sixteen.wide.column
                a.ui.large.circular.basic.button(href="/reddit") 
                    i.reddit.icon
                    |reddit
                +cloud filter='subreddit'
                .ui.inline.header.search_subs
                    |#{subreddit_docs.count} subs
                .ui.icon.input
                    i.search.icon
                    input.search_subreddits(type='text')
                .scrolling.ui.cards
                    each subreddit_docs
                        .ui.card  
                            .image
                                img.ui.rounded.image(src=data.icon_img)
                            .content
                                a.header(href="/subreddit/#{data.display_name}")
                                    | #{data.display_name}
                                .description #{data.public_description}
                                    +print_this

    // .min-h-screen.bg-gray-100.py-6.flex.flex-col.justify-center(class='sm:py-12')
    //     .relative.py-3(class='sm:max-w-xl sm:mx-auto')
    //         .absolute.inset-0.bg-gradient-to-r.from-cyan-400.to-light-blue-500.shadow-lg.transform.-skew-y-6(class='sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl')
    //         .relative.px-4.py-10.bg-white.shadow-lg(class='sm:rounded-3xl sm:p-20')
    //             .max-w-md.mx-auto
    //                 div
    //                     img.h-7(src='/img/logo.svg' class='sm:h-8')
    //                 .divide-y.divide-gray-200
    //                     .py-8.text-base.leading-6.space-y-4.text-gray-700(class='sm:text-lg sm:leading-7')
    //                         p
    //                             | An advanced online playground for Tailwind CSS, including support for things like:
    //                         ul.list-disc.space-y-2
    //                             li.flex.items-start
    //                                 span.h-6.flex.items-center(class='sm:h-7')
    //                                     svg.flex-shrink-0.h-5.w-5.text-cyan-500(viewBox='0 0 20 20' fill='currentColor')
    //                                         path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd')
    //                                 p.ml-2
    //                                     | Customizing your
    //                                     code.text-sm.font-bold.text-gray-900 tailwind.config.js
    //                                     |  file
    //                             li.flex.items-start
    //                                 span.h-6.flex.items-center(class='sm:h-7')
    //                                     svg.flex-shrink-0.h-5.w-5.text-cyan-500(viewBox='0 0 20 20' fill='currentColor')
    //                                         path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd')
    //                                 p.ml-2
    //                                     | Extracting classes with
    //                                     code.text-sm.font-bold.text-gray-900 @apply
    //                             li.flex.items-start
    //                                 span.h-6.flex.items-center(class='sm:h-7')
    //                                     svg.flex-shrink-0.h-5.w-5.text-cyan-500(viewBox='0 0 20 20' fill='currentColor')
    //                                         path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd')
    //                                 p.ml-2 Code completion with instant preview
    //                         p
    //                             | Perfect for learning how the framework works, prototyping a new idea, or creating a demo to share online.
    //                     .pt-6.text-base.leading-6.font-bold(class='sm:text-lg sm:leading-7')
    //                         p Want to dig deeper into Tailwind?
    //                         p
    //                             a.text-cyan-600(href='https://tailwindcss.com' class='hover:text-cyan-700')  Read the docs → 
