template(name='stackuser_page')
    unless stackuser_doc
        // .ui.header no user found
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.center.aligned.basic.segment.search
            i.massive.grey.loading.yin.yang.link.icon
        // .ui.massive.fluid.circular.button.f17.zoomer.pointer.search 
        //     i.download.icon
            // |download user info
    with stackuser_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    a.ui.basic.icon.circular.large.button.say_questions(href="/site/#{site}")
                        i.question.large.icon
                        // |questions
                    a.ui.basic.icon.circular.large.button.say_users(href="/site/#{site}/users")
                        i.users.large.icon
                        // |users
                    .ui.inline.header.say_this   
                        |#{site}
                    .spacer
                    .ui.big.inline.right.aligned.header.say_this(class=post_header_class)
                        |!{display_name} 
                        small(title='reputation') #{reputation}
                        strong(title="#{site} rank") ##{site_rank} 
                        strong(title='global rank') ##{global_rank}
                    div
                    // with location
                    //     +flat_tag_selector
                    .ui.inline.tertiary.button.set_location.zoomer.say_this
                        |!{location}
                    img.ui.rounded.inline.image.pointer.zoomer.boop(src=profile_image)
                    a.ui.large.compact.circular.basic.button(href=link target='_window' title="#{site} profile")
                        i.stack.exchange.icon
                        i.external.icon
                    +print_this
                    .ui.horizontal.list
                        .item.say_this account id #{account_id}
                        .item.say_this employee #{is_employee}
                        .item.say_this modified {{ufrom last_modified_date}}
                        .item.say_this accessed  {{ufrom last_access_date}}
                        .item.say_this created {{ufrom creation_date}}
                        .item.say_this #{user_type}
                        .item.say_this account id #{account_id}
                        .item.say_this user id #{user_id}
                        .item.say_this accepts #{accept_rate}%                        
                        // .item badge_counts: #{badge_counts}
                        // .item view_count: #{view_count}
                        // .item down_vote_count: #{down_vote_count}
                        // .item up_vote_count: #{up_vote_count}
                        // .item answer_count: #{answer_count}
                        // .item question_count: #{question_count}
                        // .item profile_image: #{profile_image}
                        // .item display_name: #{display_name}
                    a.ui.external.icon.button(href=link target='_window') 
                        i.linkify.icon
                        // |#{link}
                    .ui.inline.small.header rep change
                    .ui.grey.mini.horizontal.statistic.say_this
                        .value #{reputation_change_day}
                        .label day
                    .ui.grey.mini.horizontal.statistic.say_this
                        .value #{reputation_change_week}
                        .label week
                    .ui.grey.mini.horizontal.statistic.say_this
                        .value #{reputation_change_month}
                        .label month
                    .ui.grey.mini.horizontal.statistic.say_this
                        .value #{reputation_change_quarter}
                        .label quarter
                    .ui.grey.mini.horizontal.statistic.say_this
                        .value #{reputation_change_year}
                        .label year
                    .ui.grey.mini.horizontal.statistic.say_this
                        .value #{down_vote_count}
                        .label 
                            i.thumbs.down.outline.icon
                            |down votes
                    .ui.grey.mini.horizontal.statistic.say_this
                        .value #{up_vote_count}
                        .label 
                            i.thumbs.up.outline.icon
                            |up votes
                    .ui.grey.mini.horizontal.statistic.say_this
                        .value #{answer_count}
                        .label 
                            i.reply.icon
                            |answers
                    .ui.grey.mini.horizontal.statistic.say_this
                        .value #{question_count}
                        .label 
                            i.question.icon
                            |questions
                    .ui.grey.mini.horizontal.statistic.say_this
                        .value #{view_count}
                        .label 
                            i.eye.icon
                            |views
                    .ui.inline.header 
                        |#{max_emotion_name} #{max_emotion_percent}
                    div
                .eleven.wide.column
                    .f12.say_this.pointer
                        |!{about_me}
                    if website_url
                        a.ui.circular.basic.button(href=website_url target="_window")
                            i.globe.icon
                            |#{website_url}
                    .smallscroll
                        .ui.grey.small.inline.header
                            i.tag.icon
                            |#{tags.length} tags
                        each tags
                            +flat_tag_selector
                            // .ui.tertiary.button #{this}
                    .ui.grey.header 
                        i.rss.icon
                        |feed
                    each user_events
                        .ui.header #{title}
                    if skv_is 'view_question_detail' true
                        .ui.black.tertiary.large.button.toggle_question_detail.agg
                            i.question.icon
                            |#{user_questions.count} questions
                    unless skv_is 'view_question_detail' true
                        .ui.tertiary.large.button.toggle_question_detail.agg
                            i.question.icon
                            |#{user_questions.count} questions
                    if skv_is 'view_question_detail' true
                        each user_tag_agg
                            .ui.tertiary.button #{title}
                                small #{count}
                    if skv_is 'view_detail' true
                        .ui.black.circular.compact.button.toggle_detail
                            i.list.large.icon
                            |detail
                    else
                        .ui.compact.circular.basic.button.toggle_detail
                            i.list.large.icon
                            |simple
        
                    div
                    .scrolling
                        each user_questions
                            +user_question_item
                    .ui.header.get_answers
                        i.exclamation.icon
                        |#{user_answers.count} answers
                    .ui.list.medscroll
                        each user_answers
                            +answer_item
                    div
                    .ui.dividing.header.pointer.get_comments
                        i.chat.outline.icon
                        |#{user_comments.count} comments
                    .ui.list.medscroll
                        each user_comments
                            +user_comment_item
                .three.wide.column
                    .ui.grey.small.header 
                        i.fork.icon
                        |related accounts
                    each related_accounts
                        .ui.small.header !{title}
                    with site_doc
                        .ui.segment
                            a.ui.grey.header(href="/site/#{name}") #{name}
                                
                    .ui.grey.header.get_badges.say_this
                        i.certificate.icon
                        |#{user_badges.count} badges
                    .ui.horizontal.list
                        .item.say_this 
                            +i n='medal2--v1' cl="#{currentUser.invert_class} ui avatar image"
                            |gold #{badge_counts.gold}
                        .item.say_this 
                            +i n='medal-second-place--v1' cl="#{currentUser.invert_class} ui avatar image"
                            |silver #{badge_counts.silver}
                        .item.say_this
                            +i n='medal2-third-place--v1' cl="#{currentUser.invert_class} ui avatar image"
                            |bronze #{badge_counts.bronze}
                    // .ui.list.smallscroll
                    each user_badges
                        .ui.basic.label 
                            span.header #{name}
                            // span.description
                            //     |#{rank}
                            //     .ui.label #{badge_id}
                            //     a(href=link target="_window")
                            //         i.external.grey.icon

                .four.wide.column
                    .ui.header emotion
                    .ui.large.list 
                        .item joy avg
                        .item sad avg
                        .item disgust avg
                        .item anger avg
                        .item fear avg
                // .four.wide.column
                //     .ui.header.get_tags
                //         i.tag.icon
                //         |tags
                //     .ui.list
                //         each user_tags
                //             .item #{name}: #{count}
                            
                            
template(name='answer_item')
    span.say_this #{score}: !{body}
    // hi#{answer_question.title}
    |#{site}
    if in_dev
        +print_this
        +remove_button
        // .ui.divider
    
    
template(name='user_comment_item')
    .say_this !{body}
    // |#{site}
    if in_dev
        +print_this
        +remove_button
        // .ui.divider
    
    
    
template(name='user_question_item')
    .ui.item
        a.ui.header.zoomer.say_this(href="/site/#{site}/doc/#{_id}" class=post_header_class)
            strong #{score}:
            |!{title}
        |!{about_me}
        .description
            if skv_is 'view_detail' true
                each tags 
                    .ui.tiny.basic.circular.tertiary.button.say_this #{this}
            +doc_emotion_small    
            span.say_this(title="#{view_count} views")
                i.grey.eye.icon
                |#{view_count}
            span.say_this(title="#{answer_count} answers")
                i.grey.exclamation.icon
                |#{answer_count}
            if creation_date
                span.say_this(title="created {{ufrom creation_date}}")
                    i.grey.clock.icon
                    |{{ufrom creation_date}}
            if last_modified_date
                i.pencil.icon
                |{{ufrom last_modified_date}}
            // .ui.large.label #{site}
            // .ui.large.label #{owner.display_name}
    .spacer