template(name='users')
    .ui.stackable.padded.grid
        .four.wide.column.scrolling
            .ui.header
                i.users.icon
                |users
            +user_cloud
        .twelve.wide.column
            .ui.five.stackable.centered.cards.scrolling
                each users
                    a.ui.card(href="/site/#{site}/user/#{user_id}")
                        img.ui.image(src=profile_image class=currentUser.invert_class)
                        .content
                            a.ui.header #{display_name}
                                .ui.basic.circular.label #{reputation}
                            .description
                                |#{site}
                                i.grey.marker.icon
                                |#{location}
                                
                                
                                
template(name='user_cloud')
    // #cloud.ui.center.aligned.fluid.segment
        // if currentUser
        //     .ui.icon.input
        //         i.plus.icon
        //         input#quick_add(type='text')
        //     // #add.ui.circular.button
        //     //     i.plus.icon
        //     //     | Full Add
        // .ui.hidden.divider
        // .ui.left.icon.input
        //     i.search.icon
        //     input(type='text')
    if selected_tags
        #clear_tags.ui.primary.icon.compact.circular.button
            i.remove.icon
        each selected_tags
            .unselect_tag.ui.primary.compact.circular.button
                strong #{this}
    each all_tags
        .ui.compact.circular.button.select_tag(class=cloud_tag_class) #{this.name}
            small #{this.count}
    .ui.grey.inline.header
        i.globe.icon
        |site
    if selected_user_site
        .unselect_site.ui.primary.compact.circular.button
            strong #{selected_user_site}
    each all_sites
        .ui.compact.basic.circular.button.select_site(class=cloud_site_class) #{this.name}
    .spacer
    .ui.grey.inline.header 
        i.marker.icon
        |location
    if selected_user_location
        .unselect_location.ui.primary.compact.circular.button
            strong #{selected_user_location}
    each all_locations
        .ui.compact.basic.circular.button.select_location(class=cloud_location_class) #{this.name}
            // small #{this.count}
                                