template(name='users')
    .ui.stackable.padded.grid
        .three.wide.column.scrolling
            .ui.inline.header 
                i.users.icon
                |#{users.count}
                | users
            // i.tag.large.icon
            .ui.small.fluid.icon.input
                i.search.icon
                input.search_tags(type='text')
            if picked_user_tags
                // #clear_tags.ui.grey.icon.compact.circular.button
                //     i.remove.icon
                each picked_user_tags
                    a.unpick_user_tag.ui.black.compact.circular.button
                        strong !{this}
            each all_user_tags
                a.ui.basic.label.pick_user_tag(class=cloud_tag_class title=count) !{this.name}
                    // small #{this.count}
            // unless all_tags.count
            //     .ui.basic.center.aligned.segment
            //         .ui.placeholder 
            //             .paragraph
            //                 .line
            //                 .line
            //                 .line
            //                 .line
        .nine.wide.column.scrolling
            .ui.small.inline.header sort by
            +sort_button l='total' i='yin yang' key='data.total_karma'
            +sort_button l='link' i='edit' key='data.link_karma'
            +sort_button l='comment' i='chat outline' key='data.comment_karma'
            +sort_button l='joy' i='smile' c='green' key='rep_joy'
            +sort_button l='anger' i='frown' c='red' key='rep_anger'
            +sort_button l='sadness' i='frown' c='blue' key='rep_sadness'
            +sort_button l='disgust' i='frown' c='orange' key='rep_disgust'
            +sort_button l='fear' i='frown' c='grey' key='rep_fear'
            .ui.left.icon.input(class="{{#if current_username_query}} focus {{/if}}")
                if current_username_query
                    i.remove.link.icon.clear_username
                else    
                    i.user.icon
                input.search_username(type='text' placeholder='username' value=current_username_query)
            // .ui.left.icon.input(class="{{#if current_location_query}} focus {{/if}}")
            //     if current_location_query
            //         i.remove.link.icon.clear_location
            //     else
            //         i.marker.link.icon.clear_location
            //     input.search_location(type='text' placeholder='location' value=current_location_query)
            .spacer
            .ui.hidden.divider
            .ui.stackable.centered.three.column.grid.scrolling
                unless users.count
                    .ui.basic.center.aligned.segment
                        // i.massive.loading.grey.yin.yang.icon
                        .ui.placeholder 
                            .image
                            .paragraph
                                .line
                                .line
                                .line
                                .line
                each users
                    +user_small
        .four.wide.column            
            with emotion_avg
                if is_positive
                    span.say.ui.green.text(class="{{calculated_size doc_sentiment_score}}") {{ to_percent doc_sentiment_score }}% positive
                        |&nbsp;
                    div.rounded(style="height:5px;width:{{to_percent doc_sentiment_score}}%;background-color:green" title="{{to_percent doc_sentiment_score}}% #{doc_sentiment_label}")
                else
                    span.say.ui.red.text(class="{{calculated_size doc_sentiment_score}}") {{ to_percent doc_sentiment_score }}%  negative
                        |&nbsp;
                //     div.rounded(style="height:5px;width:{{abs_percent doc_sentiment_score}}%;background-color:red" title="{{abs_percent doc_sentiment_score}}% #{doc_sentiment_label}")
                span.say.ui.green.text(class="{{calculated_size avg_sent_score}}") {{ to_percent avg_sent_score }}% sentiment 
                    |&nbsp;
                div.rounded(style="height:5px;width:{{to_percent avg_sent_score}}%;background-color:green" title="{{to_percent avg_sent_score}}% joy")
                span.say.ui.green.text(class="{{calculated_size avg_joy_score}}") {{ to_percent avg_joy_score }}% joy 
                    |&nbsp;
                div.rounded(style="height:5px;width:{{to_percent avg_joy_score}}%;background-color:green" title="{{to_percent avg_joy_score}}% joy")
                //- if above_50 'avg_sadness_score'
                    //- .spacer
                span.say.ui.blue.text(class="{{calculated_size avg_sadness_score}}") {{ to_percent avg_sadness_score}}% sad 
                    |&nbsp;
                div.rounded(style="height:5px;width:{{to_percent avg_sadness_score}}%;background-color:blue" title="{{to_percent avg_sadness_score}}% sad")
                //- if above_50 'avg_fear_score'
                    //- .spacer
                span.say.ui.grey.text(class="{{calculated_size avg_fear_score}}") {{ to_percent avg_fear_score }}% fear 
                    |&nbsp;
                div.rounded(style="height:5px;width:{{to_percent avg_fear_score}}%;background-color:grey" title="{{to_percent avg_fear_score}}% fear")
                //- if above_50 'avg_disgust_score'
                    //- .spacer
                span.say.ui.orange.text(class="{{calculated_size avg_disgust_score}}") {{ to_percent avg_disgust_score }}% disgust 
                    |&nbsp;
                div.rounded(style="height:5px;width:{{to_percent avg_disgust_score}}%;background-color:orange" title="{{to_percent avg_disgust_score}}% disgust")
                //- if above_50 'avg_anger_score'
                    //- .spacer
                span.say.ui.red.text(class="{{calculated_size avg_anger_score}}") {{ to_percent avg_anger_score }}% anger 
                    |&nbsp;
                div.rounded(style="height:5px;width:{{to_percent avg_anger_score}}%;background-color:red" title="{{to_percent avg_anger_score}}% anger")
                    
                    
                    
template(name='user_small')
    .column
        a.select_user(href="/user/#{username}")
            img.ui.circular.small.image.zoomer(src=data.snoovatar_img)
        .content
            a.ui.zoomer.header.select_user(href="/user/#{username}" class=post_header_class)
                |!{username}
                .ui.basic.circular.label(title='total karma')
                    i.grey.yin.yang.icon
                    |{{ commafy data.total_karma }}
                .ui.basic.circular.label(title='post karma')
                    i.grey.edit.icon
                    |{{ commafy data.link_karma }}
                .ui.basic.circular.label(title='comment karma')
                    i.grey.chat.outline.icon
                    |{{ commafy data.comment_karma }}
                // .ui.basic.label(class=sentiment_class) {{to_percent sentiment_avg}}% #{doc_sentiment_label}
            .description
                if global_rank
                    strong(title='global rank') ##{global_rank}
                span(title='created')
                    i.grey.clock.icon
                    | {{ufrom data.created}}
                // .ui.label(title='accept rate') #{accept_rate}%
                // .ui.circular.compact.basic.button.set_location
                //     i.grey.marker.icon
                //     |!{location}
                each five_tags
                    .ui.small.basic.label.add_tag #{this}
                if user_top_emotion
                    .ui.inline.header #{user_top_emotion}
                +user_top_emotion_small
                if data.subreddit.over_18
                    .ui.basic.red.label nsfw
                // if user_top_emotions
                // each user_top_emotions
                //     .ui.basic.label #{title}
                //         small #{count}
                // if is_dev 
                +print_this
     
template(name='sort_button')     
    .ui.compact.icon.circular.button.sort(class="#{c} #{button_class}" title='sort by #{l}')
        // if i 
        i.large.icon(class=i)
        // |#{l} karma
            
            
template(name='user_top_emotion_small')
    .ui.basic.label {{ to_percent avg_sent_score}} sentiment
    div
    .ui.green.tiny.inline.header
        | {{ to_percent avg_joy_score}}% joy
        | {{fixed0 rep_joy}} ##{global_joy_rep_rank}
    div
    .ui.blue.tiny.inline.header
        |{{fixed0 rep_sadness}} sad
        | {{ to_percent avg_sadness_score}}% ##{global_sadness_rep_rank}
    div

    .ui.red.tiny.inline.header 
        | {{ to_percent avg_anger_score}}% anger
        | {{fixed0 rep_anger}} rep ##{global_anger_rep_rank}
    div

    .ui.orange.tiny.inline.header
        |{{fixed0 rep_disgust}} disgust
        | {{ to_percent avg_disgust_score}}% ##{global_disgust_rep_rank}
    div

    .ui.grey.tiny.inline.header
        |{{fixed0 rep_fear}} fear
        | {{ to_percent avg_fear_score}}% ##{global_fear_rep_rank}
                
