template(name='post_view')
    with current_doc
        .ui.stackable.grid
            .row 
                .twelve.wide.column
                    a.ui.large.icon.button(href="/")
                        i.chevron.left.large.icon
                        // i.large.home.icon
                    .ui.center.aligned.inline.header(class=emotion_header_class) #{title}
                    if url
                        div
                        a.ui.center.aligned.small.header(href=url target='_window') #{url}
                    .ui.five.item.stackable.menu(class=emotion_header_class)
                        a.item.no_blink.set_main 
                            i.content.icon
                            |main
                        a.item.no_blink.set_emotion
                            i.line.chart.icon
                            |stats
                        a.item.no_blink.set_cleaned
                            i.broom.icon
                            |cleaned
                        a.item.no_blink.set_tone 
                            i.list.icon
                            |tone
                        a.item.no_blink.set_comments
                            i.chat.icon
                            |comments
                    if skv_is 'post_view_mode' 'main'
                        .scrolling
                            if embed
                                span.f11.full
                                    |!{embed}
                            if is_image
                                a.view_post(href="/" class=post_header_class)
                                    img.ui.fluid.rounded.image.toggle_view(src=data.url)
                            else if data.is_reddit_media_domain
                                img.ui.centered.rounded.image.pointer.call_visual(src=data.url)
                            else if watson.metadata.image
                                img.ui.rounded.image.pointer.call_meta(src=watson.metadata.image)
                            else if is_youtube
                                div
                                // .ui.fluid.embed
                                //     iframe(id="ytplayer" type="text/html" width="100%" height="500" src="https://www.youtube.com/embed/#{youtube_parse}" frameborder="0" allowfullscreen)
                                iframe.invert(width="100%" height="600" src="https://www.youtube.com/embed/#{youtube_parse}?autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                            if preview_path
                                img(src=preview_path)
                            if data.link_url
                                img.ui.image.pointer.call_visual(src=data.link_url)
                            // if data.selftext
                            //     .f12
                            //         |!{data.selftext}
                            div 
                            if data.selftext_html
                                .f12
                                    |!{data.selftext_html}
                    if skv_is 'post_view_mode' 'cleaned'
                        .scrolling
                            if watson.analyzed_text
                                .f12
                                    |!{watson.analyzed_text}
                    if skv_is 'post_view_mode' 'stats'
                        if watson
                            +watson_full
                    
                    if skv_is 'post_view_mode' 'tone'
                        .scrolling
                            +tone_view
                        // <blockquote class="reddit-card"><a href="https://www.reddit.com/r/iiiiiiitttttttttttt/comments/fgnubb/our_new_and_proprietary_database_backup_program/">Our new and proprietary database backup program uses almost 100% of the server's CPU and locks up most of the clients</a> from <a href="http://www.reddit.com/r/iiiiiiitttttttttttt">r/iiiiiiitttttttttttt</a></blockquote>
                        // <script async src="//embed.redditmedia.com/widgets/platform.js" charset="UTF-8"></script>
                        // div(style='position:relative; padding-bottom:177.63%;)')
                        //     iframe(src='https://redgifs.com/ifr/TidyAliveCopperhead' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen)
                        //     p
                        //         a(href="https://redgifs.com/watch/tidyalivecopperhead")
                        //             |via RedGIFs    
                    if skv_is 'post_view_mode' 'comments'
                        .ui.horizontal.divider.get_post_comments
                            i.grey.comment.outline.icon
                            |#{rcomments.count} comments
                        // .ui.items
                        each rcomment_tags
                            .ui.compact.button #{name}
                                small #{count}
                        .spacer
                        each rcomments
                            +rcomment
                .four.wide.column.scrollin
                    if watson.metadata.image
                        img.ui.rounded.image.pointer.call_meta(src=watson.metadata.image)

                    // else if has_thumbnail
                    //     img.ui.fluid.rounded.image.pointer.call_thumbnail(src=data.thumbnail)
                    i.large.eye.icon
                    | #{views} views
                    if comment_count
                        i.large.chat.outline.icon
                        | #{comment_count} comments
                    .ui.large.label
                        i.globe.icon
                        |#{domain}
                    .ui.fluid.button.search_sub
                        i.yin.yang.grey.icon
                        |#{subreddit}
                    a.ui.fluid.button(href="https://www.reddit.com/r/#{subreddit}" target="_window")
                        i.reddit.icon
                        |#{subreddit}
                        i.external.icon
                    a.ui.fluid.button(href="https://www.reddit.com#{permalink}" target="_window")
                        i.external.icon
                        |post
                    a.ui.fluid.button(href="https://www.reddit.com/u/#{data.author}" target="_window")
                        i.users.icon
                        |#{data.author}
                    +doc_emotion
                    i.tag.icon
                    each tags
                        +flat_tag_picker
                        |,
                        |&nbsp;
                    +print_this
                    +call_watson mode='reddit'
                    +call_watson mode='url'
   



                
                

template(name='rcomment')                
    .ui.grid.call_watson_comment
        .sixteen.wide.column
            .ui.small.inline.header {{data.score}}
            a.author.say(href="/user/#{data.author}") #{data.author}
            span.metadata 
                span.date {{ufrom data.created}}
                +doc_emotion_small
            .pointer.say(class=post_header_class)
                |{{#markdown}} {{data.body}} {{/markdown}}
            .actions
                each tags 
                    +flat_tag_picker
                    // .ui.tiny.label #/{this}
        if data.replies.data.children
            .ui.grid
                each data.replies.data.children
                    .one.wide.column
                    .fifteen.wide.column
                        a.author(href="/user/#{data.author}") #{data.author}
                        .pointer.content.say
                            |{{#markdown}} {{data.body}} {{/markdown}}
                            // .text.say #{data.score} #{data.body}
            // if in_dev
            //     +print_this
                
                
                
template(name='post_related')
    .ui.header related
    .ui.list
        each related_posts
            a.item.say.pointer.zoomer(href="/r/#{subreddit}/p/#{_id}" class=post_header_class) 
                if data.is_reddit_media_domain
                    a.view_post(href="/r/#{subreddit}/p/#{_id}" class=post_header_class)
                        img.ui.small.rounded.image.toggle_view(src=data.url)
                else if watson.metadata.image
                    a.view_post(href="/r/#{subreddit}/p/#{_id}" class=post_header_class)
                        img.ui.rounded.small.inline.image.toggle_view(src=watson.metadata.image)
                else if data.thumbnail
                    a.view_post(href="/r/#{subreddit}/p/#{_id}" class=post_header_class)
                        img.ui.rounded.small.inline.image(src=data.thumbnail)    
            
                .ui.inline.small.header !{data.title} #{data.link_title}
                .ui.label #{data.ups}
                .ui.label #{subreddit}
                each tags
                    .ui.mini.label #{this}        
                    