template(name='wiki')
    .ui.stackable.padded.grid
        .row
            .sixteen.wide.column
                // if skv_is 'nightmode' true
                //     i.moon.link.icon.toggle_nightmode
                // else
                //     i.lightbulb.link.icon.toggle_nightmode
                unless picked_tags
                    .ui.center.aligned.basic.segment
                        .ui.icon.big.fluid.input
                            if session_key_value_is 'loading' true
                                i.wikipedia.loading.icon
                            else
                                i.wikipedia.icon
                            input.search_input(type='text' value=query autofocus='' placeholder="search wikipedia...")
                        div
                        +wiki_search_shortcut tag='math' icon='calculator'
                        +wiki_search_shortcut tag='camping' icon='campground'
                        +wiki_search_shortcut tag='business' icon='briefcase'
                        +wiki_search_shortcut tag='environment' icon='leaf'
                        +wiki_search_shortcut tag='money' icon='coins'
                        +wiki_search_shortcut tag='cat' icon='cat'
                        +wiki_search_shortcut tag='science' icon='flask'
                        +wiki_search_shortcut tag='video' icon='video'
                        +wiki_search_shortcut tag='gaming' icon='gamepad'
                        +wiki_search_shortcut tag='pics' icon='images'
                        +wiki_search_shortcut tag='medicine' icon='pills'
                        +wiki_search_shortcut tag='chess' icon='chess'
                        +wiki_search_shortcut tag='food' icon='food'
                        +wiki_search_shortcut tag='beer' icon='beer'
                        +wiki_search_shortcut tag='hotel' icon='bed'
                        +wiki_search_shortcut tag='winter' icon='snowflake'
                        +wiki_search_shortcut tag='photography' icon='camera'
                        +wiki_search_shortcut tag='dog' icon='dog'
                        +wiki_search_shortcut tag='covid' icon='radiation'
                        +wiki_search_shortcut tag='cheese' icon='cheese'
                        +wiki_search_shortcut tag='solar' icon='sun'
                        +wiki_search_shortcut tag='women' icon='venus'
                        +wiki_search_shortcut tag='men' icon='mars'
                        +wiki_search_shortcut tag='dungeons & dragons' icon='dice d20'
                        +wiki_search_shortcut tag='physics' icon='atom'
                        +wiki_search_shortcut tag='law' icon='balance scale'
                        +wiki_search_shortcut tag='books' icon='book'
                        +wiki_search_shortcut tag='biking' icon='biking'
                        +wiki_search_shortcut tag='news' icon='newspaper'
                        +wiki_search_shortcut tag='music' icon='music'
                        +wiki_search_shortcut tag='skiing' icon='skiing'
                        +wiki_search_shortcut tag='pizza' icon='pizza slice'
                        +wiki_search_shortcut tag='fish' icon='fish'
                        +wiki_search_shortcut tag='gardening' icon='seedling'
                        +wiki_search_shortcut tag='bible' icon='bible'
                        +wiki_search_shortcut tag='daoism' icon='yin yang'
                        +wiki_search_shortcut tag='car' icon='car'
                        +wiki_search_shortcut tag='tarot' icon='moon'
                        +wiki_search_shortcut tag='bacon' icon='bacon'
                        +wiki_search_shortcut tag='swimming' icon='swimmer'
                        +wiki_search_shortcut tag='spa' icon='spa'
                        +wiki_search_shortcut tag='cookies' icon='cookie'
                        +wiki_search_shortcut tag='spider' icon='spider'
                        +wiki_search_shortcut tag='allergies' icon='allergies'
                        +wiki_search_shortcut tag='giving' icon='hand holding heart'
                        +wiki_search_shortcut tag='helping' icon='hands helping'
                        +wiki_search_shortcut tag='prayer' icon='praying hands'
                        +wiki_search_shortcut tag='love' icon='heart'
                        +wiki_search_shortcut tag='cheers' icon='glass cheers'
                        +wiki_search_shortcut tag='hot tub' icon='hot tub'
                        +wiki_search_shortcut tag='smoothies' icon='blender'
                        +wiki_search_shortcut tag='tv' icon='tv'
                        +wiki_search_shortcut tag='lightning' icon='bolt'
                        +wiki_search_shortcut tag='writing' icon='pen fancy'
                        +wiki_search_shortcut tag='maintenance' icon='wrench'
                        +wiki_search_shortcut tag='traffic' icon='traffic light'
                        +wiki_search_shortcut tag='college' icon='university'
                        +wiki_search_shortcut tag='teamwork' icon='handshake'
                        +wiki_search_shortcut tag='puppy' icon='paw'
                        +wiki_search_shortcut tag='tori' icon='torii gate'
                        +wiki_search_shortcut tag='peace' icon='dove'
                        +wiki_search_shortcut tag='brain' icon='brain'
                        +wiki_search_shortcut tag='star trek' icon='hand spock'
                        +wiki_search_shortcut tag='broken heart' icon='heart broken'
                        +wiki_search_shortcut tag='hockey' icon='hockey puck'
                        +wiki_search_shortcut tag='golf' icon='golf ball'
                        +wiki_search_shortcut tag='vollyball' icon='vollyball ball'
                        +wiki_search_shortcut tag='meteor' icon='meteor'
                            
                if picked_tags
                    .ui.icon.input
                        if is_loading
                            i.loading.wikipedia.large.icon
                        else
                            i.wikipedia.icon
                        input.search_input(type='text' value=query autofocus='' placeholder="#{post_count} wiki docs")
                        // .ui.label #{this}
                    
                    // if many_wtags
                    //     a#clear_wtags.ui.red.invert.icon.button.pick_term
                    //         i.remove.icon
                    each picked_tags
                        +unpick_tag
                    each result_tags
                        // .ui.label #{this}
                        +tag_picker
                        // .ui.label(title=count) #{name}
        .row
            .twelve.wide.column
                if picked_tags
                    if alpha_doc
                        +alpha
                    .ui.stackable.three.column.padded.grid.scrolling
                        each wposts
                            +wcard
            if picked_tags
                .four.wide.column
                    div
                    .ui.inline.small.grey.header
                        i.marker.icon    
                        |locations
                    each Locations
                        +tag_picker
                        // .ui.basic.label.pick_Location(class=domain_selector_class)
                        //     |#{name} 
                            // small #{count}
                    div
                    .ui.inline.small.grey.header
                        i.user.icon    
                        |people
                    each Persons
                        +tag_picker
                        // .ui.basic.label.pick_Person(class=domain_selector_class)
                        //     |#{name} 
                            // small #{count}
                    div
                    .ui.inline.small.grey.header
                        i.building.icon    
                        |companies
                    each Companys
                        +tag_picker
                        // .ui.basic.label.pick_Person(class=domain_selector_class)
                        //     |#{name} 
                            // small #{count}
                    div
                    .ui.inline.small.grey.header
                        i.building.icon    
                        |organizations
                    each Organizations
                        +tag_picker
                        // .ui.basic.label.pick_Person(class=domain_selector_class)
                        //     |#{name} 
                            // small #{count}

template(name='wiki_search_shortcut')
    i.big.grey.link.icon.click_shortcut.zoomer(class=icon title=tag)

   

template(name='wcard')
    .column.smallcroll
        // .ui.stackable.equal.width.compact.grid
        //     .row
        .goto_post.pointer.zoomer
            if metadata.image
                // |metadata
                img.ui.inline.zoomer.image.toggle_view(src=metadata.image)
                // else if data.thumbnail.length
        .content
            // a.ui.inline.header.view_post.zoomer(href="" class=post_header_class target='_window')
            a.ui.inline.header.goto_post.pointer(class=post_header_class title=domain)
                if title
                    |!{title}
                else 
                    |#{metadata.title}
                // span.inline.content
            // |{{ufrom created_utc}}
            // each unique_wtags
            //     a.ui.basic.label.flat_wtag_pick #{this}
            // .ui.label #{data.domain}
            // .ui.label 
            //     i.user.icon
            //     |#{data.author}
            |{{ trunc analyzed_text }}...
            // div
   
template(name='unpick_tag')
    a.unpick.ui.black.image.large.label
        if term
            if term.metadata.image
                img.ui.compact.image.superzoom(src=term.metadata.image)    
        strong #{this}

template(name='flat_tag_picker')
    // a.ui.big.image.basic.rounded.label.zoomer.pointer.select_wtag.select_term(href='#' title="#{count} results" class="#{selector_class} #{thinking_class}")
    a.ui.basic.image.large.label.zoomer.flat_tag_picker(title="#{count} results" class="#{selector_class} #{thinking_class}")
        if term
            if term.metadata.image
                img.ui.image.superzoom(src=term.metadata.image )    
        strong #{this}
        // if in_dev
        //     small #{count}

template(name='tag_picker')
    // a.ui.big.image.rounded.label.zoomer.pointer.pick_wtag.pick_term(href='#' title="#{count} results" class="#{picker_class} #{thinking_class}")
    a.ui.basic.image.large.label.zoomer.pick_wtag(title="#{count} results" class="#{picker_class} #{thinking_class}")
        if term
            if term.metadata.image
                img.ui.avatar.image.superzoom(src=term.metadata.image)    
        strong #{name}
        // if in_dev
        //     small #{count}