template(name='number_edit')
    // div
    .ui.tiny.inline.header
        if icon
            +i n=icon
            //- i.grey.icon(class=icon)
        if t
            |#{t}
        else if l
            |#{l}
        else
            |#{key}
    .ui.input
        //- +clear_value                
        input.edit_number(type='number' v=fv placeholder=placeholder autocomplete="off")
            
            
template(name='number_view')
    if fv
        // div
        .ui.tiny.inline.header
            if icon
                +i n=icon
                //- i.grey.icon(class=icon)
            if t
                |#{t}
            else if label
                |#{label}
            else if k
                |#{k}
            else
                |#{this}
        strong &nbsp; #{fv}


template(name='icon_edit')
    div
    if icon
        //- i.grey.icon(class=icon)
        +icon n=icon cl='ui avatar image'
    .ui.inline.header
        if t
            |#{t}
        else if k
            |#{k}
        else
            |#{this}    
    if fv
        i.large.icon(class=fv)
    .ui.right.icon.input
        input.icon_val(type='text' v=fv placeholder='fa class' autocomplete="off")
    a(href="https://fomantic-ui.com/elements/icon.html" target='_window')
        i.external.icon
        |icons

template(name='clear_value')
    if fv
        i.remove.link.large.icon.clear_value



template(name='time_edit')
    .ui.fluid.input
        .ui.tiny.inline.header
            if icon
                i.grey.icon(class=icon)            
            if t
                |#{t}
            else if label
                |#{label}
            //- else
            //-     |#{key}
        //- +clear_value                
        input.edit_time(type='time' v=fv placeholder=placeholder autocomplete="off")
                
                
template(name='time_view')
    if fv
        .ui.inline.header
            if icon
                i.grey.icon(class=icon)
                //- +i n=icon
            if t
                |#{t}
            else if label
                |#{label}
            else if k
                |#{k}
            else
                |#{this}
        strong &nbsp; #{fv}

template(name='datetime_edit')
    .ui.form
        .field
            label 
                if icon
                    //- i.grey.icon(class=icon)
                    +i n=icon
                if t
                    |#{t}
                else if label
                    |#{label}
                else
                    |#{key}
            //- +clear_value                
            input.edit_datetime(type='datetime-local' v=fv placeholder=placeholder autocomplete="off")

template(name='datetime_view')
    if i
        i.icon(class=i)
    if t
        |#{title}
    else if label
        |#{label}        
    else if key
        |#{key}
    else
        |#{this}
    strong &nbsp; #{fv}



template(name='date_edit')
    .ui.fluid.input
        .ui.tiny.inline.header
            if icon
                i.grey.icon(class=icon)            
            if title
                |#{title}
            else if label
                |#{label}
            //- else if key
            //-     |#{key}
            //- else
            //-     |#{this}
        //- +clear_value                
        input.edit_date(type='date' v=fv placeholder=placeholder autocomplete="off")


template(name='date_view')
    if fv
        div
        .ui.tiny.inline.header
            if icon
                +i n=icon
                //- i.grey.icon(class=icon)
            if title
                |#{title}
            else if label
                |#{label}
            else if k
                |#{k}
            else
                |#{this}
        strong &nbsp; #{fv}




template(name='youtube_edit')
    .ui.labeled.fluid.icon.input
        .ui.label 
            // if icon
            //     i.icon(class=icon)
            |youtube id
        input.youtube_id(type='text' v=fv placeholder=placeholder autocomplete="off")
    if fv
        iframe(width='560' height='315' src="https://www.youtube.com/embed/#{fv}" frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='' class=currentUser.invert_class)

template(name='youtube_view')
    if fv
        if icon
            +i n=icon
            //- i.icon(class=icon)
        if full
            .ui.embed.rounded(data-source="youtube" data-id=youtube_parse class=currentUser.invert_class)
            // iframe(width='560' height='315' src=url frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        else
            .ui.embed.rounded(data-source="youtube" data-id=fv class=currentUser.invert_class)

        //- iframe(src="https://www.youtube.com/embed/#{fv}" frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')



template(name='phone_edit')
    .ui.inline.header 
        i.phone.icon
        if t
            |#{t}
        else if l
            |#{l}
        else if k
            |#{k}
        else
            |#{this}
    .ui.fluid.input
        //- +clear_value                
        input.edit_phone(type='tel' v=fv placeholder=placeholder autocomplete="off")

template(name='phone_view')
    if fv
        unless header
            div
            //- if icon
            //-     +i n=icon cl='ui avatar image'          
            .ui.inline.grey.header
                if title
                    |#{title}
                else if label
                    |#{label}
                else if k
                    |#{k}
                else
                    |#{this}
        strong &nbsp; #{fv}





template(name='html_view')
    if fv
        .spacer
        // .ui.small.inline.header
        //     if icon
        //         i.icon(class=icon)
        //     if title
        //         |#{title}
        //     else if label
        //         |#{label}
        //     else if key
        //         |#{key}
        //     else
        //         |#{this}
        .f12.inverted
            |!{fv}



template(name='html_edit')
    .ui.form
        .field
            label 
                if icon
                    i.icon(class=icon)
                if title
                    |#{title}
                else if label
                    |#{label}
                else if k
                    |#{k}
                else
                    |#{this}
                // +call_watson mode='html' k=key
    .ui.fluid.form
        .field.testsun
            textarea#sample.sun-editor-editable
                |#{fv}
    //- if is_dev
    //- div
    //- //- +tone mode='html'
    //- if watson
    //-     +watson_view
        


template(name='i')
    //- i.icon(class=name)
    // img(src="https://img.icons8.com/cotton/48/000000/#{n}.png" class="#{cl} #{currentUser.invert_class}" title=t)
    // img(src="https://img.icons8.com/fluent/48/000000/#{n}.png" class=cl title=t)
    // if currentUser and currentUser.invert_class
    //     // img(src="https://img.icons8.com/fluent/48/000000/#{n}.png" class="#{cl} #{currentUser.invert_class}" title=t)
    //     img(src="https://img.icons8.com/ultraviolet/48/000000/#{n}.png" class="#{cl} #{currentUser.invert_class}" title=t)
    // else
    // img(src="https://img.icons8.com/fluent/48/000000/#{n}.png" class="#{cl} #{currentUser.invert_class}" title=t)
    // img.icon8(src="https://img.icons8.com/ios/50/000000/#{n}.png" class=cl title=t)
    // img(src="https://img.icons8.com/ultraviolet/48/000000/#{n}.png" class=cl title=t)
    img(src="https://img.icons8.com/color/48/000000/#{n}.png" class=cl title=t)
    // if cl.length
    //     img(src="https://img.icons8.com/#{gs.icon_theme}/48/000000/#{n}.png" class=cl title=t)
    // else 
    //     img.ui.mini.inline.image(src="https://img.icons8.com/#{gs.icon_theme}/48/000000/#{n}.png" class=cl title=t)
    // img(src="https://img.icons8.com/plasticine/48/000000/#{n}.png" class=cl title=t)
template(name='ismall')
    img(src="https://img.icons8.com/pastel-glyph/24/000000/#{n}.png" class=cl title=t)
    //- img(src="https://img.icons8.com/ultraviolet/24/000000/#{n}.png" class=cl title=t)
    
template(name='ioffice')
    img(src="https://img.icons8.com/office/48/000000/#{n}.png" class=cl title=t)
template(name='icolor')
    // i.icon(name=name)
    img(src="https://img.icons8.com/color/48/000000/#{n}.png" class=cl title=t)
    // img(src="https://img.icons8.com/dusk/48/000000/#{n}.png" class=cl title=t)
template(name='icolorlg')
    // i.icon(name=name)
    img(src="https://img.icons8.com/color/96/000000/#{n}.png" class=cl title=t)
template(name='iios')
    img(src="https://img.icons8.com/ios/48/000000/#{n}.png" class=cl title=t)
    //- img(src="https://img.icons8.com/ultraviolet/48/000000/#{n}.png" class=cl title=t)

//- template(name='icon')
//-     i.icon(class=name)
//-     //- img.ui.middle.aligned.image(src="https://img.icons8.com/cotton/24/000000/#{n}.png" class=cl title=t)
//-     //- img(src="https://img.icons8.com/office/24/000000/#{n}.png" class=cl title=t)
//-     //- img.ui.middle.aligned.image(src="https://img.icons8.com/plasticine/24/000000/#{n}.png" class=cl title=t)
//-     //- img(src="https://img.icons8.com/plasticine/24/000000/#{n}.png" class=cl title=t)
//-     //- img.ui.inline.image(src="https://img.icons8.com/#{gs.icon_theme}/24/000000/#{n}.png" class=cl title=t)
//-     //- img(src="https://img.icons8.com/ultraviolet/24/000000/#{n}.png" class=cl title=t)
//-     //- img(src="https://img.icons8.com/ios/24/000000/#{n}.png" class=cl title=t) 
//-     //- |&nbsp;

template(name='iblue')
    img(src="https://img.icons8.com/ultraviolet/40/000000/#{n}.png" class=cl)

template(name='iflat')
    img.ui.mini.image(src="https://img.icons8.com/flat_round/64/000000/#{n}.png")

//- template(name='ioffice')
//-     img.ui.image(src="https://img.icons8.com/office/30/000000/#{n}.png" class=cl)

template(name='link_edit')
    div
    if i
        i.icon(class=i)
    .ui.inline.header
        |#{title} #{label}
    .ui.fluid.input
        input.edit_url(type='url' v=fv placeholder='url' autocomplete="off")


template(name='link_view')
    if fv
        div
        if icon
            +icon n=icon cl='ui avatar image'
        //- .ui.inline.header 
        //-     |#{title} #{label}
        a.ui.header(href=fv target='_window')
            if label 
                |#{label}
        a(href=fv target='_window')
            |#{fv}
        //- img.ui.fluid.image(src=fv)

template(name='image_view')
    if fv
        //- .ui.inline.header
        //-     if icon
        //-         +icon n=icon
                //- i.grey.icon(class=icon)
        //-     if title
        //-         |#{title}
        //- else if key
        //-     |#{key}
        //- else
        //-     |#{this}
        //- if cl
        //-     img(src="{{c.url fv gravity='face' crop='fit'}}" class=cl)
        //- else 
        a(href="{{c.url fv }}" target='_window')
            img.ui.centered.rounded.image(src="{{c.url fv crop=crop}}" height=height class=currentUser.invert_class)
        //- a(href="{{c.url fv gravity='face' crop='fit'}}")
        //-     |download
    //- +call_visual


template(name='image_edit')
    if i
        i.icon(class=i)
    .ui.inline.header
        if t
            |#{t}
        else if l
            |#{l}
        else if k
            |#{k}
        else
            |#{this}            
    if fv
        //- label Image
        a(href="{{c.url fv }}" target='_window')
            img.ui.small.inline.rounded.image(src="{{c.url fv height=500 gravity='face' crop='fill'}}" class=currentUser.invert_class)
        a#remove_photo.ui.icon.button(title='remove image')
            i.remove.large.icon
    else
        input(type='file' name='upload_image' accept='image/*' )

template(name='image_link_edit')
    .ui.fluid.input
        // .ui.smoothed.label image link
        i.image.icon
        input.edit_image_link(type='link' v=fv placeholder='image link'  autocomplete="off")
    if fv
        img.ui.fluid.image(src=fv)
    // +call_visual


template(name='image_link_view')
    .ui.header #{fv}
    img.ui.image(src=fv)



template(name='textarea_view')
    if fv
        div
        //- if icon
        //-     i.icon(class=fv)
            //- +i n=icon cl='ui inline image'
        .ui.inline.small.grey.header
            if title
                |#{title}
            else if label
                |#{label}
            //- else if key
            //-     |#{key}
            //- else
            //-     |#{this}     
        //- .spacer       
        .f11 {{nl2br fv}}

template(name='textarea_edit')
    .ui.large.form
        .field
            label 
                if icon
                    // i.icon(class=fv)
                    +icon n=icon cl='ui avatar image'
                if title
                    |#{title}
                else if label
                    |#{label}
                //- else if key
                //-     |#{key}
                //- else
                //-     |#{this}
            textarea.edit_textarea(rows='7') #{fv}


        
template(name='text_edit')
    // div
    if icon
        //- i.grey.icon(class=icon)
        +icon n=icon cl='ui avatar image'
    .ui.inline.small.header
        if t
            |#{t}
        else if l
            |#{l}
        else if k
            |#{k}
            //- +clear_value
    .ui.input(class=input_class)
        input.edit_text(type='text' v=fv placeholder=placeholder autocomplete="off")
        

template(name='text_view')
    if fv
        //- unless header
        //-     div
        //-     if icon
        //-         +icon n=icon                
        .ui.inline.grey.small.header
            if title
                |#{title}
            else if label
                |#{label}
            else if k
                |#{k}
            else
                |#{this}
        .ui.inline.header #{fv}



template(name='array_edit')
    // div
    i.grey.tag.icon
    // if icon
    //     - i.grey.icon(class=icon)
    //     +icon n=icon cl='ui avatar image'
    .ui.inline.header
        if title
            |#{t}
        else if l
            |#{l}
        else if k
            |#{k}
    .ui.icon.input
        i.plus.icon
        input.new_element(type='text' placeholder='tag' autocomplete="off")
        //- +clear_value                
    if fv
        // if can_edit
        each fv
            .ui.large.label
                i.delete.icon.remove_element
                |#{this}
                
template(name='array_view')
    if fv
        div
        if i
            i.icon(class=i)
        if label
            .ui.inline.small.grey.header(t=t)
                |#{l}
        each fv
            .ui.label #{this}


template(name='children_edit')
    div
    .ui.inline.header 
        |#{t}
    .ui.icon.large.button.add_child(t="add child #{ref_model}")
        i.plus.icon
    .ui.styled.fluid.accordion
        each children
            +child_edit


template(name='child_edit')
    .t
        .ui.header child doc: #{t} #{key} #{parent.slug}
    .content
        each child_fields
            +Template.dynamic template=edit_template 
        +remove_button
        //-     +text_edit k='key'
        //-     +text_edit k='field'
        //-     +single_doc_edit k='field' ref_model='field_type' ref_k='slug' l='Field Type'
        //-     +text_edit k='label'
        //-     +text_edit k='icon'
        //-     if icon
        //-         i.big.icon(class=icon)
        //- div

              //- if is_reference
        
        //     +single_doc_edit k='ref_model' ref_model='model' ref_k='slug' l='Referenced model (if ref)'
        //     .ui.divider




template(name='children_view')
    .ui.accordion
        .t
            //- if icon
            //-     +i n=icon                
            .ui.inline.header
                if t
                    |#{t}
                else if label
                    |#{label}
                else if k
                    |#{k}
                else
                    |#{this}
                i.dropdown.icon
        .content
            each children
                .ui.smoothed.segment
                    +child_view


template(name='child_view')
    each child_fields
        //- |#{rank} #{t} #{t}
        //- |#{key}
        +Template.dynamic template=view_template 
    +remove_button
    +view_button
        // if field_template
        //     .ui.header field template #{field_template}
        // else 

        // .ui.segment
        //     +text_edit k='key'
        //     // +text_edit k='field'
        //     +single_doc_edit k='field' ref_model='field' ref_k='slug' l='Field Type'
        //     +text_edit k='label'
        //     +text_edit k='icon'
        //     if icon
        //         i.big.icon(class=icon)
        //     // if is_reference
    
        //     +single_doc_edit k='ref_model' ref_model='model' ref_k='slug' l='Referenced model (if ref)'
        //     .ui.divider







template(name='boolean_edit')
    //- div
    .ui.button.toggle_boolean(class="#{boolean_toggle_class} #{cl}" t=tooltip)
        if fv
            i.green.checkmark.large.invert.icon
        else
            i.circle.outline.icon
        //- .ui.compact.button.toggle_boolean(class=boolean_toggle_class)
        if i
            +icon n=i cl='ui avatar image'
        .inline.f12
            //- if fv
            //-     i.checkmark.icon
            if l
                |#{l}
            else if k
                |#{k}
            else
                |#{this}
        div
        //- 
        //- if fv
        //-     if true_icon
        //-         i.large.green.icon(class=true_icon)
        //-     else
        //-         |yes
        //- else
        //-     if false_icon
        //-         i.large.icon(class=false_icon)
        //-     else
        //-         |no


template(name='boolean_view')
    span(t=t)
        .ui.inline.grey.small.header
            if icon
                //- i.grey.icon(class=icon)
                +icon n=icon cl='ui inline mini image'
            if t
                |#{t}
            else if label
                |#{label}
            else if k
                |#{k}
            else
                |#{this}
        if fv
            i.large.green.checkmark.icon
        else
            i.cancel.grey.icon

template(name='single_doc_view')
    div
    if fv
        if icon
            //- i.grey.icon(class=icon)
            +icon n=icon
        .ui.inline.header(t=key)
            |#{t}
        .ui.label
            if icon
                //- i.grey.icon(class=icon)
                +icon n=icon cl='ui avatar image'
            |#{fv}
            |#{doc.t}

template(name='single_doc_edit')
    div
    .ui.inline.header(t=key) 
        if icon
            //- i.grey.icon(class=icon)
            +i n=icon
            if image_id 
                img.ui.avatar.compact.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)

        |#{label} #{t}
    each choices
        .ui.compact.button.select_choice(class=choice_class)
            if icon
                //- i.grey.icon(class=icon)
                +icon n=icon cl='ui middle aligned mini image'
                //- +i n=icon cl='ui mini inline image'
            |#{calculated_label} #{t}
            |#{slug}
            
            
template(name='single_tribe_edit')
    div
    .ui.inline.header(t=key) 
        |select tribe
    each tribes
        .ui.compact.button.select_tribe(class=select_tribe_class)
            | #{t}


template(name='multi_doc_edit')
    div
    if icon
        +icon n=icon cl='ui mini inline image'
        +i n=icon cl='ui mini inline image'
    .ui.inline.header(t=key)
        |#{t} #{label}    
    each choices
        .ui.compact.button.select_choice(class=choice_class)
            if icon
                //- i.grey.icon(class=icon)
                +i n=icon cl='ui avatar image'
            if image_id
                img.ui.avatar.compact.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            // |#{t} #{slug}

            |#{t}
    //- .ui.sub.header 
    //-     if icon
    //-         i.grey.icon(class=icon)
    //-     |#{t}
    //- select.ui.fluid.multiple.selection.dropdown(multiple='')
    //-     each choices
    //-         option(v=slug) #{t} #{unit_number}
    //- .ui.fluid.multiple.selection.dropdown
    //-  // input(type='hidden' name='multi_doc_edit')
    //-  // i.dropdown.icon
    //-  // .default.text 
    //-  //     |#{t}
    //-  // .menu
    //-  //     each choices
    //-  //         .item(data-v=slug) 
    //-  //             if icon
    //-  i.grey.icon(class=icon)
    //-  //             |#{t}
    
    
    

template(name='multi_doc_view')
    div
    //- if icon
    //-     +i n=icon cl='ui mini inline image'
    if fv
        .ui.inline.header(t=key)
            |#{t} #{label}
        each sorted_fvs
            .ui.large.label
                |#{this}



template(name='single_user_edit')
    div
    if i
        i.icon(class=i)
    .ui.inline.header 
        |#{label} #{t}
    // if fv
    //     .pull_user.ui.icon.compact.button(t='remove user')
    //         i.remove.icon
            //- |clear #{fv}
    unless fv
        .ui.input
            input#single_user_select_input(type='text' placeholder='lookup user..' autocomplete='off')
            each selections
                .ui.grey.inline.header 
                    |#{username}
        if user_results
            .ui.attached.smoothed.segment
                .ui.middle.aligned.selection.animated.list
                    each user_results
                        a.select_user.item(href='#')
                            .ui.small.inline.header
                                img.ui.avatar.image(src="{{c.url profile_image_id width=100 height=100 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                                |#{username}
    if fv
        // +user_card fv
        if is_dev
            |#{fv}
        //- |#{this}
        with user_from_id fv
            .ui.inline.header
                img.ui.avatar.image(src="{{c.url profile_image_id width=100 height=100 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                |#{username}
            i.pull_user.remove.link.icon


template(name='single_user_view')
    if fv
        div
        if icon
            +icon n=icon    
        .ui.inline.header 
            |#{t}
            |#{label}
        with fv
            with user_from_id this
                a.ui.item(href="/u/#{username}") 
                    .content
                        .header
                            img.ui.avatar.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                            |#{username}
            



template(name='multi_user_edit')
    div
    .ui.inline.header
        if icon
            i.icon(class=icon)
            //- +i n=icon
        if t
            |#{t}
        else if l
            |#{l}
        else if k
            |#{k}
        else
            |#{this}
    .ui.input
        input#multi_user_select_input(type='text' placeholder="lookup #{role_filter}.." autocomplete='off')
    each selections
        a.ui.large.label(href="/u/#{username}")
            |#{username}
    if user_results
        .ui.top.attached.segment
            .ui.middle.aligned.selection.animated.list
                each user_results
                    a.select_user.item(href="#")
                        .ui.header
                            img.ui.avatar.image(src="{{c.url profile_image_id width=100 height=100 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                            small @#{username}
    +clear_value                
    each fv
        // |#{this}
        with user_from_id this
            div
            .ui.inline.header
                img.ui.avatar.image(src="{{c.url profile_image_id width=100 height=100 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                |#{username}
            i.pull_user.remove.link.icon

template(name='multi_doc_input')
    //- .ui.form
        //- .ui.inline.header
        //-     if icon
        //-         i.grey.icon(class=icon)
        //-     if t
        //-         |#{t}
        //-     else if label
        //-         |#{label}
        //-     else if key
        //-         |#{key}
        //-     else
        //-         |#{this}
    .ui.big.input
        input#multi_doc_select_input(type='text' placeholder=t autocomplete="off")
        //- input#multi_doc_select_input(type='text' placeholder="Lookup #{ref_model}.." autocomplete="off")
    each selections
        .ui.large.label
            |#{n}
    if doc_results
        .ui.attached.secondary.segment
            .ui.middle.aligned.selection.animated.list
                each doc_results
                    .select_doc.item
                        h2.ui.header
                            //- img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                            strong + #{guest_name} #{first_name} #{last_name}
        //- +clear_value                
        //- .ui.list
        //-     each fv
        //-         // |#{this}
        //-         +user_card
        //-         .ui.large.button
        //-             |#{first_name} #{last_name}
                //- with user_from_id
                //-     .item
                //-         .right.floated.content
                //-             i.pull_user.remove.link.icon
                //-         .image
                //-             img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                //-         .content
                //-             h4.ui.header
                //-                 |#{first_name} #{last_name}
                //-                 @#{username}


template(name='multi_user_view')
    .ui.header 
        if icon 
            // i.icon(class=icon)
            +i n=icon cl='ui avatar image'
        |#{fv.length}
        |#{t} #{label}
        //- #{key} #{label}
    each fv
        with user_from_id this
            a.ui.item(href="/u/#{username}") 
                .content
                    .header
                        img.ui.avatar.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                        |#{username}
            
            div
            


    
    
template(name='range_edit')
    .ui.form
        .field
            label 
                +icon n='date-to'
                start date
            #rangestart.ui.calendar
                .ui.input.left.icon
                    i.calendar.icon
                    input(type='text', placeholder='start' v=start_time)
            .ui.button.fluid.get_start save start
        .field
            label 
                +icon n='date-from'
                |end date
            #rangeend.ui.calendar
                .ui.input.left.icon
                    i.calendar.icon
                    input(type='text', placeholder='end' v=end_time)
            .ui.button.fluid.get_end save end



        
