template(name='login')
    .ui.padded.stackable.grid
        .centered.row
            .eight.wide.column
                .ui.center.aligned.basic.segment
                    // a.ui.icon.button(href='/')
                    .ui.big.inline.grey.header 
                        i.yin.yang.big.icon
                    .ui.big.inline.grey.header 
                        i.sign.in.alternate.icon
                        // |login
                div
                // if message
                //     h4.ui.center.aligned.header #{message}
                .ui.inline.small.header 
                    |username
                .ui.fluid.large.icon.input(class=login_class title='username')
                    i.user.outline.icon
                    input.username(type='text')
                .spacer
                .ui.inline.small.header 
                    | password
                .ui.fluid.large.icon.input(class=login_class title='password')
                    i.lock.icon
                    input.password(type='password')
                //- if username
                // if logging_in
                .spacer
                .ui.fluid.big.circular.button.enter(title="login #{username}" class=enter_class)
                    |login
                    strong #{username}
                    |&nbsp;
                    i.sign.in.alternate.icon
                .ui.center.aligned.basic.segment    
                    a.ui.circular.button(href='/forgot_password')
                        i.refresh.icon
                        |forgot password
                    a.ui.circular.button(href='/register')
                        i.plus.icon
                        |register


template(name='forgot_password')
    .ui.padded.stackable.grid
        .centered.row
            .fifteen.wide.column
                //- h1.ui.center.aligned.header Reset Password
                h1.ui.center.aligned.grey.header
                    +i name='forgot-password' cl='ui mini inline image'                    
                    |forgot password 
                if message
                    h4.ui.center.aligned.header #{message}
                .ui.center.aligned.basic.segment
                    .ui.inline.header
                        //- +i name='user'
                        | username
                    .ui.large.input(class=login_class)
                        input.username(type='text')
                    .ui.submit.button.submit_username submit
                    .ui.header or
                    .ui.inline.header
                        +icon name='email'
                        | email
                    .ui.labeled.large.input
                        input.email(type='email')
                    .ui.submit.button.submit_email submit
                if username
                    if logging_in
                        .ui.fluid.large.button.enter(title="login #{username}" class=enter_class)
                            |login '#{username}'
                            i.right.arrow.icon
                    else
                        .ui.center.aligned.secondary.segment
                            .ui.small.grey.header username "#{username}" not found
                            a(href='/choose_persona') register
                .ui.center.aligned.basic.segment    
                    a.ui.big.button(href='/login') 
                        i.sign.in.alternate.icon
                        |login
                    a.ui.big.button(href='/register')
                        +icon name='add-user-male' cl='ui mini inline image'
                        |register


template(name='reset_password')
    .ui.padded.stackable.grid
        .centered.row
            .fifteen.wide.column
                .ui.center.aligned.grey.header
                    i.refresh.icon
                    |reset password 
                form#reset_password_form.ui.form
                    .field
                        label password
                        .ui.input
                            input.password1(type='password')
                            //- i.lock.icon
                    //- .field
                    //-     label password 2
                    //-     .ui.input
                    //-         input.password2(type='password')
                    //-         //- i.lock.icon
                    button.ui.submit.button(type='submit') Submit



template(name='register')
    //- img.ui.fluid.image.bg_overlay(src="{{c.url 'forest-bg2' width=1000 crop='fit'}}")    
    .ui.padded.stackable.grid
        .centered.middle.aligned.row
            .ten.wide.column
                .ui.center.aligned.basic.segment
                    //- a.ui.icon.button(href="/")
                    //-     i.large.home.icon
                    .ui.big.inline.header 
                        i.yin.yang.icon
                        // +i name='add-user-male'
                        i.user.plus.grey.icon
                        // |register
                //- if message
                //-     h4.ui.center.aligned.header #{message}
                .ui.small.inline.header 
                    i.user.outline.icon
                    |username
                .ui.fluid.icon.input(class=login_class)
                    //- if email_valid
                    // if username_valid
                    //     i.checkmark.large.green.icon
                    // else
                    //     i.ban.orange.large.icon
                    input.username(type='text')
                // .ui.fluid.icon.input(class=login_class)
                //     //- if email_valid
                //     if username_valid
                //         i.checkmark.icon
                //     else
                //         i.ban.icon
                //     input.email(type='text')
                .ui.small.inline.header 
                    i.lock.grey.icon
                    // +icon name='password'
                    | password
                .ui.fluid.input(class=login_class)
                    input.password(type='password')
                //- .ui.fluid.labeled.input(class=login_class)
                //-     .ui.small.inline.header 
                //-         i.lock.grey.icon
                //-         | password again
                //-     input.password2(type='password')
                if can_register
                    //- if registering
                    .ui.fluid.big.circular.button.register(class=enter_class)
                        i.user.plus.icon
                        |register
                else
                    .ui.fluid.big.disabled.button(class=enter_class)
                        i.user.plus.icon
                        |register
                    // // .ui.small.header username "#{username}" found
                    // a.ui.basic.fluid.button(href='/login') 
                    //     // i.right.chevron.icon
                    //     +icon name='internal' cl='ui inline image'
                    //     |login
                .ui.center.aligned.basic.segment    
                    // .ui.small.header by registering you agree to our 
                    //     a(href='/p/privacy' target="_window") privacy policy
                    // unless username
                    a.ui.circular.button(href='/login') 
                        // i.chevron.right.icon
                        small or
                        +i name='login-rounded-right' cl='ui avatar image'
                        |login
                    
