template(name='nav')
    .ui.fluid.attached.borderless.inverted.large.menu.hscroll
        // a.icon.item.toggle_sidebar.no_blink
        //     i.bars.icon
    
        a.icon.item.blink.clear(href="/" class="{{isActiveRoute regex='home'}}")
            i.yin.yang.large.icon
        a.icon.item.blink.clear(href="/stats" class="{{isActiveRoute 'stats'}}")
            i.line.chart.large.icon
        a.icon.item.blink.clear.go_shop(href="/shop" class="{{isActiveRoute 'shop'}}")
            i.line.shop.large.icon
        a.icon.item.blink.clear(href="/love" class="{{isActiveRoute 'love'}}")
            i.heart.outline.large.icon
        if currentUser
            a.icon.item.blink.clear(href="/users" class="{{isActiveRoute 'users'}}")
                i.users.large.icon
        // .item(title='session karma')
        //     i.grey.lightning.icon
        //     |#{session_clicks}
        // .item(title='global karma')
        //     i.grey.globe.icon
        //     |#{global_karma}
        .item
            +status
    
        if is_dev 
            .icon.item
                i.code.icon
        .right.menu
            if currentUser
                a.icon.item.add_post
                    i.plus.icon
            
                if unread_count
                    a.item.alerts.select_term(href="#" class=alert_toggle_class)
                        i.bell.icon
                        if unread_count
                            |#{unread_count}
                else
                    a.icon.item(href="/inbox" class="{{isActiveRoute 'inbox'}}")
                        i.outline.bell.icon
                // a.icon.item(href="/u/#{currentUser.username}/messages" class="{{isActivePath 'user_messages'}}" title="#{user.username} messages")
                //     i.inbox.icon
                a.icon.item(href="/u/#{currentUser.username}/credit" class="{{isActivePath 'user_credit'}}" title="#{user.username} credit")
                    strong #{currentUser.points}
                a.item(href="/u/#{currentUser.username}" class="{{isActiveRoute regex='user'}}")
                    if currentUser.profile_image_id
                        if is_admin
                            i.shield.icon(title='admin mode on')
                        else
                            img.ui.avatar.compact.image(src="{{c.url currentUser.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                    else 
                        i.user.icon
                    strong.mobile.hidden #{currentUser.name}
                a.icon.item.toggle_rightbar.no_blink
                    i.bars.icon
            else
                a.icon.item(href="/register" title='login')
                    i.user.plus.large.icon
                a.item(href="/login" title='login')
                    |login
                    i.chevron.right.large.icon


template(name='topbar')
    .ui.fluid.attached.segment
        .ui.middle.aligned.divided.list
            each recent_alerts
                +recent_alert
        a.ui.icon.attached.basic.button.item.close_topbar(href="/inbox")
            i.inbox.icon
            |inbox
        
template(name='recent_alert')        
    .item.alert
        .right.floated.content
            i.eye.link.icon.mark_viewed(title='mark read')
        img.ui.avatar.image(src="{{c.url author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
        .content
            .header
                |#{description} 
            .description #{author.name} #{when}
            
            
            
            
template(name='right_sidebar')
    .ui.right.sidebar.vertical.borderless.inverted.large.menu
        a.item.toggle_rightbar.no_blink(href="/u/#{currentUser.username}/" class="{{isActiveRoute 'user_dashboard'}}")
            | dashboard (#{currentUser.points}p)
            i.dashboard.icon
        
        a.item.toggle_rightbar.no_blink(href="/u/#{currentUser.username}/credits" class="{{isActiveRoute 'user_credits'}}")
            | #{currentUser.total_credit_amount}p received
            i.chevron.down.icon
        a.item.toggle_rightbar.no_blink(href="/u/#{currentUser.username}/posts" class="{{isActiveRoute 'user_posts'}}")
            | #{currentUser.total_credit_amount} posts
            i.newspaper.icon
        a.item.toggle_rightbar.no_blink(href="/u/#{currentUser.username}/comments" class="{{isActiveRoute 'user_comments'}}")
            | #{currentUser.total_credit_amount} comments
            i.comment.icon
        a.item.toggle_rightbar.no_blink(href="/u/#{currentUser.username}/tips" class="{{isActiveRoute 'user_tips'}}")
            | #{_amount} tips
            i.donate.icon
        a.item.toggle_rightbar.no_blink(href="/u/#{currentUser.username}/groups" class="{{isActiveRoute 'user_groups'}}")
            | groups
            i.fire.icon
        a.ui.item.toggle_rightbar.no_blink(href="/u/#{currentUser.username}/bounties" class="{{isActiveRoute 'user_bounties'}}" title="#{user.username} bounties")
            i.hand.holding.icon
            span bounties
        a.item.toggle_rightbar.no_blink(href="/u/#{currentUser.username}/friends" class="{{isActiveRoute 'user_friends'}}")
            | friends
            i.users.icon
        a.item.toggle_rightbar.no_blink(href="/u/#{currentUser.username}/sent" class="{{isActiveRoute 'user_sent'}}")
            | #{currentUser.total_debit_amount}p sent
            i.chevron.up.icon
        .ui.divider
        a.item.toggle_rightbar.no_blink(href="/u/#{currentUser.username}/edit" title='edit your account')
            i.cog.icon
            |settings
        // a.item.toggle_nightmode.toggle_rightbar.no_blink(href="#")
        //     i.lightbulb.icon
        //     |dark mode
        a.item.logout
            |logout
            if is_logging_out
                i.refresh.loading.icon
            else
                i.sign.out.icon


