template(name='stack_page')
    with current_doc
        .ui.stackable.padded.grid
            .middle.aligned.row
                .four.wide.center.aligned.column
                    a.ui.large.fluid.button(href="/site/#{site}") 
                        i.chevron.left.icon
                        | #{site}
                .eight.wide.center.aligned.column
                    .ui.header !{title}
                .four.wide.center.aligned.column
                    a.ui.circular.icon.button(href=link target='_window' title=link)
                        // |#{link}
                        i.external.large.icon
            .row
                .four.wide.column
                    if watson.metadata.image
                        img.ui.invert.image(src=watson.metadata.image)    

                    each tags 
                        a.ui.basic.large.pointer.label.add_stack_tag #{this}
                    if is_answered
                        .ui.basic.inverted.green.invert.large.label
                            i.green.checkmark.icon
                            |answered
                    else
                        .ui.basic.label
                            // i..icon
                            |unanswered
                    .ui.large.basic.label 
                        i.eye.icon
                        |#{view_count}
                    .ui.list
                        .item #{view_count} views
                        .item id #{_id}
                        .item protected_date #{protected_date}
                        .item accepted_answer_id #{accepted_answer_id}
                        .item #{answer_count} answers
                        .item score #{score}
                        .item qid #{question_id}
                        .item last_activity_date #{last_activity_date} {{from_now last_activity_date}}
                        .item creation #{creation_date} {{from_now creation_date}}
                        .item #{_when}
                        .item license #{content_license}
                        
                    with owner
                        .ui.compact.segment
                            a.ui.inline.header(href="/site/#{current_doc.site}/user/#{user_id}") #{display_name}
                            img.ui.inline.centered.invert.rounded.image(src=profile_image)
                            .ui.label reputation #{reputation}
                            .ui.label user_id #{user_id}
                            .ui.label user_type #{user_type}
                            a.ui.circular.icon.button(href=link)
                                i.large.external.icon
                    +bookmark_button
                    +voting
                    +print_this
                    +doc_sentiment
                    +doc_emotion
                .twelve.wide.column
                    .invert.ui.teritary.segment.scrolling
                        |!{body}
                    each question_answers
                        .ui.segment
                            |!{body}
                    i.big.refresh.circular.link.icon.get_question
                    i.big.exclamation.circular.link.icon.get_answers
                    // +skve k='stack_section' v='main' l='content' i='content' 
                    +skve k='stack_section' v='watson' l='watson' i='brain' 
                    if tone
                        +skve k='stack_section' v='tone' l='tone' i='user' 
                    // +skve k='stack_section' v='embed' l='embed' i='layout' 
                    if skv_is 'stack_section' 'tone'
                        if watson 
                            if tone
                                +tone
                        // else if skv_is 'stack_section' 'main'
                    else if skv_is 'stack_section' 'watson'
                        if watson 
                            .ui.fluid.button.call_tone 
                                i.smile.icon
                                |analyze tone
                            +watson_view
                            +watson_full
                    unless watson
                        .ui.big.fluid.button.call_watson
                            i.large.brain.icon
                            |analyze
                    // if skv_is 'stack_section' 'embed'
                    //     iframe(width="100%" height="500" src=link frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)        
                    +comments

        
            
                    
