template(name='questions')
    .ui.padded.stackable.grid
        .four.wide.column
            .ui.icon.fluid.input
                i.search.icon
                input.search_questions(type='text' placeholder='search questions')
            // .ui.icon.input
            //     i.plus.icon
            //     input.ask_question(type='text' placeholder='ask question')
            +cloud filter='question'
            .ui.small.grey.header total bounty available
            .ui.small.grey.header total bounty earned
            if selected_tags
                // if many_tags
                //     a#clear_tags.ui.black.icon.small.compact.button.select_term
                //         i.remove.icon
                each selected_tags
                    +unselect_tag
            .ui.inline.input 
                input.search_title(type='text' autofocus='')
            each tag_results
                +tag_selector
            +sbt k='view_open' l='view open'
            +sbt k='view_your_questions' l='your questions'
            +sbt k='view_your_answers' l='your answers'
        
        .twelve.wide.column
            |limit
            +skve k='limit' v=1 l='1'
            +skve k='limit' v=10 l='10'
            |sort
            +skve k='sort_key' v='_timestamp' l='when'
            +skve k='sort_key' v='bounty' l='bounty'
            +skve k='sort_direction' v=-1 l='up'
            +skve k='sort_direction' v=1 l='down'
            |view
            +skve k='view_mode' v='cards' l='cards' i='clone'
            +skve k='view_mode' v='list' l='list' i='list'
            .spacer
            if skv_is 'view_mode' 'list'
                .ui.big.link.selection.list 
                    each questions 
                        a.item(href="/question/#{_id}/view")
                            if image_id
                                // a(href="/question/#{_id}/view")
                                img.ui.avatar.image.view(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                            else if image_url
                                // a(href="/question/#{_id}/view")
                                img.ui.avatar.image.view(src=image_url class=currentUser.invert_class)
                            .content
                                .header #{title}
            else
                .ui.cards
                    each questions
                        +question_card
                
template(name='question_card')
    .ui.card
        if image_id
            // a(href="/question/#{_id}/view")
            img.ui.pointer.image.view(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
        else if image_url
            // a(href="/question/#{_id}/view")
            img.ui.pointer.image.view(src=image_url class=currentUser.invert_class)
        .content
            a.ui.header.select_question(href="/question/#{_id}/view") #{title}
            .ui.list 
                .item #{views} views
                .item 
                    i.user.outline.icon
                    |#{_author.username}
                .item 
                    |bounty: 
                    |#{bounty}pts
                .item 
                    |bounty: 
                    |#{bounty_total}pts
                .item 
                    each tags 
                        .ui.label #{this}
            .ui.big.icon.compact.button.vote_true(class=vote_true_class)
                i.thumbs.up.icon(class=vote_true_icon_class)
            .ui.big.icon.compact.button.vote_false(class=vote_false_class)
                i.thumbs.down.icon(class=vote_false_icon_class)
            if can_edit
                +skve k='edit_question_id' v=_id l='edit'
            if skv_is 'edit_question_id' _id
                .ui.inline.header editing
                +text_edit k='title' d=true
                +number_edit k='bounty' d=true
                +skve k='edit_question_id' v=null l='save'
                +number_edit k='bounty_total' l='total bounty' d=true
                // +kve k='question_type' v='true_false' l='true/false'
                // +kve k='question_type' v='multiple_choice' l='multiple choice'
                // if kv_is 'question_type' 'multiple_choice'
                //     // +number_edit k='answer_count' l='number of answers' d=true
                //     // each answers
                //     +text_edit k='answer_choice_one' l='answer choice one' d=true
                //     +text_edit k='answer_choice_two' l='answer choice two' d=true
    
        
        
        
        
// template(name='kve')    
//     .ui.button.set_key_value
//         |#{label}
                        
                        
                        
// template(name='unselect_tag')
//     a.unselect_tag.ui.black.big.image.label.select_term(href='#')
//         if term
//             img.ui.avatar.compact.image(src=term.watson.metadata.image)    
//         strong #{this}

// template(name='tag_selector')
//     // a.ui.big.image.label.pointer.select_tag.select_term(href='#' title="#{count} results" class=selector_header_class)
//     a.ui.tertiary.basic.button.select_tag.select_term(href='#' title="#{count} results" class=selector_header_class)
//         if term
//             if term.watson.metadata.image
//                 img.ui.avatar.compact.invert.image(src=term.watson.metadata.image)    
//         | #{name}
//         // small #{count}
                        