template(name='rental_card')
    .ui.card
        if image_id
            a.image.pointer(href="/rental/#{_id}/view")
                img.ui.image(src="{{c.url image_id height=500 width=500 gravity='face' crop='fill'}}")
        .content
            a.ui.header(href="/rental/#{_id}/view") #{title}
            // |#{when}
            .ui.inline.header $#{dollars_per_hour}/hour
            .ui.inline.header #{points_per_hour}pts/hour
        .content
            if location
                i.marker.icon 
                |#{location}
        if is_admin 
            +print_this



template(name='rental_view')
    with current_doc
        .ui.stackable.padded.grid
            .middle.aligned.row 
                .sixteen.wide.column
                    a.ui.compact.button(href="/m/rental")
                        i.chevron.left.icon
                        +icolor name='calendar' cl='ui inline image'
                    .ui.small.inline.header(title='viewing rental')
                        +icolor name='tear-off-calendar'
                        // i.calendar.icon
                        // |view rental
                    .ui.large.inline.header #{title}
                    // div
                    if can_edit
                        a.edit_rental(href="/m/rental/#{_id}/edit" title='edit')
                            i.large.blue.link.pencil.icon

            .row 
                .five.wide.column
                    if location 
                        i.large.marker.icon(title='location')
                        |#{location}
                    each location_tags
                        .ui.basic.label #{this}
                    img.ui.fluid.rounded.image(src="{{c.url image_id }}")
                    if is_admin
                        .ui.tertiary.segment
                            .ui.header 
                                small author
                            a.ui.header(href="/user/#{_author.username}") 
                                img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                                |#{_author.username}
                    .ui.dividing.header 
                        |contact:
                        |#{rental_contact.name}
                    .ui.header
                        |#{max_capacity} max capacity
                    // .ui.small.grey.header 
                    //     i.line.chart.icon
                    //     |stats
                    .ui.small.header #{views} views
                    each viewers
                        .ui.label #{username}
                    .ui.hidden.divider
                .six.wide.column
                    // a.ui.header(href="/user/#{target.username}")
                    //     |#{target.username}
                    .scrolling
                        +textarea_view key='description' label='description' direct=true
                    div 
                    +array_view key='tags' label='tags' direct=true
                    .spacer
                    .spacer
                    +comments
                    // +voting_full
                    //- +array_view key='location_tags' label='location_tags' direct=true
                .five.wide.column
                    .ui.inline.header 
                        // i.cart.icon
                        +icolor name='buy'
                        |reserve
                    div
                    .ui.big.green.fluid.button.reserve_for_usd
                        // |buy for 
                        // +icolor name='money' cl='ui inline image'
                        |$#{usd_price}
                    if currentUser
                        .ui.horizontal.divider or
                        if has_points
                            .ui.big.teal.flud.button.buy_for_points
                                // i.cart.icon
                                // |buy for 
                                |#{point_price}pts
                        else
                            .ui.big.teal.disabled.fluid.button
                                // i.cart.icon
                                // |buy for 
                                |#{point_price}pts
                    .ui.dividing.header 
                        +icolor name='activity-history' cl='ui inline image'
                        |#{rental_reservations.length} reservations
                    .ui.large.link.selection.list
                        each reservations
                            a.ui.item(href="/reservation/#{_id}/view") 
                                .content
                                    .header
                                        if is_usd
                                            .ui.inline.green.header ${{money_format amount}}
                                        else
                                            .ui.inline.header #{point_amount}pts
                                        |#{when} #{_author_username}
                                    if can_edit 
                                        +icolor name='return-purchase' cl='ui mini inline image return pointer'
                                    if is_admin
                                        +remove_button

                    //- .ui.fluid.green.button.submit
                    //-     i.checkmark.icon
                    //-     |submit
template(name='rental_edit')
    with current_doc
        .ui.stackable.padded.grid
            .centered.middle.aligned.row 
                .sixteeen.wide.column
                    a.ui.icon.green.big.circular.button(href="/rental/#{_id}/view" title='save')
                        i.checkmark.big.icon
                    .ui.inline.header 
                        +icolor name='tear-off-calendar'
                        |edit rental
                    .ui.icon.button.delete_item(title='delete')
                        i.large.remove.icon
            .three.column.row
                .column
                    .ui.header 
                        small author
                        |#{_author.username}
                        +boolean_edit key='published' label='published' direct=true
                .column
                    +text_edit key='title' label='title' direct=true
                    .ui.header
                        +icon name='audience'
                        |audience
                    +number_edit key='max_capacity' label='max capacity' min='0' max='300' direct=true
                    +number_edit key='points_per_hour' label='points per hour' min='0' max='1000' direct=true
                    +number_edit key='dollars_per_hour' label='dollars per hours' min='0' max='1000' direct=true
                .column
                    +textarea_edit key='description' label='description' direct=true
                    +image_edit key='image_id' label='image' direct=true
                    div 
                    +array_edit key='tags' label='tags' direct=true
                    +text_edit key='location' label='location' direct=true
                    +array_edit key='location_tags' label='location_tags' direct=true
                    // unless published
                    //     a.ui.fluid.green.button.submit(href="/save")
                    //         i.checkmark.icon
                    //         |publish
                    // else
                    //     .ui.basic.button.unpublish 
                    //         |unpublish