template(name='site_page')
    with current_site
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    a.ui.circular.icon.button(href='/')
                        i.large.home.icon
                    img(src=logo_url)
                    // img(src=icon_url)
                    // .ui.segment(style="background-color:#{styling.tag_background_color}")
                    // .ui.label #{tag_background_color}: tag_background_color
                    // .ui.label #{tag_foreground_color}: tag_foreground_color
                    // .ui.label #{link_color}: link_color
                    // .ui.header related sites
                    .ui.header !{name}
                    each related_sites
                        .ui.small.header 
                            i.fork.icon
                            |#{name}
                        // .ui.list 
                            // .item relation: #{relation}
                            // .item api_site_parameter: #{api_site_parameter}
                            // .item site_url: #{site_url}
                    a(href="https://www.twitter.com/#{twitter_account}" target='_window' title=twitter_account)
                        i.large.link.twitter.icon
                    a(href=site_url)
                        |#{site_url}
                    .ui.list.mobile.hidden
                        // .item #{launch_date} launch_date
                        // .item #{open_beta_date} open_beta_date
                        // .item #{closed_beta_date} closed_beta_date
                        // .item #{site_state} site_state
                        // .item #{high_resolution_icon_url} high_resolution_icon_url
                        // .item #{favicon_url} favicon_url
                        .item #{audience}
                        // .item #{api_site_parameter} api_site_parameter
                        // .item #{site_type} site_type
                    +comments
                    +voting_full
                .twelve.wide.column
                    if selected_tags
                        // if many_tags
                        //     a#clear_tags.ui.black.invert.icon.compact.button.select_term
                        //         i.remove.icon
                        each selected_tags
                            +unselect_tag
                    .ui.icon.input
                        i.search.icon
                        input.search_site(type='text')
                    each site_tags
                        +tag_selector
                        // .ui.large.label(title=count) #{name}
                    if skv_is 'sort_direction' 1
                        .ui.icon.compact.circular.button.sort_down
                            i.caret.down.icon
                    else
                        .ui.icon.compact.circular.button.sort_up
                            i.caret.up.icon
                    .ui.compact.circular.button.limit_1
                        |1
                    .ui.compact.circular.button.limit_10
                        |10
                    .ui.icon.compact.large.circular.button.sort_timestamp
                        i.clock.icon
                    .ui.icon.compact.large.circular.button.set_points
                        i.line.chart.icon
                    if skv_is 'view_detail' true
                        .ui.icon.active.large.circular.button.toggle_detail
                            i.list.large.icon
                    else
                        .ui.icon.compact.large.circular.button.toggle_detail
                            i.list.large.icon
                        // i.line.chart.icon
                    // .ui.icon.compact.large.button 
                    //     i.th.icon
                    // .ui.icon.compact.large.button 
                    //     i.list.icon
                    .ui.selection.link.big.list
                        each site_questions
                            a.item.view_question(href="/site/#{site}/doc/#{_id}")
                                if watson.metadata.image
                                    img.ui.avatar.invert.image(src=watson.metadata.image)    
                                .content 
                                    .header !{title}
                                    if skv_is 'view_detail' true
                                        each tags
                                            .ui.label #{this}
                // .four.wide.column
                //     .ui.circular.icon.button.vote_up
                //         i.thumbs.up.icon
                //     .ui.circular.icon.button.vote_down
                //         i.thumbs.down.icon
                //     each upvoters
                //         .ui.small.header #{username}
                //     each downvoters
                //         .ui.small.header #{username}
                //     .ui.header stats
                //     .ui.list 
                //         .item #{site_doc_count}
                //     .ui.dividing.header 
                //         |members
                //     each members
                //         .ui.header #{username}
                //     .ui.button.join
                //         |join
                //     .ui.button.leave
                //         |leave
