template(name='stackuser_page')
    unless stackuser_doc
        .ui.header no user found
        .ui.button.search 
            |search
    with stackuser_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    img.ui.rounded.image(src=profile_image class=currentUser.invert_class)
                    .ui.header !{display_name}
                .four.wide.column
                    .ui.large.list
                        .item badge_counts
                        .item
                            +i n='medal2-third-place--v1' cl=currentUser.invert_class
                            |bronze #{badge_counts.bronze}
                        .item 
                            +i n='medal-second-place--v1' cl=currentUser.invert_class
                            |silver #{badge_counts.silver}
                        .item 
                            +i n='medal2--v1' cl=currentUser.invert_class
                            |gold #{badge_counts.gold}
                .four.wide.column
                    .ui.large.list
                        .item account_id #{account_id}
                        .item is_employee #{is_employee}
                        .item last_modified_date #{last_modified_date} {{from_now last_modified_date}}
                        .item last_access_date #{last_access_date}  {{from_now last_access_date}}
                        .item reputation_change_year #{reputation_change_year}
                        .item reputation_change_quarter #{reputation_change_quarter}
                        .item reputation_change_month #{reputation_change_month}
                        .item reputation_change_week #{reputation_change_week}
                        .item reputation_change_day #{reputation_change_day}
                        .item reputation #{reputation}
                        .item created #{creation_date}
                        .item type #{user_type}
                        .item user_id #{user_id}
                        .item accept_rate #{accept_rate}
                        .item 
                            i.marker.icon
                            |location #{location}
                        .item website_url #{website_url}
                        a.item(href=link target='_window') 
                            i.linkify.icon
                            |#{link}

                .four.wide.column
                    .ui.header emotion
                    .ui.large.list 
                        .item joy avg
                        .item sad avg
                        .item disgust avg
                        .item anger avg
                        .item fear avg
                .four.wide.column
                    .ui.header.get_badges
                        i.certificate.icon
                        |badges
                    .ui.list
                        each user_badges
                            .item 
                                .content 
                                    .header #{name}
                                    .description
                                        |#{rank}
                                        .ui.label #{badge_id}
                                        a.ui.circular.icon.button(href=link target="_window")
                                            i.external.icon
                .four.wide.column
                    .ui.header.get_tags
                        i.tag.icon
                        |tags
                    .ui.list
                        each user_tags
                            .item #{name}: #{count}
                .four.wide.column
                    .ui.header.get_answers
                        i.exclamation.icon
                        |answers
                    .ui.list
                        each user_answers
                            .item #{question_id}
                            // .item hi !{body}
                .four.wide.column
                    .ui.header.get_questions
                        i.question.icon
                        |questions
                    .ui.list
                        each user_questions
                            .item #{title}
                .four.wide.column
                    .ui.header.get_comments
                        i.chat.outline.icon
                        |comments
                    .ui.list
                        each user_comments
                            .item #{title}