template(name='stack_page')
    with current_doc
        .ui.stackable.padded.grid
            .middle.aligned.row
                .four.wide.center.aligned.column
                    a.ui.large.fluid.button(href="/site/#{site}") 
                        i.chevron.left.icon
                        if watson.metadata.image
                            img.ui.invert.mini.inline.image(src=watson.metadata.image)    
                        | #{site}
                .eight.wide.center.aligned.column
                    .ui.header 
                        |!{title}
                .four.wide.center.aligned.column
                    a.ui.circular.icon.button(href=link target='_window' title=link)
                        // |#{link}
                        i.external.large.icon
            .row
                .four.wide.column
                    +doc_emotion
                    // i.big.refresh.circular.link.icon.get_question
                    // i.big.exclamation.circular.link.icon.get_answers
                    // +skve k='stack_section' v='main' l='content' i='content' 
                    unless watson
                        .ui.big.fluid.button.call_watson
                            i.large.brain.icon
                            |analyze
                    each tags 
                        a.ui.basic.large.pointer.label.add_stack_tag #{this}
                    if is_answered
                        .ui.basic.inverted.green.large.label
                            i.green.checkmark.icon
                            |answered
                    else
                        .ui.basic.label
                            // i..icon
                            |unanswered
                    .ui.large.basic.label 
                        i.eye.icon
                        |#{view_count}
                    .ui.list
                        .item #{view_count} views
                        .item id #{_id}
                        .item protected_date #{protected_date}
                        .item accepted_answer_id #{accepted_answer_id}
                        .item #{answer_count} answers
                        .item score #{score}
                        .item qid #{question_id}
                        .item last_activity_date #{last_activity_date} {{ufrom last_activity_date}}
                        .item creation #{creation_date} {{ufrom creation_date}}
                        .item #{_when}
                        .item license #{content_license}
                        
                    with owner
                        .ui.compact.segment
                            a.ui.inline.header(href="/site/#{current_doc.site}/user/#{user_id}") #{display_name}
                            img.ui.inline.centered.invert.rounded.image(src=profile_image)
                            .ui.label reputation #{reputation}
                            .ui.label user_id #{user_id}
                            .ui.label user_type #{user_type}
                            a.ui.circular.icon.button(href=link)
                                i.large.external.icon
                    +bookmark_button
                    +voting
                    +print_this
                    +doc_sentiment
                    
                .twelve.wide.column.scrolling
                    // div(class=currentUser.invert_class)
                    .f12 !{body}
                    .ui.dividing.header.get_question_comments
                        |comments
                    each question_comments
                        .ui.segment
                            if is_accepted 
                                .ui.invert.inverted.green.label 
                                    |accepted
                            // div(class=currentUser.invert_class)
                            .f11 !{body}
                            with owner
                                .ui.segment
                                    i.chat.icon
                                    a.ui.inline.header(href="/site/#{current_doc.site}/user/#{user_id}")
                                        img.ui.avatar.invert.image(src=profile_image)
                                        |!{display_name}
                                    |rep:#{reputation}
                                    |#{user_id}
                                    |#{user_type}
                                    |#{accept_rate}
                                    a(href=link) #{link}
                            |#{content_license}
                            +voting
                            // +comments
                    
                    
                    each question_answers
                        .ui.segment(class=answer_class)
                            if is_accepted 
                                .ui.invert.inverted.green.corner.attached.label 
                                    |accepted
                            // div(class=currentUser.invert_class)
                            .f11 !{body}
                            with owner
                                .ui.segment
                                    a.ui.inline.header(href="/site/#{current_doc.site}/user/#{user_id}")
                                        img.ui.avatar.invert.image(src=profile_image)
                                        |!{display_name}
                                    |rep:#{reputation}
                                    |#{user_id}
                                    |#{user_type}
                                    |#{accept_rate}
                                    a(href=link) #{link}
                            |#{content_license}
                            // +voting
                            // +comments
                    +skve k='stack_section' v='watson' l='watson' i='brain' 
                    if tone
                        +skve k='stack_section' v='tone' l='tone' i='user' 
                    // +skve k='stack_section' v='embed' l='embed' i='layout' 
                    if skv_is 'stack_section' 'tone'
                        if watson 
                            if tone
                                +tone
                        // else if skv_is 'stack_section' 'main'
                    else if skv_is 'stack_section' 'watson'
                        if watson 
                            .ui.fluid.button.call_tone 
                                i.smile.icon
                                |analyze tone
                            +watson_view
                            +watson_full
                    // +comments

        
            
                    
