template(name='stats')
    .ui.padded.grid
        .ui.sixteen.wide.column
            .ui.header 
                i.line.chart.icon
                |stats
            .ui.header 
                i.yin.yang.icon
                |#{global_karma} global karma
            .ui.header 
                i.chat.icon
                |#{comment_count} comments
            .ui.header 
                i.reply.icon
                |#{reflection_count} reflections
            .ui.header 
                i.heart.outline.icon
                |#{definition_count} definitions
            .ui.header 
                i.users.icon
                |#{user_count} users
            .ui.header 
                i.donate.icon
                |#{tip_count} tips
            .ui.header 
                i.newspaper.icon
                |#{post_count} posts