template(name='phone_editor')
    .ui.small.header    
        i.phone.icon
        |phone
    .ui.icon.fluid.input(title='Add Phone')
        i.plus.icon
        input#phone.form-control(type='phone', name='phone', v='{{newNumber}}')
    //- if current_user.profile.phone
    //-     if current_user.profile.phone_verified
    //-         .ui.label verified
    //-     else
    //-         p
    //-             .ui.label not verified
    //-             a.resend_verification(href='#')
    //-                 |resend code
    //-             .ui.small.icon.button.remove_phone(title='remove phone')
    //-                 i.remove.icon
    //- else
    //-     .ui.fluid.button.update_phone add phone



template(name='password_edit')
    .ui.small.header
        //- +i n='password'
        i.lock.icon
        |change password
    //- .ui.fluid.input
    //-     input#password(type='password', placeholder='old password')
    .ui.fluid.icon.input
        input#new_password(type='password', placeholder='new password')
    if is_dev
        .ui.fluid.button.send_enrollment_email
            |send enrollment email
    if is_admin
        .ui.fluid.button.reset_password
            |reset password
    .ui.fluid.large.button.set_password
        i.lock.icon
        //- +i n='password' cl='ui mini inline image'
        | set password
            
            
            
template(name='emails_edit')
    //- .ui.small.header 
    //-     i.envelope.icon
    //-     | email(s)
    //- #test_email.ui.large.button test email
    .ui.divided.list
        each current_user.emails
            .item 
                // unless verified
                //     .right.floated.content
                //         .ui.button Verify
                .content
                    if verified
                        .ui.large.green.label(title='verified')
                            | #{address}
                            i.checkmark.icon
                    else
                        .ui.large.orange.label(title='unverified')
                            i.question.icon
                            | #{address}
                        .send_verification_email.ui.button 
                            |verify
                            i.caret.right.icon
                    .ui.small.icon.basic.button.remove_email
                        i.remove.icon
    .ui.action.large.fluid.action.input
        input#new_email(type='email' placeholder='add new address' autocomplete="off")
        #add_email.ui.submit.compact.button 
            i.plus.icon
            |submit



template(name='user_edit_friends')
    .ui.header
        i.users.icon
        | friends
    
    
    
    

template(name='account')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.header 
                i.cog.icon
                |account
        .twelve.wide.column
            .ui.two.column.stackable.grid
                .column
                    // +image_edit k='banner_image_id' i='picture' title='banner image' d=true
                    +password_edit
                .column
                    .ui.header 
                        i.envelope.outline.icon
                        |emails
                    +emails_edit
                    if is_dev
                        .ui.segment
                            i.code.icon
                            +username_edit
                            +boolean_edit k='disabled' l='disabled' d=true
                            +multi_user_edit k='user_representatives' l='user representatives' d=true
                            div
                            with current_user
                                .ui.button.remove_user 
                                    i.remove.icon
                                    |delete user
                    .spacer
                    +phone_edit k='phone' l='phone' i='phone' d=true
        
                    //- +phone_editor
        
template(name='username_edit')
    .ui.small.header 
        i.refresh.icon
        |change username [#{current_user.username}]
    .ui.icon.fluid.input
        input.new_username(type='text' placeholder='new username...')
        i.play.link.icon.change_username
