template(name='user_dashboard')
    +user_bookmarks_small
    // +user_about
    // .ui.hidden.divider
    .ui.stackable.three.column.grid
        .column
            +user_credits_small
        .column
            +user_debits_small
        .column
            .ui.header 
                // i.hand.holding.heart.icon
                +icolor n='request-service'
                |requests
            .smallscroll
                each user_requests
                    a(href="/request/#{_id}/view")
                        .ui.segment
                            .header #{point_bounty}pts: #{title}
                            |#{description}
                            |status: #{status}
                            if complete 
                                |completed by #{completer.name}
        .column
            .ui.header 
                +icolor n='calendar' cl='ui inline spaced image'
                |events
            .smallscroll
                each user_event_tickets
                    a(href="/event/#{event_id}/view")
                        .ui.segment
                            .header #{ticket_event.title}
                                |#{_author.username}
                                |#{description}
                                |#{when}
        .column
            +user_groups_small
            +user_rentals_small
            +user_reservations_small
            +user_questions_small
        .column
            .ui.comments
                .ui.icon.fluid.inverted.large.input
                    i.plus.icon
                    input.add_post(type='text' placeholder='add post...')
                each latest_posts
                    +post_segment
        .column
            +skve k='profile_section' v='dashboard' l='dashboard' i='dashboard'
            // +skve k='profile_section' v='friends' l='friends' i='groups'
            +skve k='profile_section' v='finance' l='finance' i='money'
            +skve k='profile_section' v='posts' l='posts' i='blog'
            +skve k='profile_section' v='tribes' l='tribes' i='campfire'
            +skve k='profile_section' v='questions' l='questions' i='faq'
            +skve k='profile_section' v='answers' l='answers' i='rss'
            +skve k='profile_section' v='overlap' l='overlap' i='exchange'
            +skve k='profile_section' v='debits' l='debits' i='initiate-money-transfer'
            +skve k='profile_section' v='credits' l='credits' i='deposit'
            if skv_is 'profile_section' 'dashboard'
                .ui.header #{points_earned}pts earned
            else if skv_is 'profile_section' 'friends'
                .ui.header friends
            else if skv_is 'profile_section' 'authored_overlap'
                +authored_overlap
            else if skv_is 'profile_section' 'debits'
                +user_debits
            else if skv_is 'profile_section' 'alerts'
                +alerts
            else if skv_is 'profile_section' 'finance'
                .ui.header finance
        .column
            .ui.segment
                .ui.header 
                    |quick send
                if is_current_user
                    each friends 
                        a.profile_nav_item(href="/u/#{username}" title=username)
                            if profile_image_id
                                img.ui.mini.inline.invert.image(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}")
                            else
                                .ui.label #{initials}
                else
                    .ui.button.tip
                        |+1
            each income
                .ui.tiny.header #{amount} #{_author.username}
            +user_topups
            .ui.segment
                .ui.header questions
                .ui.icon.button.ask_question
                    i.plus.icon
                if asking_question
                    with question_asking
                        +text_edit k='title' d=1
                        +number_edit k='bounty' d=1 
                        .ui.button.save_question
                            i.checkmark.icon
                        +remove_button
                each questions_asked
                    .ui.segment.select_question
                        a.ui.pointer.header q:#{title}
                        .ui.label #{bounty}pts
                        
            .ui.header 
                i.big.money.icon(title='log events')
                |earnings
            .ui.header #{points} points
            i.big.rss.icon(title='log events')
            .ui.large.list
                each log_events
                    .item 
                        .content
                            .header #{body}
                            .meta #{_when}
           
template(name='user_groups_small')
    a.ui.header(href="/groups")
        +i n='groups'
        |groups
    .ui.list
        each groups
            a.item(href="/group/#{_id}/view") #{title}
            
template(name='user_credits_small')
    .ui.inline.header 
        +i n='inbox'
        |#{total_credit_amount}p
        |received
        .ui.basic.label #{credit_count} credits
            | ##{global_credit_count_rank}
    .scrolling
        each user_credits
            .ui.segment
                if author.profile_image_id
                    img.ui.avatar.image(src="{{c.url author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                .content
                    .header
                        strong #{amount}pt 
                        |from 
                        a(href="/u/#{author.username}")
                            |#{author.username}
                    .description
                        a(href="/debit/#{_id}/view")
                            |#{when}
                .content
                    .description
                        |#{description}
                        each tags
                            .ui.mini.basic.label #{this}
           
           
template(name='user_debits_small')
    .ui.inline.spaced.header 
        +icolor n='filled-sent' 
        |#{total_send_amount}p
        |sent
        small(title='send count') (#{send_count}x)
            .ui.label ##{global_send_count_rank}
    div
    .scrolling
        each user_debits
            .ui.segment
                a(href="/debit/#{_id}/view")
                    if recipient.profile_image_id
                        img.ui.avatar.image(src="{{c.url recipient.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                    .header
                        strong #{amount}pt
                        |#{when}
                        | to 
                        a(href="/u/#{recipient.username}")
                            |#{recipient.username}
                    .description
                        |#{description}
                        each tags
                            .ui.mini.label #{this}
                        if is_admin
                            +remove_button
