template(name='debit_item')
    .ui.card
        .content
            |#{when}





template(name='debit_view')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .eight.wide.column
                    if is_admin
                        .ui.button.delete_item
                            |delete
                            i.large.red.remove.icon
                    .ui.header
                        i.debit.icon
                        |#{amount}pts
                    .ui.small.header
                        i.clock.icon
                        | #{when}
                    .ui.segment
                        .ui.inline.header 
                            +icon n='donate'
                            |sender
                        a.ui.inline.header(href="/u/#{_author.username}") 
                            img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                            |#{_author.username}
                    .ui.segment
                        .ui.inline.header
                            +icon n='receive-cash'
                            |recipient
                        
                        a(href="/u/#{recipient.username}")
                            img.ui.medium.image(src="{{c.url recipient.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                        a.ui.header(href="/u/#{recipient.username}")
                            |#{recipient.name}
                            
                .eight.wide.column
                    +textarea_view k='description' l='description' d=true
                    +image_view k='image_id' l='image' d=true
                    div 
                    if tags
                        i.tags.icon
                        each tags 
                            .ui.big.label #{this}
                    .spacer
                    .spacer
                    +comments
                    +voting_full
                    //- +array_view k='location_tags' l='location_tags' d=true


template(name='debit_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .five.wide.column
                    .ui.large.fluid.button.delete_item
                        i.large.red.remove.icon
                        |cancel
                    .ui.segment
                        .ui.header sender
                        .ui.header
                            img.ui.small.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                            |#{_author.username}
                    .ui.segment
                        .ui.header recipient
                        with recipient
                            i.large.remove.link.icon.remove_recipient
                            a.pointer(href="/u/#{username}")
                                img.ui.tiny.inline.image(src="{{c.url profile_image_id height=400 width=400 gravity='face' crop='fill'}}")
                                .ui.inline.header #{username}
                                .ui.small.grey.inline.header #{points}
                        unless recipient
                            .ui.divider
                            i.large.user.plus.icon
                            .ui.icon.input
                                i.search.icon
                                input.search_username(type='text' placeholder='username')
                            each members
                                .ui.basic.small.compact.button.add_recipient
                                    // i.plus.icon
                                    img.ui.avatar.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                                    |#{username}
                                    
                .six.wide.column
                    +textarea_edit k='description' l='description' d=true
                    +image_edit k='image_id' l='image' d=true
                    div 
                    div
                    .ui.inline.header
                        i.tags.icon
                        |tags
                    .ui.input
                        input.new_element(type='text' placeholder='+' autocomplete="off")
                        //- +clear_value                
                    each tags
                        .ui.big.basic.label
                            i.delete.icon.remove_element
                            |#{this}
                    
                    //- +array_edit k='location_tags' l='location_tags' d=true
                .five.wide.column
                    .ui.big.header #{amount}pts
                    .ui.big.input
                        input(type='number' v=amount)
                    div
                    +kve k='amount' v=1
                    +kve k='amount' v=5
                    +kve k='amount' v=10
                    +kve k='amount' v=20
                    .spacer
                    .ui.center.aligned.basic.segment
                        if can_submit
                            .ui.green.big.icon.button.submit
                                i.big.checkmark.icon
                                // |submit
                        else 
                            .ui.big.green.big.disabled.button
                                i.checkmark.big.icon
                                // |submit



template(name='user_debits')  
    .ui.header 
        i.send.icon
        |sent
    .ui.link.list.scrolling
        each sent_items
            .item
                if target.profile_image_id
                    img.ui.avatar.image(src="{{c.url target.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                strong #{amount}pt
                |to
                a(href="/u/#{target.username}")
                    |#{target.username}
                .content
                    a(href="/gift/#{_id}/view")
                        |#{when} 
                    .description
                        |#{description}
                        each tags
                            .ui.mini.basic.label #{this}
                    if is_admin
                        +remove_button
