template(name='groups')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.header groups
        .twelve.wide.column
            .ui.large.list
                each group_docs
                    a.item.print(href="/group/#{_id}") 
                        |#{title}
                        // |members
            
            
template(name='group_view')            
    with current_doc
        .ui.stackable.grid
            .row
                // .sixteen.wide.column
                //     img(src=banner_img)
                .six.wide.padded.column
                    img(src=icon_url)
                    img(src=header_img)
                    img(src=icon_img)
                    .ui.header !{display_name}
                    .ui.header !{title}
                    // .ui.segment(style="background-color:#{styling.tag_background_color}")
                    // .ui.label #{tag_background_color}: tag_background_color
                    // .ui.label #{tag_foreground_color}: tag_foreground_color
                    // .ui.label #{link_color}: link_color
                    // .ui.header related sites
                    each related_sites
                        .ui.small.header 
                            i.fork.icon
                            |#{name}
                        // .ui.list 
                            // .item relation: #{relation}
                            // .item api_site_parameter: #{api_site_parameter}
                            // .item site_url: #{site_url}
                    a(href="https://www.twitter.com/#{twitter_account}" target='_window' title=twitter_account)
                        i.large.link.twitter.icon
                    a(href=site_url)
                        |#{site_url}
                    .ui.inline.header #{subscribers} subscribers 
                    .ui.list 
                        .item "user_flair_background_color": null,
                        // .item !{submit_text_html}
                        .item "restrict_posting": true,
                        // .item "user_is_banned": null,
                        // .item "free_form_reports": true,
                        // .item "wiki_enabled": true,
                        // .item "user_is_muted": null,
                        // .item "user_can_flair_in_sr": null,
                        // .item "display_name": "AskReddit",
                        // .item "title": "Ask Reddit...",
                        // .item "allow_galleries": false,
                        // .item "primary_color": "#646d73",
                        // .item "active_user_count": null,
                        // .item "icon_img": "https://b.thumbs.redditmedia.com/EndDxMGB-FTZ2MGtjepQ06cQEkZw_YQAsOUudpb9nSQ.png",
                        // // .item "display_name_prefixed": "r/AskReddit",
                        // .item "accounts_active": null,
                        // .item "public_traffic": false,
                        // .item "user_flair_richtext": [],
                        // .item "name": "t5_2qh1i",
                        // .item "quarantine": false,
                        // .item "hide_ads": false,
                        // .item "emojis_enabled": true,
                        // .item "advertiser_category": "Lifestyles",
                        // .item "public_description": "r/AskReddit is the place to ask and answer thought-provoking questions.",
                        // .item "comment_score_hide_mins": 60,
                        // .item "allow_predictions": false,
                        // .item "user_has_favorited": null,
                        // .item "user_flair_template_id": null,
                        // .item "community_icon": "https://styles.redditmedia.com/t5_2qh1i/styles/communityIcon_tijjpyw1qe201.png?width=256&amp;s=4e76eadc662b8155a93d4d7487a6d3acb35f4334",
                        // .item "banner_background_image": "",
                        // .item "original_content_tag_enabled": false,
                        // // .item "submit_text": "**AskReddit is all about DISCUSSION. Your post needs to inspire discussion, ask an open-ended question that prompts redditors to share ideas or opinions.**\n\n**Questions need to be neutral and the question alone.** Any opinion or answer must go as a reply to your question, this includes examples or any kind of story about you. This is so that all responses will be to your question, and there's nothing else to respond to. Opinionated posts are forbidden.\n\n* If your question has a factual answer, try r/answers.\n* If you are trying to find out about something or get an explanation, try r/explainlikeimfive\n* If your question has a limited number of responses, then it's not suitable.\n* If you're asking for any kind of advice, then it's not suitable.\n* If you feel the need to add an example in order for your question to make sense then you need to re-word your question.\n* If you're explaining why you're asking the question, you need to stop.\n\nYou can always ask where to post in r/findareddit.",
                        // // .item "description_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;h6&gt;&lt;a href=\"http://www.reddit.com/r/askreddit/submit?selftext=true&amp;amp;title=%5BSerious%5D\"&gt; [ SERIOUS ] &lt;/a&gt;&lt;/h6&gt;\n\n&lt;h5&gt;&lt;a href=\"https://www.reddit.com/r/AskReddit/wiki/index#wiki_rules\"&gt;Rules&lt;/a&gt;:&lt;/h5&gt;\n\n&lt;ol&gt;\n&lt;li&gt;&lt;p&gt;You must post a clear and direct question in the title. The title may contain two, short, necessary context sentences.\nNo text is allowed in the textbox. Your thoughts/responses to the question can go in the comments section. &lt;a href=\"https://www.reddit.com/r/AskReddit/wiki/index#wiki_-rule_1-\"&gt;more &amp;gt;&amp;gt;&lt;/a&gt;&lt;/p&gt;&lt;/li&gt;\n&lt;li&gt;&lt;p&gt;Any post asking for advice should be generic and not specific to your situation alone. &lt;a href=\"https://www.reddit.com/r/AskReddit/wiki/index#wiki_-rule_2-\"&gt;more &amp;gt;&amp;gt;&lt;/a&gt;&lt;/p&gt;&lt;/li&gt;\n&lt;li&gt;&lt;p&gt;Askreddit is for open-ended discussion questions. &lt;a href=\"https://www.reddit.com/r/AskReddit/wiki/index#wiki_-rule_3-\"&gt;more &amp;gt;&amp;gt;&lt;/a&gt;&lt;/p&gt;&lt;/li&gt;\n&lt;li&gt;&lt;p&gt;Posting, or seeking, any identifying personal information, real or fake, will result in a ban without a prior warning. &lt;a href=\"https://www.reddit.com/r/AskReddit/wiki/index#wiki_-rule_4-\"&gt;more &amp;gt;&amp;gt;&lt;/a&gt;&lt;/p&gt;&lt;/li&gt;\n&lt;li&gt;&lt;p&gt;Askreddit is not your soapbox, personal army, or advertising platform. &lt;a href=\"https://www.reddit.com/r/AskReddit/wiki/index#wiki_-rule_5-\"&gt;more &amp;gt;&amp;gt;&lt;/a&gt;&lt;/p&gt;&lt;/li&gt;\n&lt;li&gt;&lt;p&gt;[Serious] tagged posts are off-limits to jokes or irrelevant replies. &lt;a href=\"https://www.reddit.com/r/AskReddit/wiki/index#wiki_-rule_6-\"&gt;more &amp;gt;&amp;gt;&lt;/a&gt;&lt;/p&gt;&lt;/li&gt;\n&lt;li&gt;&lt;p&gt;Soliciting money, goods, services, or favours is not allowed. &lt;a href=\"https://www.reddit.com/r/AskReddit/wiki/index#wiki_-rule_7-\"&gt;more &amp;gt;&amp;gt;&lt;/a&gt;&lt;/p&gt;&lt;/li&gt;\n&lt;li&gt;&lt;p&gt;Mods reserve the right to remove content or restrict users&amp;#39; posting privileges as necessary if it is deemed detrimental to the subreddit or to the experience of others. &lt;a href=\"https://www.reddit.com/r/AskReddit/wiki/index#wiki_-rule_8-\"&gt;more &amp;gt;&amp;gt;&lt;/a&gt;&lt;/p&gt;&lt;/li&gt;\n&lt;li&gt;&lt;p&gt;Comment replies consisting solely of images will be removed. &lt;a href=\"https://www.reddit.com/r/AskReddit/wiki/index#wiki_-rule_9-\"&gt;more &amp;gt;&amp;gt;&lt;/a&gt;&lt;/p&gt;&lt;/li&gt;\n&lt;/ol&gt;\n\n&lt;h5&gt;If you think your post has disappeared, see spam or an inappropriate post, please do not hesitate to &lt;a href=\"https://www.reddit.com/message/compose?to=%2Fr%2FAskReddit\"&gt;contact the mods&lt;/a&gt;, we&amp;#39;re happy to help.&lt;/h5&gt;\n\n&lt;hr/&gt;\n\n&lt;h4&gt;Tags to use:&lt;/h4&gt;\n\n&lt;blockquote&gt;\n&lt;h2&gt;&lt;a href=\"https://www.reddit.com/r/AskReddit/wiki/index#wiki_-rule_6-\"&gt;[Serious]&lt;/a&gt;&lt;/h2&gt;\n&lt;/blockquote&gt;\n\n&lt;h3&gt;Use a &lt;strong&gt;[Serious]&lt;/strong&gt; post tag to designate your post as a serious, on-topic-only thread.&lt;/h3&gt;\n\n&lt;h2&gt;&lt;/h2&gt;\n\n&lt;h4&gt;Filter posts by subject:&lt;/h4&gt;\n\n&lt;p&gt;&lt;a href=\"http://ud.reddit.com/r/AskReddit/#ud\"&gt;Mod posts&lt;/a&gt;\n&lt;a href=\"http://dg.reddit.com/r/AskReddit/#dg\"&gt;Serious posts&lt;/a&gt;\n&lt;a href=\"http://bu.reddit.com/r/AskReddit/#bu\"&gt;Megathread&lt;/a&gt;\n&lt;a href=\"http://nr.reddit.com/r/AskReddit/#nr\"&gt;Breaking news&lt;/a&gt;\n&lt;a href=\"/r/AskReddit\"&gt;Unfilter&lt;/a&gt;&lt;/p&gt;\n\n&lt;h2&gt;&lt;/h2&gt;\n\n&lt;h3&gt;Please use spoiler tags to hide spoilers. &lt;code&gt;&amp;gt;!insert spoiler here!&amp;lt;&lt;/code&gt;&lt;/h3&gt;\n\n&lt;h2&gt;&lt;/h2&gt;\n\n&lt;h4&gt;Other subreddits you might like:&lt;/h4&gt;\n\n&lt;table&gt;&lt;thead&gt;\n&lt;tr&gt;\n&lt;th align=\"left\"&gt;some&lt;/th&gt;\n&lt;th align=\"left\"&gt;header&lt;/th&gt;\n&lt;/tr&gt;\n&lt;/thead&gt;&lt;tbody&gt;\n&lt;tr&gt;\n&lt;td align=\"left\"&gt;&lt;a href=\"https://www.reddit.com/r/AskReddit/wiki/sidebarsubs#wiki_ask_others\"&gt;Ask Others&lt;/a&gt;&lt;/td&gt;\n&lt;td align=\"left\"&gt;&lt;a href=\"https://www.reddit.com/r/AskReddit/wiki/sidebarsubs#wiki_self_.26amp.3B_others\"&gt;Self &amp;amp; Others&lt;/a&gt;&lt;/td&gt;\n&lt;/tr&gt;\n&lt;tr&gt;\n&lt;td align=\"left\"&gt;&lt;a href=\"https://www.reddit.com/r/AskReddit/wiki/sidebarsubs#wiki_find_a_subreddit\"&gt;Find a subreddit&lt;/a&gt;&lt;/td&gt;\n&lt;td align=\"left\"&gt;&lt;a href=\"https://www.reddit.com/r/AskReddit/wiki/sidebarsubs#wiki_learn_something\"&gt;Learn something&lt;/a&gt;&lt;/td&gt;\n&lt;/tr&gt;\n&lt;tr&gt;\n&lt;td align=\"left\"&gt;&lt;a href=\"https://www.reddit.com/r/AskReddit/wiki/sidebarsubs#wiki_meta\"&gt;Meta Subs&lt;/a&gt;&lt;/td&gt;\n&lt;td align=\"left\"&gt;&lt;a href=\"https://www.reddit.com/r/AskReddit/wiki/sidebarsubs#wiki_what_is_this______\"&gt;What is this ___&lt;/a&gt;&lt;/td&gt;\n&lt;/tr&gt;\n&lt;tr&gt;\n&lt;td align=\"left\"&gt;&lt;a href=\"https://www.reddit.com/r/AskReddit/wiki/sidebarsubs#wiki_askreddit_offshoots\"&gt;AskReddit Offshoots&lt;/a&gt;&lt;/td&gt;\n&lt;td align=\"left\"&gt;&lt;a href=\"https://www.reddit.com/r/AskReddit/wiki/sidebarsubs#wiki_offers_.26amp.3B_assistance\"&gt;Offers &amp;amp; Assistance&lt;/a&gt;&lt;/td&gt;\n&lt;/tr&gt;\n&lt;/tbody&gt;&lt;/table&gt;\n\n&lt;h2&gt;&lt;/h2&gt;\n\n&lt;h3&gt;Ever read the reddiquette? &lt;a href=\"/wiki/reddiquette\"&gt;Take a peek!&lt;/a&gt;&lt;/h3&gt;\n\n&lt;p&gt;&lt;a href=\"#/RES_SR_Config/NightModeCompatible\"&gt;&lt;/a&gt;&lt;/p&gt;\n&lt;/div&gt;&lt;!-- SC_ON --&gt;",
                        // .item "spoilers_enabled": true,
                        // .item "header_title": "Ass Credit",
                        // .item "header_size": [
                        // // .item "user_flair_position": "right",
                        // // .item "all_original_content": false,
                        // // .item "has_menu_widget": false,
                        // // .item "is_enrolled_in_new_modmail": null,
                        // // .item "key_color": "#222222",
                        // // .item "can_assign_user_flair": false,
                        // // .item "created": 1201261935,
                        // // .item "wls": 6,
                        // // .item "show_media_preview": true,
                        // // .item "submission_type": "self",
                        // // .item "user_is_subscriber": null,
                        // // .item "disable_contributor_requests": false,
                        // // .item "allow_videogifs": false,
                        // // .item "user_flair_type": "text",
                        // // .item "allow_polls": false,
                        // // .item "collapse_deleted_comments": true,
                        // // .item "emojis_custom_size": null,
                        // // .item "public_description_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;&lt;a href=\"/r/AskReddit\"&gt;r/AskReddit&lt;/a&gt; is the place to ask and answer thought-provoking questions.&lt;/p&gt;\n&lt;/div&gt;&lt;!-- SC_ON --&gt;",
                        // .item "allow_videos": false,
                        // .item "is_crosspostable_subreddit": false,
                        // .item "suggested_comment_sort": null,
                        // .item "can_assign_link_flair": false,
                        // .item "accounts_active_is_fuzzed": false,
                        // .item "submit_text_label": "Ask a question",
                        // // .item "link_flair_position": "right",
                        // // .item "user_sr_flair_enabled": null,
                        // // .item "user_flair_enabled_in_sr": false,
                        // // .item "allow_discovery": true,
                        // // .item "user_sr_theme_enabled": true,
                        // // .item "link_flair_enabled": true,
                        // .item "subreddit_type": "public",
                        // // .item "notification_level": null,
                        // // .item "banner_img": "https://b.thumbs.redditmedia.com/PXt8GnqdYu-9lgzb3iesJBLN21bXExRV1A45zdw4sYE.png",
                        // .item "user_flair_text": null,
                        // .item "banner_background_color": "#f0f7fd",
                        // .item "show_media": false,
                        // .item "id": "2qh1i",
                        // .item "user_is_contributor": null,
                        // .item "over18": false,
                        // // .item "description": "###### [ [ SERIOUS ] ](http://www.reddit.com/r/askreddit/submit?selftext=true&amp;title=%5BSerious%5D)\n\n\n##### [Rules](https://www.reddit.com/r/AskReddit/wiki/index#wiki_rules):\n1. You must post a clear and direct question in the title. The title may contain two, short, necessary context sentences.\nNo text is allowed in the textbox. Your thoughts/responses to the question can go in the comments section. [more &gt;&gt;](https://www.reddit.com/r/AskReddit/wiki/index#wiki_-rule_1-)\n\n2. Any post asking for advice should be generic and not specific to your situation alone. [more &gt;&gt;](https://www.reddit.com/r/AskReddit/wiki/index#wiki_-rule_2-)\n\n3. Askreddit is for open-ended discussion questions. [more &gt;&gt;](https://www.reddit.com/r/AskReddit/wiki/index#wiki_-rule_3-)\n\n4. Posting, or seeking, any identifying personal information, real or fake, will result in a ban without a prior warning. [more &gt;&gt;](https://www.reddit.com/r/AskReddit/wiki/index#wiki_-rule_4-)\n\n5. Askreddit is not your soapbox, personal army, or advertising platform. [more &gt;&gt;](https://www.reddit.com/r/AskReddit/wiki/index#wiki_-rule_5-)\n\n6. [Serious] tagged posts are off-limits to jokes or irrelevant replies. [more &gt;&gt;](https://www.reddit.com/r/AskReddit/wiki/index#wiki_-rule_6-)\n\n7. Soliciting money, goods, services, or favours is not allowed. [more &gt;&gt;](https://www.reddit.com/r/AskReddit/wiki/index#wiki_-rule_7-)\n\n8. Mods reserve the right to remove content or restrict users' posting privileges as necessary if it is deemed detrimental to the subreddit or to the experience of others. [more &gt;&gt;](https://www.reddit.com/r/AskReddit/wiki/index#wiki_-rule_8-)\n\n9. Comment replies consisting solely of images will be removed. [more &gt;&gt;](https://www.reddit.com/r/AskReddit/wiki/index#wiki_-rule_9-)\n\n##### If you think your post has disappeared, see spam or an inappropriate post, please do not hesitate to [contact the mods](https://www.reddit.com/message/compose?to=%2Fr%2FAskReddit), we're happy to help.\n\n---\n\n#### Tags to use:\n\n&gt; ## [[Serious]](https://www.reddit.com/r/AskReddit/wiki/index#wiki_-rule_6-)\n\n### Use a **[Serious]** post tag to designate your post as a serious, on-topic-only thread.\n\n-\n\n#### Filter posts by subject:\n\n[Mod posts](http://ud.reddit.com/r/AskReddit/#ud)\n[Serious posts](http://dg.reddit.com/r/AskReddit/#dg)\n[Megathread](http://bu.reddit.com/r/AskReddit/#bu)\n[Breaking news](http://nr.reddit.com/r/AskReddit/#nr)\n[Unfilter](/r/AskReddit)\n\n\n-\n\n### Please use spoiler tags to hide spoilers. `&gt;!insert spoiler here!&lt;`\n\n-\n\n#### Other subreddits you might like:\nsome|header\n:---|:---\n[Ask Others](https://www.reddit.com/r/AskReddit/wiki/sidebarsubs#wiki_ask_others)|[Self &amp; Others](https://www.reddit.com/r/AskReddit/wiki/sidebarsubs#wiki_self_.26amp.3B_others)\n[Find a subreddit](https://www.reddit.com/r/AskReddit/wiki/sidebarsubs#wiki_find_a_subreddit)|[Learn something](https://www.reddit.com/r/AskReddit/wiki/sidebarsubs#wiki_learn_something)\n[Meta Subs](https://www.reddit.com/r/AskReddit/wiki/sidebarsubs#wiki_meta)|[What is this ___](https://www.reddit.com/r/AskReddit/wiki/sidebarsubs#wiki_what_is_this______)\n[AskReddit Offshoots](https://www.reddit.com/r/AskReddit/wiki/sidebarsubs#wiki_askreddit_offshoots)|[Offers &amp; Assistance](https://www.reddit.com/r/AskReddit/wiki/sidebarsubs#wiki_offers_.26amp.3B_assistance)\n\n\n-\n\n### Ever read the reddiquette? [Take a peek!](/wiki/reddiquette)\n\n[](#/RES_SR_Config/NightModeCompatible)",
                        // .item "submit_link_label": "",
                        // .item "user_flair_text_color": null,
                        // .item "restrict_commenting": false,
                        // .item "user_flair_css_class": null,
                        // .item "allow_images": false,
                        // .item "lang": "es",
                        // .item "whitelist_status": "all_ads",
                        .item "url": "/r/AskReddit/",
                        // .item "created_utc": 1201233135,
                    // .ui.list 
                    //     .item #{launch_date} launch_date
                    //     .item #{open_beta_date} open_beta_date
                    //     .item #{closed_beta_date} closed_beta_date
                    //     .item #{site_state} site_state
                    //     // .item #{high_resolution_icon_url} high_resolution_icon_url
                    //     // .item #{favicon_url} favicon_url
                    //     .item #{audience} audience
                    //     .item #{api_site_parameter} api_site_parameter
                    //     .item #{site_type} site_type
                    // +comments
                    // +voting_full
                    // |!{description}
                .six.wide.column
                    .ui.icon.input
                        i.search.icon
                        input.search_subreddit(type='text')
                        // .ui.icon.button.search_sub
                        //     i.send.icon
                    if skv_is 'sort_direction' 1
                        .ui.icon.button.sort_down
                            i.caret.down.icon
                    else
                        .ui.icon.button.sort_down
                            i.caret.up.icon
                    .ui.icon.compact.large.button 
                        i.clock.icon
                    .ui.icon.compact.large.button 
                        i.th.icon
                    .ui.icon.compact.large.button 
                        i.list.icon
                    // .ui.selection.link.list
                    //     each subreddit_docs
                    //         a.item(href="/site/#{site}/doc/#{_id}")
                    //             .content 
                    //                 .header !{title}
                    //                 each tags
                    //                     .ui.label #{this}
                .four.wide.column
                    .ui.header sentiment avg
                    .ui.header joy avg
                    .ui.header anger avg
                    .ui.header disgust avg
                    .ui.circular.icon.button.vote_up
                        i.thumbs.up.icon
                    .ui.circular.icon.button.vote_down
                        i.thumbs.down.icon
                    each upvoters
                        .ui.small.header #{username}
                    each downvoters
                        .ui.small.header #{username}
                    .ui.header stats
                    .ui.list 
                        .item #{site_doc_count}
                    .ui.dividing.header 
                        |members
                    each members
                        .ui.header #{username}
                    .ui.button.join
                        |join
                    .ui.button.leave
                        |leave
    