template(name='group')
    .ui.stackable.grid
        .twelve.wide.left.aligned.column.seg
            .ui.inline.small.header    
                |#{counter}
            .ui.inline.header    
                |#{current_group}
            // a.ui.header(href=link title='link')
            //     i.link.icon
            //     |link
            // +array_view key='tags' label='tags' icon='tags' direct=true
            // +comments
            // .f11 #{description}
            // +image_link_view key='image' label='image' direct=true
            if group_picked_tags
                if many_tags
                    a#clear_tags.ui.black.invert.icon.compact.button.pick_term
                        i.remove.icon
                each group_picked_tags
                    +group_unpick_tag
            .ui.icon.input
                // if is_loading
                //     i.yin.yang.loading.icon
                // else
                i.search.icon
                input.search_tag(type='text' value=query)
                // .ui.label #{this}
            if group_result_tags.count
                each group_result_tags
                    +group_tag_picker
            // else
            //     i.big.grey.loading.yin.yang.icon
        
            div
            if skv_is 'sort_direction' 1
                .ui.icon.compact.disabled.button.sort_down
                    i.caret.down.icon
            else
                .ui.icon.compact.disabled.button.sort_up
                    i.caret.up.icon
            .ui.compact.small.disabled.button.sort_created(class=sort_created_class)
                i.clock.icon
                |latest
            .ui.compact.small.disabled.button.sort_ups(class=sort_ups_class)
                i.thumbs.up.icon
                |liked
            if skv_is 'view_detail' true
                .ui.black.compact.disabled.button.toggle_detail
                    i.list.icon
                    |detail
            else
                .ui.compact.basic.disabled.button.toggle_detail
                    i.minus.icon
                    |simple
                // i.line.chart.icon
            if skv_is 'view_layout' 'grid'
                .ui.compact.basic.disabled.button.set_grid(class=grid_class) 
                    i.th.icon
                    |grid
            else
                .ui.compact.basic.disabled.button.set_grid(class=grid_class) 
                    i.th.icon
                    |grid
            if skv_is 'view_layout' 'list'
                .ui.compact.basic.disabled.button.set_list(class=list_class)
                    i.list.icon
                    |list
            else
                .ui.compact.disabled.button.set_list(class=list_class)
                    i.list.icon
                    |list
            .scrolling
                if posts.count
                    // if skv_is 'view_layout' 'grid'
                    .ui.stackable.lefted.one.column.grid 
                        each posts
                            +group_post_card_small
                    // else if skv_is 'view_layout' 'list'
                    //     each posts
                    //         +doc_item
                // else
                //     .ui.left.aligned.basic.segment
                //         i.massive.grey.loading.yin.yang.icon
        .four.wide.left.aligned.column.scrollng.seg
            // +alpha
            .ui.fluid.basic.button.add_post
                i.plus.green.icon
                |add
            if location_tags
                if picked_location_tags
                    each picked_location_tags
                        a.unpick_location_tag.ui.active.large.compact.button(href='#')
                            strong #{this}
                each location_tags
                    .ui.compact.small.button.zoomer.pick_location_tag(title="#{count} results" class="#{picker_class} #{thinking_class}")
                        strong #{name}
            if Locations
                div
                .ui.small.grey.inline.header
                    i.marker.icon
                    |locations
                each locations
                    +group_tag_picker
                    // .ui.link.label.pick_Location #{name}
            if HealthConditions
                div
                .ui.small.grey.inline.header
                    i.doctor.icon
                    |health conditions
                each HealthConditions
                    +group_tag_picker
                    // .ui.link.label.pick_healthcondition #{name}
            if Persons
                .spacer
                .ui.small.grey.inline.header
                    i.user.icon
                    |people
                each Persons
                    +group_tag_picker
                    // .ui.label.pick_person #{name}
            if Organizations
                .spacer
                .ui.small.grey.inline.header
                    i.building.icon
                    |organizations
                each Organizations
                    +group_tag_picker
                    // .ui.label.pick_organization #{name}
            if Companies
                .ui.small.grey.inline.header
                    i.building.icon
                    |companies
                each companies
                    .ui.label.pick_company #{name}
            i.big.globe.grey.icon
            if picked_domain
                each picked_domain
                    .ui.active.button.unpick_domain
                        |#{this}
            each domain_tags
                .ui.compact.button.pick_domain(class=domain_picker_class)
                    |#{name} 
                    // small #{count}
            .spacer
            i.clock.big.grey.icon            
            if picked_group_time_tags
                each picked_time_tags
                    .ui.active.compact.button.unpick_time_tag
                        |#{this}
            each group_time_tag_results
                .ui.compact.button.pick_time_tag(class=domain_picker_class)
                    |#{name} 
                    // small #{count}
            .spacer
            i.user.big.grey.icon            
            if picked_group_authors
                each picked_authors
                    .ui.active.button.unpick_author
                        |#{this}
            each group_author_results
                .ui.compact.button.pick_author(class=domain_picker_class)
                    |#{name} 
                    // small #{count}
            // .ui.inline.header.pull_latest #{display_name}
            if in_dev
                +print_this
                // div
            with emotion_avg
                span.say.ui.green.text(class="{{calculated_size avg_sent_score}}") {{ to_percent avg_sent_score }}% sentiment 
                    |&nbsp;
                div.rounded(style="height:5px;width:{{to_percent avg_sent_score}}%;background-color:green" title="{{to_percent avg_sent_score}}% joy")
                span.say.ui.green.text(class="{{calculated_size avg_joy_score}}") {{ to_percent avg_joy_score }}% joy 
                    |&nbsp;
                div.rounded(style="height:5px;width:{{to_percent avg_joy_score}}%;background-color:green" title="{{to_percent avg_joy_score}}% joy")
                //- if above_50 'avg_sadness_score'
                    //- .spacer
                span.say.ui.blue.text(class="{{calculated_size avg_sadness_score}}") {{ to_percent avg_sadness_score}}% sad 
                    |&nbsp;
                div.rounded(style="height:5px;width:{{to_percent avg_sadness_score}}%;background-color:blue" title="{{to_percent avg_sadness_score}}% sad")
                //- if above_50 'avg_fear_score'
                    //- .spacer
                span.say.ui.grey.text(class="{{calculated_size avg_fear_score}}") {{ to_percent avg_fear_score }}% fear 
                    |&nbsp;
                div.rounded(style="height:5px;width:{{to_percent avg_fear_score}}%;background-color:grey" title="{{to_percent avg_fear_score}}% fear")
                //- if above_50 'avg_disgust_score'
                    //- .spacer
                span.say.ui.orange.text(class="{{calculated_size avg_disgust_score}}") {{ to_percent avg_disgust_score }}% disgust 
                    |&nbsp;
                div.rounded(style="height:5px;width:{{to_percent avg_disgust_score}}%;background-color:orange" title="{{to_percent avg_disgust_score}}% disgust")
                //- if above_50 'avg_anger_score'
                    //- .spacer
                span.say.ui.red.text(class="{{calculated_size avg_anger_score}}") {{ to_percent avg_anger_score }}% anger 
                    |&nbsp;
                div.rounded(style="height:5px;width:{{to_percent avg_anger_score}}%;background-color:red" title="{{to_percent avg_anger_score}}% anger")

                
                
                
template(name='group_tag_picker')
    // a.ui.big.image.rounded.label.zoomer.pointer.pick_tag.pick_term(href='#' title="#{count} results" class="#{picker_class} #{thinking_class}")
    a.ui.tertiary.button.zoomer.pick_tag.profile_nav_item(title="#{count} results" class="#{picker_class} #{thinking_class}")
        if term
            if term.watson.metadata.image
                img.ui.avatar.image.superzoom(src=term.watson.metadata.image )    
        strong #{name}
        // if in_dev
        //     small #{count}
        
template(name='group_unpick_tag')
    a.group_unpick_tag.ui.black.image.big.label.profile_nav_item(href='#')
        if term
            if term.watson.metadata.image
                img.ui.avatar.compact.image.superzoom(src=term.watson.metadata.image)    
        strong #{this}

        
        
template(name='group_flat_tag_picker')
    // a.ui.big.image.rounded.label.zoomer.pointer.pick_tag.pick_term(href='#' title="#{count} results" class="#{picker_class} #{thinking_class}")
    a.ui.link.image.basic.label.zoomer.pick_flat_tag.profile_nav_item(title="#{count} results" class="#{picker_class} #{thinking_class}")
        if term
            if term.watson.metadata.image
                img.ui.mini.rounded.inline.image.superzoom(src=term.watson.metadata.image )    
        | #{this}
        // if in_dev
        //     small #{count}
        
        
   
template(name='group_post_card_small')
    .ui.fluid.card
        .content
            // a.ui.header.zoomer(href="/g/#{group}/p/#{_id}") #{title}
            a.ui.left.aligned.small.header.view_post(href="/g/#{group}/p/#{_id}" class=emotion_color)
                |!{data.title} #{title}
            if embed
                span.rounded.full
                    |!{embed}
                div
            else if is_image
                a.view_post(href="/g/#{group}/p/#{_id}" class=emotion_color)
                    img.ui.fluid.rounded.image.toggle_view(src=data.url)
            else if watson.metadata.image.length
                a.view_post(href="/g/#{group}/p/#{_id}" class=emotion_color)
                    img.ui.fluid.rounded.image.toggle_view(src=watson.metadata.image)
            if image_id
                a(href="/g/#{group}/p/#{_id}")
                    img.ui.fluid.rounded.image(src="{{c.url image_id }}" class=currentUser.invert_class)
            if image_link
                a(href="/g/#{group}/p/#{_id}")
                    +image_link_view key='image_link' direct=true
            if youtube_id
                +youtube_view key='youtube_id' label='youtube id' direct=true
            if is_admin
                +text_edit key='group' label='slug' direct=true
            .f12
                |!{content}
            // a(href="/g/#{group}/p/#{_id}")
            if raw
                |!{raw}
            each tags
                +group_flat_tag_picker
            a.ui.big.icon.circular.basic.button(href="/g/#{group}/p/#{_id}")
                i.right.chevron.big.icon
            +voting_full
            // | #{points}
            // i.thumbs.up.outline.grey.icon
            // | #{comments}
            // i.comment.outline.grey.icon
            span(title="made #{made_when}")
                |{{made_when}}
            if time_tags
                i.clock.icon
                each time_tags
                    .ui.tiny.label #{this}
            if _author_username
                a.ui.basic.label(href="/u/#{_author_username}")
                    i.large.user.outline.icon
                    |#{_author_username}
            // i.dna.link.icon.call_watson
            // if watson
                
                // span.inline.content
                // span.inline.content
            if is_admin
                +remove_button
                +print_this
        +doc_emotion_small        
   
template(name='doc_item')                  
    .ui.ite.seg
        unless skv_is 'view_detail' true
            // .ui.stackable.equal.width.compact.grid
            //     .row
            if embed
                span.rounded.full
                    |!{embed}
                div
            else if is_image
                .column
                    a.view_post(href="/g/#{group}/p/#{_id}" class=emotion_color)
                        img.ui.fluid.rounded.image.toggle_view(src=data.url)
            else if watson.metadata.image.length
                .column
                    a.view_post(href="/g/#{group}/p/#{_id}" class=emotion_color)
                        img.ui.rounded.inline.image.toggle_view(src=watson.metadata.image)
            else if data.thumbnail.length
                .column
                    a.view_post(href="/g/#{group}/p/#{_id}" class=emotion_color)
                        img.ui.rounded.inline.image.zoomer(src=data.thumbnail)    
            // else if data.thumbnail.length
            //     .column
            //         a.view_post(href="/g/#{group}/p/#{_id}" class=emotion_color)
            //             img.ui.rounded.inline.image.zoomer(src=data.thumbnail)    
            // .column
            a.ui.inline.header.view_post.zoomer(href="/g/#{group}/p/#{_id}" class=emotion_color)
                strong #{data.ups}:
                |!{data.title} 
                // span.inline.content
            if watson.analyzed_text
                // .spacer
                a.f11.view_post(href="/g/#{group}/p/#{_id}" class=emotion_color)
                    |{{trunc watson.analyzed_text}}...
            .ui.label 
                i.clock.icon
                |{{ufrom data.created}}
                small ({{long_date data.created}})
            .ui.label(title='domain') #{data.domain}
            // each tags
            //     +group_flat_tag_picker
            if in_dev
                +print_this
            // if watson
            //     +doc_emotion_small
            // if skv_is 'view_detail' true
            // a.ui.header.view_post.zoomer(href="/g/#{group}/p/#{_id}" class=emotion_color)
            //     strong #{data.ups}:
            //     |!{data.title} 
            // span.inline.content
                    
            a.say.goto_post(href="/g/#{group}/p/#{_id}" class=emotion_color) !{data.body}
            a.say(href="/g/#{group}/p/#{_id}" class=emotion_color) !{data.html}
            // .spacer
            // if parsed_selftext_html
            //     .ui.segment
            //         |!{parsed_selftext_html}
            // if data.selftext
            //     // .ui.segment
            //     .ui.segment.say
            //         |{{#markdown}} {{data.selftext}} {{/markdown}}
            // else if data.body
            //     div
            //     .ui.segment.say
            //         |{{nl2br data.body}}
            // if data.body_html
            //     div
            //     a.pointer.say(href="/g/#{group}/p/#{_id}" class=emotion_color)
            //         |!{data.body_html}
            
            each tags
                +group_flat_tag_picker
            // if watson
            //     +doc_emotion_small
            a.ui.inline.header(href="/u/#{data.author}")
                |#{data.author}
