// template(name='listing_card')
//     a.card(href="/listing/#{_id}/view")
//         .image
//             if icon 
//                 +icolorlg name=icon
//             else
//                 img.ui.raw.image(src="{{c.url image_id width=400 height=300 crop='fill'}}")    
//         .content
//             a.ui.header(href="/listing/#{_id}/view")
//                 |#{location}: #{title}
//             |!{description}
        

// template(name='listings')
//     .ui.header listings
//     a.card(href="/listing/#{_id}/view")
//         .image
//             if icon 
//                 +icolorlg name=icon
//             else
//                 img.ui.raw.image(src="{{c.url image_id width=400 height=300 crop='fill'}}")    
//         .content
//             a.ui.header(href="/listing/#{_id}/view")
//                 |#{location}: #{title}
//             |!{description}
        


// template(name='listing_view')
//     with current_doc
//         .ui.stackable.padded.grid
//             .centered.middle.aligned.row
//                 .sixteen.wide.center.aligned.column
//                     // if can_edit
//                     a.ui.icon.button(href="/m/listing" title='listings')
//                         i.left.chevron.icon
//                     .ui.center.aligned.inline.header 
//                         small viewing listing
//                         |#{title}
//                     if can_edit
//                         a.ui.icon.button.edit_listing(href="/listing/#{_id}/edit")
//                             i.pencil.icon
//                 .four.wide.column
//                     .ui.header
//                         i.marker.icon 
//                         |#{location}
//                     .ui.header 
//                         small leader
//                     a.ui.header(href="/user/#{_author.username}") 
//                         img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
//                         |#{_author.username}
//                     +image_view key='image_id' label='image' direct=true
//                 .eight.wide.column
//                     +number_view key='bounty' label='bounty' direct=true
//                     +textarea_view key='description' label='description' direct=true
//                     div 
//                     +array_view key='tags' label='tags' direct=true
//                     .spacer
//                     .spacer
//                     +comments
//                     //- +array_view key='location_tags' label='location_tags' direct=true
//                 .four.wide.column
//                     .ui.header 
//                         +icon name='listing'
//                         |listings
//                     //- .ui.fluid.green.button.submit
//                     //-     i.checkmark.icon
//                     //-     |submit

// template(name='listing_edit')
//     with current_doc
//         .ui.stackable.padded.grid
//             .centered.middle.aligned.row 
//                 .sixteen.wide.center.aligned.column
//                     a.ui.green.big.icon.button(href="/listing/#{_id}/view" title='save')
//                         i.checkmark.big.icon
//                     .ui.inline.header 
//                         +icon name='listing'
//                         small edit listing
//                         |#{title}
//                     i.link.big.remove.icon.delete_item(title='delete listing')
//             .row 
//                 .five.wide.column
//                     +text_edit key='title' icon='header' direct=true
//                     +image_edit key='image_id' label='image' direct=true
//                     +text_edit key='location' label='location' icon='marker' direct=true
//                     div 
//                     +array_edit key='tags' label='tags' direct=true
//                     +array_edit key='location_tags' label='location tags' direct=true
//                 .six.wide.column
//                     +textarea_edit key='description' label='description' direct=true
//                     //- +array_edit key='location_tags' label='location_tags' direct=true
//                 .five.wide.column
//                     +boolean_edit key='published' direct=true
