template(name='message_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .five.wide.column
                    .ui.large.fluid.basic.red.button.delete_item
                        i.large.remove.icon
                        |cancel
                    .ui.segment
                        .ui.header sender
                        .ui.header
                            img.ui.small.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                            |#{_author.name}
                    .ui.segment
                        .ui.header recipient
                        with recipient
                            i.large.remove.link.icon.remove_recipient
                            a.pointer(href="/u/#{name}")
                                img.ui.tiny.inline.image(src="{{c.url profile_image_id height=400 width=400 gravity='face' crop='fill'}}")
                                .ui.inline.header #{name}
                                .ui.small.grey.inline.header #{points}
                        unless recipient
                            .ui.divider
                            +single_user_edit k='recipient_id' l='search member' i='user plus' d=true

                            // i.large.user.plus.icon
                            // // .ui.icon.input
                            // //     i.search.icon
                            // //     input.search_username(type='text' placeholder='username')
                            // each members
                            //     .ui.compact.basic.button.add_recipient
                            //         // i.plus.icon
                            //         img.ui.avatar.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                            //         |#{name}
                            //         small #{points}p
                                    
                .six.wide.column
                    +textarea_edit k='description' l='description' d=true
                    // +image_edit k='image_id' l='image' d=true
                    div 
                    div
                    // .ui.inline.header
                    //     i.tags.icon
                    //     |tags
                    // .ui.input
                    //     input.new_element(type='text' placeholder='+' autocomplete="off")
                    //     //- +clear_value                
                    // each tags
                    //     .ui.big.basic.label
                    //         i.delete.icon.remove_element
                    //         |#{this}
                    
                    //- +array_edit k='location_tags' l='location_tags' d=true
                .five.wide.column
                    .ui.center.aligned.basic.segment
                        if can_submit
                            .ui.green.big.icon.circular.button.submit
                                i.big.checkmark.icon
                        else 
                            .ui.big.green.big.icon.disabled.circular.button
                                i.checkmark.big.icon
