template(name='rpage')
    with current_doc
        .ui.stackable.grid
            .twelve.wide.column
                a.ui.basic.button.goto_sub(href="/r/#{data.subreddit}")
                    i.chevron.left.icon
                    |#{data.subreddit}
                span.ui.header.zoomer(class=post_header_class)
                    .ui.label #{data.ups}
                    |!{data.title} #{data.link_title}
                // .ui.basic.circular.compact.small.button.get_post
                //     i.external.icon
                //     |#{data.permalink}
                div
                // if skv_is 'view_section' 'main'
                .scrolling
                    unless watson
                        +call_watson id=_id key='data.url' url=data.url mode='url'

                    // blockquote(class="reddit-card")
                    //     a(href="https://www.reddit.com/r/therewasanattempt/comments/lt5gfm/to_eat_the_fish_and_complete_the_challenge/")
                    //         |To eat the fish and complete the challenge.
                    //     |from 
                    //     a(href="http://www.reddit.com/r/therewasanattempt") r/therewasanattempt
                    if data.is_reddit_media_domain
                        img.ui.centered.rounded.image.pointer.call_visual(src=data.url)
                    else if watson.metadata.image
                        img.ui.rounded.image.pointer.call_meta(src=watson.metadata.image)
                    else if is_youtube
                        div
                        // .ui.fluid.embed
                        //     iframe(id="ytplayer" type="text/html" width="100%" height="500" src="https://www.youtube.com/embed/#{youtube_parse}" frameborder="0" allowfullscreen)
                        iframe(width="100%" height="600" src="https://www.youtube.com/embed/#{youtube_parse}?autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                    else if is_image
                        a.zoom_cursor(href=url target='_window')
                            img.ui.fluid.rounded.image.zoomer.toggle_view(src=url)
                    else if embed
                        span.f11.full
                            |!{embed}

                    else if data.link_url
                        img.ui.image.pointer.call_visual(src=data.link_url)
                    div
                    span.f12.say !{data.html}
                    // if skv_is 'view_section' 'main'
                    // if parsed_selftext_html
                    //     .ui.segment
                    //         |!{parsed_selftext_html}
                    if data.selftext
                        // .ui.segment
                        .f12.say
                            // .ui.header nl2br data selftext
                            |{{#markdown}} {{data.selftext}} {{/markdown}}
                            // .ui.header nl2br data selftext
                            // |#{inner}
                            // |{{#markdown}} {{inner}} {{/markdown}}
                    else if data.body
                        div
                        .f12.say
                            .ui.header nl2br data body
                            |{{nl2br data.body}}
                    else if data.body_html
                        div
                        .f12.say
                            |!{data.body_html}
                    else if watson.analyzed_text
                        .say.f12
                            |{{nl2br watson.analyzed_text}}
                    // iframe(width="100%" height="600" src="https://v.redd.it/9vk3khyb08e51/DASH_360.mp4?source=fallback" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                    .spacer
                    // img(src=url)
                    // div(style='position:relative; padding-bottom:calc(125.00% + 44px)')
                    //     iframe(src='https://gfycat.com/ifr/MeanFatAmurratsnake' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen)
                    // .rounded
                    //     |!{embed}
                +skve k='view_section' v='comments' l='comments' i='chat'
                // +skve k='view_section' v='main' l='main' i='content'
                // +skve k='view_section' v='comments' l='comments' i='comment'
                +skve k='view_section' v='watson' l='emotion' i='dna'
                // if tone
                +skve k='view_section' v='tone' l='tone' i='smile grey'
                // +skve k='view_section' v='tags' l='tags' i='tags'
                // +skve k='view_section' v='related' l='related' i='fork'
                +skve k='view_section' v='preview' l='preview' i='content'
                if skv_is 'view_section' 'watson'
                    .scrolling
                        +watson_view
                        +watson_full
                if skv_is 'view_section' 'related'
                    +post_related
                    +related_questions
                if skv_is 'view_section' 'tone'
                    .scrolling
                        +tone
                    unless tone
                        +call_tone    
                    // +skve k='view_section' v='money' l='money' i='money'
                    // if skv_is 'view_section'
                if skv_is 'view_section' 'preview'
                    iframe(width="100%" height="800" src=data.url frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)        
                // +convert
                // .spacer
                // if skv_is 'view_section' 'tags'
                if skv_is 'view_section' 'comments'
                    .ui.large.basic.fluid.button.get_comments
                        i.download.icon
                        |get comments
                    .scrolling
                        +rcomments_tab
            .three.wide.column
                .ui.fluid.basic.button.get_post
                    i.download.icon
                    |get post
                | {{ufrom data.created}}
                if data.url
                    a.ui.basic.fluid.button(href=data.url target="_window" title=data.url) 
                        i.external.icon
                        |url
                .ui.large.basic.label
                    | #{data.domain}
                unless data.is_reddit_media_domain    
                    if data.thumbnail
                        img.ui.fluid.rounded.image.pointer.call_thumbnail.zoomer(src=data.thumbnail)
                // .ui.header #{data.domain}
                a.ui.basic.button(href="https://www.reddit.com#{data.permalink}" target="_window") 
                    i.external.grey.icon
                    |r/#{data.subreddit}
                .spacer
                i.large.audio.icon.read_me
                // a.ui.basic.button(href="https://www.reddit.com/u/#{author}" target='_window')
                a.ui.basic.button.goto_user(href="/user/#{data.author}")
                    i.user.outline.icon
                    |#{data.author}
                +call_watson id=_id key='data.url' url=data.url mode='url'
                +get_emotion id=_id key='data.url' url=data.url mode='url'
                if in_dev
                    +print_this
                if watson
                    +doc_emotion
                // a.ui.large.basic.label(href=data.url target='_window')
                //     | #{data.url}
                if in_dev
                    .ui.small.header reddit_id #{data.reddit_id}
                .ui.basic.label
                    i.comment.outline.icon
                    |#{data.comment_count}
                .ui.basic.label
                    i.thumbs.up.outline.icon
                    |#{data.ups}
                |{{to_percent data.upvote_ratio}}%
                .ui.small.inline.header #{data.num_crossposts} crossposts
                |#{tags.length}
                each tags
                    +flat_sub_tag_picker
                
                
template(name='rcomments_tab')                
    .ui.horizontal.divider.get_post_comments
        i.grey.comment.outline.icon
        |#{rcomments.count} comments
    // .ui.items
    each rcomment_tags
        .ui.compact.button #{name}
            small #{count}
    .spacer
    each rpost_comments
        +rcomment
                
                
template(name='rcomment')                
    // .ui.grid.call_watson_comment
    .ui.grid
        .sixteen.wide.column
            .ui.small.inline.header {{data.score}}
            a.author.inline.say(href="/user/#{data.author}") #{data.author}
            span.metadata 
                span.date {{ufrom data.created}}
                unless max_emotion_percent
                    i.smile.large.link.outline.icon.get_comment_emotion
                +doc_emotion_small
            .pointer.inline.say.autotag_watson(class=post_header_class)
                |{{#markdown}} {{data.body}} {{/markdown}}
            each tags 
                +flat_sub_tag_picker
                // .ui.tiny.basic.label #/{this}
            if in_dev
                +print_this
        if data.replies.data.children
            .ui.grid
                each data.replies.data.children
                    .two.wide.column
                    .fourteen.wide.column
                        a.inline.author(href="/user/#{data.author}") #{data.author}
                        |{{#markdown}} {{data.body}} {{/markdown}}
            // if in_dev
            //     +print_this
                
                
                
template(name='post_related')
    .ui.header related
    .ui.list
        each related_posts
            a.item.say.pointer.zoomer(href="/r/#{subreddit}/post/#{_id}" class=post_header_class) 
                if data.is_reddit_media_domain
                    a.view_post(href="/r/#{subreddit}/post/#{_id}" class=post_header_class)
                        img.ui.small.rounded.image.toggle_view(src=data.url)
                else if watson.metadata.image
                    a.view_post(href="/r/#{subreddit}/post/#{_id}" class=post_header_class)
                        img.ui.rounded.small.inline.image.toggle_view(src=watson.metadata.image)
                else if data.thumbnail
                    a.view_post(href="/r/#{subreddit}/post/#{_id}" class=post_header_class)
                        img.ui.rounded.small.inline.image(src=data.thumbnail)    
            
                .ui.inline.small.header !{data.title} #{data.link_title}
                .ui.basic.label #{data.ups}
                .ui.label #{subreddit}
                each tags
                    .ui.mini.basic.label #{this}        
                    
template(name='related_questions')
    .ui.header related questions
    .ui.list
        each qs
            a.item.say.pointer.zoomer.set_main(href="/s/#{site}/q/#{question_id}" class=post_header_class) 
                if data.is_reddit_media_domain
                    a.view_post(href="/s/#{site}/q/#{question_id}" class=post_header_class)
                        img.ui.small.rounded.image.toggle_view(src=data.url)
                else if watson.metadata.image
                    a.view_post(href="/s/#{site}/q/#{question_id}" class=post_header_class)
                        img.ui.rounded.small.inline.image.toggle_view(src=watson.metadata.image)
                else if data.thumbnail
                    a.view_post(href="/s/#{site}/q/#{question_id}" class=post_header_class)
                        img.ui.rounded.small.inline.image(src=data.thumbnail)    
            
                .ui.inline.small.header !{title}
                .ui.basic.label #{score}
                .ui.label #{site}
                each tags
                    .ui.mini.basic.label #{this}