template(name='post_card')
    .ui.card.view_post.pointer
        img.ui.fluid.rounded.image(src="{{c.url image_id height=200 width=400 gravity='face' crop='fill'}}" class=currentUser.invert_class)
        .content
            a.ui.header(href="/m/post/#{_id}/view") #{title}
            .ui.small.grey.header #{when}
            +comments_view_small
            +author_info
        
template(name='post_item')
    .ui.fluid.segment.view_post.pointer
        a.ui.header(href="/m/post/#{_id}/view") #{title}
        div
        .ui.small.grey.inline.header #{when}
        each tags 
            .ui.basic.small.label #{this}
        

template(name='post_view')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .three.wide.column
                    a.ui.fluid.large.circular.basic.button(href="/tribe/#{tribe}")
                        i.chevron.left.icon
                        |#{tribe}
                    .ui.large.inline.header #{title}
                    // div
                    // .ui.inline.grey.header {{from_now start_datetime}}
                    
                    if can_edit
                        a.edit_post(href="/m/post/#{_id}/edit" title='edit')
                            i.big.circular.link.pencil.icon
                    .ui.small.header created #{when} 
                    .ui.segment
                        .ui.inline.small.header author
                        a.ui.header(href="/user/#{_author.username}") 
                            img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                            |#{_author.username}
                    .ui.small.grey.header 
                        i.line.chart.icon
                        |stats
                    +boolean_view key='published' direct=true
                    .ui.list
                        .item #{_views} views
                        |viewed by
                        each _viewer_usernames
                            .ui.label #{this}
                    +array_view key='tags' label='tags' direct=true
                    +array_view key='location_tags' direct=true
                    +array_view key='time_tags' direct=true
                    +array_view key='people_tags' direct=true
                    //- +array_view key='location_tags' label='location_tags' direct=true
                .nine.wide.column
                    img.ui.fluid.rounded.image(src="{{c.url image_id }}" class=currentUser.invert_class)
                    // a.ui.header(href="/user/#{target.username}")
                    //     |#{target.username}
                    .ui.segment
                        |!{content}
                .four.wide.column
                    +voting_full
                    +comments
                    +post_tips

template(name='post_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .eight.wide.column
                    a.ui.green.big.circular.button(href="/m/post/#{_id}/view" title='save')
                        i.checkmark.big.icon
                        |save
                    .ui.inline.header 
                        +icolor name='news' cl='ui image inline pointer'
                        |edit post
                    i.large.link.circular.red.remove.icon.delete_post
                    +print_this
                    .ui.header 
                        small author
                        |#{_author.username}
                    if is_admin
                        +single_user_edit key='_author_id' label='author' direct=true
                    +image_edit key='image_id' label='image' direct=true
                    div 
                    +text_edit key='tribe' icon='fire' direct=true
                    +boolean_edit key='published' icon='visible' direct=true
                    if is_admin 
                        +text_edit key='model' label='model' direct=true
                    // unless published
                    //     a.ui.fluid.green.button.submit(href="/save")
                    //         i.checkmark.icon
                    //         |publish
                    // else
                    //     .ui.basic.button.unpublish 
                    //         |unpublish
                    // .ui.header
                    //     |audience
                .eight.wide.column
                    +text_edit key='title' label='title' direct=true
                    +html_edit key='content' label='content' direct=true
                    +array_edit key='tags' label='tags' i='tags' direct=true
                    +array_edit key='location_tags' label='location tags' i='marker' direct=true
                    +array_edit key='people_tags' label='people tags' i='users' direct=true
                    +array_edit key='time_tags' label='time tags' i='clock' direct=true



template(name='post_tips')
    .ui.dividing.header 
        i.coins.icon
        |#{tip_count} tips totaling #{tip_total}p
    |tips cost 11p, give the author 10p
    .ui.green.fluid.button.tip
        i.donate.icon
        |tip
    .ui.link.selection.list
        .ui.styled.fluid.accordion 
            each tippers
                .title
                    img.ui.avatar.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                    |#{username} #{total_tip_amount}
                    i.dropdown.icon
                .content
                    .ui.list
                        each tipper_tips
                            .item #{when} 
