template(name='requests')
    .ui.stackable.padded.grid 
        .row
            .sixteen.wide.column
                .ui.header 
                    +icon n='sell'
                    |requests
                .ui.stackable.cards
                    each requests
                        +request_card


template(name='request_card')
    .card.pointer.request_card
        .image
            img.ui.raw.image(src="{{c.url image_id width=400 height=300 crop='fill'}}")    
        .content
            .ui.header
                |#{title}
                if complete
                    i.green.checkmark.icon
            |#{description}
        .content
            |by 
            if _author.profile_image_id
                img.ui.avatar.compact.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
            |#{_author.name}
            .ui.big.basic.label
                |#{point_bounty}pts
            .ui.small.inline.header status:#{status}
            if complete
                .ui.basic.label 
                    |completed by #{completer.name}
                    |{{from_now completed_timestamp}}
        


template(name='request_view')
    with current_doc
        .ui.stackable.padded.grid
            .middle.aligned.row 
                .four.wide.center.aligned.column
                    a.ui.button(href="/m/request" title='requests')
                        i.chevron.left.icon
                        +icolor n='request-service' cl='ui inline image pointer'
                .eight.wide.center.aligned.column
                    .ui.center.aligned.header 
                        +icon n='request-service'
                        small viewing request: 
                        |#{title}
                .four.wide.center.aligned.column
                    if can_edit
                        a.edit_request(href="/request/#{_id}/edit")
                            i.big.blue.pencil.icon
            .row 
                .four.wide.column
                    .ui.header
                        |#{point_bounty}pts offered
                    .ui.header
                        +icon n='warranty'
                        |required badges
                    .ui.header 
                        small posted by
                    a.ui.header(href="/u/#{_author.username}") 
                        img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                        |#{_author.username}
                    .ui.header #{when}
                    .ui.header
                        +icon n='audience'
                        |audience
                .eight.wide.column
                    .f13
                        |#{description}
                    // a.ui.header(href="/u/#{target.username}")
                    //     img.ui.avatar.image(src="{{c.url target.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                    //     |#{target.username}
                            
                    +image_view k='image_id' l='image' d=true
                    .spacer
                    i.large.red.tags.icon
                    each tags 
                        .ui.basic.large.label #{this}
                    .spacer
                    .spacer
                    +comments
                    // +voting_full
                    //- +array_view k='location_tags' l='location_tags' d=true
                .four.wide.column
                    .ui.header status: #{status}
                    if can_claim
                        .ui.fluid.green.button.claim
                            +icon n='grab' cl='ui inline image'
                            |claim
                    if claimer
                        .ui.header claimed by
                        .ui.header #{claimer.name}
                        unless complete
                            .ui.button.unclaim
                                i.undo.icon
                                |unclaim
                        if can_edit
                            div
                            unless complete
                                .ui.big.basic.green.button.mark_complete
                                    i.checkmark.icon
                                    |mark complete
                            else 
                                .ui.big.orange.basic.button.mark_incomplete
                                    i.undo.icon
                                    |mark incomplete
                        if complete
                            .ui.segment
                                .ui.header completed by #{completer.name} {{from_now completed_timestamp}}
                    

template(name='request_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .sixteen.wide.column
                    a.ui.green.icon.button(href="/request/#{_id}/view" title='save')
                        i.checkmark.big.icon
                    .ui.inline.header 
                        +icon n='request-service'
                        small edit request
                        |#{title}
                    i.large.red.remove.link.icon.delete_request(title='cancel')
            .row 
                .five.wide.column
                    .ui.header 
                        small author
                        |#{_author.username}
                    +text_edit k='title' i='header' d=true
                    +date_edit k='date' l='date' i='calendar' d=true
                    .ui.header
                        +icon n='audience'
                        |audience
                    .ui.disabled.button
                        |everyone
                    .ui.disabled.button
                        |groups
                    .ui.disabled.button
                        |specific people
                    .ui.header
                        +icon n='warranty'
                        |badges
                .six.wide.column
                    +number_edit k='point_bounty' l='point bounty' i='paper-bag-with-seeds' min='0' d=true
                    div
                    +textarea_edit k='description' l='description' d=true
                    +image_edit k='image_id' l='image' d=true
                    div 
                    +array_edit k='tags' l='tags' i='tags' d=true
                    +array_edit k='location_tags' l='location tags' i='marker' d=true
                .four.wide.column
                    .ui.header your points: #{currentUser.points}
                    .ui.small.header.thin publishing request holds points from your balance and dispenses them when request is marked complete
                    .ui.inline.header status:
                    if published
                        .ui.green.inline.header published
                    else
                        .ui.orange.inline.header unpublished
                    if published
                        .ui.fluid.orange.basic.large.button.unpublish
                            i.undo.icon
                            |unpublish
                    else
                        .ui.fluid.teal.big.button.publish
                            i.checkmark.icon
                            |publish

template(name='user_requests')  
    .ui.center.aligned.header 
        +icon n='request-service'
        |user requests
    .scrolling
        each requests
            .ui.segment
                a.ui.header(href="/request/#{_id}/view") #{bounty}pts: #{title}
                | #{description}
                div
                if is_admin
                    +remove_button
                    +print_this
                
                //- div
                +author_info
                +creation_info
