template(name='shop')
    .ui.stackable.padded.grid
        .three.wide.column
            .ui.header 
                +i name='shop'
                |shop
            .ui.icon.circular.button.add_item
                i.plus.icon
            +cloud filter='shop'
        .thirteen.wide.column
            .ui.three.cards
                each products
                    .ui.card
                        a(href="/shop/#{_id}/view")
                            img.ui.centered.rounded.image(src="{{c.url picture width=300 height=200 crop='fit'}}")
                        .content 
                            .header #{title}
                            .smallscroll
                                |!{description}
                            unless rentable
                                +add_to_tab
                            a.ui.icon.button(href="/shop/#{_id}/view")
                                // +i name='chevron right' classes='ui mini image'
                                i.chevron.right.icon
                            if can_edit
                                a.ui.icon.circular.button(href="/shop/#{_id}/edit")
                                    i.pencil.icon
                                    // +i name='pencil' classes='ui mini image'

template(name='add_to_tab')
    .ui.segment
        .add_to_tab.ui.green.button
            i.cart.plus.icon
            |tab
        if current_tab_additions
            div current tab additions
            .ui.list
                each current_tab_additions
                    .item
                        |#{when}
                        i.remove.link.icon.remove_tab_item



template(name='shop_card')
    .ui.card
        a.pointer(href="/shop/#{_id}/view")
            img.ui.centered.rounded.image(src="{{c.url picture width=300 height=200 crop='fit'}}")
        .content
            a.ui.grey.small.header(href="/shop/#{_id}/view") #{title}
            div
            +i name='food' classes='ui mini inline image'
            each ingredients
                .ui.basic.label #{this}
            div
            +i name='marker' classes='ui mini inline image'
            each location_tags
                .ui.basic.label #{this}
            .ui.basic.animated.fade.button.add_to_cart(title="#{karma_price} karma, click to add to cart")
                .visible.content
                    .ui.header #{karma_price}k
                .hidden.content
                    i.cart.plus.green.large.icon
            if rentable
                .ui.small.inline.header
                    i.clock.grey.small.icon
                    |$#{daily_rate}/day
                div
            //- if hourly_rate
            //-     .ui.header $#{hourly_rate}/hour
            //- unless rentable
            .ui.inline.header 
                i.shop.grey.small.icon
                |$#{dollar_price}
            div
            i.grey.marker.icon
            each location_tags
                .ui.small.basic.label #{this}
            div
            .ui.small.inline.header(title='completed transactions') 
                i.grey.checkmark.icon
                if completed_transaction_amount
                    |#{completed_transaction_amount} 
                else 
                    |0
            div
            div
            .ui.small.inline.header(title='comments') 
                i.grey.chat.icon
                if chat_message_amount
                    |#{chat_message_amount} 
                else 
                    |0
            div
            .ui.small.inline.header(title='likes') 
                i.grey.thumbs.up.icon
                if likes
                    |#{likes} 
                else 
                    |0
            div
            div
            .ui.small.inline.header(title='dislikes') 
                i.grey.thumbs.down.icon
                if dislikes
                    |#{dislikes} 
                else 
                    |0
            div
            +fav_button
            .ui.basic.animated.fade.button.add_to_cart(title="click to add to cart")
                .visible.content
                    .ui.header 
                        if dollar_price
                            |$#{dollar_price}
                        else
                            |free
                .hidden.content
                    i.cart.plus.green.large.icon
            //+number_viez
            //a.ui.basic.small.icon.button(href="/shop/#{_id}/view")
            //    +i name='chevron right' classes='ui mini image'
            //if can_edit
            //    a.ui.basic.small.icon.button(href="/shop/#{_id}/edit")
            //        +i name='pencil' classes='ui mini image'
                //+edit_button
        //.four.wide.column
        //    with author
        //        img.ui.avatar.image(src="{{c.url image_id width=200 height=200 crop='fit'}}")    
        //        .ui.inline.header #{first_name} #{last_name}
        //        .ui.header #{sales_amount} sales
        //        .ui.header #{purchase_amount} purchases
            
            
template(name='fav_button')
    i.large.link.heart.outline.icon
            
            

template(name='shop_edit')
    with current_doc
        .ui.stackable.padded.grid
            .three.column.row
                .column
                    .ui.inline.header #{title}
                    a.ui.large.basic.icon.button(href="/shop/#{_id}/view")
                        i.big.green.checkmark.icon
                    .ui.large.basic.icon.button.delete_shop_item
                        i.big.red.remove.icon
                    +text_edit key='title' label='title' icon='header' direct=true
                    div
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                    div
                    +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                    div
                    +text_edit key='delivery_instructions' icon='truck' label='delivery instructions' direct=true
                    //- +boolean_edit key='active' icon='clock' label='active' direct=true
                    //- +text_edit key='model' icon='cube' label='model' direct=true
                    +number_edit key='inventory' icon='move-by-trolley' label='inventory' direct=true
                    +date_edit key='date_available' icon='calendar' label='date available' direct=true
                    +time_edit key='time_available' icon='clock' label='time available' direct=true
                    +single_doc_edit key='shop_type' ref_model='shop_type' label='shop type' direct=true
                    //- +omega_edit model='shop_type'
                    if is_event
                        .ui.header 
                            i.calendar.icon
                            |event
                        +date_edit key='date' label='date' direct=true
                        +time_edit key='start_time' label='start time' direct=true
                        +time_edit key='end_time' label='end time' direct=true
                    else if is_service
                        .ui.header service
                        +number_edit key='hourly_rate' direct=true
                    else if is_product
                        .ui.header product
                        +boolean_edit key='for_sale' label='for sale' direct=true
                        if for_sale
                            +dollar_price_edit key='dollar_price' icon='money' label='dollar price' direct=true
                        +boolean_edit key='rentable' direct=true
                        unless rentable
                            +boolean_edit key='food' direct=true
                            if food
                                +array_edit key='ingredients' direct=true
                                +array_edit key='allergies' direct=true
                        if rentable
                            +number_edit key='hourly_rate' label='hourly rate' icon='time-span' direct=true
                            +number_edit key='daily_rate' label='daily rate' icon='timetable' direct=true
                .column
                    +image_edit key='picture' direct=true
                    +html_edit key='description' direct=true
                .column
                    .ui.header
                        i.truck.icon
                        |delivery options
                    +boolean_edit key='pickup_delivery' label='pickup' direct=true
                    +boolean_edit key='home_dropoff_delivery' label='home dropoff' direct=true
                    +boolean_edit key='building_dropoff_delivery' label='building dropoff' direct=true
                    +boolean_edit key='healthclub_drop_off_delivery' label='health club drop off' direct=true
                    .ui.list
                        .ui.header pickup
                        .ui.header home dropoff
                        .ui.header health club drop off
                    .ui.header pricing options options
                    +boolean_edit key='cash_accepted' label='cash accepted' direct=true
                    +boolean_edit key='prepay' label='prepayment required' direct=true
                    +boolean_edit key='security_deposit_required' label='security deposit required' direct=true
                    if security_deposit_required
                        +number_edit key='security_deposit_amount' label='security deposit amount' icon='dollar'
                    .ui.header pricing planning determination options
                    +boolean_edit key='friend_discount' label='friend discount' direct=true
                    if friend_discount
                        +number_edit key='security_deposit_amount' label='security deposit amount' icon='dollar'
                    .ui.header
                        i.grey.eye.icon
                        | privacy options
                    .ui.small.header visibility
                    +boolean_edit key='visible_to_friends' label='visible to friends' direct=true
                    +boolean_edit key='visible_to_friends' label='visible to friends' direct=true
                    +boolean_edit key='visible_to_building' label='visible to building' direct=true
                    +boolean_edit key='visible_to_residents' label='visible to residents' direct=true
                    .ui.divider
                    +boolean_edit key='published' label='published' direct=true
                        
                
                    


template(name='shop_view_layout')
    +nav
    //- a.ui.large.button(href="/m/shop")
    //-     i.chevron.left.icon
    //-     i.shop.icon
    //-     | Shop
    with current_doc
        .ui.stackable.padded.grid
            //- img.ui.large.rounded.image(src="{{c.url image width=500 height=500 gravity='face' crop='fill'}}")
            .row
                .four.wide.column
                    .ui.center.aligend.large.header #{title}
                    if can_edit
                        a.ui.fluid.button(href="/shop/#{_id}/edit")
                            i.cog.icon
                            |edit
                    .ui.large.vertical.fluid.menu
                        a.item(href="/shop/#{_id}/info" class="{{isActiveRoute 'shop_info'}}")
                            |info
                            i.info.icon
                        if rentable
                            a.item(href="/shop/#{_id}/rentals" class="{{isActiveRoute 'shop_rentals'}}")
                                |rentals
                                i.clock.icon
                        a.item(href="/shop/#{_id}/chat" class="{{isActiveRoute 'shop_chat'}}")
                            |chat
                            i.chat.icon
                        a.item(href="/shop/#{_id}/tasks" class="{{isActiveRoute 'shop_tasks'}}")
                            |tasks
                            i.tasks.icon
                        a.item(href="/shop/#{_id}/earnings" class="{{isActiveRoute 'shop_earnings'}}")
                            |earnings
                            i.money.icon
                        a.item(href="/shop/#{_id}/stats" class="{{isActiveRoute 'shop_stats'}}")
                            |stats
                            i.line.chart.icon
                        a.item(href="/shop/#{_id}/ownership" class="{{isActiveRoute 'product_ownership'}}")
                            |ownership
                            i.pie.chart.icon
                        a.item(href="/shop/#{_id}/projections" class="{{isActiveRoute 'shop_projections'}}")
                            |projections
                            i.line.chart.icon
                    img.ui.centered.rounded.shadowed.image(src="{{c.url picture width=1000 height=400 crop='fit'}}")
                    .ui.header added by #{_author_username}
                    |#{when}
                    with _author_id
                        +user_card
                    +array_view key='tags' icon='tags' direct=true
                    +array_view key='location_tags' label='location tags' icon='marker' direct=true
                    //- +text_view key='location' icon='marker' label='location description' direct=true
                    +number_view key='inventory' label='inventory' icon='move-by-trolley' direct=true
                    //- +dollar_price_view key='dollar_price' icon='money' label='dollar price' direct=true
                    +date_view key='date_available' label='date available' icon='calendar' direct=true
                    +time_view key='time_available' label='time available' icon='clock' direct=true
                .eight.wide.column
                    +yield
                .four.wide.column
                    +product_location
                    .ui.header available_inventory #{inventory_available}
                    unless sold_out
                        .ui.big.green.fluid.button.add_to_cart 
                            i.cart.plus.icon
                            |add to cart
                    else 
                        .ui.big.disabled.button
                            i.ban.icon
                            |sold out
                    .scrolling
                        +voting_full     
                        .ui.basic.segment
                            .ui.small.header
                                i.grey.truck.icon
                                |delivery instructions
                            |#{delivery_instructions}      
                        .ui.header
                            i.truck.icon
                            |delivery options
                        +boolean_view key='pickup_delivery' label='pickup' direct=true
                        +boolean_view key='home_dropoff_delivery' label='home dropoff' direct=true
                        +boolean_view key='building_dropoff_delivery' label='building dropoff' direct=true
                        +boolean_view key='healthclub_drop_off_delivery' label='health club drop off' direct=true
                        .ui.list
                            .ui.header pickup
                            .ui.header home dropoff
                            .ui.header health club drop off
                        .ui.header pricing options options
                        +boolean_view key='cash_accepted' label='cash accepted' direct=true
                        +boolean_view key='prepay' label='prepayment required' direct=true
                        +boolean_view key='security_deposit_required' label='security deposit required' direct=true
                        if security_deposit_required
                            +number_view key='security_deposit_amount' label='security deposit amount' icon='dollar'
                        .ui.header pricing planning determination options
                        +boolean_view key='friend_discount' label='friend discount' direct=true
                        if friend_discount
                            +number_view key='security_deposit_amount' label='security deposit amount' icon='dollar'
                        .ui.header
                            i.grey.eye.icon
                            | privacy options
                        .ui.small.header visibility
                        +boolean_view key='visible_to_friends' label='visible to friends' direct=true
                        +boolean_view key='visible_to_friends' label='visible to friends' direct=true
                        +boolean_view key='visible_to_building' label='visible to building' direct=true
                        +boolean_view key='visible_to_residents' label='visible to residents' direct=true
                        .ui.divider
                        +boolean_view key='published' label='published' direct=true
    +footer                
template(name='shop_stats')
    .ui.header admin actions
    .ui.button.calculate_transaction_count calculate transaction count
    .ui.button.advise_price advise price
    .ui.header sale price $#{dollar_price}
    .ui.header transaction count #{transaction_count}
    .ui.header daily rate $#{daily_rate}
    .ui.header sales_total $#{sales_total}
    .ui.header average_sale_price $#{average_sale_price}
    .ui.header advise notes
    |#{advise_notes}
    .ui.header suggested daily rate #{daily_rate}
    
    //- +product_transactions
    
template(name='product_location')
    .ui.inline.header current location
    i.refresh.link.icon.recheck_location
    |#{current_location}
    
    

template(name='shop_rentals')
    //- +cal
    +rentals
                        
template(name='shop_earnings')
    .ui.header 
        i.line.chart.icon
        |shop earnings
    .ui.segment
        .ui.small.header future earnings
        .ui.small.header future reservations #{future_reservations}
        .ui.small.header future reservations #{future_earnings}
        .ui.button.calculate_future_earnings calculate future earnings
    .ui.segment
        .ui.small.header total earnings
        .ui.header sales_total $#{sales_total}
        .ui.button.calculate_total_earnings calculate total earnings
    .ui.segment
        .ui.small.header monthly earnings
            
                        
template(name='shop_chat')                        
    +comments
                    
template(name='product_ownership')                        
    .ui.header 
        i.hand.holding.usd.icon
        |product ownership
    .ui.button.sell_shares sell shares
    .ui.button.recalculate_ownership recalculate ownership
    .ui.header #{ownership}
    .ui.header 
        | ownership
    .content
        .ui.label author #{_author_username}
        if is_dev
            +text_edit key='_author_username' direct=true
            +single_user_edit key='_author_username' direct=true
        .make_author_owner.ui.button make author owner
        .ui.list
            each ownership
                .item user id: #{_user_id} #{percent}
        .ui.list
            each stock_certificates
                .item #{_author_username} #{ownership_percent}
        .ui.header your ownership
        if has_ownership
            |#{my_ownership} %
            #offer_ownership.ui.button offer ownership
        .ui.header offers
        .ui.header transactions
                    
                    
                    
template(name='shop_projections')                        
    .ui.header shop projections
    .ui.disabled.button bet a certain avg price at a certain time
                    
template(name='shop_tasks')                        
    .ui.header
        i.tasks.icon
        | product tasks
    i.green.checkmark.icon
    |none
    .ui.header
        i.envelope.icon
        | unreplied messages
    i.green.checkmark.icon
    |none
    .ui.header
        i.clipboard.icon
        | undelivered orders
    i.green.checkmark.icon
    |none
    .ui.header
        i.ticket.icon
        | open tickets
    i.green.checkmark.icon
    |none
                    
template(name='shop_info')    
    if rentable                    
        +rentals    
    +html_view key='description' direct=true
    +comments
    if food
        +reservations
    +product_transactions
    .row
        .twelve.wide.column
            if watson
                .ui.fluid.accordion
                    .title
                        .ui.header 
                            +i name='development-skill'
                            |description analysis
                            i.dropdown.icon
                    .content
                        +watson_view
            
template(name='shop_item_transactions')
    .ui.segment
        .ui.header shop item transactions
        if is_author
            .ui.big.button 
                i.checkmark.icon
                |mark as sold
        




template(name='product_transactions')
    .ui.header 
        +i name='cashbook'
        |transactions
    if is_author
        .ui.big.button.add_transaction
            i.plus.icon
            | add transaction
    .ui.styled.accordion
        each product_transactions
            +public_transaction
        
template(name='public_transaction')
    .title
        +creation_info
        +author_info
    .content
        if is_author
            +boolean_edit key='paid' label='paid' icon='money' direct=true
            if paid
                +number_edit key='paid_amount' label='amount paid' icon='hashtag' direct=true
                +date_edit key='paid_date' label='date paid' icon='calendar' direct=true
                +text_edit key='paid_payment_method' label='payment method' icon='credit card' direct=true
            +boolean_edit key='delivered' label='delivered' direct=true
            unless delivered
                +image_edit key='dropoff_photo' label='drop off photo' direct=true
                +datetime_edit key='dropoff_datetime' label='drop off datetime' direct=true
        if is_author
            unless delivered
                +datetime_edit key='delivery_datetime' label='delivery datetime' direct=true
                +textarea_edit key='dropoff_instructions' label='dropoff instructions (private)' direct=true
            else
                +textarea_view key='dropoff_instructions' label='dropoff instructions (private)' direct=true
                +image_view key='dropoff_photo' label='drop off photo' direct=true
                div
                +datetime_view key='dropoff_datetime' label='drop off datetime' direct=true
                .ui.divider
                +array_edit key='review_tags' label='review tags' icon='tags' direct=true
                +voting
        else
            +array_view key='tags' label='tags' icon='tags' direct=true
        +remove_button    