
template(name='shop_card')
    a.card(href="/shop/#{_id}/view")
        .image
            img.ui.raw.image(src="{{c.url image width=400 height=300 crop='fill'}}")    
        .content
            a.ui.header(href="/shop/#{_id}/view")
                |#{title}
            each tags
                .ui.label #{this}
            // |!{description}
        


template(name='shop_view')
    with current_doc
        .ui.stackable.padded.grid
            .centered.middle.aligned.row
                .four.wide.center.aligned.column
                    // if can_edit
                    a(href="/m/shop" title='shops')
                        +i name='food' cl='ui inline image pointer'
                .eight.wide.center.aligned.column
                    .ui.center.aligned.inline.header 
                        img.ui.avatar.image(src="{{c.url image width=400 height=400 crop='fill'}}")
                        |#{title}
                .four.wide.center.aligned.column
                    if can_edit
                        a.edit_shop(href="/shop/#{_id}/edit")
                            i.big.blue.pencil.icon
            .row 
                .four.wide.column
                    +image_view key='image' label='image' direct=true
                .eight.wide.column
                    // +number_view key='bounty' label='bounty' direct=true
                    .f11 #{description}
                    div 
                    +array_view key='tags' label='tags' direct=true
                    .ui.inline.header 
                        |#{dishes.count}
                        |dishes
                    .ui.icon.button.add_item 
                        i.plus.icon
                    .ui.stackable.three.cards
                        each dishes
                            +dish_card
                    +comments
                    //- +array_view key='location_tags' label='location_tags' direct=true
                .four.wide.column
                    +boolean_view key='published' direct=true
                    +boolean_view key='grubhub' direct=true
                    +boolean_view key='postmates' direct=true
                    +boolean_view key='nosh' direct=true
                    +boolean_view key='DoorDash' direct=true
                    .ui.header 
                        |most popular
                    .ui.header 
                        |orders
                    .ui.header 
                        |#{fans.count}
                        |fans
                    each fans
                        .ui.header #{username}
                    +voting_full





template(name='shop_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .five.wide.column
                    a.ui.green.big.icon.circular.button(href="/shop/#{_id}/view" title='save')
                        i.checkmark.big.icon
                    .ui.inline.header 
                        +icon name='shop'
                        small edit shop
                        |#{title}
                    i.link.big.remove.icon.delete_item(title='delete shop')
                    +text_edit key='title' icon='header' direct=true
                    +text_edit key='slug' icon='slug' direct=true
                    +image_edit key='image' label='image' direct=true
                    // +text_edit key='location' label='location' icon='marker' direct=true
                    // +icon_edit key='icon' label='icon' direct=true
                    div 
                    +array_edit key='tags' label='tags' direct=true
                .six.wide.column
                    +textarea_edit key='description' label='description' direct=true
                    +textarea_edit key='hours' label='hours' direct=true
                    //- +array_edit key='location_tags' label='location_tags' direct=true
                .five.wide.column
                    +boolean_edit key='published' direct=true
                    +boolean_edit key='Grubhub' direct=true
                    +boolean_edit key='Postmates' direct=true
                    +boolean_edit key='Nosh' direct=true
                    +boolean_edit key='Toast' direct=true
                    +boolean_edit key='DoorDash' direct=true
    





