template(name='tribe_item')
    a.card(href="/tribe/#{_id}/view")
        if image
            a(href="/tribe/#{_id}/view")
                img.ui.image(src="{{c.url image height=500 width=500 gravity='face' crop='fill'}}")
        .content
            a.ui.header(href="/tribe/#{_id}/view") #{title}
        
template(name='tribe_card')
    .ui.card
        if image_id
            a.image(href="/tribe/#{name}")
                img.ui.image.zoom(src="{{c.url image_id height=500 width=500 gravity='face' crop='fill'}}" class=currentUser.invert_class)
        .content
            a.ui.header(href="/tribe/#{name}") #{title}
            if private
                i.large.lock.icon(title='private')
            each tags
                .ui.circular.basic.label #{this}
            i.chess.king.icon
            |#{tribe_leader_ids.length} leaders
            i.chess.queen.icon
            |#{tribe_member_ids.length} members
        
                    
                    
template(name='tribe_membership')
    if current_doc.private
        unless is_member
            .ui.big.button.request
                |request membership
        else
            .ui.large.button.switch
                |switch to
    else
        if is_member
            .ui.large.button.switch
                |switch to
            .ui.divider
            .ui.large.button.leave
                |- leave
        else
            .ui.big.button.join 
                |+ join
                    
                    
template(name='tribe_edit')
    with current_doc
        .ui.stackable.padded.grid
            .middle.aligned.row 
                .four.wide.center.aligned.column
                    a.ui.green.circular.button(href="/tribe/#{name}" title='save')
                        i.checkmark.big.icon
                        |save
                .eight.wide.center.aligned.column
                    .ui.small.inline.header 
                        +icon name='clock'
                        |edit tribe
                    .ui.inline.header #{title} #{name}
                .four.wide.center.aligned.column
                    .ui.icon.button.delete_item(title='delete tribe')
                        i.large.remove.icon
            .row 
                .four.wide.column
                    +multi_user_edit key='tribe_leader_ids' label='tribe leaders' direct=true
                    +multi_user_edit key='tribe_member_ids' label='tribe members' direct=true
                    +image_edit key='image_id' label='image' direct=true
                .eight.wide.column
                    +text_edit key='title' label='title' direct=true
                    +icon_edit key='icon' label='icon' direct=true
                    +html_edit key='description' label='description' direct=true
                    div 
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                .four.wide.column
                    +boolean_edit key='private' label='private' direct=true
                    .ui.header enabled features
                    each enabled_features
                        .ui.active.button.disable_feature
                            |#{title}
                    .ui.header disabled features
                    each disabled_features
                        .ui.basic.circular.button.enable_feature
                            |#{title}
                    