template(name='tribe_view')
    unless current_tribe
        .ui.center.aligned.basic.segment
            i.massive.loading.yin.yang.link.grey.icon.create_tribe
    with current_tribe
        .ui.stackable.padded.grid
            .centered.middle.aligned.row 
                .four.wide.center.aligned.column
                    a.ui.circular.button(href="/m/tribe")
                        i.chevron.left.icon
                        i.big.fire.icon
                .eight.wide.center.aligned.column
                    .ui.header 
                        small view tribe 
                        |#{title}
                .four.wide.center.aligned.column
                    if can_edit 
                        a.ui.circular.icon.button(href="/m/tribe/#{_id}/edit" title='edit tribe instance')
                            i.pencil.large.icon
            .row 
                .four.wide.column
                    .ui.header
                        +icon name='calendar'
                        |#{title} events
                    +image_view key='image_id' label='image' direct=true
                .eight.wide.column
                    +tribe_posts
                .four.wide.column
                    +multi_user_view key='tribe_leader_ids' label='tribe leaders' direct=true
                    +multi_user_view key='tribe_member_ids' label='tribe members' direct=true
                    each members
                        a.ui.header(href="/user/#{username}")
                            img.ui.avatar.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                            |#{username}
                    +html_view key='description' label='description' direct=true
                    div 
                    +array_view key='tags' label='tags' direct=true
                    .spacer
                    .spacer
                    +comments
                    //- +array_view key='tribe_tags' label='tribe_tags' direct=true
                    .ui.header  
                        +icolor name='prize'
                        |badges
                    each tribe_badges
                        .ui.header #{title}
                    +tribe_membership
                    a.ui.header(href="/m/tribe/#{_id}/view")
                        |#{title}
                    .ui.list
                        each members
                            .item #{username} contributer
                            
                    //- .ui.fluid.green.button.submit
                    //-     i.checkmark.icon
                    //-     |submit
                    



template(name='tribe_posts')
    .ui.inline.header posts
    .ui.circular.icon.button.create_post
        i.plus.icon
    each tribe_post_tags
        .ui.small.compact.button
            |#{this}
    .scrolling
        each posts
            +tribe_post_card
        
        
template(name='tribe_post_card')
    .ui.segment
        a(href="/post/#{_id}/view") 
            img.ui.fluid.rounded.image(src="{{c.url image_id }}" class=currentUser.invert_class)
        a.ui.header(href="/post/#{_id}/view") 
            |#{title}
        +array_view key='location_tags' direct=true
        +array_view key='time_tags' direct=true
        +array_view key='people_tags' direct=true
        +array_view key='group_tags' direct=true
        +array_view key='tags' direct=true

        div
        | !{body}
        div
        if is_admin
            +remove_button
            +print_this
        
        //- div
        +author_info
        +creation_info

