template(name='tribe_view')
    unless current_tribe
        .ui.center.aligned.basic.segment
            i.massive.loading.yin.yang.link.grey.icon.create_tribe
    with current_tribe
        .ui.stackable.padded.grid
            .row 
                .four.wide.column
                    a.ui.circular.basic.button(href="/tribes")
                        i.chevron.left.icon
                        i.big.fire.icon
                        |tribes
                    .ui.header 
                        img.ui.avatar.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}")
                        |#{title}
                    if is_admin 
                        a.ui.circular.icon.button(href="/m/tribe/#{_id}/edit" title='edit tribe instance')
                            i.pencil.large.icon
                .eight.wide.column
                    // +skve k='view_section' v='posts' l='posts' i='content'
                    // +skve k='view_section' v='events' l='events' i='calendar'
                    // +skve k='view_section' v='chat' l='chat' i='chat outline'
                    // +skve k='view_section' v='members' l='members' i='users'
                    // +skve k='view_section' v='stats' l='stats' i='line chart'
                    // div
                    // if skv_is 'view_section' 'posts'
                    +tribe_posts
                    // if skv_is 'view_section' 'members'
                    //     +tribe_membership
                .four.wide.column
                    +html_view key='description' label='description' direct=true
                    +multi_user_view key='tribe_leader_ids' label='tribe admins' direct=true
                    +multi_user_view key='tribe_member_ids' label='tribe members' direct=true
                    each members
                        a.ui.header(href="/user/#{username}")
                            img.ui.avatar.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                            |#{username}
                    div 
                    +array_view key='tags' label='tags' direct=true
                    .spacer
                    .spacer
                    // +comments
                    //- +array_view key='tribe_tags' label='tribe_tags' direct=true
                    // .ui.header  
                    //     +icolor name='prize'
                    //     |badges
                    // each tribe_badges
                    //     .ui.header #{title}
                    // +tribe_membership
                    // a.ui.header(href="/m/tribe/#{_id}/view")
                    //     |#{title}
                    // .ui.list
                    //     each members
                    //         .item #{username} contributer
                            
                    //- .ui.fluid.green.button.submit
                    //-     i.checkmark.icon
                    //-     |submit
                    



template(name='tribe_posts')
    .ui.inline.header posts
    if currentUser
        .ui.circular.icon.basic.button.create_post
            i.plus.green.icon
    i.grey.tags.icon
    if selected_tribe_tags
        #clear_tags.ui.black.circular.icon.compact.button
            i.remove.icon
        each selected_tribe_tags
            .unselect_tag.ui.black.circular.compact.button
                strong #{this}
    each all_tags
        .ui.compact.small.basic.button.select_tag(class=cloud_tag_class) 
            strong #{this.name}
    div
    i.grey.large.marker.icon
    if selected_tribe_location_tags
        #clear_location_tags.ui.black.circular.icon.compact.button
            i.remove.icon
        each selected_tribe_location_tags
            .unselect_location_tag.ui.black.circular.compact.button
                strong #{this}
    each all_location_tags
        .ui.compact.small.basic.button.select_location_tag(class=cloud_tag_class) 
            strong #{this.name}
    div
    i.grey.large.clock.icon
    if selected_tribe_time_tags
        #clear_time_tags.ui.black.circular.icon.compact.button
            i.remove.icon
        each selected_tribe_time_tags
            .unselect_time_tag.ui.black.circular.compact.button
                strong #{this}
    each all_time_tags
        .ui.compact.small.basic.button.select_time_tag(class=cloud_tag_class) 
            strong #{this.name}
    div
    i.grey.large.users.icon
    if selected_tribe_people_tags
        #clear_people_tags.ui.black.circular.icon.compact.button
            i.remove.icon
        each selected_tribe_people_tags
            .unselect_people_tag.ui.black.circular.compact.button
                strong #{this}
    each all_people_tags
        .ui.compact.small.basic.button.select_people_tag(class=cloud_tag_class) 
            strong #{this.name}
    .scrolling
        each posts
            +tribe_post_card
            .ui.divider
        
        
template(name='tribe_post_card')
    // .ui.segment
    a(href="/post/#{_id}/view") 
        img.ui.fluid.rounded.image(src="{{c.url image_id }}" class=currentUser.invert_class)
    a.ui.header(href="/post/#{_id}/view") 
        |#{title}
    i.large.tag.icon(title='tags')
    each tags
        .ui.basic.label #{this}
    i.large.marker.icon(title='location tags')
    each location_tags
        .ui.basic.label #{this}
    i.large.clock.icon(title='time tags')
    each time_tags
        .ui.basic.label #{this}
    i.large.users.icon(title='users tags')
    each people_tags
        .ui.basic.label #{this}

    | !{body}
    if is_admin
        +remove_button
        +print_this
    
    //- div
    +author_info
    +creation_info
    | #{_views} views
    each _viewer_usernames
        .ui.label #{this}
    +voting_full
