template(name='user_edit_layout')
    +nav
    .ui.bottom.attached.pushable.segment
        +leftbar
        +rightbar
        #main_area.global_container.pusher(class=currentUser.invert_class)
            with current_user          
                .ui.stackable.padded.grid
                    .row
                        .four.wide.column
                            .ui.center.aligned.large.inline.header(style="color:#{current_user.theme_color};")
                                i.big.cog.icon(style="color:#{current_user.theme_color};")
                                | #{current_user.name}
                            .ui.small.inline.header @#{current_user.username}
                            img.ui.centered.medium.rounded.image(src="{{c.url profile_image_id height=400 width=400 gravity='face' crop='fill'}}")
                                
                            a.ui.big.green.circular.icon.button(href="/u/#{current_user.username}/") 
                                i.checkmark.big.icon
                                strong save
                            a.ui.large.basic.circular.button(href="/u/#{current_user.username}/edit/account" class="{{isActiveRoute 'user_edit_account'}}" title='account') 
                                i.cog.large.icon 
                                |account
                            a.ui.large.basic.circular.button(href="/u/#{current_user.username}/edit/info" class="{{isActiveRoute 'user_edit_info'}}" title='info') 
                                i.info.large.icon 
                                |info
                            a.ui.large.basic.circular.button(href="/u/#{current_user.username}/edit/food" class="{{isActiveRoute 'user_edit_food'}}") 
                                i.food.large.icon 
                                |food
                            a.ui.large.basic.circular.button(href="/u/#{current_user.username}/edit/delivery" class="{{isActiveRoute 'user_edit_delivery'}}") 
                                i.truck.large.icon 
                                |delivery
                            a.ui.large.basic.circular.button(href="/u/#{current_user.username}/edit/alerts" class="{{isActiveRoute 'user_edit_alerts'}}") 
                                i.bell.large.icon 
                                |alerts
                            a.ui.large.basic.circular.button(href="/u/#{current_user.username}/edit/style" class="{{isActiveRoute 'user_edit_style'}}") 
                                i.paint.brush.large.icon 
                                |style
                            a.ui.large.basic.circular.button(href="/u/#{current_user.username}/edit/genekeys" class="{{isActiveRoute 'user_edit_genekeys'}}") 
                                i.dna.large.icon 
                                |genekeys
                            a.ui.large.basic.circular.button(href="/u/#{current_user.username}/edit/privacy" class="{{isActiveRoute 'user_edit_privacy'}}") 
                                i.lock.privacy.large.icon 
                                | privacy
                            a.ui.large.basic.circular.button(href="/u/#{current_user.username}/edit/badges" class="{{isActiveRoute 'user_edit_badges'}}" title='badges') 
                                i.certificate.large.icon
                                // |badges
                            a.ui.large.basic.circular.button(href="/u/#{current_user.username}/edit/membership" class="{{isActiveRoute 'user_edit_membership'}}" title='membership') 
                                i.shield.large.icon
                                | membership
                            a.ui.large.basic.circular.button(href="/u/#{current_user.username}/edit/tribes" class="{{isActiveRoute 'user_edit_tribes'}}") 
                                i.fire.large.icon 
                                |tribes
                        .twelve.wide.column
                            +yield

template(name='user_edit_account')
    .ui.header 
        i.cog.icon
        |account
    .ui.two.column.stackable.grid
        .column
            +image_edit k='profile_image_id' i='picture' title='profile image' d=true
            +image_edit k='avatar_image_id' i='picture' title='avatar image' d=true
            +password_edit
        .column
            +text_edit k='first_name' l='first name' d=true
            +text_edit k='last_name' l='last name' d=true
            .ui.header 
                i.envelope.outline.icon
                |emails
            +emails_edit
            if is_dev
                .ui.segment
                    i.code.icon
                    +username_edit
                    +boolean_edit k='disabled' l='disabled' d=true
                    +multi_user_edit k='user_representatives' l='user representatives' d=true
                    div
                    with current_user
                        .ui.button.remove_user 
                            i.remove.icon
                            |delete user
            .spacer
            +phone_edit k='phone' l='phone' i='phone' d=true

            //- +phone_editor
    


template(name='user_edit_alerts')
    .ui.header
        i.rss.icon
        | alerts
    .ui.header notifiy when 
    .ui.big.link.list
        .item receive credit
        .item invited to event 
        .item invited to shift 
        .item personal request received 


template(name='user_edit_style')
    .ui.header
        i.paint.brush.icon
        | styles
    .ui.header nav color
    +text_edit k='theme_color' l='theme color' d=true
    a.ui.big.button(href='https://www.w3schools.com/cssref/css_colors.asp' target='_window')
        i.external.icon
        |color list
    div
    +user_key_value_edit k='invert_class' v='invert' l='invert on' d=true
    +user_key_value_edit k='invert_class' v='' l='invert off' d=true

template(name='user_edit_privacy')
    .ui.header
        +icolor name='private' cl='ui image'
        | privacy
    .ui.grid 
        .row 
            .four.wide.column
                +boolean_edit k='publish_profile' l='publish profile' direct=true
            .twelve.wide.column
                .ui.header 
                    |make profile public 
                .ui.small.header 
                    |allow others to find your profile and follow you, allows you to follow others, enrolls you in public leaderboards
        .row 
            .sixteen.wide.column
                a.ui.basic.compact.button.logout_other_clients(href="#")
                    i.globe.icon
                    |log out other clients
                if is_admin
                    a.ui.basic.compact.button.force_logout(href="#")
                        i.shield.icon
                        |force log out
                
                .ui.header sessions
                .ui.large.list
                    each current_user.services.resume.loginTokens
                        .item #{when}: #{hashedToken}

template(name='user_edit_badges')
    .ui.header
        i.certificate.icon
        | badges
    .ui.grid 
        .row 
            .sixteen.wide.column
                if is_admin
                    +array_edit k='badges' l='badges' i='certificate' direct=true
                
                .ui.divider
                each badges
                    a.ui.button(href="/badge/#{this}/view")
                
                .spacer


template(name='user_edit_membership')
    .ui.padded.stackable.grid 
        .row 
            .sixteen.wide.column
                .ui.header
                    i.id.badge.outline.icon
                    | riverside membership
        .row 
            .sixteen.wide.column
                .ui.big.green.button.pay_membership
                    |pay $250 for membership
                each transactions
                    .ui.segment
                        a.ui.header(href="/transaction/#{_id}/view") #{when}
                        |#{amount} amount
                        if charge 
                            .ui.header charge
                        |#{charge.result.id}
                        .ui.header $#{charge.result.amount}
                        if is_admin
                            +remove_button
                            +print_this
                // +user_edit_finance
                if is_admin
                    .ui.header
                        i.shield.icon
                        |admin
                    +array_edit k='levels' l='levels' direct=true
                    +array_edit k='roles' l='roles' direct=true

template(name='user_edit_info')
    .ui.one.column.stackable.grid
        .column
            .ui.header edit user info
            .ui.segment
                +text_edit k='spirit_animal' l='spirit animal' direct=true
                if spirit_animal
                    +icolor name=spirit_animal
                a(href="https://icons8.com/icons/color" target="_window")
                    |color icons lookup
            div
            +array_edit k='tags' l='tags' i='tags' direct=true
            div
            div
            +single_user_edit k='refered_by' l='refered by' i='fork' direct=true
            .spacer
            +text_edit k='city' l='city' i='city' direct=true
            .spacer
            +text_edit k='state' l='state' i='country' direct=true
            .spacer
            +link_edit k='website' l='website' i='link' direct=true
            .spacer
            +textarea_edit k='profile_excites_blurb' l='What excites you about being apart of this community?' direct=true
            .spacer
            +textarea_edit k='profile_community_blurb' l='What do you want this community to know about you?' direct=true
            .spacer
            +textarea_edit k='profile_contribute_blurb' l='What would you like to contribute (think: superpowers, talents, gifts, resources)' direct=true
            .spacer
            +textarea_edit k='profile_hope_receive' l='What do you hope to receive?' direct=true
            .spacer
            .ui.divider
            // +array_edit k='pet_peeves' l='pet peeves' i='annoyance' direct=true
            .spacer
            +textarea_edit k='emergency_contact_name' l='emergency contact name' i='alert' direct=true
            .spacer
            +textarea_edit k='emergency_contact_number' l='emergency contact number' i='alert' direct=true


template(name='user_edit_genekeys')
    .ui.header
        +icolor name='dna-helix' cl='ui image'
        | genekeys
    .ui.grid 
        .row 
            .sixteen.wide.column
                +link_edit k='genekeys_link' l='report url' d=true
                .ui.segment
                    a.ui.button(href="https://genekeys.com/" target='_window') 
                        |1) get gene keys pdf report here (toggle everything)
                    a.ui.button(href="https://pdf2png.com/" target='_window') 
                        |2) convert to png here
                    .ui.small.inline.header 
                        |3) upload
                    .ui.stackable.three.column.grid
                        .column
                            +image_edit k='gene1' l='gene keys 1' i='dna' d=true
                        .column
                            +image_edit k='gene2' l='gene keys 2' i='dna' d=true
                        .column
                            +image_edit k='gene3' l='gene keys 3' i='dna' d=true
                +html_edit k='genekeys_report' l='report' d=true


template(name='user_edit_food')
    .ui.padded.stackable.grid 
        .row 
            .sixteen.wide.column
                .ui.header
                    i.food.icon
                    | food
        .row 
            .sixteen.wide.column
                +array_edit k='allergens' l='allergens' d=true
                +array_edit k='food_likes' l='food likes' d=true
                +array_edit k='food_dislikes' l='food dislikes' d=true
                div
                .ui.big.green.button.buy_ethel_tiffen
                    |pay $11 for an Ethel tiffen
                .ui.big.green.button.buy_nicole_tiffen
                    |pay $11 for a Nicole tiffen
                each food_orders
                    +food_order



template(name='food_order')
    .ui.segment
        a.ui.header(href="/m/food_order/#{_id}/view") #{when}
        if charge 
            .ui.header charge
        if is_dev
            |#{charge.result.id}
        .ui.header $#{charge.result.amount}
        if can_edit 
            unless submitted
                +date_edit k='date' l='date' d=true
                +text_edit k='notes' l='notes' d=true
                +key_value_edit k='tiffen_type' v='meat' d=true
                +key_value_edit k='tiffen_type' v='veggie' d=true
                .ui.green.button.submit_order
                    |submit order
            else
                +date_view k='date' l='date' d=true
                +text_view k='notes' l='notes' d=true
                .ui.large.label
                    |tiffen type: #{tiffen_type}
                +boolean_edit k='delivery' l='add delivery' d=true                    
        if is_dev
            +remove_button
            +print_this

template(name='user_edit_finance')  
    .ui.stackable.grid      
        //- .centered.row
        //-     .sixteen.wide.column
        //-         .ui.center.aligned.header user credit
        .three.column.row
            .column
                .ui.segment
                    .ui.header
                        +icolor name='deposit'
                        |sent credit
                    .ui.button.send_credit
                        |send credit
                    .ui.header
                        |sent credits
                    .ui.list
                        each sent_credits
                            a.item(href="/transaction/#{_id}/view")
            .column
                .ui.segment
                    .ui.header
                        +icolor name='withdrawal'
                    .ui.button.request_credit
                        | credit
                    .ui.header
                        |received credits
                    .ui.selection.animated.list
                        each received_credits
                            a.item(href="/transaction/#{_id}/view")
            .column
                .ui.segment
                    .ui.header
                        +icolor name='change'
                        |your balance
                    .ui.small.inline.header current credit
                    .ui.green.inline.header #{current_user.credit}c
                    .ui.button.top_up
                        |add credit
                    +session_boolean_toggle k='adding_credit' l='add credit' i='plus'
                    if session_is 'adding_credit' true
                        |add amount
                        .ui.input
                            input.add_amount(type='number')
                        .ui.horizontal.divider or
                        .ui.button.add_five_credits
                            |5
                        .ui.button.add_ten_credit
                            |10
                        .ui.button.add_twenty_credit
                            |20
                        .ui.button.add_fifty_credit
                            |50
                        .ui.button.add_hundred_credit
                            |100
                
        .three.column.row
            .column
                .ui.segment
                .ui.segment
                    .ui.header 
                        strong $#{udd.total_credit_amount}
                        small total weekly income
                    .ui.header
                        strong #{udd.credit_count}
                        small sales
            .column
                .ui.segment
                    .ui.header
                        strong $#{udd.total_debit_amount}
                        small total weekly expenses
                    .ui.header
                        strong #{udd.debit_count}
                        small debits
            .column
                .ui.segment
                    .ui.header
                        |growth from last week
        .two.column.row
            .column
                .ui.segment
                    .ui.header 
                        |weekly credits
                    //- .ui.bulleted.list
                    //-     each user_credits
                    //-         .item 
                    //-             |#{amount}
                    //-             if icon
                    //-                 +i name=icon
                    //-             strong #{text}
                    //-             small #{when}
                    .ui.feed.mediumscroll
                        each user_credits
                            .event 
                                .label
                                    if is_credit
                                        i.grey.chevron.up.icon
                                    if is_debit
                                        i.grey.chevron.down.icon
                                    else if icon
                                        i.grey.icon(class=icon)
                                .content
                                    .summary
                                        a.user(href="/u/#{target_user.username}")
                                            |#{target_user.name}
                                        |#{text}
                                        .date #{when}
                                    .meta
                                        +voting_small
                                        //- a.like
                                        //-     i.like.icon 
                                        //-     |4 likes
                                        a.remove
                                            i.grey.undo.icon
                                        //- if is_dev
                                        //-     +remove_button
            .column
                .ui.segment
                    .ui.header 
                        i.chevron.down.icon
                        |weekly debits
                    .ui.feed.mediumscroll
                        each user_debits
                            .event 
                                .label
                                    if is_credit
                                        i.chevron.up.icon
                                    if is_debit
                                        i.chevron.down.icon
                                    else if icon
                                        i.icon(class=icon)
                                .content
                                    .summary
                                        a.user(href="/u/#{target_user.username}")
                                            |#{target_user.name}
                                        |#{text}
                                        .date #{when}
                                    .meta
                                        +voting_small
                                        //- a.like
                                        //-     i.like.icon 
                                        //-     |4 likes
                                        a.remove
                                            i.grey.undo.icon
                                        //- if is_dev
                                        //-     +remove_button
                        //- +range_edit                
            .column
                
            .column
                if is_admin
                    .ui.segment
                        .ui.header
                            i.shield.icon
                            |admin 
                        +number_edit k='credit' l='edit credit' d=true


template(name='user_edit_delivery')
    .ui.padded.stackable.grid 
        .row 
            .sixteen.wide.column
                .ui.header
                    i.truck.icon
                    | delivery settings
                .ui.small.header
                    |deliveries are a $5 minimum (split between the org and driver) with a suggested $5 tip (all going to the driver)
        .row 
            .sixteen.wide.column
                .ui.header home address
                .ui.small.header will only be shown to deliveries to your address and to match you to deliveries nearby
                +text_edit k='address' d=true
                +text_edit k='city' d=true
                +number_edit k='zipcode' d=true
                +array_edit k='location_tags' l='location tags' d=true
                +multi_user_edit k='approved_drivers' l='approved drivers to your address' d=true
                // +address_edit k='home_address'
                .ui.header driver settings
                +boolean_edit k='available_for_delivery' l='available for delivery' d=true
                if available_for_delivery
                    +array_edit k='prefered_zipcodes' l='prefered zipcodes' d=true
                each deliveries
                    +delivery

template(name='delivery')
    .ui.segment
        a.ui.header(href="/m/delivery_order/#{_id}/view") #{when}
        if charge 
            .ui.header charge
        if is_dev
            |#{charge.result.id}
        .ui.header $#{charge.result.amount}
        if can_edit 
            unless submitted
                +date_edit k='date' l='date' d=true
                +text_edit k='notes' l='notes' d=true
                +key_value_edit k='tiffen_type' v='meat' d=true
                +key_value_edit k='tiffen_type' v='veggie' d=true
                .ui.green.button.submit_order
                    |submit order
            else
                +date_view k='date' l='date' d=true
                +text_view k='notes' l='notes' d=true
                +key_value_view k='tiffen_type' v='meat' d=true
                +key_value_view k='tiffen_type' v='veggie' d=true
        if is_dev
            +remove_button
            +print_this
