template(name='user_posts')  
    .ui.center.aligned.header 
        i.hand.holding.heart.icon
        |user posts
    .scrolling
        each posts
            .ui.segment
                a(href="/p/#{_id}") 
                    img.ui.fluid.rounded.image(src="{{c.url image_id }}" class=currentUser.invert_class)
                a.ui.header(href="/p/#{_id}") 
                    |#{title}
                +array_view key='location_tags' direct=true
                +array_view key='time_tags' direct=true
                +array_view key='people_tags' direct=true
                +array_view key='group_tags' direct=true
                +array_view key='tags' direct=true

                div
                | !{body}
                div
                if is_admin
                    +remove_button
                    +print_this
                
                //- div
                +author_info
                +creation_info
