template(name='users')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.header users
        .twelve.wide.column
            .ui.five.stackable.centered.cards
                each users
                    a.ui.card(href="/site/#{site}/user/#{user_id}")
                        img.ui.image(src=profile_image class=currentUser.invert_class)
                        .content
                            a.ui.header #{display_name}
                            .description
                                |#{site}