template(name='orders')
    .ui.padded.stackable.grid.header-wrapper
        .ui.hidden.divider
        .row
            .four.wide.column
                h1.ui.massive.inline.header 
                    +i name='buy'
                    |orders
                .ui.icon.large.button.new_order
                    i.green.plus.icon
                +cloud filter='order'
            .twelve.wide.column
                .ui.centered.three.cards
                    each order_items
                        +order_card_template
                        
                        
                        
template(name='order_card_template')
    .ui.card
        with product
            .image
                img.ui.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
        .content
            .header #{product.title}
            unless order_preparing
                .ui.fluid.button.mark_preparing 
                    i.clock.icon
                    |mark preparing
            else
                unless order_delivering
                    .ui.fluid.disabled.button 
                        i.clock.icon
                        |preparing
                    .ui.fluid.button.mark_delivering 
                        i.truck.icon
                        |mark delivering
                if order_delivering
                    unless order_delivered
                        .ui.header delivering by #{deliverer.first_name}
                        .ui.fluid.button.mark_delivered 
                            i.checkmark.icon
                            |mark delivered
                    else
                        .ui.header delivered by #{deliverer.username} #{delivery_when}
            .ui.small.header #{notes}
            if is_admin
                +remove_button
        .content
            .ui.small.header ordered #{when}
            +author_info
                
                
template(name='order_page')
    with current_doc
        .ui.padded.stackable.grid.header-wrapper
            .row
                .twelve.wide.column
                    h1.ui.header #{title}
            .row
                .four.wide.column
                    if can_edit
                        a.ui.icon.button(href="/order/#{_id}/edit" title='edit')
                            +i name='settings'
                    +array_view key='tags' icon='tags' direct=true
                    +array_view key='location_tags' label='location tags' icon='marker' direct=true
                    +array_view key='date_tags' label='date tags' icon='orders' direct=true
                    div
                    +voting
                    +comments
                .twelve.wide.column
                    +youtube_view key='youtube_id' label='youtube id' direct=true
                    +html_view key='description' direct=true


template(name='order_edit')
    with current_doc
        .ui.padded.stackable.grid.header-wrapper
            .row
                .six.wide.column
                    .ui.inline.header #{title}
                    a.ui.large.basic.icon.button(href="/order/#{_id}")
                        i.big.green.checkmark.icon
                    .ui.basic.icon.button.delete_order_item
                        i.red.remove.icon
                    +text_edit key='title' icon='header' direct=true
                    +array_edit key='tags' icon='tags' direct=true
                    +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                .ten.wide.column
                    +youtube_edit key='youtube_id' label='youtube id' direct=true
                    +html_edit key='description' direct=true
