template(name='post_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .sixteen.wide.column
                    div
                    +text_edit key='title' icon='header' direct=true
                    div
                    // if watson
                    //     +watson_view
                    a.ui.green.icon.circular.large.button(href="/m/post/#{_id}/view" title='save' class=currentUser.invert_class)
                        i.checkmark.big.icon
                    .ui.inline.large.header 
                        small edit post:
                        |#{title}
                    +session_edit_value_button key='post_edit_section' value='description' label='description' icon='content'
                    +session_edit_value_button key='post_edit_section' value='advanced' label='advanced' icon='settings'
                    +session_edit_value_button key='post_edit_section' value='delete' label='delete' icon='delete'
                    +session_edit_value_button key='post_edit_section' value='authors' label='authors' icon='groups'
                    +session_edit_value_button key='post_edit_section' value='tribes' label='tribes' icon='campfire'
                    +session_edit_value_button key='post_edit_section' value='image' label='image' icon='image'
                    +session_edit_value_button key='post_edit_section' value='privacy' label='privacy' icon='shield'
                    +session_edit_value_button key='post_edit_section' value='tags' label='tags' icon='price-tag'
                    +session_edit_value_button key='post_edit_section' value='video' label='video' icon='video'
                    +session_edit_value_button key='post_edit_section' value='date' label='date' icon='calendar'
                    if session_key_value_is 'post_edit_section' 'description'
                        +html_edit key='description' label='description' direct=true
                    if session_key_value_is 'post_edit_section' 'date'
                        .ui.inline.header
                            // i.calendar.icon
                            +i name='calendar' cl='ui avatar image'
                            |date
                        i.dropdown.icon
                        +date_edit key='date' label='date' direct=true
                    if session_key_value_is 'post_edit_section' 'tags'
                        .ui.inline.header
                            // i.tags.icon
                            +i name='tags' cl='ui avatar image'
                            |#{tags.length} tags
                        i.dropdown.icon
                        +smart_tagger
                    if session_key_value_is 'post_edit_section' 'image'
                        .ui.inline.header
                            if image_id
                                img.ui.mini.compact.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                            else
                                i.picture.grey.icon
                            |image
                        +image_edit key='image_id' label='image upload' direct=true
                        // div 
                        // +text_edit key='source' label='source' direct=true
                        // div 
                        // +image_link_edit key='image_link' label='image link' direct=true
                    if session_key_value_is 'post_edit_section' 'tribes'
                        .ui.inline.header
                            i.fire.icon
                            |tribe: #{tribe.title}
                        i.dropdown.icon
                        with tribe 
                            +tribe_card_small
                        a.ui.header(href="/m/tribe/#{tribe_id}/view") tribe
                            |#{tribe_id}
                        +single_doc_edit ref_model='tribe' key='tribe_id' direct=true
                    if session_key_value_is 'post_edit_section' 'video'
                        .ui.inline.header
                            // i.video.icon
                            +i name='video' cl='ui avatar image'
                            |video
                        if youtube_id
                            i.checkmark.icon
                        i.dropdown.icon
                        +youtube_edit key='youtube_id' label='youtube id' direct=true
                    if session_key_value_is 'post_edit_section' 'delete'
                        i.remove.link.circular.big.red.icon.delete_post(title='delete post')
                    if session_key_value_is 'post_edit_section' 'privacy'
                        .ui.inline.header
                            i.lock.icon
                            |privacy
                        +boolean_edit key='private' direct=true
                        if private
                            +multi_user_edit key='viewable_user_ids' key2='viewable_user_usernames' label='viewable by' direct=true
                    if session_key_value_is 'post_edit_section' 'advanced'
                        .ui.inline.header
                            i.shield.icon
                            |advanced
                        +text_edit key='model' direct=true
                    if session_key_value_is 'post_edit_section' 'authors'
                        .ui.inline.header
                            i.user.icon
                            |author: #{_author_username}
                        |coauthors split revenue evenly
                        +multi_user_edit key='coauthor_ids' key2='coauthor_usernames' label='coauthors' direct=true
                        .ui.header 
                            small author
                            |#{_author.username}
                        if is_admin
                            .spacer
                            +single_user_edit key='_author_id' key2='_author_username' direct=true
