template(name='tribe_layout')
    +nav
    with current_tribe
        .ui.stackable.padded.grid
            .middle.aligned.row
                .four.wide.center.aligned.column
                    a.ui.basic.button(href="/m/tribe")
                        i.left.chevron.icon
                        +icolor name='log-cabin' classes='ui mini inline image'
                        |tribes
                .eight.wide.center.aligned.column 
                    .ui.center.aligned.header 
                        if icon
                            +icolor name=icon
                        |#{title}
                .four.wide.center.aligned.column 
                    if can_edit
                        a.ui.basic.icon.button(href="/tribe/#{_id}/edit")
                            i.setting.large.icon
            .row
                .sixteen.wide.column
                    a.ui.basic.compact.button(href="/tribe/#{slug}" class="{{isActiveRoute regex='tribe_dashboard'}}")
                        +ismall name='dashboard' classes='ui inline image'
                        |dashboard
                    a.ui.basic.compact.button(href="/tribe/#{slug}/members" class="{{isActiveRoute regex='tribe_members'}}")
                        +ismall name='info' classes='ui inline image'
                        |members
                    a.ui.basic.compact.button(href="/tribe/#{slug}/credit" class="{{isActiveRoute regex='tribe_credit'}}")
                        +ismall name='coins' classes='ui inline image'
                        |credit
                    a.ui.basic.compact.button(href="/tribe/#{slug}/meals" class="{{isActiveRoute regex='tribe_meals'}}")
                        +ismall name='meal' classes='ui inline image'
                        |meals
                    a.ui.basic.compact.button(href="/tribe/#{slug}/dishes" class="{{isActiveRoute regex='tribe_dishes'}}")
                        +ismall name='meal' classes='ui inline image'
                        |dishes
                    a.ui.basic.compact.button(href="/tribe/#{slug}/voting" class="{{isActiveRoute regex='tribe_voting'}}")
                        +ismall name='elections' classes='ui inline image'
                        |voting
                    a.ui.basic.compact.button(href="/tribe/#{slug}/events" class="{{isActiveRoute regex='tribe_events'}}")
                        +ismall name='calendar' classes='ui inline image'
                        |events
                    a.ui.basic.compact.button(href="/tribe/#{slug}/food" class="{{isActiveRoute regex='tribe_food'}}")
                        +ismall name='food' classes='ui inline image'
                        |food
                    //- a.ui.basic.compact.button(href="/tribe/#{slug}/settings" class="{{isActiveRoute regex='tribe_settings'}}")
                    //-     +ismall name='settings' classes='ui inline image'
                    //-     |settings
                    a.ui.basic.compact.button(href="/tribe/#{slug}/products" class="{{isActiveRoute regex='tribe_products'}}")
                        +ismall name='shopping-cart' classes='ui inline image'
                        |products
                    a.ui.basic.compact.button(href="/tribe/#{slug}/services" class="{{isActiveRoute regex='tribe_services'}}")
                        +ismall name='service-bell' classes='ui inline image'
                        |services

            .row
                .four.wide.column 
                    +image_view key='image_id' icon='image' label='image'
                    +array_view key='tags' icon='tags'
                    .spacer
                    if link
                        a.ui.basic.button(href=link target='_window')
                            i.external.icon
                            |view site
                        .spacer
                    div
                    .spacer
                    a.ui.compact.basic.button(href=address_link target='_window')
                        i.marker.icon
                        |#{address}
                    +viewing
                .twelve.wide.column
                    div
                    +yield
    +footer

template(name='tribe_dashboard')
    +html_view key='description' icon='content' label='description'
    .ui.inline.header 
        +icolor name='crown'
        |tribe leader: 
    a.ui.basic.button(href="/tribe/#{slug}/#{leader}")
        |#{leader}
    .ui.header 
        +icolor name='groups'
        |#{members.count} members
    .ui.large.selection.animated.list
        each members 
            a.item(href="/tribe/#{slug}/#{username}")
                img.ui.mini.image(src="{{c.url profile_image_id width=200 height=200}}")
                .content
                    .header
                        |#{username}
    .ui.header #{meal_count} total meals
    each tribe_meals
        .ui.small.header #{dish.title}
    .ui.header #{upcoming_meal_count} upcoming meals
    each upcoming_tribe_meals
        .ui.small.header #{dish.title}
    .ui.segment
        .ui.header #{dish_count} dishes
        .ui.selection.animated.list
            each tribe_dishes
                a.item(href="/dish/#{_id}/view")
                    img.ui.mini.image(src="{{c.url image_id width=100 height=100}}")
                    .content
                        .header 
                            |#{title}
    +doc_array_togggle key='member_ids' value=currentUser._id add_label='join' remove_label='joined'
    .ui.header 
        +i name='rss'
        |activity
    each log_items
        +log_item
    .ui.header 
        +icolor name='line-chart'
        |stats
    i.refresh.link.icon.refresh_tribe_stats
    .ui.large.list
        .item #{member_count} members
        .item #{meal_count} meals
        .item #{dish_count} dishes
        .item #{total_credit_exchanged} credits exchanged
    //- +comments
template(name='tribe_members')
    .ui.header members
    
template(name='tribe_voting')
    .ui.header voting
    
template(name='tribe_meals')
    .ui.header meals
    
template(name='tribe_dishes')
    .ui.header dishes
    
template(name='tribe_food')
    .ui.header food
    
template(name='tribe_products')
    .ui.header products
    
template(name='tribe_services')
    .ui.header services
    
template(name='tribe_stats')
    .ui.header stats
    
template(name='tribe_forume')
    .ui.header forum
    
template(name='tribe_posts')
    .ui.header members
    
template(name='tribe_events')
    .ui.header events
    
template(name='tribe_credit')
    .ui.header credit
    
template(name='tribe_settings')
    .ui.header settings
