template(name='model_edit_layout')
    +nav
    with current_doc
        .ui.stackable.padded.grid            
            .centered.row
                .sixteen.wide.column
                    small editing model
                    .ui.inline.header
                        i.icon(class=icon)
                        |#{title}
                    div
                    |created
                    +creation_info
                    div
                    a.ui.big.icon.green.circular.button(href="/m/#{slug}")
                        i.big.checkmark.icon
                    i#delete_model.trash.red.circular.link.icon
                    // .ui.divider
                    +boolean_edit k='show_filter_bar' l='show filter bar' d=true
                    +boolean_edit k='show_facets' l='show facets' d=true
                    a.ui.large.button(href="/model/edit/#{current_doc._id}/" class="{{isActiveRoute 'model_edit_dashboard'}}")
                        i.dashboard.icon
                        |dashboard
                    a.ui.large.button(href="/model/edit/#{current_doc._id}/fields" class="{{isActiveRoute 'model_edit_fields'}}")
                        i.list.icon
                        |fields
                    a.ui.large.button(href="/model/edit/#{current_doc._id}/modules" class="{{isActiveRoute 'model_edit_modules'}}")
                        i.cubes.icon
                        |modules
                    a.ui.large.button(href="/model/edit/#{current_doc._id}/permissions" class="{{isActiveRoute 'model_edit_permissions'}}")
                        i.shield.icon
                        |permissions
                    +yield
                    
                    
                    
template(name='model_edit_dashboard')
    .ui.form
        +text_edit k='title' l='title' d=true
        +text_edit k='slug' l='slug' d=true
        +icon_edit k='icon' l='icon' d=true
        +textarea_edit k='description' l='description' d=true
        +array_edit k='tags' l='tags' d=true
        //- +text_edit k='collection' l='collection' d=true
        +kve k='collection' v='docs' i='document'
        +kve k='collection' v='users' i='users'

        //- +multi_doc_edit k='actions' l='actions' ref_model='action' d=true
        //- +text_edit k='app' l='app' d=true
        
template(name='model_edit_fields')
    //- |#{model}
    //- each fields
    //-     +Template.dynamic template=edit_template 
    //-     // .ui.header #{key} [#{field}] #{label}
    .spacer
    .ui.inline.header fields
    .ui.icon.large.compact.button.add_field
        i.plus.green.icon
    .spacer
    .ui.segments
        each fields
            +field_edit
        
            
template(name='model_edit_modules')
    .ui.segment
        .ui.header
            +icon n='module'
            |modules
        +boolean_edit k='show_comments' l='comments' i='chat' d=true
        +boolean_edit k='show_voting' l='voting' i='elections' d=true
    .spacer
    +comments


template(name='model_edit_permissions')
    .ui.header permissions
    +multi_doc_edit k='view_roles' l='view roles' ref_model='role' d=true


template(name='field_edit')
    .ui.segment.field_segment
        a.title.field_edit(href="#")
            |#{rank}
            if icon
                +icon name=icon cl='ui mini inline image'
                //- i.icon(class=icon)
            .ui.inline.header #{title}
            .ui.label #{field_type}
            if faceted
                i.filter.icon(title='faceted')
            if sortable
                i.sort.amount.down.icon
            each view_roles
                .ui.small.label #{this}
            //- .ui.icon.compact.button
            //-     i.up.caret.icon
            //- .ui.icon.compact.button
            //-     i.down.caret.icon
            if viewing_content    
                i.large.caret.down.icon
            else 
                i.large.caret.right.grey.icon
        if viewing_content
            .content
                +text_edit k='title' l='label' d=true
                +text_edit k='key' l='key' d=true
                +number_edit k='rank' l='rank' d=true      
                +icon_edit k='icon' l='icon' d=true       
                //- +textarea_edit k='description' l='description' d=true
                .spacer
                if is_dev
                    +text_edit k='field_type' l='field type' d=true
                +kve k='field_type' v='text' i='header'
                +kve k='field_type' v='array' i='list'
                +kve k='field_type' v='boolean' i='green toggle off'
                +kve k='field_type' v='number' i='blue hashtag'
                +kve k='field_type' v='float' i='blue hashtag'
                +kve k='field_type' v='html' i='code'
                +kve k='field_type' v='textarea' i='content'
                +kve k='field_type' v='image' i='picture'
                +kve k='field_type' v='date' i='calendar'
                +kve k='field_type' v='time' i='clock'
                +kve k='field_type' v='link' i='linkify'
                +kve k='field_type' v='youtube' i='video'
                +kve k='field_type' v='color' i='paint brush'
                +kve k='field_type' v='single_doc' i='clone'
                +kve k='field_type' v='multi_doc' i='clone'
                +kve k='field_type' v='single_user' i='clone'
                +kve k='field_type' v='multi_user' i='clone'
                if is_dev
                    i.large.code.icon
                    +single_doc_edit k='field_type' ref_model='field_type' l='field type' d=true        
                    .spacer
                    // +text_edit k='field_type_id' l='field type id' d=true        
                    // +single_doc_edit k='field_type_id' ref_model_slug='field_type' l='field type id' d=true        
                    .spacer
                    +multi_doc_edit k='view_roles' ref_model_slug='role' l='view roles' d=true i='eye'          
                    .spacer
                    +multi_doc_edit k='edit_roles' ref_model_slug='role' l='edit roles' d=true i='pencil'        
                    +text_edit k='ref_model' l='reference model' d=true
                .spacer
                +boolean_edit k='faceted' l='faceted' i='diamond' d=true
                +boolean_edit k='sortable' l='sortable' i='chevron-down' d=true
                .spacer
                if is_ref  
                    +single_doc_edit k='ref_model' ref_model_slug='model' l='reference model' d=true
                else if is_user_ref
                    +single_doc_edit k='role_filter' ref_model_slug='role' l='role filter' d=true
                div             
                +remove_button
                if is_admin
                    +print_this
//- template(name='view_model')
        
template(name='field_view')
    +text_view k='title'                    
    +text_view k='key'                    
    +text_view k='field_type'                    
    +number_view k='rank' l='rank'                  
