template(name='delta_result_card')
    with result
        if template_exists
            +Template.dynamic template=model_template
        else
            .ui.card.result.pointer(class=loading_class tabindex="1")
                .content
                    if key_value_is 'model' 'model'
                        .ui.header
                            i.icon(class=icon)
                            |#{title}
                    else
                        each fields
                            +Template.dynamic template=view_template
                            div
                    .extra
                        if key_value_is 'model' 'model'
                            //- +user_list_toggle key='bookmark_ids' icon='bookmark' label='bookmark' color='red'
                            //- a.ui.button.route_model(href="/m/#{slug}")
                            //-     |view model
                            //-     i.right.chevron.green.icon
                                //- +icon name='chevron-right' clases='ui avatar image'
                            if is_admin
                                a.ui.compact.basic.button.route_model(href="/model/edit/#{_id}")
                                    i.cog.icon
                                    |edit model
                                span(title='views')
                                    i.grey.eye.icon
                                    | #{views}
                                .ui.teal.label 
                                    |#{app}
                        else
                            if can_edit
                                a.ui.icon.button(href="/m/#{current_model.slug}/#{_id}/edit" title='edit')
                                    i.pencil.large.icon
                                    //- |edit
                            //- a.ui.icon.large.button(href="/m/#{current_model.slug}/#{_id}/view" title='view')
                            //-     i.right.chevron.yellow.large.icon
                        if is_admin
                            if _author_id
                                +author_info
                            +creation_info
                            .ui.small.inline.header #{views} views
                                //- i.eye.icon
                                each viewer_usernames
                                    .ui.small.inverted.label #{this}
                        //- +comments
                    if is_admin
                        +print_this
                        +remove_button




template(name='delta_list_result')
    with result
        if template_exists
            +Template.dynamic template=model_template
            // .ui.header temp found
        else
            .ui.fluid.basic.segment.result_segment
                .content
                    if key_value_is 'model' 'model'
                        a.ui.inline.header.route_model(href="/m/#{slug}")
                            i.icon(class=icon)
                            |#{title}
                    else
                        //- each visible_fields
                        each fields
                            +Template.dynamic template=view_template
                    span.extra
                        if key_value_is 'model' 'model'
                            //- +user_list_toggle key='bookmark_ids' icon='bookmark' label='bookmark' color='red'
                            if is_admin
                                //- a.ui.button.route_model(href="/m/#{slug}")
                                //- |view model
                                //- i.right.chevron.green.icon
                                a.ui.compact.basic.button.route_model(href="/model/edit/#{_id}")
                                    i.cog.icon
                                    |edit model
                                span(title='views')
                                    i.grey.eye.icon
                                    | #{views}
                        else
                            .ui.compact.basic.button.result
                                |view
                                i.right.chevron.icon
                            if can_edit
                                a.ui.icon.button(href="/m/#{current_model.slug}/#{_id}/edit" title='edit')
                                    i.pencil.large.icon
                                    //- |edit
                            //- a.ui.icon.large.button(href="/m/#{current_model.slug}/#{_id}/view" title='view')
                            //-     i.right.chevron.yellow.large.icon
                        if is_admin
                            if _author_id
                                +author_info
                            +print_this
                            +creation_info
                            .ui.small.inline.header #{views} views
                                //- i.eye.icon
                                each viewer_usernames
                                    .ui.small.inverted.label #{this}
                            +remove_button
                        //- +comments

template(name='delta_result_table_row')
    tr.pointer.goto_doc
        //- if result.color_icon
        //-     +icon name=result.color_icon
        //- td
            //- |#{result.title}
        each visible_fields
            +dr_table_cell

template(name='dr_table_cell')
    td
        if is_loading
            .ui.fluid.placeholder
                .line
        else
            | #{result_value}
