// template(name='events')
//     .ui.stackable.padded.grid 
//         .row
//             .sixteen.wide.column
//                 .ui.header 
//                     +icon n='calendar'
//                     |events
//                 .ui.stackable.four.cards
//                     each events
//                         +event_card

// template(name='event_card')
//     a.ui.card(href="/event/#{_id}/view")
//         if image_id
//             a.image.pointer(href="/event/#{_id}/view")
//                 img.ui.image(src="{{c.url image_id height=500 width=500 gravity='face' crop='fill'}}")
//         .content
//             a.ui.header(href="/event/#{_id}/view") #{title} 
//             // |#{when}
//             |{{med_date start_datetime}}
//             |- {{med_date end_datetime}}
//             .ui.small.grey.inline.header {{from_now start_datetime}}
//         .content
//             if location
//                 i.red.marker.icon 
//                 |#{location}
//             .ui.inline.header #{_author_username}
//             +icolor name='event-accepted' cl='ui mini image' data=this
//             |#{going_user_ids.length}
//             each going
//                 |#{username}
//             +icolor name='event-accepted-tentatively' cl='ui mini image' data=this
//             | #{maybe_user_ids.length}
//             each maybe_going
//                 |#{username}
//             +icolor name='event-declined' cl='ui mini image' data=this
//             | #{not_user_ids.length}
//             each not_going
//                 | #{username}
//         if is_admin 
//             +print_this



// template(name='event_view')
//     with current_doc
//         .ui.stackable.padded.grid
//             .middle.aligned.row 
//                 .sixteen.wide.column
//                     if currentUser
//                         a.ui.compact.button(href="/m/event")
//                             i.chevron.left.icon
//                             +icolor name='calendar' cl='ui inline image'
//                     a.pointer(href="http://oneboulder.one" target="_window")
//                         img.ui.inline.tiny.image(src="{{c.url 'one_logo' }}")
                
//                     .ui.large.inline.header #{title}
//                     // div
//                     .ui.inline.header {{long_date start_datetime}}
//                     .ui.inline.grey.header {{from_now start_datetime}}
                    
//                     if can_edit
//                         a.edit_event(href="/event/#{_id}/edit" title='edit')
//                             i.large.blue.link.pencil.icon

//             .row 
//                 .four.wide.column
//                     if location 
//                         i.large.red.marker.icon(title='location')
//                         |#{location}
//                     img.ui.fluid.rounded.image(src="{{c.url image_id }}")
//                     if is_admin
//                         .ui.tertiary.segment
//                             .ui.header 
//                                 small author
//                             a.ui.header(href="/u/#{_author.username}") 
//                                 img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
//                                 |#{_author.username}
//                     if facilitator
//                         .ui.dividing.header 
//                             |facilitator
//                             |#{facilitator.name}
//                     if is_admin
//                         .ui.header
//                             |#{max_attendees} max attendees
//                     // .ui.small.grey.header 
//                     //     i.line.chart.icon
//                     //     |stats
//                     .ui.small.header #{views} views
//                     each viewers
//                         .ui.label #{username}
//                     with current_doc
//                         +gcal_button
//                     .ui.hidden.divider
//                     +array_view key='tags' label='tags' icon='tags red' direct=true
//                 .eight.wide.column
//                     // a.ui.header(href="/u/#{target.username}")
//                     //     |#{target.username}
//                     .f12
//                         |!{description}
//                     // div 
//                     // .spacer
//                     // .spacer
//                     // +comments
//                     // +voting_full
//                     //- +array_view key='location_tags' label='location_tags' direct=true
//                 .four.wide.column
//                     .ui.inline.large.header 
//                         // i.cart.icon
//                         +icolor name='buy'
//                         |RSVP
//                     if tickets_left
//                         .ui.grey.small.inline.header #{tickets_left} available
//                         div
//                     .ui.big.green.fluid.button.buy_for_usd
//                         // |buy for 
//                         // +icolor name='money' cl='ui inline image'
//                         |$#{usd_price}
//                     if currentUser
//                         .ui.horizontal.divider or
//                         if currentUser.has_points
//                             .ui.big.teal.fluid.button.buy_for_points
//                                 // i.cart.icon
//                                 // |buy for 
//                                 |#{point_price}pts
//                         else
//                             .ui.big.teal.disabled.fluid.button
//                                 // i.cart.icon
//                                 // |buy for 
//                                 |#{point_price}pts
//                     if currentUser
//                         +attendance
//                         .ui.dividing.header 
//                             +icolor name='activity-history' cl='ui inline image'
//                             |#{event_tickets.count} purchased tickets
//                         .ui.large.link.selection.list
//                             each event_tickets
//                                 a.ui.item(href="/ticket/#{_id}/view") 
//                                     .content
//                                         .header
//                                             if is_usd
//                                                 .ui.inline.green.header ${{money_format amount}}
//                                             else
//                                                 .ui.inline.header #{point_amount}pts
                                            
//                                             |#{when} #{_author_username}
//                                         if can_edit 
//                                             +icolor name='return-purchase' cl='ui mini inline image return pointer'
//                                         if is_admin
//                                             +remove_button

//                     //- .ui.fluid.green.button.submit
//                     //-     i.checkmark.icon
//                     //-     |submit
// template(name='event_edit')
//     with current_doc
//         .ui.stackable.padded.grid
//             .centered.middle.aligned.row 
//                 .sixteeen.wide.column
//                     a.ui.icon.green.big.button(href="/event/#{_id}/view" title='save')
//                         i.checkmark.big.icon
//                     .ui.inline.header 
//                         +icolor name='tear-off-calendar'
//                         |edit event
//                     .ui.red.icon.button.delete_item(title='delete')
//                         i.large.remove.icon
//             .row
//                 .six.wide.column
//                     .ui.header 
//                         small author
//                         |#{_author.username}
//                     +text_edit key='title' label='title' direct=true
//                     +slug_edit key='slug' label='slug' icon='slug' direct=true
//                     +boolean_edit key='published' label='published' direct=true
//                     +datetime_edit key='start_datetime' label='start' direct=true
//                     +datetime_edit key='end_datetime' label='end' direct=true
//                     .ui.header
//                         +icon n='audience'
//                         |audience
//                     +number_edit key='max_attendees' label='max attendees' min='0' max='100' direct=true
//                     +number_edit key='point_price' label='points per ticket' min='0' max='100' direct=true
//                     +number_edit key='usd_price' label='dollars per ticket' min='0' max='100' direct=true
//                 .ten.wide.column
//                     +html_edit key='description' label='description' direct=true
//                     +image_edit key='image_id' label='image' direct=true
//                     div 
//                     +array_edit key='tags' label='tags' direct=true



// template(name='gcal_button')
//     a.ui.button(href="http://www.google.com/calendar/event?action=TEMPLATE&text=#{title}&dates=#{start_datetime}/#{end_datetime}&details=#{description}&location=#{location}" target="_window")
//         i.calendar.icon
//         |add to gcal
        
        
        
        
// template(name='attendance')
//     .ui.inline.header 
//         +icolor name='checkmark'
//         |#{ticket.length} going
//     .ui.inline.small.grey.header ticket required
//     // .ui.icon.button.pick_going 
//     //     i.green.checkmark.big.icon
//     // each going 
//     //     a.ui.button(href="/u/#{username}")    
//     //         img.ui.avatar.compact.image(src="{{c.url currentUser.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
//     //         |#{username}
    
//     .ui.header 
//         if currentUser
//             +icolor name='clock' cl='pick_maybe pointer'
//         else
//             +icolor name='event-accepted-tentatively'
//         |#{maybe_going.count} maybe
//     // .ui.icon.button.pick_maybe 
//     //     i.yellow.minus.big.icon
//     each maybe_going
//         a.ui.button(href="/u/#{username}")    
//             img.ui.avatar.compact.image(src="{{c.url currentUser.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
//             |#{username}
//     .ui.header 
//         if currentUser
//             +icolor name='cancel' cl='pick_not pointer'
//         else
//             +icolor name='event-declined'
//         |#{not_going.count} not going
//     // .ui.icon.button.pick_not
//         // i.red.big.ban.icon
//     each not_going
//         a.ui.button(href="/u/#{username}")    
//             img.ui.avatar.compact.image(src="{{c.url currentUser.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
//             |#{username}


// template(name='user_events')  
//     .ui.center.aligned.header 
//         +icon n='calendar'
//         |user events
//     each user_events
//         .ui.segment
//             .ui.small.header #{date} #{start_time}
//             div
//             +user_list_toggle key='read_by_ids' label='mark read' icon='eye'
//             if can_edit
//                 +remove_button
//             //- div
//             +author_info
//             +creation_info
