template(name='profile_layout')
    +nav
    .ui.bottom.attached.pushable.segment
        +leftbar
        +rightbar
        #main_area.global_container.pusher
            with user
                .ui.stackable.padded.grid
                    .four.wide.column
                        span.mobile.only
                            a(href="/user/#{username}/")
                                img.ui.centered.tiny.inline.spaced.rounded.image.zoomer.boop(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}")
                        span.mobile.hidden
                            a(href="/user/#{username}/")
                                img.ui.centered.fluid.rounded.image.zoomer.boop(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}") 
                        a.ui.header.refresh_user_stats(href="/user/#{username}") 
                            |#{name}
                        // div
                        a.ui.small.header.refresh_user_stats(href="/user/#{username}") 
                            |@#{username}
                        .ui.inline.header() #{points}pts
                        // .ui.label {{to_percent one_ratio}}% ratio
                        // .ui.label #{flow_volume} volume
                        // .ui.small.inline.header #{boops}
                        .ui.label #{profile_views} views
                        // +user_follow_button
                        // .ui.button.join
                        //     |join
                        if is_admin
                            a.ui.icon.button(href="/user/#{username}/edit" title='admin edit account')
                                i.shield.icon
                                // |account
                        if is_current_user
                            a.ui.icon.button(href="/user/#{username}/edit" title='edit your account')
                                i.cog.icon
                                // |account
                            a.ui.icon.button.logout(href="#" title='log out')
                                i.sign.out.icon
                                // |log out
                        // if is_dev
                        //     .ui.small.inline.header #{_id}
                        //     +print_this
                        unless is_current_user
                            if currentUser
                                // div
                                +user_friend_button 
                        if i_have_points
                            .ui.button.send(title='send points')
                                i.gift.icon
                                span send pts
                        with data
                            .ui.list
                                .item #{total_karma} total karma
                                .item #{comment_karma} comment karma
                                .item #{link_karma} link karma
                                .item #{awardee_karma} awardee karma
                                .item #{awarder_karma} awarder karma
                                .item created {{ufrom created_utc}}
                        a.ui.circular.basic.button(href="/user/#{username}/" class="{{isActiveRoute 'user_dashboard'}}" title="#{user.username} dashboard")
                            i.dashboard.icon
                            |dashboard
                        if currentUser
                            a.ui.circular.basic.button(href="/user/#{username}/posts" class="{{isActiveRoute 'user_posts'}}" title="#{user.username} posts")
                                i.newspaper.icon
                                |#{user_post_count}
                                span posts
                            a.ui.circular.basic.button(href="/user/#{username}/comments" class="{{isActiveRoute 'user_comments'}}" title="#{user.username} comments")
                                i.chat.icon
                                |#{user_comment_count}
                                span comments
                            // a.ui.circular.basic.button(href="/user/#{username}/credits" class="{{isActiveRoute 'user_credits'}}" title="#{user.username} credits")
                            //     i.chevron.down.icon
                            //     span pts received
                            // a.ui.circular.basic.button(href="/user/#{username}/sent" class="{{isActiveRoute 'user_sent'}}" title="#{user.username} sent")
                            //     i.gift.icon
                            //     span pts sent
                            // a.ui.circular.basic.button(href="/user/#{username}/received" class="{{isActiveRoute 'user_received'}}" title="#{user.username} received")
                            //     i.dollar.icon
                            //     span credit
                            a.ui.disabled.circular.basic.button(href="/user/#{username}/upvoted" class="{{isActiveRoute 'user_upvoted'}}" title="#{user.username} upvoted")
                                i.chevron.up.icon
                                span upvoted
                            a.ui.circular.basic.button(href="/user/#{username}/downvoted" class="{{isActiveRoute 'user_downvoted'}}" title="#{user.username} downvoted")
                                i.chevron.down.icon
                                span downvoted
                            a.ui.circular.basic.button(href="/user/#{username}/tips" class="{{isActiveRoute 'user_tips'}}" title="#{user.username} tips")
                                i.donate.icon
                                span tips
                            a.ui.circular.basic.button(href="/user/#{username}/groups" class="{{isActiveRoute 'user_groups'}}" title="#{user.username} groups")
                                i.users.icon
                                span groups
                            a.ui.circular.basic.button(href="/user/#{username}/bounties" class="{{isActiveRoute 'user_bounties'}}" title="#{user.username} bounties")
                                i.hand.holding.icon
                                span bounties
                            if is_current_user
                                a.ui.large.circular.basic.button(href="/user/#{username}/friends" class="{{isActiveRoute 'user_friends'}}" title="#{user.username} friends")
                                    i.users.icon
                                    span friends
                                a.ui.circular.basic.button(href="/user/#{username}/vault" class="{{isActiveRoute 'user_vault'}}" title="#{user.username} friends")
                                    i.lock.icon
                                    span vault
                                
                    .twelve.wide.column
                        // a.ui.icon.large.button(href="/user/#{username}/" class="{{isActiveRoute 'user_dashboard'}}" title="#{user.username} dashboard")
                        //     i.large.dashboard.icon
                            // span dashboard
                        // if is_dev
                        //     +print_this
                        // .ui.hidden.divider
                        .profile_yield
                            +yield    
                      





template(name='user_friend_button')
    unless is_current_user
        if is_friend
            .ui.black.animated.fade.button.unfriend(title='unfriend')
                .hidden.content
                    i.minus.icon
                    |unfriend
                .visible.content
                    i.checkmark.icon
                    |friend
        else
            .ui.animated.fade.button.friend(title='friend')
                .hidden.content
                    i.plus.icon
                    |friend
                .visible.content
                    i.user.plus.icon
                    |friend

template(name='user_follow_button')
    unless is_current_user
        if is_following
            .ui.black.animated.fade.button.unfollow(title='unfollow')
                .hidden.content
                    i.minus.icon
                    |unfollow
                .visible.content
                    i.checkmark.icon
                    |follow
        else
            .ui.animated.fade.button.follow(title='follow')
                .hidden.content
                    i.plus.icon
                    |follow
                .visible.content
                    i.user.plus.icon
                    |follow





template(name='feed_item')
    .event.mark_viewed(class=read_class)
        .label 
            img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
        .content
            .summary
                a.user #{_author.username}
                |#{body}
                .date
                    |#{when}
            .meta 
                +voting_small
                i.envelope.icon
                i.lock.icon
                +remove_icon
                i.share.icon





template(name='session_select')
    .ui.icon.button
        i.icon(class=icon)




template(name='user_vault')
    .ui.header 
        i.lock.icon
        |private posts
    .ui.link.list.scrolling
        each private_posts
            a.ui.item(href="/post/#{_id}") 
                if image_id
                    a(href="/post/#{_id}")
                        img.ui.small.image(src="{{c.url image_id }}" class=currentUser.invert_class)
                if image_link
                    img(src=image_link)
                .content
                    .header #{title} 
                    |#{when}
                    each seven_tags 
                        .ui.mini.label #{this}


template(name='user_tips')
    .ui.header 
        i.donate.icon
        |tips
    .ui.link.list.scrolling
        each tips
            a.ui.item(href="/post/#{parent_id}") 
                if parent.image_id
                    a(href="/post/#{_id}")
                        img.ui.small.image(src="{{c.url image_id }}" class=currentUser.invert_class)
                if parent.image_link
                    img(src=parent.image_link)
                .content
                    .header #{parent.title} 
                    .header #{amount} 
                    |#{parent.when} #{when}
                    each parent.seven_tags
                        .ui.mini.label #{this}




template(name='user_comments')
    .ui.header 
        i.comment.icon
        |comments
    .ui.link.selection.animated.list.scrolling
        each comments
            a.ui.item(href="/post/#{parent_id}") 
                .content
                    .header #{body} 
                    |#{when}
                    each five_tags 
                        .ui.mini.label #{this}
                    +voting_small
                    if is_author
                        +remove_icon
                    



template(name='user_tip_small')
    a.ui.item(href="/tip/#{_id}") 
        |#{title} #{when} #{amount} #{parent_id}
        each tags 
            .ui.mini.label #{this}

template(name='user_comment_small')
    |#{body}
    
    
template(name='user_group')
    .ui.fluid.link.card.mark_viewed.pad
        .content
            a.header(href="/post/#{_id}") 
                |#{title}
            |#{when}
            if image_link
                a.view_post(href="/post/#{_id}" class=post_header_class)
                    img.ui.rounded.inline.zoomer.image.zoomer(src=image_link)    
            // |!{content}
            i.grey.eye.icon
            each viewer_ids
                .ui.label #{this}
            |#{points}
            each five_tags
                .ui.small.label #{this}
            +doc_emotion_small        
            // +skve k='view_preview' v='preview' l=' ' i='caret down'
            // if skv_is 'view_preview' 'preview'
            a.ui.icon.button(href="/post/#{_id}") 
                i.chevron.right.icon
            if in_dev
                +print_this
                
                
template(name='user_post_small')
    .ui.fluid.link.card.mark_viewed.pad
        .content
            a.header(href="/post/#{_id}") 
                |#{title}
            |#{when}
            if image_link
                a.view_post(href="/post/#{_id}" class=post_header_class)
                    img.ui.rounded.inline.zoomer.image.zoomer(src=image_link)    
            // |!{content}
            i.grey.eye.icon
            each viewer_ids
                .ui.label #{this}
            |#{points}
            each five_tags
                .ui.small.label #{this}
            +doc_emotion_small        
            // +skve k='view_preview' v='preview' l=' ' i='caret down'
            // if skv_is 'view_preview' 'preview'
            a.ui.icon.button(href="/post/#{_id}") 
                i.chevron.right.icon
            if in_dev
                +print_this

template(name='user_bookmarks_widget')
    a.ui.header(href="/user/#{username}/bookmarks")
        i.bookmark.icon(title='bookmark tags')
        |bookmarks
    each bookmark_tags
        .ui.small.label #{title} 
    div
    .medscroll.ui.segments
        each user_bookmark_docs
            .ui.header #{title}



template(name='user_credit_segment')
    .ui.segment.user_credit_segment.pointer.zoom
        .header
            strong #{amount}pt 
            // |from 
            if author.profile_image_id
                img.ui.avatar.image(src="{{c.url author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            |#{_author.shortname}
        small #{when}
        div
        |#{description}
        div
        each tags
            .ui.mini.label #{this}


template(name='user_debit_segment')
    .ui.segment.user_debit_segment.pointer.zoom
        .header
            strong #{amount}pt
            | to 
            if target.profile_image_id
                img.ui.avatar.image(src="{{c.url target.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            |#{target.shortname}
        small #{when}
        div
        |#{description}
        div
        each tags
            .ui.mini.label #{this}