template(name='user_edit_layout')
    +nav
    .ui.bottom.attached.pushable.segment
        #main_area.global_container.pusher
            with current_user          
                .ui.stackable.padded.grid
                    .row
                        .four.wide.column
                            .ui.center.aligned.inline.header(style="color:#{current_user.theme_color};")
                                i.big.cog.icon(style="color:#{current_user.theme_color};")
                                | #{current_user.name}
                            .ui.small.inline.header @#{current_user.username}
                            img.ui.centered.medium.rounded.image(src="{{c.url profile_image_id height=400 width=400 gravity='face' crop='fill'}}")
                                
                            a.ui.green.big.button(href="/u/#{current_user.username}/") 
                                i.checkmark.big.icon
                                strong save
                            a.ui.basic.button(href="/u/#{current_user.username}/edit/account" class="{{isActiveRoute 'user_edit_account'}}" title='account') 
                                i.cog.icon 
                                |account
                            a.ui.basic.button(href="/u/#{current_user.username}/edit/alerts" class="{{isActiveRoute 'user_edit_alerts'}}") 
                                i.bell.icon 
                                |alerts
                            a.ui.basic.button(href="/u/#{current_user.username}/edit/privacy" class="{{isActiveRoute 'user_edit_privacy'}}") 
                                i.lock.privacy.icon 
                                | privacy
                        .twelve.wide.column
                            +yield

     
template(name='phone_editor')
    .ui.small.header    
        i.phone.icon
        |phone
    .ui.icon.fluid.input(title='Add Phone')
        i.plus.icon
        input#phone.form-control(type='phone', name='phone', value='{{newNumber}}')
    //- if current_user.profile.phone
    //-     if current_user.profile.phone_verified
    //-         .ui.label verified
    //-     else
    //-         p
    //-             .ui.label not verified
    //-             a.resend_verification(href='#')
    //-                 |resend code
    //-             .ui.small.icon.button.remove_phone(title='remove phone')
    //-                 i.remove.icon
    //- else
    //-     .ui.fluid.button.update_phone add phone



template(name='password_edit')
    .ui.small.header
        //- +i name='password'
        i.lock.icon
        |change password
    //- .ui.fluid.input
    //-     input#password(type='password', placeholder='old password')
    .ui.fluid.icon.input
        input#new_password(type='password', placeholder='new password')
    if is_dev
        .ui.fluid.button.send_enrollment_email
            |send enrollment email
    if is_admin
        .ui.fluid.button.reset_password
            |reset password
    .ui.fluid.button.set_password
        i.lock.icon
        //- +i name='password' cl='ui mini inline image'
        | set password
            
            
template(name='user_edit_alerts')
    .ui.header
        i.rss.icon
        | alerts
    .ui.header notifiy when 
    .ui.big.link.list
        .item receive credit
        .item invited to event 
        .item invited to shift 
        .item personal request received        
       
            
template(name='emails_edit')
    //- .ui.small.header 
    //-     i.envelope.icon
    //-     | email(s)
    //- #test_email.ui.button test email
    .ui.divided.list
        each current_user.emails
            .item 
                // unless verified
                //     .right.floated.content
                //         .ui.button Verify
                .content
                    if verified
                        .ui.green.label(title='verified')
                            | #{address}
                            i.checkmark.icon
                    else
                        .ui.orange.label(title='unverified')
                            i.question.icon
                            | #{address}
                        .send_verification_email.ui.button 
                            |verify
                            i.caret.right.icon
                    .ui.small.icon.basic.button.remove_email
                        i.remove.icon
    .ui.action.fluid.action.input
        input#new_email(type='email' placeholder='add new address' autocomplete="off")
        #add_email.ui.submit.compact.button 
            i.plus.icon
            |submit



template(name='user_edit_friends')
    .ui.header
        i.users.icon
        | friends
    
    
    
    

template(name='user_edit_account')
    .ui.header 
        i.cog.icon
        |account
    .ui.two.column.stackable.grid
        .column
            +image_edit key='profile_image_id' icon='picture' title='profile image' direct=true
            // +image_edit key='avatar_image_id' icon='picture' title='avatar image' direct=true
        .column
            +text_edit key='nickname' label='display name' direct=true
            // +text_edit key='first_name' label='first name' direct=true
            // +text_edit key='last_name' label='last name' direct=true
            .ui.header 
                i.envelope.outline.icon
                |emails
            +emails_edit
            +password_edit
            if is_dev
                .ui.segment
                    i.code.icon
                    +username_edit
                    +boolean_edit key='disabled' label='disabled' direct=true
                    // +multi_user_edit key='user_representatives' label='user representatives' direct=true
                    div
                    with current_user
                        .ui.button.remove_user 
                            i.remove.icon
                            |delete user
            // .spacer
            // +phone_edit key='phone' label='phone' icon='phone' direct=true

            //- +phone_editor
    
template(name='username_edit')
    .ui.small.header 
        i.refresh.icon
        |change username [#{current_user.username}]
    .ui.icon.fluid.input
        input.new_username(type='text' placeholder='new username...')
        i.play.link.icon.change_username



template(name='user_edit_privacy')
    .ui.header
        +icolor name='private' cl='ui image'
        | privacy
    .ui.grid 
        .row 
            .four.wide.column
                +boolean_edit key='publish_profile' label='publish profile' direct=true
            .twelve.wide.column
                .ui.header 
                    |make profile public 
                .ui.small.header 
                    |allow others to find your profile and follow you, allows you to follow others, enrolls you in public leaderboards
        .row 
            .sixteen.wide.column
                a.ui.basic.compact.button.logout_other_clients(href="#")
                    i.globe.icon
                    |log out other clients
                if is_admin
                    a.ui.basic.compact.button.force_logout(href="#")
                        i.shield.icon
                        |force log out
                
                .ui.header sessions
                .ui.large.list
                    each current_user.services.resume.loginTokens
                        .item #{when}: #{hashedToken}