template(name='profile_layout')
    +nav
    .ui.bottom.attached.pushable.segment
        // +top_sidebar
        // +left_sidebar
        // +right_sidebar
        #main_area.global_container.pusher
            with user
                .ui.stackable.padded.grid
                    .four.wide.column
                        span.mobile.only
                            a(href="/user/#{username}/")
                                img.ui.centered.tiny.inline.spaced.circular.image(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}")
                        span.mobile.hidden
                            a(href="/user/#{username}/")
                                img.ui.centered.fluid.circular.image(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}") 
                        a.ui.header.refresh_user_stats(href="/user/#{username}") 
                            // if spirit_animal
                            //     span(title="spirit animal #{spirit_animal}")
                            //         +icolor name=spirit_animal cl='ui inline image'
                            |#{name}
                        // div
                        a.ui.small.header.refresh_user_stats(href="/user/#{username}") 
                            |@#{username}
                        if is_admin
                            a.ui.circular.basic.button(href="/user/#{username}/edit" title='admin edit account')
                                i.shield.icon
                                |account
                        //- .ui.compact.icon.button.refresh_user_stats(title='refresh stats')
                        //-     i.refresh.icon
                        // if is_current_user
                        //     +boolean_edit key='online' label='online' direct=true
                        //     +text_edit key='current_status' label='status' icon='clock' direct=true
                        // else 
                        //     if online 
                        //         .ui.green.label 
                        //             i.checkmark.icon
                        //             |online
                        //     else
                        //         .ui.disabled.label 
                        //             |offline
                        //     if current_status
                        //         .ui.small.header(title='status' )
                        //             i.grey.clock.icon
                        //             |!{current_status}
                        if is_dev
                            .ui.small.inline.header #{_id}
                                
                        if is_current_user
                            a.ui.circular.basic.button(href="/user/#{username}/edit" title='edit your account')
                                i.cog.icon
                                |account
                            a.ui.circular.basic.button.logout(href="#" title='log out')
                                i.sign.out.icon
                                |log out
                        
                        unless is_current_user
                            if currentUser
                                // div
                                +user_friend_button 
                        unless is_current_user
                            .ui.basic.circular.button.tip(title='send tip')
                                i.dollar.green.icon
                                span tip
                        // a.ui.compact.basic.circular.button(href="/user/#{username}/messages" class="{{isActiveRoute 'user_messages'}}" title="#{user.username} messages")
                        //     i.chat.blue.icon
                        //     | message
        
        
                        // .spacer
                        // .spacer
                        if is_dev
                            +print_this
                        +user_tips
                    .twelve.wide.column.profile_yield
                        a.ui.large.compact.basic.button(href="/user/#{username}/" class="{{isActiveRoute 'user_dashboard'}}" title="#{user.username} dashboard")
                            i.dashboard.icon
                            span dashboard
                        // a.ui.large.compact.basic.button(href="/user/#{username}/about" class="{{isActiveRoute 'user_about'}}" title="#{user.username} info")
                        //     i.info.icon
                        //     span about
                        if currentUser
                            a.ui.large.compact.basic.button(href="/user/#{username}/posts" class="{{isActiveRoute 'user_posts'}}" title="#{user.username} offers")
                                i.edit.icon
                                span posts
                        a.ui.large.compact.basic.button(href="/user/#{username}/credit" class="{{isActiveRoute 'user_credit'}}" title="#{user.username} messages")
                            i.money.icon
                            span credit
                        // a.ui.large.compact.basic.button(href="/user/#{username}/messages" class="{{isActiveRoute 'user_messages'}}" title="#{user.username} messages")
                        //     i.chat.icon
                        //     span chat
                        // a.ui.large.compact.basic.button(href="/user/#{username}/tips" class="{{isActiveRoute 'user_messages'}}" title="#{user.username} messages")
                        //     i.plus.icon
                        //     span tips
                        // a.ui.large.compact.basic.button(href="/user/#{username}/tribes" class="{{isActiveRoute 'user_tribes'}}" title="#{user.username} tribes")
                        //     i.fire.icon
                        //     span.mobile.hidden tribes
                    
                        +yield    
                      



template(name='user_friend_button')
    if is_friend
        .ui.blue.button.unfriend(title='unfriend')
            i.checkmark.icon
    else
        .ui.button.friend(title='friend')
            i.user.plus.icon
