template(name='profile_layout')
    +nav
    .ui.bottom.attached.pushable.segment
        +right_sidebar
        #main_area.global_container.pusher
            with user
                .ui.stackable.padded.grid
                    .four.wide.column
                        span.mobile.only
                            a(href="/u/#{username}/")
                                img.ui.centered.tiny.inline.spaced.circular.image(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}")
                        span.mobile.hidden
                            a(href="/u/#{username}/")
                                img.ui.centered.fluid.circular.image(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}") 
                        a.ui.header.refresh_user_stats(href="/u/#{username}") 
                            |#{name}
                        // div
                        a.ui.small.header.refresh_user_stats(href="/u/#{username}") 
                            |@#{username}
                        if is_admin
                            a.ui.basic.circular.button(href="/u/#{username}/edit" title='admin edit account')
                                i.shield.large.icon
                                |account
                        if is_current_user
                            a.ui.basic.circular.button(href="/u/#{username}/edit" title='edit your account')
                                i.cog.icon
                                |account
                            a.ui.basic.circular.button.logout(href="#" title='log out')
                                i.sign.out.icon
                                |log out
                        .ui.inline.header() #{points}pts
                        .ui.basic.label {{to_percent one_ratio}}% ratio
                        .ui.basic.label #{flow_volume} volume
                        .ui.small.header 
                            label goto/create group
                        .ui.input
                            input.goto_group(type='text' placeholder='name')
                        each group_bookmarks
                            a.ui.basic.label(href="/g/#{name}")
                                i.remove.icon
                                |#{name}
                        //- .ui.icon.button.refresh_user_stats(title='refresh stats')
                        //-     i.refresh.icon
                        if is_dev
                            .ui.small.inline.header #{_id}

                        unless is_current_user
                            if currentUser
                                // div
                                +user_friend_button 
                        unless is_current_user
                            .ui.basic.button.tip(title='send tip')
                                i.large.dollar.green.icon
                                span tip
                        if i_have_points
                            .ui.basic.button.send(title='send points')
                                i.red.gift.large.icon
                                span send pts
                        else
                            .ui.disabled.basic.button(title='send points')
                                i.red.gift.large.icon
                                span send pts
                    .twelve.wide.column
                        a.ui.compact.basic.tertiary.button.select_term.profile_nav_item(href="/u/#{username}/" class="{{isActiveRoute 'user_dashboard'}}" title="#{user.username} dashboard")
                            i.large.dashboard.icon
                            span dashboard
                        a.ui.basic.compact.tertiary.button.select_term.profile_nav_item(href="/u/#{username}/credits" class="{{isActiveRoute 'user_credits'}}" title="#{user.username} credits")
                            i.large.chevron.down.icon
                            span pts received
                        a.ui.basic.compact.tertiary.button.select_term.profile_nav_item(href="/u/#{username}/debits" class="{{isActiveRoute 'user_sent'}}" title="#{user.username} sent")
                            i.large.gift.icon
                            span pts sent
                        a.ui.basic.compact.tertiary.button.select_term.profile_nav_item(href="/u/#{username}/credit" class="{{isActiveRoute 'user_credit'}}" title="#{user.username} credit")
                            i.large.dollar.icon
                            span credit
                        a.ui.basic.compact.tertiary.button.select_term.profile_nav_item(href="/u/#{username}/friends" class="{{isActiveRoute 'user_friends'}}" title="#{user.username} friends")
                            i.users.large.icon
                            span friends
                        if is_dev
                            +print_this
                        .ui.hidden.divider
                        .profile_yield
                            +yield    
                      





template(name='user_friend_button')
    if is_friend
        .ui.black.animated.fade.button.unfriend(title='unfriend')
            .hidden.content
                i.minus.large.icon
                |unfriend
            .visible.content
                i.checkmark.large.icon
                |friends
    else
        .ui.animated.fade.basic.button.friend(title='friend')
            .hidden.content
                i.plus.large.icon
                |friend
            .visible.content
                i.user.plus.large.icon
                |friend


template(name='user_dashboard')
    .ui.stackable.grid
        .row
            .sixteen.wide.column
                .ui.header 
                    i.chat.icon
                    |comments
                .ui.header 
                    i.newspaper.icon
                    |posts
                .ui.header 
                    i.donate.icon
                    |tips
        .three.column.row
            .column
                a.ui.inline.header(href="/u/#{username}/credits")
                    i.chevron.down.large.icon
                    |#{total_credit_amount}p
                    // |received
                    small(title='received count') (#{credit_count}x) 
                    small(title='rank') ##{global_credit_count_rank}
                i.tags.icon(title='credit tags')
                each credit_tags
                    .ui.small.basic.label #{title}
                        // small #{count}
                .medscroll.ui.segments
                    each user_credits
                        +user_credit_segment
            .column
                a.ui.inline.spaced.header(href="/u/#{username}/debits")
                    i.chevron.up.icon
                    |#{total_debit_amount}p
                    // |sent
                    small(title='debit count') (#{debit_count}x)
                    small(title='rank') ##{global_debit_count_rank}
                i.tags.icon(title='credit tags')
                each debit_tags
                    .ui.small.basic.label #{title} 
                        // small #{count}
    
                div
                .medscroll.ui.segments
                    each user_debits
                        +user_debit_segment
            .column
                +user_bookmarks_widget


template(name='user_bookmarks_widget')
    a.ui.header(href="/u/#{username}/bookmarks")
        i.bookmark.icon(title='bookmark tags')
        |bookmarks
    each bookmark_tags
        .ui.small.basic.label #{title} 
    div
    .medscroll.ui.segments
        each user_bookmark_docs
            .ui.header #{title}



template(name='user_checkin_segment')
    .ui.segment.user_checkin_segment.pointer.zoom
        with drink_ref
            img.ui.avatar.image(src="{{c.url image_id width=400 height=400 crop='fill'}}")
            |#{title}
        |#{body}
        small #{when}
        each tags
            .ui.mini.basic.label #{this}

template(name='user_credit_segment')
    .ui.segment.user_credit_segment.pointer.zoom
        .header
            strong #{amount}pt 
            // |from 
            if author.profile_image_id
                img.ui.avatar.image(src="{{c.url author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            |#{_author.shortname}
        small #{when}
        div
        |#{description}
        div
        each tags
            .ui.mini.basic.label #{this}


template(name='user_debit_segment')
    .ui.segment.user_debit_segment.pointer.zoom
        .header
            strong #{amount}pt
            | to 
            if recipient.profile_image_id
                img.ui.avatar.image(src="{{c.url recipient.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            |#{recipient.shortname}
        small #{when}
        div
        |#{description}
        div
        each tags
            .ui.mini.basic.label #{this}
