template(name='user_sent')  
    .ui.inline.header 
        i.send.icon
        |sent
    .ui.basic.label #{total_debit_amount}p total sent
    .ui.basic.label(title='debit count') #{debit_count} gifts sent
    .ui.basic.label(title='rank') ##{global_debit_count_rank} gift sent rank
        
    i.tags.icon(title='credit tags')
    each debit_tags
        .ui.basic.circular.label #{title}
            small #{count}
        
    .ui.stackable.cards.scrolling
        each sent_items
            .ui.card
                .content
                    .header
                        strong #{amount}pt
                        | to 
                        if recipient.profile_image_id
                            img.ui.avatar.image(src="{{c.url recipient.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                        |#{recipient.shortname}
                    small #{when}
                    div
                    |#{description}
                    div
                    each tags
                        .ui.mini.basic.label #{this}
