template(name='user_about')
    .ui.header 
        i.info.icon
        |user info
    with current_user
        // a.ui.compact.button(href="{{c.url genekeys_profile }}" target="_window")
        //     +icon name='dna-helix' cl='ui mini image'
            
        //     |view gene keys profile
        if tags 
            i.large.tags.icon
            each tags
                .ui.basic.large.label
                    |#{this}
                // +user_info_tag
        div
        .ui.inline.header 
            i.line.chart.icon
            |levels
        each levels
            .ui.basic.label #{this}
        div
        .ui.inline.header 
            |city:
            |#{city}               
        div
        .ui.inline.header 
            |state:
            |#{state}               
        div
        if is_admin
            .ui.inline.header 
                i.shield.icon
                |roles
            each roles
                .ui.label #{this}
            

template(name='user_info_tag')
    .ui.basic.tertiary.button 
        if term 
            if term.image 
                img.ui.tiny.image(src=term.image)
        |#{this}
