template(name='user_dashboard')
    .ui.stackable.grid
        .row
            .column
                .ui.header social graph
                each child_users
                    .ui.small.header #{username}
            .column
                a.ui.inline.header(href="/u/#{username}/credits")
                    i.checkmark.large.icon
                    |#{user_checkins.count}
                    |checkins
                    small(title='received count') (#{credit_count}x) 
                    small(title='rank') ##{global_credit_count_rank}
                .medscroll.ui.segments
                    each user_checkins
                        +user_checkin_segment
        .three.column.row
            .column
                a.ui.inline.header(href="/u/#{username}/credits")
                    i.chevron.down.large.icon
                    |#{total_credit_amount}p
                    // |received
                    small(title='received count') (#{credit_count}x) 
                    small(title='rank') ##{global_credit_count_rank}
                i.tags.icon(title='credit tags')
                each credit_tags
                    .ui.small.basic.circular.label #{title}
                        // small #{count}
                .medscroll.ui.segments
                    each user_credits
                        +user_credit_segment
            .column
                a.ui.inline.spaced.header(href="/u/#{username}/debits")
                    i.chevron.up.icon
                    |#{total_debit_amount}p
                    // |sent
                    small(title='debit count') (#{debit_count}x)
                    small(title='rank') ##{global_debit_count_rank}
                i.tags.icon(title='credit tags')
                each debit_tags
                    .ui.small.basic.circular.label #{title} 
                        // small #{count}
    
                div
                .medscroll.ui.segments
                    each user_debits
                        +user_debit_segment
            .column
                +user_bookmarks_widget
            .column
                a.ui.inline.spaced.header(href="/u/#{username}/requests")
                    i.concierge.bell.icon
                    |requests
                .ui.small.header (#{total_fulfilled_amount}p total fulfilled)
                .ui.small.header (#{fulfilled_count}p total fulfilled count)
                .medscroll
                    each user_requests
                        .ui.card
                            if image_id
                                img.ui.image(src="{{c.url image_id height=100 width=200}}" class=currentUser.invert_class)
                            .content.zoom.pointer
                                a.header(href="/request/#{_id}/view")
                                    |#{point_bounty}pts: #{title}
                                // |!{description}
                                |status: #{status}
                                if complete 
                                    |completed by #{completer.name}
            .column
                a.ui.inline.spaced.header(href="/u/#{username}/events")
                    i.calendar.icon
                    |events
                .medscroll
                    each user_event_tickets
                        .ui.card
                            if ticket_event.image_id
                                a(href="/event/#{event_id}/view")
                                    img.ui.fluid.zoom.image(src="{{c.url ticket_event.image_id height=200 width=200 crop='fit'}}" class=currentUser.invert_class)
                            .content.zoom.pointer
                                a.header(href="/event/#{event_id}/view")
                                    |#{ticket_event.title}
                                |#{fac.shortname}
                                |#{description}
                                |{{med_date date}}
                                |{{long_time time}}


template(name='user_bookmarks_widget')
    a.ui.header(href="/u/#{username}/bookmarks")
        i.bookmark.icon(title='bookmark tags')
        |bookmarks
    each bookmark_tags
        .ui.small.basic.circular.label #{title} 
    div
    .medscroll.ui.segments
        each user_bookmark_docs
            .ui.header #{title}



template(name='user_checkin_segment')
    .ui.segment.user_checkin_segment.pointer.zoom
        with drink_ref
            img.ui.avatar.image(src="{{c.url image_id width=400 height=400 crop='fill'}}")
            |#{title}
        |#{body}
        small #{when}
        each tags
            .ui.mini.basic.label #{this}

template(name='user_credit_segment')
    .ui.segment.user_credit_segment.pointer.zoom
        .header
            strong #{amount}pt 
            // |from 
            if author.profile_image_id
                img.ui.avatar.image(src="{{c.url author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            |#{_author.shortname}
        small #{when}
        div
        |#{description}
        div
        each tags
            .ui.mini.basic.label #{this}


template(name='user_debit_segment')
    .ui.segment.user_debit_segment.pointer.zoom
        .header
            strong #{amount}pt
            | to 
            if recipient.profile_image_id
                img.ui.avatar.image(src="{{c.url recipient.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            |#{recipient.shortname}
        small #{when}
        div
        |#{description}
        div
        each tags
            .ui.mini.basic.label #{this}
