template(name='user_about')
    .ui.header 
        i.info.icon
        |user info
    with current_user
        // a.ui.compact.button(href="{{c.url genekeys_profile }}" target="_window")
        //     +icon name='dna-helix' cl='ui mini image'
            
        //     |view gene keys profile
        .ui.four.column.stackable.grid
            .column
                .ui.small.header What do you hope to receive?
                .smallscroll
                    |#{profile_hope_receive}
            .column
                .ui.small.header What excites you about being apart of this community?
                .smallscroll
                    |#{profile_excites_blurb}
                .spacer
            .column
                .ui.small.header What do you want this community to know about you?
                .smallscroll
                    |#{profile_community_blurb}
            .column
                .ui.small.header What would you like to contribute (think: superpowers, talents, gifts, resources)?
                .smallscroll
                    |#{profile_contribute_blurb}
        if tags 
            i.large.tags.icon
            each tags
                .ui.basic.large.label
                    |#{this}
                // +user_info_tag
        div
        // .ui.header 
        //     i.line.chart.icon
        //     |levels
        // each levels
        //     .ui.basic.label #{this}
        div
        .ui.header 
            |city:
            |#{city}               
        div
        .ui.header 
            |state:
            |#{state}               
        div
        if is_admin
            .ui.header 
                i.shield.icon
                |roles
            each roles
                .ui.label #{this}
            

template(name='user_info_tag')
    .ui.basic.tertiary.button 
        if term 
            if term.image 
                img.ui.tiny.image(src=term.image)
        |#{this}
