template(name='post_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    .ui.header 
                        i.pencil.icon
                        if icon
                            +icolor name=icon
                        |edit '#{title}' post
                    a.ui.big.basic.button(href="/post/#{_id}" title='save')
                        i.green.checkmark.icon
                        |save
                    +print_this
                    with post_person
                        |#{first_name} #{last_name}
                    //- .ui.header
                    //-     |#{title}
                    i.circular.link.remove.icon.delete_post
                    div
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                    +link_edit key='link' label='link' icon='link' direct=true
                .twelve.wide.column 
                    +text_edit key='title' label='title' icon='header' direct=true
                    +image_link_edit key='image_link' label='image link' icon='image' direct=true
                    +image_edit key='image_id' label='image' icon='image' direct=true
                    +html_edit key='content' label='content' icon='content' direct=true

template(name='post_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    .ui.header 
                        |view '#{title}' post
                    a.ui.basic.button(href="/post/#{_id}/edit" title='save')
                        i.pencil.icon
                        |edit
                    +print_this
                    with post_person
                        a.ui.button(href="/person/#{_id}")
                            |#{first_name} #{last_name}
                    //- .ui.header
                    //-     |#{title}
                    i.circular.link.remove.icon.delete_post
                    div
                    +array_view key='tags' label='tags' icon='tags' direct=true
                    +link_view key='link' label='link' icon='link' direct=true
                .twelve.wide.column 
                    +text_view key='title' label='title' icon='header' direct=true
                    +image_link_view key='image_link' label='image link' icon='image' direct=true
                    +image_view key='image_id' label='image' icon='image' direct=true
                    +html_view key='content' label='content' icon='content' direct=true
