template(name='course_card')
    a.ui.card(href="/course/#{_id}/view")
        img.ui.image(src="{{c.url image height=400 width=400 gravity='face' crop='fill'}}")
        .content
            .header #{title} $#{price}
            each tags
                .ui.small.label #{this}
            each ingredient_tags
                .ui.small.label #{this}
            |#{points}
                
            
template(name='course_home')
    .ui.header
        i.home.icon
        |home
    // .ui.segment
    //     .ui.header updates
    .ui.segment
        .ui.inline.header
            i.scroll.grey.icon
            |#{course_posts.count} posts
        .ui.circular.basic.icon.button.add_post
            i.plus.icon
        if selected_course_tags
            each selected_course_tags
                a.unselect_course_tag.ui.black.large.compact.inverted.button(href='#')
                    strong #{this}
        .ui.icon.input
            i.search.icon
            input.search_course_tag(type='text' value=course_query)
        each course_result_tags
            .ui.basic.compact.small.button.zoomer.select_tag(title="#{count} results" class="#{selector_class} #{thinking_class}")
                strong #{name}
            
        .ui.link.selection.list.scrolling
            each course_posts
                a.item(href="/course/#{course_id}/post/#{_id}") 
                    .content 
                        .header #{title}
                        .smallscroll
                            |!{content}
                            if raw
                                |!{raw}
                        each tags
                            .ui.small.basic.label #{this}
            
template(name='course_classlist')
    .ui.header
        i.users.icon
        |classlist
            
template(name='course_progress')
    .ui.header
        i.tasks.icon
        |progress
            
template(name='course_quizzes')
    .ui.header 
        i.question.icon
        |quizzes
template(name='course_surveys')
    .ui.header 
        i.question.icon
        |surveys
template(name='course_grades')
    .ui.header 
        i.tasks.icon
        |grades
template(name='course_locker')
    .ui.header
        i.inbox.icon
        |locker
            
template(name='course_content')
    .ui.header
        i.content.icon
        |content
template(name='course_calendar')
    .ui.header
        i.calendar.icon
        |calendar
            
template(name='course_groups')
    .ui.header
        i.users.icon
        |groups
            
template(name='course_discussions')
    .ui.header
        i.chat.icon
        |discussions


template(name='course_assignments')
    .ui.header
        i.chat.icon
        |assignments
            
template(name='course_view_layout')
    +nav
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .three.wide.column
                    a.ui.circular.icon.button(href="/school")
                        i.university.icon
                    a.ui.center.aligned.inline.header(href="/course/#{_id}")
                        if image
                            img.ui.avatar.image(src="{{c.url image width=400 height=400 crop='fill'}}")
                        |#{title}
                    .ui.fluid.vertical.menu
                        a.item(href="/course/#{_id}/content" class="{{isActiveRoute 'course_content'}}")
                            i.content.icon
                            |content
                        a.item(href="/course/#{_id}/calendar" class="{{isActiveRoute 'course_calendar'}}")
                            i.calendar.icon
                            |calendar
                        a.item(href="/course/#{_id}/classlist" class="{{isActiveRoute 'course_classlist'}}")
                            i.users.icon
                            |class list
                        a.item(href="/course/#{_id}/locker" class="{{isActiveRoute 'course_locker'}}")
                            i.inbox.icon
                            |locker
                        a.item(href="/course/#{_id}/assignments" class="{{isActiveRoute 'course_assignments'}}")
                            i.content.icon
                            |assignments
                        a.item(href="/course/#{_id}/discussions" class="{{isActiveRoute 'course_discussions'}}")
                            i.calendar.icon
                            |discussions
                        a.item(href="/course/#{_id}/groups" class="{{isActiveRoute 'course_groups'}}")
                            i.users.icon
                            |groups
                        a.item(href="/course/#{_id}/quizzes" class="{{isActiveRoute 'course_quizzes'}}")
                            i.question.icon
                            |quizzes
                        a.item(href="/course/#{_id}/surveys" class="{{isActiveRoute 'course_surveys'}}")
                            i.question.icon
                            |surveys
                        a.item(href="/course/#{_id}/grades")
                            i.tasks.icon
                            |grades
                        a.item(href="/course/#{_id}/progress" class="{{isActiveRoute 'course_progress'}}")
                            i.tasks.icon
                            |class progress
                        a.item(href="/course/#{_id}/competencies" class="{{isActiveRoute 'course_competencies'}}")
                            i.checkmark.icon
                            |competencies
                    if can_edit
                        a.edit_course(href="/course/#{_id}/edit")
                            i.big.blue.pencil.circular.link.icon
                    .ui.header(href='professor')
                        i.user.icon
                        |#{professor}
                    .ui.header(title='section')
                        i.calendar.icon
                        |#{section}
                    a.ui.header(href=link title='link')
                        i.link.icon
                        |link
                    if in_dev
                        +print_this
                    +voting_full
                    +array_view key='tags' label='tags' icon='tags' direct=true
                    +comments
                    .f11 #{description}
                    +image_view key='image' label='image' direct=true
                .thirteen.wide.column
                    +yield


template(name='course_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .five.wide.column
                    a.ui.green.circular.icon.button(href="/course/#{_id}" title='save')
                        i.checkmark.big.icon
                    .ui.inline.header 
                        i.pencil.icon
                        small edit course
                        |#{title}
                    i.link.big.remove.icon.delete_item(title='delete menu item')
                    +text_edit key='title' icon='header' direct=true
                    +text_edit key='professor' icon='user' direct=true
                    +text_edit key='section' icon='clone' direct=true
                    +link_edit key='link' icon='link' direct=true
                    +image_edit key='image' label='image' direct=true
                    // +text_edit key='location' label='location' icon='marker' direct=true
                    // +icon_edit key='icon' label='icon' direct=true
                    div 
                .six.wide.column
                    +textarea_edit key='description' label='description' direct=true
                    +array_edit key='tags' label='tags' direct=true
                    +array_edit key='ingredient_tags' label='ingredients' direct=true
                .five.wide.column
                    +boolean_edit key='published' direct=true
                