template(name='course_post_card')
    .ui.card.view_course_post.pointer
        img.ui.fluid.rounded.image(src="{{c.url image_id height=200 width=400 gravity='face' crop='fill'}}" class=currentUser.invert_class)
        .content
            a.ui.header(href="/course/#{course_id}/post/#{_id}") #{title}
            .ui.small.grey.header #{when}
            +comments_view_small
            +author_info
        
template(name='course_post_item')
    .ui.fluid.segment.view_course_post.pointer
        a.ui.header(href="/m/course_post/#{_id}/view") #{title}
        div
        .ui.small.grey.inline.header #{when}
        each tags 
            .ui.basic.small.label #{this}
        

template(name='course_post_view')
    with current_doc
        .ui.stackable.padded.grid
            .middle.aligned.row 
                .sixteen.wide.column
                    a.ui.circular.basic.button(href="/course/#{course_id}")
                        i.chevron.left.icon
                        i.chalkboard.big.icon
                    .ui.large.inline.header #{title}
                    // div
                    // .ui.inline.grey.header {{from_now start_datetime}}
                    
                    if can_edit
                        a.edit_course_post(href="/course/#{course_id}/post/#{_id}/edit" title='edit')
                            i.large.circular.link.pencil.icon

            .row 
                .three.wide.column
                    img.ui.fluid.rounded.image(src="{{c.url image_id }}" class=currentUser.invert_class)
                    // .ui.segment
                    //     .ui.header 
                    //         small author
                    //     a.ui.header(href="/user/#{_author.username}") 
                    //         img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                    //         |#{_author.username}
                    .ui.list
                        .item #{views} views
                    each viewers
                        .ui.label #{username
                    if is_admin
                        +array_edit key='tags' label='tags' direct=true
                    else     
                        +array_view key='tags' label='tags' direct=true
                    
                    +voting_full
                    +link_edit key='link' label='link' direct=true

                    +array_view key='time_tags' label='time tags' icon='clock' direct=true
                    +array_view key='location_tags' label='location tags' icon='marker' direct=true
                .thirteen.wide.column
                    // a.ui.header(href="/user/#{target.username}")
                    //     |#{target.username}
                    if raw 
                        |!{raw}
                    .scrolling
                        |!{content}
                    div 
                    .spacer
                    .spacer
                    +comments

template(name='course_post_edit')
    with current_doc
        .ui.stackable.padded.grid
            .centered.middle.aligned.row 
                .four.wide.center.aligned.column
                    a.ui.icon.green.big.circular.button(href="/course/#{course_id}/post/#{_id}" title='save')
                        i.checkmark.big.icon
                .eight.wide.center.aligned.column
                    .ui.header 
                        +icolor name='news' cl='ui image inline pointer'
                        |edit course post
                .four.wide.center.aligned.column
                    i.large.link.circular.red.remove.icon.delete_course_post
            .row
                .four.wide.column.scrolling
                    .ui.header 
                        small author
                        |#{_author.username}
                    if is_admin
                        +single_user_edit key='_author_id' label='author' direct=true
                    +image_edit key='image_id' label='image' direct=true
                    div 
                    +array_edit key='tags' label='tags' direct=true
                    +link_edit key='link' label='link' direct=true
                    // +boolean_edit key='published' icon='visible' direct=true
                    if is_admin 
                        +text_edit key='model' label='model' direct=true
                    +array_edit key='time_tags' label='time tags' icon='clock' direct=true
                    +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                .twelve.wide.column.scrolling
                    +text_edit key='title' label='title' direct=true
                    +html_edit key='content' label='content' direct=true
                    +raw_edit key='raw' label='raw' direct=true
        