template(name='events')
    .ui.stackable.padded.grid 
        .row
            .four.wide.column
                .ui.header room
                each rooms 
                    .ui.circular.button.select_room(class=room_button_class)
                        img.ui.avatar.image(src="{{c.url image_id height=500 width=500 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                        |#{title}
            .twelve.wide.column
                .ui.inline.header
                    i.orange.calendar.icon
                    |events
                if currentUser
                    .ui.circular.basic.icon.button.add_event(title='add event')
                        i.plus.big.green.icon
                .ui.large.basic.circular.button.toggle_past
                    if viewing_past
                        i.checkmark.large.green.icon
                    else
                        i.circle.outline.large.icon
                    |past
                .spacer
                .spacer
                .ui.stackable.five.cards
                    each events
                        +event_card

template(name='event_card')
    .ui.card
        if image_id
            a.image.zoom.pointer.mobile.hidden(href="/event/#{_id}/view")
                img.ui.image(src="{{c.url image_id height=500 width=500 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            a.image.zoom.pointer.mobile.only(href="/event/#{_id}/view")
                img.ui.image(src="{{c.url image_id height=200 width=500 gravity='center' crop='fill'}}" class=currentUser.invert_class)
        .content
            a.ui.header(href="/event/#{_id}/view") #{title} 
            div
            .ui.small.header {{medium_date date}} 
                if time 
                    |{{time}}
            // .ui.inline.small.header {{long_date start_datetime}}
            // div
            // .ui.small.grey.inline.header {{from_now start_datetime}}
        .content
            if location
                i.marker.icon 
                |#{location}
            div 
            // small led by
            img.ui.avatar.image(src="{{c.url fac.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            strong #{fac.name}
        .content
            |#{event_tickets.count}
            a(href="/m/event/#{_id}/view" title='ticket purchase required')
                i.checkmark.green.link.icon
            | #{going.count}
            each going
                img.ui.avatar.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            i.question.orange.link.icon.mark_maybe(title='mark yourself maybe')
            div
            | #{maybe_user_ids.length}
            each maybe_going
                img.ui.avatar.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            | #{not_user_ids.length}
            div
            i.ban.red.link.icon.mark_not(title='mark yourself not')
            each not_going
                img.ui.avatar.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            if doc_comments.count
                .meta
                    each doc_comments 
                        i.grey.chat.outline.icon
                        img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=user_class)
                        |#{body}
            if is_dev
                +print_this






template(name='gcal_button')
    a.ui.circular.basic.circular.large.button(href="http://www.google.com/calendar/event?action=TEMPLATE&text=#{title}&dates=#{start_datetime}/#{end_datetime}&details=#{description}&location=#{location}" target="_window")
        i.calendar.icon
        |add to gcal
        
        
        
        
