template(name='ticket_view')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .four.wide.column
                    if can_edit
                        .ui.button.cancel_reservation
                            i.large.remove.icon
                            |cancel reservation
                .eight.wide.column
                    .ui.header
                        i.ticket.icon
                        |${{money_format amount}}
                        | ticket
                    .ui.small.header
                        i.clock.icon
                        | #{when}
                    .ui.segment
                        .ui.inline.header 
                            i.user.outline.icon
                            |buyer
                        a.ui.inline.header(href="/user/#{_author.username}") 
                            img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                            |#{_author.username}
                    .ui.segment
                        a.ui.inline.header(href="/event/#{event_id}/view")
                            i.calendar.icon
                            |event
                        a(href="/event/#{event_id}/view")
                            img.ui.medium.image(src="{{c.url ticket_event.image_id height=200 width=200 gravity='face' crop='fill'}}")
                        a.ui.header(href="/event/#{ticket_event._id}/view")
                            |#{ticket_event.title}
                            
                    +number_view key='amount' label='amount' direct=true
                    +textarea_view key='description' label='description' direct=true
                    +image_view key='image_id' label='image' direct=true
                    div 
                    if tags
                        i.tags.icon
                        each tags 
                            .ui.big.label #{this}
                    .spacer
                    .spacer
                    +comments
                    // +voting_full
                    //- +array_view key='location_tags' label='location_tags' direct=true
                .four.wide.column
                    //- .ui.fluid.green.button.submit
                    //-     i.checkmark.icon
                    //-     |submit

