template(name='skve')
    // a.ui.image.big.link.label.set_session_v(class=calculated_class)
    .ui.circular.basic.button.set_session_v.say(class=calculated_class title=t)
        // if i
        if selected 
            // +i n=i cl='ui mini inline image'
            i.large.icon(class=i)
        else
            // +iios n=i cl='ui mini inline image'
            i.grey.icon(class=i)
        unless ionly
            if l
                span #{l}
            else 
                span #{v}

template(name='comments_view_small')            
    if doc_comments.count
        .meta
            each doc_comments 
                i.grey.chat.outline.icon
                // img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=user_class)
                |#{body}
                div


template(name='session_edit_toggle')
    .ui.icon.button.toggle_edit(class=toggle_button_class)
        i.pencil.icon




template(name='ismall')
    img(src="https://img.icons8.com/color/24/000000/#{name}.png" class=classes title=title)
    //- img(src="https://img.icons8.com/cotton/24/000000/#{name}.png" class=classes title=title)
    //- img(src="https://img.icons8.com/ultraviolet/24/000000/#{name}.png" class=classes title=title)
template(name='ibig')    
    //- img.ui.image(src="https://img.icons8.com/dusk/256/000000/#{name}.png" class=cl)
    //- img.ui.image(src="https://img.icons8.com/cotton/256/000000/#{name}.png" class=cl)
    //- img.ui.image(src="https://img.icons8.com/office/256/000000/#{name}.png" class=cl)
    //- img.ui.image(src="https://img.icons8.com/plasticine/256/000000/#{name}.png" class=cl)
    //- img.ui.image(src="https://img.icons8.com/color/256/000000/#{name}.png" class=cl)
    //- img.ui.image(src="https://img.icons8.com/ios/256/000000/#{name}.png" class=cl)
template(name='icon')    
    i.icon(class=name)
    // img.ui.image(src="https://img.icons8.com/color/48/000000/#{name}.png" class=cl)
    // img.ui.image(src="https://img.icons8.com/plasticine/48/000000/#{name}.png" class=cl)
    // img.ui.image(src="https://img.icons8.com/ios/48/000000/#{name}.png" class=cl)
    // img.ui.image(src="https://img.icons8.com/color/48/000000/#{name}.png" class=cl)
    //- img.ui.image(src="https://img.icons8.com/fluent/48/000000/#{name}.png" class=cl)
    // img.ui.image(src="https://img.icons8.com/cotton/48/000000/#{name}.png" class=cl)
    //- img.ui.image(src="https://img.icons8.com/office/48/000000/#{name}.png" class=cl)

template(name='print_this')
    i.code.link.icon.print_this

template(name='session_boolean_toggle')
    .ui.compact.button.toggle_session_key(class=calculated_class)
        +icolor name=icon cl='ui avatar image'
        |#{label}
        //- if icon_view 
        //- else 
            if label
                |#{label}
            else 
                |#{value}
template(name='session_edit_value_button')
    .ui.button.set_session_value(class=calculated_class)
        if icon_view 
            i.icon(class=icon)
        else 
            if label
                |#{label}
            else 
                |#{value}

template(name='session_toggle_button')
    .ui.compact.icon.button.toggle(class=session_toggle_button_class title=title)
        i.large.icon(class=icon)


        
template(name='comments')
    div
    .ui.fluid.icon.input
        i.chat.outline.icon
        input.add_comment(model='text')
    .ui.comments
        each doc_comments
            .comment
                .content
                    .metadata
                        span.date #{when}
                    .text
                        | !{body}
                    span.actions
                        if can_edit
                            +remove_icon
                        // else
                        i.thumbs.up.outline.icon.upvote
                        i.thumbs.down.outline.icon.downvote
    

template(name='loading')
    i.massive.yin.yang.loading.grey.icon


template(name='toggle_edit')
    .ui.basic.button.toggle_edit
        i.pencil.icon


template(name='creation_info')
    .ui.small.inline.header #{when}



template(name='voting')
    i.thumbs.up.large.link.icon.upvote(class=upvote_class title='upvote')
    i.thumbs.down.large.link.icon.downvote(class=downvote_class title='downvote')
    if in_dev
        +number_edit key='points' label='edit points' direct=true
    if points
        strong #{points} pts
    if anon_points
        strong #{anon_points} anon pts
    



template(name='remove_button')
    .ui.icon.button.remove_doc(title='delete')
        i.remove.icon
        // |delete
template(name='remove_icon')
    i.remove.link.icon.remove_doc(title='delete')

template(name='toggle_button')
    .ui.icon.toggle.basic.button(title=label)
        i.icon(class=icon)




            
template(name='key_value_edit')
    a.ui.compact.large.circular.button.set_key_value(class=set_key_value_class title=value href='#')
        if i
            // +icon name=icon cl='ui avatar image'
            i.icon(class=i)
        unless icon_only
            if l
                |#{l}
            else 
                |#{v}
        

template(name='session_key_value')
    .ui.button.set_session_value(class=button_class) 
        if icon 
            i.icon(class=icon)
        if label
            |#{label}
        else 
            |#{value}