template(name='company_info')
    .ui.one.column.stackable.grid
        .column
            .ui.header edit company info
            div
            +text_edit key='company_title' label='company title' icon='header' direct=true
            +image_edit key='company_image_id' label='company image' icon='image' direct=true
            .spacer
            +array_edit key='tags' label='tags' icon='tags' direct=true
            .spacer
            +number_edit key='start_year' label='start year' icon='calendar' direct=true
            .spacer
            +text_edit key='city' label='city' icon='city' direct=true
            .spacer
            +text_edit key='state' label='state' icon='country' direct=true
            .spacer
            +link_edit key='website' label='website' icon='link' direct=true
            .spacer
            +textarea_edit key='bio' label='bio' direct=true
            .spacer
            .ui.divider
            +text_edit key='business_contact_name' label='business contact name' icon='user' direct=true
            .spacer
            +text_edit key='business_contact_number' label='business contact number' icon='user' direct=true
