template(name='login')
    .ui.padded.stackable.grid
        .centered.row
            .eight.wide.column
                .ui.center.aligned.basic.segment
                    i.big.yin.yang.icon
                    .ui.inline.grey.header login
                div
                if message
                    h4.ui.center.aligned.header #{message}
                .ui.inline.small.header 
                    i.user.outline.icon
                    |username
                .ui.fluid.large.input(class=input_login_class)
                    input.username(type='text')
                .spacer
                .ui.inline.small.header 
                    i.lock.icon
                    | password
                .ui.fluid.large.input(class=input_login_class)
                    input.password(type='password')
                //- if username
                if logging_in
                    .spacer
                    .ui.fluid.big.basic.button.enter(title="login #{username}" class=enter_class)
                        |login
                        strong #{username}
                        |&nbsp;
                        i.sign.in.alternate.icon
                .ui.center.aligned.basic.segment    
                    a.ui.basic.button(href='/register')
                        i.plus.icon
                        |register
                    a.ui.basic.button(href='/forgot_password')
                        i.refresh.icon
                        |forgot password
